Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

update for #3810
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
Due: contribs

refactor(drt-extensions)!: encapsulate fields in FISS config (#3915)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
Due: contribs

contrib(profiling): add abstract aspect for trace profiling events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/TraceProfilingAspect.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/TraceProfilingEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/ProfilingEventsModule.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/ProfilerInstrumentationModule.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/Trace.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/ProfilingIT.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/TestTraceProfilingAspect.java
Due: contribs

contrib(profiling): update aspectj-maven-plugin to 1.15.0
  contribs/profiling/pom.xml
Due: contribs

contrib(profiling): fix compilation error by moving static pointcut to separate class
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/TraceProfilingAspect.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/Trace.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/TestTraceProfilingAspect.java
Due: contribs

contrib(profiling): fix compilation error by removing @Override annotation
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/TestTraceProfilingAspect.java
Due: contribs

contrib(profiling): rename ProfilerInstrumentationModule to EnableProfilingModule
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/EnableProfilingModule.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/ProfilingIT.java
Due: contribs

contrib(profiling): rename ProfilingEventsModule to FireDefaultProfilingEventsModule
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/FireDefaultProfilingEventsModule.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/ProfilingIT.java
Due: contribs

contrib(profiling): expand comments in AspectJTest
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/AspectJTest.java
Due: contribs

add example for walk with network mode
  code-examples/src/main/java/org/matsim/codeexamples/extensions/drt/RunMelunPrebooking.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExample.java
  code-examples/src/main/java/org/matsim/codeexamples/integration/RunWithWalkAsNetworkMode.java
Due: none

drt - explicit ride duration constraints
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSet.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/AcceptedDrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DefaultOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DrtScheduleTimingUpdater.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImplTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleTimingUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleTimingUpdaterImpl.java
  contribs/taxi/src/main/java/org/matsim/contrib/etaxi/optimizer/ETaxiModeOptimizerQSimModule.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/optimizer/TaxiModeOptimizerQSimModule.java
Due: contribs

update the structure
  contribs/vsp/src/main/java/playground/vsp/changeExpBeta/DisturbanceGenerator.java
  contribs/vsp/src/main/java/playground/vsp/changeExpBeta/RunTestingScenario.java
Due: contribs

Removed buffer as separate geometry (now included in shp-geom)
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

add builder for CleanPopulation
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

make default constructor public
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

add SuppressWarnings
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

add cleanPopulation method
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

chore(dependency): update aspectj to 1.9.24
  pom.xml
Due: none

fix compilation issue
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

fix tests, use correct timing updater bindings, use max ride constraint in promised time window offer acceptor
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/PromisedTimeWindowOfferAcceptor.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
Due: contribs

fix tests, use correct timing updater bindings,
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/run/PreplannedDrtModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
Due: contribs

feat(CleanPopulation): add builder for CleanPopulation (#3921)
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

fix typo
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
Due: core

attach chained parts correctly to the last part
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
Due: core

Added assertion for possible error
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

add optional exception message to shutdown event
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControlerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/MatsimRuntimeModifications.java
  matsim/src/main/java/org/matsim/core/controler/ReplayEvents.java
  matsim/src/main/java/org/matsim/core/controler/events/ShutdownEvent.java
  matsim/src/test/java/org/matsim/analysis/IterationTravelStatsControlerListenerTest.java
  matsim/src/test/java/org/matsim/analysis/ScoreStatsControlerListenerTest.java
Due: core, contribs

add null check
  matsim/src/main/java/org/matsim/core/controler/MatsimRuntimeModifications.java
Due: core

cleanup left over comments
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
Due: core

feat(pt): Support chained depatures in routing (#3913)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorStaticConfig.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/main/java/org/matsim/pt/routes/ExperimentalTransitRoute.java
  matsim/src/main/java/org/matsim/pt/routes/TransitPassengerRoute.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/ChainedDepartureImpl.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/ScrambleTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/StripTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorDataTest.java
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/network.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
Due: core

contrib(profiling): assert recorded events in integration tests
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/ProfilingIT.java
Due: contribs

updates to carrier and logistic viewer classes in order to pass Simwrappertest.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/LogisticDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/OverviewDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/LogisticViewer.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DashboardTests.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

make turn restrictions network cleaner truly mode dependent
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

update analysis of drt legs to better analyse wait times in prebooking scenarios
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

Completed new cutout volume calculation and made minor fixes
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

add more test cases
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/StripTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/network.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
Due: core

Finished freespeed-calc method
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

make sure to include initial turn restrictions of other modes
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

more support for shift types
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/README.md
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/AbstractShiftEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftAssignedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftBreakEndedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftBreakScheduledEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftBreakStartedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftEndedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftStartedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/OperationFacilityRegistrationEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/VehicleLeftOperationFacilityEvent.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/efficiency/ShiftEfficiencyTest.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/output_events.xml.gz
Due: contribs

Remove empty DisallowedNextLinks in TurnRestrictionsNetworkCleaner
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

add more test cases (#3931)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/StripTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/network.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
Due: core
