Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

remove code for testing in matsim application
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
Due: core

use correct data
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicleType.tsv
Due: contribs

remove config switch
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperListener.java
  contribs/simwrapper/src/main/resources/META-INF/services/org.matsim.simwrapper.DashboardProvider
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperListenerTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperModuleTest.java
Due: contribs

fix(freight:logistics): Make innovation switch off usable (#4261)
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPControllerListener.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPPlanImpl.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPStrategyManagerImpl.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleGroceryDeliveryMultipleChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleOneEchelonChainsReplanning.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/LspRandomShipmentShiftingModule.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/MultipleChainsUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RandomShiftingStrategyFactory.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/MultipleChainsReplanningTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicleType.tsv
Due: contribs

add disutility for preceived safety. WIP. Tests still missing!
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleDisutility.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleDisutilityFactory.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyDisutility.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyDisutilityFactory.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyModule.java
Due: contribs

added different priorities for these dashboards to force their analysis classes to run in a specific order. Emiassions and Trips need to run before ScenarioComparison.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

fix(drt): Move bindModal(StopWaypointFactory.class) to central position (#4222)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeModule.java
Due: contribs

feat(pt): Simulate chained departure (#4220)
  contribs/carsharing/src/main/java/org/matsim/contrib/carsharing/qsim/CarsharingPersonDriverAgentImpl.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonContinuesInVehicleEvent.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/PersonContinuesInVehicleEventHandler.java
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/ComplexTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/SimpleTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitEngineModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopAgentTracker.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/UmlaufCache.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
  matsim/src/main/java/org/matsim/core/scoring/PlansScoringImpl.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
  matsim/src/test/java/org/matsim/pt/fakes/FakeAgent.java
  matsim/src/test/java/org/matsim/pt/fakes/FakePassengerAgent.java
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/population.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/vehicles.xml
Due: core, contribs

feat(drt): Schedule inquiry updates for inter-task idle times (#4229)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftDrtScheduleInquiry.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftTaskSchedulerImpl.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt/pom.xml
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DrtScheduleInquiry.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/ScheduleInquiryTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleInquiry.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/scheduler/TaxiScheduleInquiry.java
Due: contribs

move the carrier Scoring function to the carrier package and make it public. (#4239)
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/CarrierScorerEventBasedInclToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

feat(drt): relocation with preplanned/prebooked stops (#4201)
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/EmptyVehicleRelocator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/EmptyVehicleRelocatorTest.java
Due: contribs

catch when there is no departure (during umlauf) (#4232)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
Due: core, contribs

reduce logging (#4238)
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/simulationTrackers/TourStartHandler.java
Due: contribs

feat(freight:logistics): make more settings settable using cmdLine (#4236)
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPPlan.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPPlanImpl.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/ExampleSchedulingOfInitialPlan.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleOneEchelonChainsReplanning.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanBothChains/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnly2echelonChain/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain_Edeka/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain_Edeka/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain_Edeka/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain_Edeka/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain_Edeka/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_onePlanOnlyDirectChain_Edeka/output_lsps.xml.gz
Due: contribs

refactor(drt): make capacity change optional in waypoints (#4204)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
Due: contribs

introduce double sample options (#4241)
  contribs/application/src/test/java/org/matsim/application/options/SampleOptionsTest.java
  matsim/src/main/java/org/matsim/application/options/SampleOptions.java
Due: core, contribs

perf(commercialTraffic): Move check of external facilities at earlier position (#4245)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
Due: contribs

feat(freight:logistics) allow values beeing not set (#4240)
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest.java
Due: contribs

generify reservation manager and move to common contrib (#4260)
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/ReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ReservationBasedChargingPriority.java
Due: contribs

refactor(freight:logistics): Renaming to shorten the total filename (lenght) from root to the last character. (#4244)
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsTest/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsTest/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_lsps.xml.gz
Due: contribs

make experienced plans writer truly dependent of output files (#4242)
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
Due: contribs

use existing abstract reservation manager, add test case for reservation manager
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/ReservationManager.java
  contribs/common/src/test/java/org/matsim/contrib/common/util/reservation/AbstractReservationManagerTest.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/dispatcher/EDrtShiftDispatcherImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/schedule/EDrtShiftBreakTaskImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/schedule/EDrtShiftChangeoverTaskImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/schedule/EDrtWaitForShiftTask.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/schedule/ShiftEDrtTaskFactoryImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/scheduler/EShiftTaskScheduler.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/NearestOperationFacilityWithCapacityFinder.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilitiesModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilitiesQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacility.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityFinder.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityReservationManager.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityUtils.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DefaultShiftStartLogic.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/OperationalStop.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/ShiftBreakTaskImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/ShiftChangeoverTaskImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/ShiftDrtTaskFactory.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/ShiftDrtTaskFactoryImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/WaitForShiftTask.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftTaskScheduler.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftTaskSchedulerImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/dispatcher/ServiceTaskDispatcherImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/tasks/DrtServiceTask.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/operationFacilities/CapacityManagerTest.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ReservationBasedChargingPriority.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingAlternativeProvider.java
Due: contribs

reduce visibility
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservationManager.java
Due: contribs

pipe shift type to shift end events
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
Due: contribs

create local context with correct topology automatically
  matsim/src/main/java/org/matsim/api/core/v01/messages/ComputeNode.java
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/LocalContext.java
Due: core

fix compilation errors
  matsim/src/main/java/org/matsim/core/controler/AbstractModule.java
  matsim/src/main/java/org/matsim/core/controler/Injector.java
Due: core

adapt the ParallelUnplannedRequestInserter for dsim
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/UnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
Due: contribs

catch null config
  matsim/src/main/java/org/matsim/dsim/LocalContext.java
Due: core

use correct config
  matsim/src/main/java/org/matsim/core/controler/Controler.java
Due: core

made new scenario comparion branch to avoid merge conflicts with main. Fully functioning dashboard and the priority issue of the dashboards seems to be fixed.
  contribs/application/src/main/java/org/matsim/application/analysis/scenarioComparison/ScenarioComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Dashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ActivityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/NoiseDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ODTripDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/OverviewDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PopulationAttributeDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/StuckAgentDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TravelTimeComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboardTest.java
Due: contribs
