Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

shorten file names
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

rename test
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

formatting
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

manage to produce output of VTTS analysis
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

Added KalmanFilter (WIP)
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Restructured KalmanFilter class
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Cleanup PoolExecutor and BusyThreadpool.
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
Due: core

Move threadpool test into distributed simulation contrib, as it requires unsafe to be enabled.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/executors/BusyThreadpoolTest.java
Due: contribs

Finished naive (euclidean) filter
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

changes that were not committed
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
  matsim/src/main/java/org/matsim/application/ApplicationUtils.java
Due: core, contribs

add print
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

Catch errors when allocating bytes for sent msgs.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  matsim/src/main/java/org/matsim/core/communication/Communicator.java
Due: core, contribs

feat(dsim): Squeeze some performance by implementing a busy threadpool (#4668)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/executors/BusyThreadpoolTest.java
  matsim/src/main/java/org/matsim/core/communication/Communicator.java
  matsim/src/main/java/org/matsim/core/events/handler/EventHandler.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/LPExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/SingleExecutor.java
Due: core, contribs

Revert "add print"
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

update creation of separated carrier
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add simwrapper dashboards
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

adjust description for ref plots
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

reduce Kns code to VTTS handler
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

further reduce Kns code
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

further reduce Kns code
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

make vtts handler work
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/RunVTTSAnalysis.java
Due: contribs

reformatting
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

more adoptions
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

chained setters; commenting out a non-compiling (VTTS) test; vsp-check for not using the default subpop
  Makefile
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/EmissionsConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/TimeAllocationMutatorConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core, contribs

add a class
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseQuickKN.java
Due: contribs

consistency check for scale factors, using the flowCapFactor as reference
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core, contribs

restrict the counts scale consistency check to situations where there is a counts file name
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

fixing some of the tests; let us see where we stand
  contribs/carsharing/src/test/java/org/matsim/contrib/carsharing/runExample/RunCarsharingIT.java
  contribs/common/src/test/java/org/matsim/integration/always/BetaTravelTest66IT.java
  contribs/common/src/test/java/org/matsim/integration/always/BetaTravelTest6IT.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/controller/laemmerFix/LaemmerIT.java
  examples/scenarios/dvrp-grid/one_etaxi_benchmark_config.xml
  examples/scenarios/dvrp-grid/one_taxi_benchmark_config.xml
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core, contribs

fix(drt): calculate time detour using ride time in DrtAnalysisControlerListener
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

repair more tests
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
  examples/scenarios/berlin/config_multimodal.xml
  examples/scenarios/berlin/config_withinday.xml
  examples/scenarios/mielec/mielec_taxi_benchmark_config.xml
  examples/scenarios/mielec/mielec_taxi_mini_benchmark_config.xml
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core, contribs

fix(drt): calculate time detour using ride time in DrtAnalysisControlerListener (#4681)
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

had typos in two configs
  examples/scenarios/mielec/mielec_taxi_benchmark_config.xml
  examples/scenarios/mielec/mielec_taxi_mini_benchmark_config.xml
Due: none

fix test failure that looked like a time out but was a scaling factor inconsistency
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
Due: contribs

mv some vsp conventions to a more central place
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/HbefaDefaultStrings.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SubpopulationDefaultNames.java
Due: contribs

fix test failure in matsim module
  contribs/application/src/main/java/org/matsim/application/prepare/population/PersonNetworkLinkCheck.java
  matsim/src/test/java/org/matsim/integration/replanning/ReRoutingIT.java
Due: core, contribs

fix(analysis): write coord of activity with facilities in PersonWriter
  matsim/src/main/java/org/matsim/analysis/PersonWriter.java
Due: core

fix(analysis): write coord of activity with facilities in ActivityWriter
  matsim/src/main/java/org/matsim/analysis/ActivityWriter.java
Due: core

disabling a test that gets stuck on CI
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
