Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

fix(core): make turn restrictions network cleaner truly mode dependent (#3929)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

output shift histograms by shift type
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/MultiTypeShiftHistogram.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/ShiftHistogram.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/ShiftHistogramListener.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeModule.java
Due: contribs

Added new and better visualisation (with SUMO-HBEFA3 reference values)
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

propagate the whole throwable exception iinstead of message only
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControlerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/MatsimRuntimeModifications.java
  matsim/src/main/java/org/matsim/core/controler/events/ShutdownEvent.java
Due: core

refactor(drt-extensions): improve shift type support (#3932)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/README.md
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/MultiTypeShiftHistogram.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/ShiftHistogram.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/ShiftHistogramListener.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/AbstractShiftEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftAssignedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftBreakEndedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftBreakScheduledEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftBreakStartedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftEndedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/DrtShiftStartedEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/OperationFacilityRegistrationEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/events/VehicleLeftOperationFacilityEvent.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/efficiency/ShiftEfficiencyTest.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/output_events.xml.gz
Due: contribs

feat(core): add optional exception message to shutdown event (#3923)
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControlerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/MatsimRuntimeModifications.java
  matsim/src/main/java/org/matsim/core/controler/ReplayEvents.java
  matsim/src/main/java/org/matsim/core/controler/events/ShutdownEvent.java
  matsim/src/test/java/org/matsim/analysis/IterationTravelStatsControlerListenerTest.java
  matsim/src/test/java/org/matsim/analysis/ScoreStatsControlerListenerTest.java
Due: core, contribs

Copy other modes in TurnRestrictionsNetworkCleaner
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

Add some tests for TurnRestrictionsNetworkCleaner with other modes
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

Add some tests that should not fail
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

add vsp warning if duration is mutated
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

add vsp warning if duration is mutated (#3934)
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

update turn restrictions network cleaner to account for nodes that have temporarily been removed
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

update analysis of drt legs to better analyse wait times in prebooking scenarios (#3930)
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

update turn restrictions network cleaner to account for nodes that have temporarily been removed (#3935)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

ensure that resulting network always contains the cleaning mode
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

Remove debug output
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

fix(core): Fix TurnRestrictionsNetworkCleaner when other modes are present (#3933)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

Add and remove event handlers according to their usage per iteration
  matsim/src/main/java/org/matsim/analysis/LegHistogram.java
  matsim/src/main/java/org/matsim/analysis/LegHistogramListener.java
  matsim/src/main/java/org/matsim/analysis/LegHistogramModule.java
Due: core

Add and remove event handlers according to their usage per iteration (#3936)
  matsim/src/main/java/org/matsim/analysis/LegHistogram.java
  matsim/src/main/java/org/matsim/analysis/LegHistogramListener.java
  matsim/src/main/java/org/matsim/analysis/LegHistogramModule.java
Due: core

config option to exclude subpopulation from taste variations
  matsim/src/main/java/org/matsim/core/config/groups/TasteVariationsConfigParameterSet.java
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringParameters.java
Due: core

config option to exclude subpopulation from taste variations (#3937)
  matsim/src/main/java/org/matsim/core/config/groups/TasteVariationsConfigParameterSet.java
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringParameters.java
Due: core

Make RouteDescription public
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
Due: core

Add serialization & deserialization to RouteDescription
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
Due: core

Add test for serialization & deserialization of RouteDescription
  matsim/src/test/java/org/matsim/pt/routes/RouteDescriptionTest.java
Due: core

make shift histogram public again
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/ShiftHistogram.java
Due: contribs

make shift histogram public again (#3939)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/analysis/ShiftHistogram.java
Due: contribs

Add test for TurnRestrictionsNetworkCleaner where modes are treated differently
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

Fix coloring of network for non-car modes
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

Remove debug lines from test
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

fix(core): Color network mode-independent in TurnRestrictionsNetworkCleaner (#3940)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

feat: teleported mode speed by person
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/TeleportationRoutingModule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/RaptorStopFinderTest.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorIntermodalTest.java
  matsim/src/test/java/org/matsim/core/router/TeleportationRoutingModuleTest.java
Due: core, contribs

fix test
  matsim/src/test/java/org/matsim/core/router/TeleportationRoutingModuleTest.java
Due: core

fix bug in turn restriction routing
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
Due: core

fix bug in turn restriction routing (#3942)
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
Due: core

Add more tests
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

check excluded subpopulations in the writer
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringOutputWriter.java
Due: core

feat(core): Filter written utility output variations (#3944)
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringOutputWriter.java
Due: core

fix turn restrictions context
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
Due: core

be less strict about removing links
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
Due: core

fix(core): Make TurnRestrictionsContext independent of link order (#3943)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
