Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

also copy partial experiences scores to global output
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/core/controler/corelisteners/DumpDataAtEndImpl.java
Due: core

add activity analysis file
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

add plots for tours and activities
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

feat(discrete-mode-choice): caching trip candidate by trip and depart… (#4442)
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/model/estimation/CachedTripEstimator.java
Due: contribs

feat(qsim): instant teleportation arrivals (#4382)
  matsim/src/main/java/org/matsim/core/config/groups/QSimConfigGroup.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/DefaultTeleportationEngine.java
Due: core

also copy partial experiences scores to global output (#4453)
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/core/controler/corelisteners/DumpDataAtEndImpl.java
Due: core

print histogram; towards a SimData(Map) data structure
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/RunVTTSAnalysis.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/VTTSHandler.java
  matsim/src/main/java/org/matsim/core/controler/corelisteners/PlansScoring.java
  matsim/src/main/java/org/matsim/core/scoring/PlansScoringImpl.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoring.java
Due: core, contribs

cleaning up, reorganizing options
  contribs/atap/src/main/java/se/vti/atap/minimalframework/defaults/replannerselection/proposed/AbstractApproximateNetworkConditions.java
  contribs/atap/src/main/java/se/vti/atap/minimalframework/defaults/replannerselection/proposed/BasicPlanSwitch.java
  contribs/atap/src/main/java/se/vti/atap/minimalframework/defaults/replannerselection/proposed/ProposedMethodWithLocalSearchPlanSelection.java
  contribs/atap/src/main/java/se/vti/atap/minimalframework/examples/parallel_links/ApproximateNetworkConditionsImpl.java
  contribs/atap/src/main/java/se/vti/atap/minimalframework/examples/parallel_links/ApproximateNetworkLoadingImpl.java
  contribs/atap/src/main/java/se/vti/atap/minimalframework/examples/parallel_links/PlanSwitch.java
  contribs/atap/src/main/java/se/vti/atap/minimalframework/examples/parallel_links/random_network/ExampleRunner.java
Due: contribs

Unify ExecutionContext implementations into one class. This is now possible, as we don't have to use preview featuers anymore after switching to Java 25
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  matsim/src/main/java/org/matsim/core/controler/AbstractModule.java
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/core/controler/Injector.java
  matsim/src/main/java/org/matsim/core/controler/MatsimServicesImpl.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/ExecutionContext.java
  matsim/src/main/java/org/matsim/dsim/LocalContext.java
  matsim/src/test/java/org/matsim/dsim/DistributedController.java
Due: core, contribs

Resolve conflicts
  matsim/src/main/java/org/matsim/core/mobsim/qsim/DefaultTeleportationEngine.java
Due: core

Revert "Unify ExecutionContext implementations into one class. This is now possible, as we don't have to use preview featuers anymore after switching to Java 25"
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  matsim/src/main/java/org/matsim/core/controler/AbstractModule.java
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/core/controler/Injector.java
  matsim/src/main/java/org/matsim/core/controler/MatsimServicesImpl.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/ExecutionContext.java
  matsim/src/main/java/org/matsim/dsim/LocalContext.java
  matsim/src/test/java/org/matsim/dsim/DistributedController.java
Due: core, contribs

Use local execution context where possible
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
Due: core, contribs

changes in RunVTTSAnalysis.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/RunVTTSAnalysis.java
Due: contribs

update readme, add timing module and remove left over preview commands
  contribs/distributed-simulation/README.md
  contribs/distributed-simulation/pom.xml
  contribs/drt/pom.xml
  matsim/src/main/java/org/matsim/core/mobsim/qsim/QSimTimingModule.java
Due: core, contribs

Aggregated PM Experiment
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

add a separate method for simplified target time distance calculation
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandlerTest.java
Due: contribs

moving a line down
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/RunVTTSAnalysis.java
Due: contribs

fit a test so that it (again) uses the old, deprecated execution path. Should be adapted to the new functionality.
  contribs/application/src/test/java/org/matsim/application/MATSimApplicationTest.java
Due: contribs

add case
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

disabling a test that accidentially made it into this branch
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_experienced_plans.xml.gz
Due: contribs

added oslo example runner and first unit test
  contribs/atap/src/main/java/se/vti/atap/matsim/examples/RunOsloExample.java
  contribs/atap/src/main/java/se/vti/atap/matsim/examples/parallel_links/ExampleRunner.java
  contribs/atap/src/test/java/se/vti/atap/matsim/examples/parallel_links/minimal_test/MinimalTest.java
Due: contribs

improve target and delay time calculation, added tests asserts
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TimeDistanceData.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microSimpleBiDirectionalTrack/config.xml
Due: contribs

cleanup atap.matsim
  contribs/atap/src/main/java/se/vti/atap/matsim/ATAP.java
  contribs/atap/src/main/java/se/vti/atap/matsim/ATAPConfigGroup.java
  contribs/atap/src/main/java/se/vti/atap/matsim/ATAPReplanning.java
  contribs/atap/src/main/java/se/vti/atap/matsim/AbstractPopulationDistance.java
  contribs/atap/src/main/java/se/vti/atap/matsim/AbstractReplannerSelector.java
  contribs/atap/src/main/java/se/vti/atap/matsim/AmbitionLevelBasedEtaSchedule.java
  contribs/atap/src/main/java/se/vti/atap/matsim/AtomicUpperBoundReplannerSelector.java
  contribs/atap/src/main/java/se/vti/atap/matsim/BasicReplannerSelector.java
  contribs/atap/src/main/java/se/vti/atap/matsim/EmulationErrorAnalyzer.java
  contribs/atap/src/main/java/se/vti/atap/matsim/EventsChecker.java
  contribs/atap/src/main/java/se/vti/atap/matsim/GapAnalyzer.java
  contribs/atap/src/main/java/se/vti/atap/matsim/HammingPopulationDistance.java
  contribs/atap/src/main/java/se/vti/atap/matsim/LinkTravelTimeCopy.java
  contribs/atap/src/main/java/se/vti/atap/matsim/PlansContainer.java
  contribs/atap/src/main/java/se/vti/atap/matsim/PopulationDistance.java
  contribs/atap/src/main/java/se/vti/atap/matsim/UpperBoundReplannerSelector.java
  contribs/atap/src/main/java/se/vti/atap/matsim/examples/parallel_links/ExampleRunner.java
Due: contribs

feat: improve UI of TrajectoryToPlans (#4445)
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/SplitActivityTypesDuration.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
  contribs/application/src/test/java/org/matsim/application/MATSimApplicationTest.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_config.xml
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_events.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_experienced_plans.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_network.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_plans.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_transitSchedule.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.reference_experienced_plans.xml.gz
Due: contribs

cleanup emulation
  contribs/atap/src/main/java/se/vti/emulation/EmulationConfigGroup.java
  contribs/atap/src/main/java/se/vti/emulation/EmulationEngine.java
  contribs/atap/src/main/java/se/vti/emulation/EmulationModule.java
  contribs/atap/src/main/java/se/vti/emulation/EmulationParameters.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/AbstractPlanElementEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/ActivityEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/LegEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/NetworkLegEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/OnlyDepartureArrivalLegEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/OnlyStartEndActivityEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/PlanEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/emulators/ScheduleBasedTransitLegEmulator.java
  contribs/atap/src/main/java/se/vti/emulation/handlers/EmulationHandler.java
Due: contribs

repair ExperiencedPlansWriterTest that has become garbled over the parallel branches
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.reference_experienced_plans.xml.gz
Due: contribs

cleaning up utils
  contribs/atap/src/main/java/se/vti/utils/misc/Units.java
  contribs/atap/src/main/java/se/vti/utils/misc/dynamicdata/Time.java
  contribs/atap/src/main/java/se/vti/utils/misc/dynamicdata/TimeDiscretization.java
  contribs/atap/src/main/java/se/vti/utils/misc/fileio/Hacks.java
  contribs/atap/src/main/java/se/vti/utils/misc/math/BasicStatistics.java
  contribs/atap/src/main/java/se/vti/utils/misc/math/MathHelpers.java
  contribs/atap/src/main/java/se/vti/utils/misc/math/SetUtils.java
  contribs/atap/src/main/java/se/vti/utils/misc/statisticslogging/StatisticsMultiWriter.java
Due: contribs

fix: write test case that shows that last activity is not written; modify … (#4422)
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.reference_experienced_plans.xml.gz
Due: contribs

move a warning block a bit further down to avoid a confusing warning
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgent.java
Due: contribs

fix tests and add some assertions
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimSpeedProfilesTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandlerTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/trainNetwork.xml
Due: contribs

refactor: remove deprecated user-defined network attributes and related code
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
Due: contribs

update to changed api
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
Due: contribs

cleaned BicycleUtils
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
Due: contribs

🥳see what happens
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
Due: contribs

update to changed api
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleRailsimAgent.java
Due: contribs

update test
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
Due: contribs

use remaining dropoff time loss in insertion generation
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
Due: contribs

refactor: remove deprecated user-defined network attributes and relat… (#4464)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
Due: contribs
