Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

construct local compute node correctly
  matsim/src/main/java/org/matsim/dsim/LocalContext.java
Due: core

adapt the ParallelUnplannedRequestInserter for dsim
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/UnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
Due: contribs

removed changes to Dashboard interface and made an extension of that interface called ComparisonDashboard.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/ComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Dashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ActivityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/NoiseDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ODTripDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/OverviewDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PopulationAttributeDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/StuckAgentDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TravelTimeComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

make test deterministic
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

use enum instead of String
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/CommercialTourSpecifications.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

add two comments
  matsim/pom.xml
Due: core

fix(stopwatch): force current system zone for formatting instants
  matsim/src/main/java/org/matsim/analysis/IterationStopWatch.java
Due: core

feat(profiling): add tool to scrub personal data from a JFR recording
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/ScrubJfrRecording.java
Due: contribs

Add test for routing with perceived safety and bicycle contrib.
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/AdditionalPerceivedSafetyLinkScoreDefaultImpl.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleDisutility.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyDisutility.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyDisutilityFactory.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyModule.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyUtils.java
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleContribTest.java
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyScoringTest.java
Due: contribs

feat(commercialTrafficGeneration): adds different resistance values for different types (#4267)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/CommercialTourSpecifications.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/RunGenerateSmallScaleCommercialTrafficTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

add pickupDuration for direct Carrier
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

improve logging
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

make vehicle start of distribution carrier dependend of shipments pickup time
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

add lsp names to run script.
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

cleaned up test and analysis classes. Problem persists where Trips or Emissions is sometimes not generated.
  contribs/application/src/main/java/org/matsim/application/analysis/scenarioComparison/ScenarioComparisonAnalysis.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboardTest.java
Due: contribs

set vehicleTime in carrier correctly
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

adapt test data. add carriers file for testing
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_lsps.xml.gz
Due: contribs

add attribute to define train formations, add utility class to assign them automatically, add test scenario with chained departures and formations
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimControllerListener.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimModule.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/prepare/PrepareTrainFormations.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimChainsAndFormationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/chainFormations/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/chainFormations/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/chainFormations/transitVehicles.xml
Due: contribs

fix(freight:logistics): Carriers should take into account the start time (#4268)
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Direct_E/output_lsps.xml.gz
Due: contribs

add population to test scenario, fix issue with previous links not found
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimControllerListener.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainState.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/AbstractIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/chainFormations/population.xml
Due: contribs

fix issue in detecting next tail link, set large enough capacities in the test scenario
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/prepare/PrepareNetworkRailsimTrainCapacity.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/chainFormations/trainNetwork.xml
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
Due: core, contribs

feat(profiling): update README
  contribs/profiling/README.md
Due: contribs

add test for perceived safety disutility
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleContribTest.java
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyDisutilityTest.java
Due: contribs

delivery vehicles starts at the hub
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

correct test input
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_lsps.xml.gz
Due: contribs

fix(freight:logistics): Distribution carrier should start at the hub (#4274)
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_2e/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_carriers.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsWTollTest/testOutputIsEqual_1Plan_Both/output_lsps.xml.gz
Due: contribs

feat(profiling): add comments for documentation
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/EnableProfilingModule.java
  matsim/src/main/java/org/matsim/analysis/IterationStopWatch.java
Due: core, contribs

feat(profiling): allow providing path via argument
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventUtils.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/ScrubJfrRecording.java
Due: contribs

feat(profiling): add flag whether extensively scrub recordings
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/ScrubJfrRecording.java
Due: contribs

update tests
  contribs/drt-extensions/pom.xml
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftTaskSchedulerImplTest.java
Due: contribs

add comments
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
Due: contribs

add contrib to verify-push.yaml
  .github/workflows/verify-push.yaml
Due: none

first commit from new device
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarriersDashboard.java
Due: contribs

extend default carrier dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
Due: contribs

GradientMaps
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_prepare.R
Due: contribs

Fixed trend plots
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_prepare.R
Due: contribs

add comment
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
Due: core

new formation manager and event to analyze formations
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimControllerListener.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimFormationsManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimModule.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/events/RailsimFormationEvent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimEngine.java
Due: contribs

Update CI to java 25
  .github/workflows/code-coverage.yaml
  .github/workflows/codeql.yml
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/deploy-on-release-created.yaml
  .github/workflows/deploy-weekly.yaml
  .github/workflows/full-integration.yaml
  .github/workflows/verify-push.yaml
  pom.xml
Due: none

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
