Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

feat: refactor to use Writer instead of BufferedWriter
  contribs/analysis/src/main/java/org/matsim/contrib/analysis/vsp/qgis/QGisFileWriter.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarrierPlanXmlWriterV2_1.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandler.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandlerImplV1.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandlerImplV2.java
  contribs/signals/src/main/java/org/matsim/contrib/signals/data/conflicts/io/ConflictingDirectionsWriterHandler.java
  contribs/signals/src/main/java/org/matsim/contrib/signals/data/conflicts/io/ConflictingDirectionsWriterHandlerImpl.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/networkAnalysis/utils/QGisProjectFileWriter.java
Due: contribs

feat(common): bring your own random in WeightedRandomSelection (#5018)
  contribs/common/src/main/java/org/matsim/contrib/common/util/WeightedRandomSelection.java
Due: contribs

Use init file and atomic rename to ensure shared memory initialization is finished before other parties can write to the shared file.
  contribs/distributed-simulation/src/main/java/org/matsim/core/communication/SharedMemoryCommunicator.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/SharedMemoryCommunicatorTest.java
Due: contribs

fix test
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
Due: contribs

fix(dsim): Avoid undefined state of shared files for SharedMemoryCommunicator (#5019)
  contribs/distributed-simulation/src/main/java/org/matsim/core/communication/SharedMemoryCommunicator.java
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunMessagingBenchmark.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/SharedMemoryCommunicatorTest.java
Due: contribs

test(application): add 27h-maxTypicalDuration variant of midnight-after-midnight case
  contribs/application/src/test/java/org/matsim/application/prepare/population/SplitActivityTypesDurationTest.java
Due: contribs

change from CO2 to NOx
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
Due: contribs

fix: avoid generating events "in the future" in aftermobsim
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/discharging/DriveDischargingHandlerTest.java
Due: contribs

change from CO2 to NOx (#5022)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
Due: contribs

update comparison events for tests, as timestamp of last event changed
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_events.xml.gz
Due: contribs

improve docs
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/discharging/DriveDischargingHandlerTest.java
Due: contribs

adapt expected output events after recent fix
  contribs/vsp/test/input/playground/vsp/ev/UrbanEVIT/run/output_events.xml.gz
Due: contribs

add route to plan creation
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

rename parameter
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add traffic dashboard
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add usabe range
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

adjust description
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

reorder analysis
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

improve OD loop logic to ensure that roundings are handled correctly
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

adjust logging
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

fix tests
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

change input for dashboard
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix(smallScaleComercial): Changes for kwm (#5024)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

improve activity locations and cut at boundary links
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

fix tests
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_events.xml.gz
Due: contribs

improve activity locations and cut at boundary links (#5025)
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

comments
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

add monetarized score to agentWiseComparison output
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

feat(core): add write support to ScenarioFileFormat SPI
  matsim/src/main/java/org/matsim/core/controler/corelisteners/DumpDataAtEndImpl.java
  matsim/src/main/java/org/matsim/core/controler/corelisteners/PlansDumpingImpl.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/scenario/ScenarioFileFormat.java
Due: core

refactor(core): return Optional<String> from getEffectiveExtension
  matsim/src/main/java/org/matsim/core/scenario/ScenarioFileFormatRegistry.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioFileFormatSpiTest.java
Due: core

perf(io): unsynchronized FastBufferedWriter for MATSim file writing (#5017)
  contribs/analysis/src/main/java/org/matsim/contrib/analysis/vsp/qgis/QGisFileWriter.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarrierPlanXmlWriterV2_1.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandler.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandlerImplV1.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandlerImplV2.java
  contribs/signals/src/main/java/org/matsim/contrib/signals/data/conflicts/io/ConflictingDirectionsWriterHandler.java
  contribs/signals/src/main/java/org/matsim/contrib/signals/data/conflicts/io/ConflictingDirectionsWriterHandlerImpl.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/networkAnalysis/utils/QGisProjectFileWriter.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandler.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandler.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/population/io/AbstractPopulationWriterHandler.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationWriterHandlerV6.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandler.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV0.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV4.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV5.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV6.java
  matsim/src/main/java/org/matsim/core/population/io/StreamingPopulationWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/AbstractMatsimWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/FastBufferedWriter.java
  matsim/src/main/java/org/matsim/counts/CountsWriterHandler.java
  matsim/src/main/java/org/matsim/counts/CountsWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesWriterV1.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesWriterV2.java
  matsim/src/main/java/org/matsim/matrices/MatricesWriterHandler.java
  matsim/src/main/java/org/matsim/matrices/MatricesWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/utils/objectattributes/attributable/AttributesXmlWriterDelegate.java
  matsim/src/main/java/org/matsim/vehicles/VehicleWriterV2.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterBenchmark.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterTest.java
Due: core, contribs

fix(serializer): update IntArrayListSerializer to use correct buffer methods
  matsim/src/main/java/org/matsim/core/serialization/custom/IntArrayListSerializer.java
Due: core

bike network paper
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

fix(EV): avoid generating events "in the future" in aftermobsim (#5023)
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/discharging/DriveDischargingHandlerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_events.xml.gz
  contribs/vsp/test/input/playground/vsp/ev/UrbanEVIT/run/output_events.xml.gz
Due: contribs

fix(Config): validation of countsScaleFactor in globalConfigGroup (#5016)
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core, contribs

changes in AgentWiseComparison
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  matsim/src/main/java/org/matsim/core/gbl/ConsoleFonts.java
Due: core, contribs

fix test and consider recent changes in VspScenarioCheckerImpl
  matsim/src/test/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImplTest.java
Due: core

feat(ScenarioChecker): add activity-facility-consistency-check (#4869)
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/test/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImplTest.java
Due: core

use explicit scoring parameter sets
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigs.java
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityFactory.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelScoringFunctionModule.java
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringOutputWriter.java
  matsim/src/main/java/org/matsim/pt/router/TransitRouterConfig.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core, contribs

use clearer method names and deprecated existing
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
