Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

chore(deps): bump GitHub action amannn/action-semantic-pull-request from v5 to v6 (#4538)
  .github/workflows/pr-title.yml
Due: none

change link detection for road pricing in preparation of a jsprit run
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

fix location of starting solving method
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add links to activities
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

rearrange configuration
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerSettings.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerSettings.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPowerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPowerTest.java
Due: contribs

update battery soc for chargers
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerSettings.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryUpdater.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerSettings.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPowerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPowerTest.java
Due: contribs

feat: integration with ntfy.sh (#4524)
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/Notifier.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyConfigGroup.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyListener.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyModule.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyUtils.java
Due: contribs

feat(ev): code infrastructure and implementation of battery-based chargers (#4527)
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingWithQueueingAndAssignmentLogic.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingWithQueueingLogic.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/DefaultChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerSettings.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerStateEvent.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerStateEventHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerStateListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryUpdater.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/CompositeChargerPowerFactory.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerSettings.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPowerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPowerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/TestScenarioBuilder.java
Due: contribs

changes around AgentWiseComparisonKN
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MarginalSumScoringFunction.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
Due: contribs

add comments
  matsim/src/main/java/org/matsim/core/config/groups/QSimConfigGroup.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetsimEngineWithThreadpool.java
  matsim/src/main/java/org/matsim/core/population/PersonUtils.java
Due: core

update setting of jsprit iterations
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

update test comparison input
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

add walk on network test case
  matsim/src/test/java/org/matsim/core/router/WalkAsNetworkModeTest.java
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLink/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLink/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink/output_plans.xml.gz
Due: core

feat: add test case for walk on network (#4541)
  matsim/src/main/java/org/matsim/core/config/groups/QSimConfigGroup.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetsimEngineWithThreadpool.java
  matsim/src/main/java/org/matsim/core/population/PersonUtils.java
  matsim/src/test/java/org/matsim/core/router/WalkAsNetworkModeTest.java
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLink/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLink/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink/output_plans.xml.gz
Due: core

feat(freight): Freight and commercial traffic updates (#4543)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

feat(drt): LimitCompanionsBySeats
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionRideGenerator.java
Due: contribs

Bugfix in WarmEmissionAnalysisModule
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

PHEMTest: WLTPExpTest and OverestimationExpTest
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

fix: change default setting and adjust comment
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionParams.java
Due: contribs

feat(drt): LimitCompanionsBySeats (#4544)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionRideGenerator.java
Due: contribs

Make partition index acessible for profiling
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

adding a test for the scenario 'abzweigung'
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/abzweigung/config.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/abzweigung/network.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/abzweigung/schedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/abzweigung/vehicles.xml
Due: contribs

hope to fix test on windows
  matsim/src/test/java/org/matsim/core/router/WalkAsNetworkModeTest.java
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_fail/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_fail/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_ok/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_ok/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_fail/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_fail/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_ok/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_ok/output_plans.xml.gz
Due: core

Low hanging performance fruits:
  matsim/src/main/java/org/matsim/analysis/LegHistogram.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
Due: core

ScaledWLTP plots and fixes
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Comparison 2-avg-acc VS, diff-acc
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

DrivingStyle analysis
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/generate_cycles.R
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_prepare.R
Due: contribs

hope to fix test on windows (#4549)
  matsim/src/test/java/org/matsim/core/router/WalkAsNetworkModeTest.java
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_fail/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_fail/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_ok/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_accessEgressModeToLinkPlusTimeConstant_ok/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_fail/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_fail/output_plans.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_ok/output_events.xml.gz
  matsim/test/input/org/matsim/core/router/WalkAsNetworkModeTest/test_walkConstantTimeToLink_ok/output_plans.xml.gz
Due: core

build(deps): bump burnett01/rsync-deployments from 8.0.2 to v8 in the github-actions group
  .github/workflows/deploy-dtds.yaml
Due: none

build(deps): bump burnett01/rsync-deployments from 8.0.2 to v8 in the github-actions group (#4556)
  .github/workflows/deploy-dtds.yaml
Due: none

use map for groups
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

formatting
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

fix mode share plots
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

fix a bug in the network route...
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/abzweigung/schedule.xml
Due: contribs

Remove setting travel time twice
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
Due: core

perf(DSim): Make LegHostogram async (#4559)
  matsim/src/main/java/org/matsim/analysis/LegHistogram.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

fix: several fixes for sevc
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/InnovationHelper.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoring.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/analysis/WithinDayChargingAnalysisHandler.java
Due: contribs

fix: several fixes for sevc (#4560)
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/InnovationHelper.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoring.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/analysis/WithinDayChargingAnalysisHandler.java
Due: contribs

Start adding regression tests for scoring
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringRegressionTest.java
Due: core

added comments and renamed MATSimApplication.run()
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/DrtTestScenario.java
  matsim/src/main/java/org/matsim/api/core/v01/population/Route.java
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/population/routes/AbstractNetworkRoute.java
  matsim/src/main/java/org/matsim/core/population/routes/LinkNetworkRouteImpl.java
Due: core, contribs
