Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

feat(benchmark): add synthetic DRT benchmark scenarios and supporting classes
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/BenchmarkResult.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/DrtBenchmarkRunner.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/RunScalabilityBenchmark.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/FleetGenerator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/GridNetworkGenerator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/PopulationGenerator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/SyntheticBenchmarkScenario.java
Due: contribs

refactor: update DRT configuration to use extensions and adjust travel time parameters
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/SyntheticBenchmarkScenario.java
Due: contribs

refactor: adjust benchmark run parameters for scalability tests
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/RunScalabilityBenchmark.java
Due: contribs

feat: add StuckAgentsWriter for population analysis
  contribs/application/src/main/java/org/matsim/application/analysis/population/StuckAgentsWriter.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/StuckAgentsWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/StuckAgentsWriterTest/testCommandLineExecution/events.xml
Due: contribs

refactor: enhance performance logging and request processing metrics in parallel inserter
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/RunScalabilityBenchmark.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/PopulationGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ConflictResolver.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PerformanceLogger.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
Due: contribs

Change default compression to zst and set compression level to 3, which is fast and produces small files
  matsim/src/main/java/org/matsim/core/config/groups/ControllerConfigGroup.java
  matsim/src/main/java/org/matsim/core/utils/io/AbstractMatsimWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/IOUtils.java
Due: core

Add gzip as compression type to tests to avoid recreating all test files
  matsim/src/test/java/org/matsim/analysis/LinkStatsControllerListenerTest.java
  matsim/src/test/java/org/matsim/core/population/io/PopulationReprojectionIOIT.java
  matsim/src/test/java/org/matsim/core/router/WalkAsNetworkModeTest.java
  matsim/src/test/java/org/matsim/integration/replanning/ReRoutingIT.java
Due: core

Add gzip as compression type to tests to avoid recreating all test files
  matsim/src/main/java/org/matsim/utils/eventsfilecomparison/EventsFileComparator.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
  matsim/src/test/java/org/matsim/core/network/io/NetworkReprojectionIOTest.java
  matsim/src/test/java/org/matsim/core/replanning/planInheritance/PlanInheritanceTest.java
  matsim/src/test/java/org/matsim/core/replanning/strategies/DeterministicMultithreadedReplanningIT.java
  matsim/src/test/java/org/matsim/counts/CountsReprojectionIOTest.java
  matsim/src/test/java/org/matsim/examples/ModeRestrictionTest.java
  matsim/src/test/java/org/matsim/examples/OnePercentBerlin10sIT.java
  matsim/src/test/java/org/matsim/examples/ParkingTest.java
  matsim/src/test/java/org/matsim/examples/PtTutorialIT.java
  matsim/src/test/java/org/matsim/facilities/ActivityFacilitiesSourceTest.java
  matsim/src/test/java/org/matsim/integration/replanning/ReRoutingIT.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/TransitScheduleReprojectionIOTest.java
Due: core

Add gzip as compression type to tests to avoid recreating all test files
  matsim/src/test/java/org/matsim/core/controler/corelisteners/PlansDumpingIT.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
  matsim/src/test/java/org/matsim/facilities/FacilitiesReprojectionIOTest.java
Due: core

Add gzip as compression type to tests to avoid recreating all test files
  contribs/av/src/main/java/org/matsim/contrib/av/intermodal/RunTaxiPTIntermodalExample.java
  contribs/av/src/test/java/org/matsim/contrib/av/intermodal/RunTaxiPTIntermodalExampleIT.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExample.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModel.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/utils/TestScenarioBuilder.java
  contribs/noise/src/test/java/org/matsim/contrib/noise/NoiseIT.java
  matsim/src/test/java/org/matsim/analysis/OutputTravelStatsTest.java
  matsim/src/test/java/org/matsim/core/controler/TerminationTest.java
  matsim/src/test/java/org/matsim/core/replanning/planInheritance/PlanInheritanceTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
  matsim/src/test/java/org/matsim/facilities/FacilitiesReprojectionIOTest.java
  matsim/src/test/java/org/matsim/integration/replanning/ResumableRunsIT.java
Due: core, contribs

prototype for checking if subpopulations are consistent with scoring params
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
Due: core

Add gzip as compression type to tests to avoid recreating all test files
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/integration/SignalSystemsIT.java
  contribs/taxi/src/main/java/org/matsim/contrib/etaxi/run/RunETaxiScenario.java
  contribs/taxi/src/test/java/org/matsim/contrib/taxi/optimizer/TaxiOptimizerTests.java
  contribs/vsp/src/main/java/playground/vsp/ev/RunUrbanEVExample.java
  matsim/src/test/java/org/matsim/core/controler/TerminationTest.java
Due: core, contribs

Add gzip as compression type to tests to avoid recreating all test files
  contribs/discrete_mode_choice/src/test/java/org/matsim/contrib/discrete_mode_choice/DeterminismTest.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/ExampleSchedulingOfTransportChainHubsVsDirect.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/mobsimExamples/ExampleMobsimOfSimpleLSP.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanning.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/controller/EquilWithCarrierWithoutPersonsIT.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/lspReplanning/CollectionLSPReplanningTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/lspScoring/CollectionLSPScoringTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/lspScoring/MultipleIterationsCollectionLSPScoringTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/simulationTrackers/CollectionTrackerTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/CollectionLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/CompleteLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/FirstAndSecondReloadLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/FirstReloadLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MainRunLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MainRunOnlyLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleIterationsCollectionLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleIterationsCompleteLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleIterationsFirstAndSecondReloadLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleIterationsFirstReloadLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleIterationsMainRunLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleShipmentsCollectionLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleShipmentsCompleteLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleShipmentsFirstAndSecondReloadLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleShipmentsFirstReloadLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/MultipleShipmentsMainRunLSPMobsimTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/lspMobsimTests/RepeatedMultipleShipmentsCompleteLSPMobsimTest.java
  contribs/noise/src/test/java/org/matsim/contrib/noise/NoiseIT.java
Due: contribs

Add gzip as compression type to tests to avoid recreating all test files
  contribs/atap/src/test/java/se/vti/atap/matsim/examples/parallel_links/minimal_test/MinimalTest.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/run/RunWithParkingProxy.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearch/facilityBasedParking/AbstractParkingTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/RunPSimTest.java
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/run/RunRoadPricingExample.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Added paper.R with scripts for plots
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

Added incidentLinks() method to NetworkUtils used in PretoriaTest
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
Due: core

Removed old comment
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTables.java
Due: contribs

Add gzip as compression type to tests to avoid recreating all test files
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/TestScenario.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
Due: contribs

Added #090226 comments for old emission model settings
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

Added Kalman filter diagram for debugging purposes
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Temporary fixes for provisional results
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Re-enable ThreeLinkIntegrationTest as the issue that caused it to hang has been resolved.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
Due: core, contribs

Set number of partitions and timeouts back to original values
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
Due: contribs

Upload test artifacts and only build the failing module + its dependencies
  .github/workflows/full-integration.yaml
Due: none

add config args
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

move method
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add sample size
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

change service id counter
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

refactor: enhance DRT benchmark runner to include quality metrics and improve reporting
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/BenchmarkResult.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/DrtBenchmarkRunner.java
Due: contribs

move occupancy rate into method
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

update zone detection of links
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

update zone detection of links
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

adapt to newer matsim version
  code-examples/src/main/java/org/matsim/codeexamples/extensions/bicycle/RunBicycleContribExample.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/pseudoRandomErrors/replanning/RandomModeProvider.java
Due: none

fix max ride time bug
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSet.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DefaultDrtRouteConstraintsCalculator.java
Due: contribs

fix complex unscheduler bug
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
Due: contribs

fix prebookin queue bug
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/logic/helpers/PrebookingQueue.java
Due: contribs

fix complex unscheduler bug (#4702)
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
Due: contribs

fix max ride time bug (#4701)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSet.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DefaultDrtRouteConstraintsCalculator.java
Due: contribs
