Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

feat(freight): Extend carrier dashboard with some KPIs and VRP solving analysis (#4655)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierPlanAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Table.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
Due: contribs

Added all methods parameter combinations
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Added method param to analysis
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Fixed HbefaConsistencyChecker for empty sizeclasses
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
Due: contribs

Added techAverage
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

fix(av): fix maxWaitTime to be lower than maxTravelTimeBeta
  examples/scenarios/dvrp-grid/one_taxi_and_one_shared_taxi_config.xml
Due: none

fix(commercialTrafficApplications): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/commercialTrafficApplications/src/main/java/org/matsim/contrib/commercialTrafficApplications/jointDemand/examples/RunJointDemandDRTExample.java
Due: contribs

feat(drt): check for maxWaitTime being lower than maxTravelTimeBeta
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSetImpl.java
Due: contribs

fix(vsp): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/vsp/src/test/java/org/matsim/integration/drtAndPt/PtAlongALine2Test.java
  examples/scenarios/dvrp-grid/eight_shared_taxi_config.xml
Due: contribs

fix(prebooking): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTest.java
Due: contribs

fix(drt): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DrtPoolingParameterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunOldDrtConfigCompatibilityIT.java
  examples/scenarios/dvrp-grid/multi_mode_one_shared_taxi_config.xml
  examples/scenarios/dvrp-grid/one_shared_taxi_config.xml
  examples/scenarios/mielec/mielec_drt_config_v1.xml
  examples/scenarios/mielec/mielec_serviceArea_based_drt_config.xml
  examples/scenarios/mielec/mielec_stop_based_drt_config.xml
Due: contribs

fix(drt-extension): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/companions/RunDrtWithCompanionExampleIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/insertion/DrtInsertionExtensionIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/preemptive_rejection/RunPreemptiveRejectionIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  examples/scenarios/mielec/mielec_drt_config.xml
  examples/scenarios/mielec/mielec_edrt_config.xml
  examples/scenarios/mielec/mielec_multiModeEdrt_config.xml
Due: contribs

extract method for labels generation to Utils class
  contribs/application/src/main/java/org/matsim/application/analysis/AnalysisUtils.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

add distance groups for CommercialTrafficDashboard
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

use Double.NaN
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

Experiment with different thread pools
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
Due: core

fix: graph caching for SpeedyALT (#4658)
  contribs/dvrp/src/main/java/org/matsim/core/router/speedy/SpeedyMultiSourceALTFactory.java
  contribs/dvrp/src/test/java/org/matsim/core/router/speedy/SpeedyMultiSourceALTBackwardTest.java
  contribs/dvrp/src/test/java/org/matsim/core/router/speedy/SpeedyMultiSourceALTForwardTest.java
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/TollTravelCostCalculatorTest.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/router/AStarEuclideanFactory.java
  matsim/src/main/java/org/matsim/core/router/AStarLandmarksFactory.java
  matsim/src/main/java/org/matsim/core/router/DijkstraFactory.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTData.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTFactory.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstraFactory.java
  matsim/src/test/java/org/matsim/core/router/RoutingIT.java
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyALTTest.java
Due: core, contribs

fix(deps): remove only occurrence of jboss logging in favor of log4j
  matsim/pom.xml
  matsim/src/main/java/org/matsim/core/replanning/conflicts/WorstPlanForRemovalSelectorWithConflicts.java
Due: core

fix(deps): remove only occurrence of jboss logging in favor of log4j (#4664)
  matsim/pom.xml
  matsim/src/main/java/org/matsim/core/replanning/conflicts/WorstPlanForRemovalSelectorWithConflicts.java
Due: core

add distances also for vehicles with 0 km
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/LinkVolumeCommercialEventHandler.java
Due: contribs

adjust condition
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/LinkVolumeCommercialEventHandler.java
Due: contribs

adjust CommercialAnalysis by adding labels for values and reorganize structure
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

extend dashboard by adding boards for the complete commercial traffic
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

clean uo and fix descriptions
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

formatting
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

Added BilinearInterpolation to test settings
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Improved computation speed of BilinearInterpolation with temporary implementation
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

fix(drt): Prebooking: Allow unscheduling of planned vehicle schedules. Check for valid vehicle schedule status.
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/SimpleRequestUnscheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/unscheduler/SimpleRequestUnschedulerTest.java
Due: contribs

fix(drt): Prebooking: Allow unscheduling of planned vehicle schedules. Check for valid vehicle schedule status. (#4665)
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/SimpleRequestUnscheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/unscheduler/SimpleRequestUnschedulerTest.java
Due: contribs

try to make kais version working for me
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  matsim/src/main/java/org/matsim/dsim/scoring/FinishedBackpackCollector.java
Due: core, contribs

add s3 support for geo file reader (#4652)
  matsim/src/main/java/org/matsim/core/utils/gis/GeoFileReader.java
Due: core

add ref files for commercial traffic and add related test
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
  contribs/simwrapper/src/test/resources/commercialActivityDurations_ref.csv
  contribs/simwrapper/src/test/resources/commercialTourDistances_ref.csv
  contribs/simwrapper/src/test/resources/commercialTourDurations_ref.csv
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/output_network.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/output_plans.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/output_vehicles.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/shp/testRegions.cpg
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/shp/testRegions.dbf
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/shp/testRegions.prj
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/shp/testRegions.qmd
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/shp/testRegions.shp
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/shp/testRegions.shx
Due: contribs

adjust descriptions
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

adjust descriptions
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

Actually, lean into busy threadpool.
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
Due: core

Busy threadpool can be paused inbetween iterations, to let other threads use the cpu
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/LPExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/SingleExecutor.java
Due: core

Test busy threadpool
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/test/java/org/matsim/dsim/executors/BusyThreadpoolTest.java
Due: core

Comment BusyThreadpool
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
Due: core

adjust shp ressource
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
Due: contribs

formatting
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
Due: contribs
