Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

Lint code
  matsim/src/main/java/org/matsim/core/replanning/inheritance/PlanInheritanceModule.java
Due: core

Get delimiter from MatsimServices
  matsim/src/main/java/org/matsim/core/replanning/inheritance/PlanInheritanceModule.java
Due: core

update complex unscheduler to use schedule directly instead of vehicle entry data
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/Schedules.java
Due: contribs

refactor(PlanInheritanceModule): Make use of matsim default delimiter (#3906)
  matsim/src/main/java/org/matsim/core/replanning/inheritance/PlanInheritanceModule.java
Due: core

feat(srr): cacheless transfer calculation (#3892)
  matsim/src/main/java/ch/sbb/matsim/config/SwissRailRaptorConfigGroup.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorStaticConfig.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
Due: core

add comment re reference year of pt prices
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/fare/DistanceBasedPtFareParams.java
Due: contribs

add comment re reference year of pt prices (#3908)
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/fare/DistanceBasedPtFareParams.java
Due: contribs

update unscheduler
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
Due: contribs

First approach for new cap/vel calculation
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Adapted SBBQSimModuleTest
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/SBBQSimModuleTest.java
Due: contribs

fix(drt): update complex unscheduler to use schedule instead of vehicle entry (#3907)
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/unscheduler/ComplexRequestUnscheduler.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/Schedules.java
Due: contribs

Adapted JointTipRouterFactoryTest
  contribs/socnetsim/src/test/java/org/matsim/contrib/socnetsim/jointtrips/router/JointTripRouterFactoryTest.java
Due: contribs

Adapted RunPSimTest
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/RunPSimTest.java
Due: contribs

Rewrote JointTripRouterFactoryTest-fix
  contribs/socnetsim/src/test/java/org/matsim/contrib/socnetsim/jointtrips/router/JointTripRouterFactoryTest.java
Due: contribs

Adapted TollTravelCostCalculatorTest
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/TollTravelCostCalculatorTest.java
Due: contribs

Adapted TopKChoicesGeneratorTest
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/search/TopKChoicesGeneratorTest.java
Due: contribs

Adapted LocationMutatorwChoiceSetTest (NOTE: Some functionalities had been changed!)
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/timegeography/RecursiveLocationMutator.java
  contribs/locationchoice/src/test/java/org/matsim/contrib/locationchoice/Initializer.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonCalcTimes.java
Due: core, contribs

Adapted config for NoiseOnlineExampleIT
  contribs/noise/test/input/org/matsim/contrib/noise/config.xml
Due: contribs

use dedicated travel time matrix zone system in adaptive tt matrix
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixModule.java
Due: contribs

setting up basic scenario and run script
  contribs/vsp/src/main/java/org/matsim/freight/carriers/analysis/LogFileAnalysis.java
  contribs/vsp/src/main/java/org/matsim/freight/carriers/analysis/RunFreightAnalysisEventBased.java
  contribs/vsp/src/main/java/playground/vsp/changeExpBeta/DisturbanceGenerator.java
  contribs/vsp/src/main/java/playground/vsp/changeExpBeta/RunTestingScenario.java
Due: contribs

update injection of zone for matrix
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixModule.java
Due: contribs

DistributedEventsManager removes event handlers if registered with this manager. If not, the remove does not do anything. This aligns with the way, the current default EventsManager handles this case.
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core

feat(dvrp): Use configurable travel time matrix zone system for adaptive travel time matrix (#3909)
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixModule.java
Due: contribs

Contribs added for Carrier and Logistic Viewers. Tested successfully in Dashboard Test. Needed to add helper functions to DashboardTests file to run specific scenarios for these viewers.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/LogisticDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/LogisticViewer.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DashboardTests.java
Due: contribs

Store the pcuScalingFactor as factor instead of pre-computing the scaled pcu
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QVehicleImpl.java
Due: core

prepare data classes for chained departure in raptor and passenger routes
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorStaticConfig.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/main/java/org/matsim/pt/routes/ExperimentalTransitRoute.java
  matsim/src/main/java/org/matsim/pt/routes/TransitPassengerRoute.java
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
Due: core

small changes to dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
Due: contribs

cherrypicked changes from hEART submission version (branch drtAccessibility-from-PR2878_JB_Master)
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
Due: contribs

added kelheim test, wip
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
Due: contribs

prepare test data and test
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/ScrambleTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/StripTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorDataTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/network.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
Due: core

refactor search logic and prepare test
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
Due: core

refactored AccessibilityFromEvents, such that DRTEstimator is set in an outer class. updated kelheim offline
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
Due: contribs

Adapted RunParkingChoiceExampleIT
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingchoice/PC2/simulation/ParkingChoiceSimulation.java
Due: contribs

Removed comment
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

implemented recursive search logic and tests
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/ChainedDepartureImpl.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
Due: core

add recursive conversion for chained routes
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
Due: core

update to #3810
  contribs/commercialTrafficApplications/src/main/java/org/matsim/contrib/commercialTrafficApplications/jointDemand/examples/RunJointDemandDRTExample.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/eshifts/run/RunEShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunMultiHubShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunOnTheFlyShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunPrebookingShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/ServicesTestUtils.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/estimator/impl/PessimisticDrtEstimator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSet.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSetImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DefaultDrtRouteConstraintsCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/config/ConfigBehaviorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/MaxDetourConstraintTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DrtPoolingParameterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTestEnvironment.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtConfigGroupTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunOldDrtConfigCompatibilityIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/teleportation/DrtTeleportationTest.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/run/MultiModeTaxiModule.java
  contribs/vsp/src/test/java/org/matsim/integration/drtAndPt/PtAlongALine2Test.java
  contribs/vsp/src/test/java/org/matsim/integration/drtAndPt/PtAlongALineTest.java
Due: contribs

update to #3810 (#3914)
  contribs/commercialTrafficApplications/src/main/java/org/matsim/contrib/commercialTrafficApplications/jointDemand/examples/RunJointDemandDRTExample.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/eshifts/run/RunEShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunMultiHubShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunOnTheFlyShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunPrebookingShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/shifts/run/RunShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/ServicesTestUtils.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/estimator/impl/PessimisticDrtEstimator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSet.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSetImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DefaultDrtRouteConstraintsCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/config/ConfigBehaviorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/MaxDetourConstraintTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DrtPoolingParameterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTestEnvironment.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtConfigGroupTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunOldDrtConfigCompatibilityIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/teleportation/DrtTeleportationTest.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/run/MultiModeTaxiModule.java
  contribs/vsp/src/test/java/org/matsim/integration/drtAndPt/PtAlongALine2Test.java
  contribs/vsp/src/test/java/org/matsim/integration/drtAndPt/PtAlongALineTest.java
Due: contribs
