Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

adjust use of marker in otfvis (#4045)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractAgentSnapshotInfoBuilder.java
Due: core

Carrier viewer Contrib - Classes only. Successfully tested in SimWrapperTest.java (#3953)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/LogisticViewer.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

fix: maintenance (#4074)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  matsim/src/main/java/org/matsim/vehicles/Vehicles.java
Due: core, contribs

fix some edge-cases in OccupancyTracker (#4076)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/OccupancyData.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/OccupancyTrackerTest.java
Due: core

feat(ev): Charger placement based on aggregated low-energy events (#4029)
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExampleTruckLTH.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/util/EvLowSocPenaltyHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/util/LowEnergyEventChargerPlacer.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/config_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/ev_population_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/evehicles_trucks.xml
Due: contribs

fix(NetworkRoutingInclAccessEgressModule): walk on network (#3952)
  matsim/src/main/java/org/matsim/core/router/LinkWrapperFacility.java
  matsim/src/main/java/org/matsim/core/router/LinkWrapperFacilityI.java
  matsim/src/main/java/org/matsim/core/router/LinkWrapperFacilityWithSpecificCoord.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

refactor: reduce public footprint, reorganize packages (#4091)
  contribs/application/src/main/java/org/matsim/application/prepare/freight/dataProcessing/GenerateLookupTable.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/dataProcessing/GermanNutsTransformation.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/dataProcessing/ReadFreightNetwork.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/optimization/DetermineAverageTruckLoad.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/optimization/PrepareCountingData.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultDepartureTimeCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultLocationCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultNumberOfTripsCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/FreightAgentGenerator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/GenerateFreightPlans.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/TripRelation.java
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
  contribs/application/src/test/java/org/matsim/application/MATSimApplicationTest.java
  contribs/application/src/test/java/org/matsim/freightDemandGeneration/FreightDemandGenerationUtilsTest.java
  contribs/application/test/input/org/matsim/freightDemandGeneration/testCarrierCSV.csv
  contribs/application/test/input/org/matsim/freightDemandGeneration/testDemandCSV.csv
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/CarrierReaderFromCSV.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/CommercialDemandGenerationUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DefaultDemandGenerationSpecification.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandGenerationSpecification.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandGenerationSpecificationForParcelDelivery.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandReaderFromCSV.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationUtilsTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/CarrierReaderFromCSVTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/DemandReaderFromCSVTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/DHL_vehicleTypes.xml
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testCarrierCSV.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testCarrierCSV_parcels.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testDemandCSV.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testDemandCSV_parcels.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testPopulation.xml
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.dbf
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.prj
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.shp
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.shx
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testVehicleTypes.xml
Due: contribs

feat: Restructure bicycle contrib (#3857)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutilityFactory.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleUtilityUtilsTest.java
Due: contribs

repair some tests
  matsim/src/test/java/org/matsim/core/router/RoutingIT.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
  matsim/src/test/java/org/matsim/integration/replanning/ChangeTripModeIntegrationTest.java
Due: core

fix(simwrapper): add missing "mapIsIndependent" map config and drt vehicles plugin definitions (#4089)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/AggregateOD.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/GridMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Hexagons.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Links.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/MapPlot.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/XYTime.java
Due: contribs

feat(SimwrapperCountsDashboard): Add sqv values for counts and little adjustments (#4098)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/CountComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
Due: contribs

fix a potential NPE in cases with chained departures (#4090)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core

feat(railsim): Add microJunctionFlat integration test (#4085)
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/config.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/transitVehicles.xml
Due: contribs

fix(drt): Handle negative departure time corner case (#4097)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/DetourTimeEstimatorWithAdaptiveTravelTimes.java
Due: contribs

refactor(core): resolve URI/URLs more generically (#4096)
  matsim/src/main/java/org/matsim/core/utils/io/IOUtils.java
Due: core

repair a test (we now need a vehicle since we need its max speed for routing)
  contribs/commercialTrafficApplications/src/main/java/org/matsim/contrib/commercialTrafficApplications/jointDemand/DefaultCommercialJobGenerator.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestPositionEmissionModule.java
  contribs/vsp/src/main/java/playground/vsp/ev/RunUrbanEVExample.java
  matsim/src/main/java/org/matsim/core/controler/DefaultPrepareForSimModule.java
  matsim/src/main/java/org/matsim/core/controler/NewControlerModule.java
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
  matsim/src/main/java/org/matsim/run/InitRoutes.java
  matsim/src/main/java/org/matsim/vehicles/VehicleUtils.java
  matsim/src/test/java/org/matsim/core/controler/PrepareForSimImplTest.java
  matsim/src/test/java/org/matsim/core/controler/corelisteners/PlansDumpingIT.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/FlowCapacityTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/HermesRoundaboutTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/StorageCapacityTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/NetsimRoutingConsistencyTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/VehicleSourceTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/DeparturesOnSameLinkSameTimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/FlowCapacityVariationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/SeepageTest.java
  matsim/src/test/java/org/matsim/core/population/io/PopulationV6IOTest.java
  matsim/src/test/java/org/matsim/core/router/TripRouterFactoryImplTest.java
Due: core, contribs

add to string methods for debugging
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/FixedBlockResource.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/MovingBlockResource.java
Due: contribs

Added test HBEFA tables and changed paths to work without encryption key.
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest.java
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_ColdStart_TEST_Average.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_ColdStart_TEST_detailed_corrupted.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_ColdStart_TEST_detailed_valid.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_HOT_TEST_Average.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_HOT_TEST_detailed_corrupted.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_HOT_TEST_detailed_valid.csv
Due: contribs

Added warning when checker is disabled
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/EmissionModule.java
Due: contribs

Replaced hardcoded id-lists with enum fields
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaVehicleCategory.java
Due: contribs

Added enum HbefaTechnology
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTechnology.java
Due: contribs

Retrofitted RunDetailedEmissionToolOfflineExampleIT
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/example/RunDetailedEmissionToolOfflineExampleIT.java
Due: contribs

Initial version of parallel request inserter
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/MultiQSimScopeForkJoinPoolHolder.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/QsimScopeForkJoinPool.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DrtInsertionSearchManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculatorManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelRequestInserterModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/RequestData.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/LoadAwareRoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/PartitionScalingFunction.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/ReplicatingVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/RoundRobinVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/ShiftingRoundRobinVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/VehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/RequestDataComparators.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculatorManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

Reduce memory consumptions
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/SparseTravelTimeCacheTest.java
Due: contribs

Add testBitPackingAndUnpackingTest
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/SparseTravelTimeCacheTest.java
Due: contribs

chore(drt): Reduce memory consumption of AdaptiveTravelTimeMatrixImpl (#4104)
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/SparseTravelTimeCacheTest.java
Due: contribs

add comments
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNodeI.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNodeImpl.java
Due: core

change default and see what happens with regression tests
  matsim/src/main/java/org/matsim/core/config/groups/QSimConfigGroup.java
Due: core

refactor: combine constructor and initialize method (#3996)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetwork.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNodeI.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNodeImpl.java
Due: core

make regression test around ExampleMultipleTwoEchelonChainsReplanning. Some reformatting while doing that.
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/MyLSPScorer.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanning.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_experienced_plans.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_plans.xml.gz
Due: contribs

mostly reformatting
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanning.java
Due: contribs

reorganize
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LogisticChain.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanning.java
Due: contribs

Initial version of parallel request inserter (#4102)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/MultiQSimScopeForkJoinPoolHolder.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/QsimScopeForkJoinPool.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DrtInsertionSearchManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculatorManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelRequestInserterModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/RequestData.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/LoadAwareRoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/PartitionScalingFunction.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/ReplicatingVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/RoundRobinVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/ShiftingRoundRobinVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/VehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/RequestDataComparators.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculatorManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

chore(drt): Add IO test for DrtParallelInserterParams
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParamsTest.java
Due: contribs

fix(drt): Fix missing addModalQSimComponentBinding
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelRequestInserterModule.java
Due: contribs

fix(drt): Handle empty vehicle and request partitions to comply with spatial filtering
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
Due: contribs

refactor: lsp maintenance (#4106)
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LogisticChain.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/MyLSPScorer.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanning.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_experienced_plans.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_plans.xml.gz
Due: contribs

fix(drt): Some fixes wrt ParallelRequestInserter (#4107)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelRequestInserterModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParamsTest.java
Due: contribs

feat: New hbefa consistency checker (#4006)
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/EmissionModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTechnology.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaVehicleCategory.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/EmissionsConfigGroup.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestPositionEmissionModule.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/example/RunDetailedEmissionToolOfflineExampleIT.java
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_ColdStart_TEST_Average.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_ColdStart_TEST_detailed_corrupted.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_ColdStart_TEST_detailed_valid.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_HOT_TEST_Average.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_HOT_TEST_detailed_corrupted.csv
  contribs/emissions/test/input/org/matsim/contrib/emissions/HbefaConsistencyCheckerTest/EFA_HOT_TEST_detailed_valid.csv
Due: contribs

refactor(core): update memory and qsim logging (#4095)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/QSim.java
  matsim/src/main/java/org/matsim/utils/MemoryObserver.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
