Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

feat(analysis): extend modular impact analysis
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactAnalysisResult.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactComparison.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactCsvWriter.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactRunReader.java
  contribs/application/src/test/java/org/matsim/application/analysis/impact/ImpactAnalysisTest.java
Due: contribs

feat(simwrapper): integrate impact analysis dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboardTest.java
Due: contribs

introduce person-specific marginal utility of time for commercial activities
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
Due: contribs

fix(drt): apply maxWalkDistance of the chosen constraints set
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DecideOnLinkAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DvrpRoutingModule.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinderTest.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/RoutingTimeStructureTest.java
Due: contribs

refactor(dvrp): compute the access/egress distance only once
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinder.java
Due: contribs

fix(drt): apply maxWalkDistance of the chosen constraints set (#5142)
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DecideOnLinkAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DvrpRoutingModule.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinderTest.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/RoutingTimeStructureTest.java
Due: contribs

feat(drt): time-dependent service configuration (service time and stop networks)
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtServiceTimeRequestValidator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtStopFacilityImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceConfigurationParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceConfigurations.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsParams.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/passenger/DrtServiceTimeRequestValidatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtStopFacilityImplTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/DrtServiceTimeIT.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/CompositePassengerRequestValidator.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/TimeDependentAccessEgressFacilityFinder.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/passenger/CompositePassengerRequestValidatorTest.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/TimeDependentAccessEgressFacilityFinderTest.java
Due: contribs

feat(drt): derive the stops of a service configuration from a GIS file
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtModeAnalysisModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceAreas.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceConfigurations.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsParams.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceAreasTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/DrtServiceTimeIT.java
Due: contribs

Improve impact analysis dashboard metrics
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactAnalysisResult.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactCsvWriter.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactDashboardTables.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactRunReader.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/EmissionsDashboardTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboardTest.java
Due: contribs

refactor(drt): rename service configurations to service regimes
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtModeAnalysisModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtServiceRegimeRequestValidator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtStopFacilityImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceAreas.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimeParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimes.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimesParams.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/passenger/DrtServiceRegimeRequestValidatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceAreasTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceConfigurationsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesFixtures.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/DrtServiceRegimesIT.java
Due: contribs

feat(drt): time-dependent service regimes (service times, stop networks, service areas) (#5143)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtModeAnalysisModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtServiceRegimeRequestValidator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtStopFacilityImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceAreas.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimeParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimes.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimesParams.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/passenger/DrtServiceRegimeRequestValidatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtStopFacilityImplTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceAreasTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesFixtures.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/DrtServiceRegimesIT.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/CompositePassengerRequestValidator.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/TimeDependentAccessEgressFacilityFinder.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/passenger/CompositePassengerRequestValidatorTest.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/TimeDependentAccessEgressFacilityFinderTest.java
Due: contribs

Allow impact analysis from run directory
  ImpactAnalysis.md
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactAnalysis.java
  matsim/src/main/java/org/matsim/application/CommandSpec.java
  matsim/src/main/java/org/matsim/application/options/InputOptions.java
Due: core, contribs

Fix impact emissions and run input handling
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactCsvWriter.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactDashboardTables.java
Due: contribs

introduce getBaseCasePathName in GlobalConfigGroup. Is this a good place for this? Is this a good name?
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

fix(network): keep every change event when several share a start time
  matsim/src/main/java/org/matsim/core/network/FixedIntervalTimeVariantAttribute.java
  matsim/src/main/java/org/matsim/core/network/TimeVariantAttribute.java
  matsim/src/main/java/org/matsim/core/network/TimeVariantLinkImpl.java
  matsim/src/main/java/org/matsim/core/network/VariableIntervalTimeVariantAttribute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/NetworkChangeEventLanesTest.java
Due: core

Make idle strategy configurable
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/executors/BusyThreadpoolTest.java
  examples/scenarios/pt-simple/config.xml
  matsim/src/main/java/org/matsim/dsim/DSimConfigGroup.java
  matsim/src/main/java/org/matsim/dsim/executors/BusyThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/test/java/org/matsim/dsim/DSimConfigGroupTest.java
Due: core, contribs

Rename BusyThreadpool.java to DSimThreadpool, as it is now configurable
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/executors/DSimThreadpoolTest.java
  matsim/src/main/java/org/matsim/dsim/executors/DSimThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
Due: core, contribs

re-enable windows ci on dsim integration test. This could work with the new backoff idle strategy
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

feat(dsim): Make IdleStrategy in Threadpool configurable (#5150)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/executors/DSimThreadpoolTest.java
  examples/scenarios/pt-simple/config.xml
  matsim/src/main/java/org/matsim/dsim/DSimConfigGroup.java
  matsim/src/main/java/org/matsim/dsim/executors/DSimThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/test/java/org/matsim/dsim/DSimConfigGroupTest.java
Due: core, contribs

Use higher timeout limit for integration tests. Hoping this gives the windows build enough wiggle room
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

reduce public footprint; adjust naming of variables and methods; add comments and questions
  contribs/small-scale-traffic-generation/README.md
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/UnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleAvailabilityAllocator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
Due: contribs

some more changes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
Due: contribs

register classes
  contribs/application/src/main/java/org/matsim/application/analysis/emissions/AirPollutionAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/MobilityToGridScenariosUtils.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/RunAirpollutionAnalysisWithDifferentHbefaVehicleTypes.java
Due: contribs

add missing class; some more smallish changes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/SmallScaleCommercialTrafficPrepareUtils.java
Due: contribs

update readme
  contribs/small-scale-traffic-generation/README.md
Due: contribs

some comments
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
Due: contribs

add sum files for hourly grid maps
  contribs/application/src/main/java/org/matsim/application/analysis/emissions/AirPollutionAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/MobilityToGridScenariosUtils.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/RunAirpollutionAnalysisWithDifferentHbefaVehicleTypes.java
Due: contribs

feat(drt): limit the maximum relocation distance in min cost flow rebalancing
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/AggregatedMinCostRelocationCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/DrtModeMinCostFlowRebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/MinCostFlowRebalancingStrategyParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/TransportProblem.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/TransportProblemTest.java
Due: contribs

fix(drt): only create the dummy rebalancing zone when it is needed
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingUtils.java
Due: contribs

perf(drt): performance tweaks for min cost flow rebalancing, including max distance cap for relocations (#5156)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingUtils.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/AggregatedMinCostRelocationCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/DrtModeMinCostFlowRebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/MinCostFlowRebalancingStrategyParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/TransportProblem.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/TransportProblemTest.java
Due: contribs

renames and comments
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

maintenance(small-scale-traffic-generation): reduce public footprint; adjust naming of variables and methods; add comments and questions (#5152)
  contribs/small-scale-traffic-generation/README.md
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/UnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleAvailabilityAllocator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/SmallScaleCommercialTrafficPrepareUtils.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

fix(pseudosimulation): count SpotBugs findings, not lines that contain one
  contribs/pseudosimulation/scripts/quality-metrics.sh
Due: contribs

fix(pseudosimulation): count SpotBugs findings, not lines that contain one (#5158)
  contribs/pseudosimulation/scripts/quality-metrics.sh
Due: contribs

fix(network): keep every change event when several share a start time (#5153)
  matsim/src/main/java/org/matsim/core/network/FixedIntervalTimeVariantAttribute.java
  matsim/src/main/java/org/matsim/core/network/TimeVariantAttribute.java
  matsim/src/main/java/org/matsim/core/network/TimeVariantLinkImpl.java
  matsim/src/main/java/org/matsim/core/network/VariableIntervalTimeVariantAttribute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/NetworkChangeEventLanesTest.java
Due: core

feat(core): support ZIP as a compression format in IOUtils
  matsim/src/main/java/org/matsim/core/utils/io/IOUtils.java
  matsim/src/test/java/org/matsim/core/utils/io/IOUtilsTest.java
Due: core

fix(core): keep ShpOptions reading raw zip bytes for shapefile archives
  matsim/src/main/java/org/matsim/application/options/ShpOptions.java
Due: core

refactor(serialization): extract MessageTypeRegistry from SerializationProvider
  matsim/src/main/java/org/matsim/core/serialization/MessageTypeRegistry.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
