Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

ensure concurrent updates to syncto and syncfrom bookeeping. We would have race conditions with multiple processes updating these variables at once otherwise. Leading to stalling waits
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core

Encapsulate out message buffer state inside inner class.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core, contribs

Use correct abstraction for registering message handlers
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/DistributedMobsimEngine.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core, contribs

Start cleaning up
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/SimStepMessagingTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/CapacityUpdate.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/SimStepMessage.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/Teleportation.java
  matsim/src/main/java/org/matsim/dsim/messages/SimStepMessage.java
  matsim/src/main/java/org/matsim/dsim/messages/SimStepMessage2Processor.java
  matsim/src/main/java/org/matsim/dsim/messages/SimStepMessageProcessor.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/AgentSourcesContainer.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimStepMessaging.java
  matsim/src/main/java/org/matsim/dsim/simulation/VehicleContainer.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/CapacityUpdate.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
Due: core, contribs

Use correct keys in BackpackDataCollectorTest
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
Due: contribs

More cleanup
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimStepMessage.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimStepMessageProcessor.java
Due: core, contribs

Don't expose fory anymore, since we have the SerializationProvider as wrapper anyway.
  matsim/src/main/java/org/matsim/core/communication/Communicator.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
Due: core

Do not expose fory anymore. Serialization is done via SerializationProvider
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/core/serialization/ByteMessageParser.java
  matsim/src/main/java/org/matsim/core/serialization/ForyBufferParser.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
Due: core, contribs

add autofrei, but it will not work because of different compression
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

have extracted the muse computation
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MuseComputation.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoring.java
Due: core, contribs

Delete ForyBufferParser, which was re-created while resolving a merge conflict
  matsim/src/main/java/org/matsim/core/serialization/ForyBufferParser.java
Due: core

rename MobsimEngine.onPrepareSim -> MobsimEngine.beforeSim to be symetric with afterSim
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationEngine.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/PrebookingManager.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/DefaultPassengerEngine.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/PassengerEngineWithPrebooking.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/TeleportingEstimationPassengerEngine.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/TeleportingPassengerEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/reservation/StrategicChargingReservationEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoring.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine.java
  contribs/hybridsim/src/main/java/org/matsim/contrib/hybridsim/simulation/ExternalEngine.java
  contribs/multimodal/src/main/java/org/matsim/contrib/multimodal/simengine/MultiModalSimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimEngine.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/logic/SharingEngine.java
  contribs/socnetsim/src/main/java/org/matsim/contrib/socnetsim/jointtrips/qsim/JointModesDepartureHandler.java
  contribs/socnetsim/src/main/java/org/matsim/contrib/socnetsim/jointtrips/qsim/PassengerUnboardingAgentFactory.java
  contribs/vsp/src/main/java/playground/vsp/parkAndRide/PRAdaptiveCapacityControl.java
  contribs/vsp/src/main/java/playground/vsp/pt/ptdisturbances/RunExamplePtDisturbances.java
  contribs/vsp/src/test/java/playground/vsp/pt/ptdisturbances/EditTripsTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/ActivityEngineDefaultImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/ActivityEngineWithWakeup.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/PreplanningEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/QSim.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/changeeventsengine/NetworkChangeEventsEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/interfaces/MobsimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
  matsim/src/main/java/org/matsim/withinday/mobsim/WithinDayEngine.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/AbstractQSimModuleTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/TransitQueueNetworkTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/changeeventsengine/NetworkChangeEventsEngineTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/components/QSimComponentsTest.java
Due: core, contribs

Add functionality to notify components about agents or vehicles crossing partition boundaries:
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyAgentEntersPartition.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyVehicleEntersPartition.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/InternalInterface.java
Due: core

use compression type from config. some additional changes
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MuseComputation.java
Due: contribs

BackpackDataCollector uses notification mechanism.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyAgentEntersPartition.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyAgentPartitionTransfer.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyVehicleEntersPartition.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyVehiclePartitionTransfer.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/InternalInterface.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core, contribs

NetworkTrafficEngine notifies others that vehicles enter a partition.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core, contribs

Adjust test as BackpackDataCollector no longer processes vehicle messages.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
Due: contribs

SimProcess adds QSimComponents that implement corresponding interfaces to its notifyHandler List
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

add if case
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

split arguments for trip and commercial analysis in CommercialTrafficDashboard
  contribs/application/src/test/java/org/matsim/application/CommandRunnerTest.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Data.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
  matsim/src/main/java/org/matsim/application/CommandRunner.java
Due: core, contribs

add null check
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

add sampling per group of persons and add related test
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/test/java/org/matsim/core/utils/misc/PopulationUtilsTest.java
Due: core

add scaling parameter
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
Due: contribs

inline methods
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModuleTest.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioByConfigInjectionTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelWithSubpopulationsTest.java
Due: core

add null check to prevent potential NPE during controller startup
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

adjust input based on adding the scale to population
  contribs/application/test/input/org/matsim/application/MATSimApplicationTest/test-100pct.plans-with-trips.xml.gz
Due: contribs

Add guice binding for dsim scoped event handlers
  matsim/src/main/java/org/matsim/core/mobsim/DefaultMobsimModule.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/events/DSimEventHandlerRegistry.java
  matsim/src/main/java/org/matsim/dsim/events/DSimEventHandlingModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

Reduce dependabot frequency to once per week
  .github/dependabot.yml
Due: none

test(railsim): add train length assertions to circulation tests
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
Due: contribs

Make BackpackDataCollector a QsimComponent so that it can be added to SimProcess implicitly
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

dependabot once a day, aws once a week. fory extra
  .github/dependabot.yml
Due: none

dependabot once a day fory extra
  .github/dependabot.yml
Due: none

Actually allow custom values in mobsim config param, as it is used in some test cases.
  matsim/src/main/java/org/matsim/core/mobsim/DefaultMobsimModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
Due: core

Move message processing into separate interface
  matsim/src/main/java/org/matsim/core/mobsim/dsim/DSimComponentsMessageProcessor.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/DistributedMobsimEngine.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

Move message processing into separate interface
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core, contribs

clean up broken merge
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core

clean up broken merge
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
Due: core

compare sim type to name instead of enum...
  matsim/src/main/java/org/matsim/core/mobsim/DefaultMobsimModule.java
Due: core

Remove explicit BackpackDataCollector dependency in SimProcess
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs
