Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

adjust to upstream-changed method names and method signatures
  code-examples/src/main/java/org/matsim/codeexamples/extensions/electricVehicles/RunEvExampleWithOwnConsumptionModel.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/emissions/RunAverageEmissionToolOfflineExample.java
Due: none

chore(drt): Parallel update schedule timings (#4139)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DrtRoutingDriveTaskUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/AbstractRoutingDriveTaskUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ThreadLocalLeastCostPathCalculatorProvider.java
Due: contribs

update aws
  contribs/aws/pom.xml
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsConfig.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsS3OutputSync.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsStartupHook.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsS3OutputSyncTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamExceptionTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamTest.java
Due: contribs

configurable region
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsS3OutputSync.java
Due: contribs

refactor(aws): add static guard around registering S3UrlHandler
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsStartupHook.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamTest.java
Due: contribs

feat(aws): add AWS S3 shutdown sync (#4146)
  contribs/aws/pom.xml
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsConfig.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsS3OutputSync.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsStartupHook.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsS3OutputSyncTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamExceptionTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamTest.java
Due: contribs

fix IOUtilsTest on Windows after PR4117
  matsim/src/test/java/org/matsim/core/utils/io/IOUtilsTest.java
Due: core

fix IOUtilsTest on Windows after PR4117 (#4147)
  matsim/src/test/java/org/matsim/core/utils/io/IOUtilsTest.java
Due: core

Revert "minor improvements"
  contribs/application/src/main/java/org/matsim/application/avro/XYTData.java
Due: contribs

feat: Add a new constructor for LanduseOptions (#4119)
  matsim/src/main/java/org/matsim/application/options/LanduseOptions.java
Due: core

contrib(profiling): add JfrEventUtils - to expose getEventName
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventUtils.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
Due: contribs

feat: writing route cost as part of DefaultTransitPassengerRoute
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
Due: core

set correct group id for aws contrib
  contribs/aws/pom.xml
Due: contribs

set correct group id for aws contrib (#4152)
  contribs/aws/pom.xml
Due: contribs

feat(core): Support attribute changes in NetworkChangeEvents (#4140)
  matsim/src/main/java/org/matsim/core/network/NetworkChangeEvent.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkChangeEventsParser.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkChangeEventsWriter.java
  matsim/src/main/resources/dtd/networkChangeEvents.xsd
  matsim/src/test/java/org/matsim/core/network/NetworkChangeEventsParserWriterTest.java
  matsim/test/input/org/matsim/core/network/NetworkChangeEventsParserWriterTest/testParseNetworkChangeEventsWithAttributes/testNetworkChangeEventsWithAttributes.xml
Due: core

use test specific output paths to avoid turbulences when running tests on Windows
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
Due: contribs

fix: Fix Windows test failures (#4154)
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
Due: contribs

set jspritIterations for Carriers. increase MATSim iterations for a first run.
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

hand through the number of jsprit iterations to the aux carriers. Add a warnung, that the main runCarrier does NOT do any tour planning.
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/MainRunCarrierScheduler.java
Due: contribs

Allow to manuelly start the weekly build workflow
  .github/workflows/deploy-weekly.yaml
Due: none

Allow to manuelly start the weekly build workflow (#4156)
  .github/workflows/deploy-weekly.yaml
Due: none

prepare scenario and engine for change events
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimEngine.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/AbstractIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimChangeEventsTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/events_speedAdjustment.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/events_trackClosure.xml
Due: contribs

first try with cmdLine arguments. Needs to be implemented further for the other options including a run class.
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

implement network speed changes, added test data to existing scenarios
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimCalc.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailLink.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/AbstractIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimChangeEventsTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/events_speedAdjustment.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/events_trackClosure.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microTrainFollowingFixedVsMovingBlock/events_speedAdjustment.xml
Due: contribs

add api for capacity changes on resources
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/FixedBlockResource.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/MovingBlockResource.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceInternal.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
Due: contribs

streamline drt constraints
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/ConfigurableCostCalculatorStrategy.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/PromisedTimeWindowOfferAcceptor.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtOptimizer.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatIalRequestFleetFilterTest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtRequestInsertionRetryQueue.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtRouteConstraints.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/MaxDetourInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/AcceptedDrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DefaultOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtRequestCreator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/PromisedPickupTimeWindowDrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DefaultDrtRouteConstraintsCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtRoute.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/DrtRequestInsertionRetryQueueTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategyTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorWithChangingCapacitiesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

update tests
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategyTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
Due: contribs

more towards RunScript
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

fix(simwrapper): add missing "mapIsIndependent" map config and drt vehicles plugin definitions (#4089)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/AggregateOD.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/GridMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Hexagons.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Links.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/MapPlot.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/XYTime.java
Due: contribs

Initial version of parallel request inserter (#4102)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/MultiQSimScopeForkJoinPoolHolder.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/QsimScopeForkJoinPool.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DrtInsertionSearchManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculatorManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelRequestInserterModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/RequestData.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/LoadAwareRoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/PartitionScalingFunction.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/ReplicatingVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/RoundRobinVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/ShiftingRoundRobinVehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/vehicles/VehicleEntryPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/RequestDataComparators.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculatorManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

feat: Restructure bicycle contrib (#3857)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutilityFactory.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleUtilityUtilsTest.java
Due: contribs

fix(NetworkRoutingInclAccessEgressModule): walk on network (#3952)
  matsim/src/main/java/org/matsim/core/router/LinkWrapperFacility.java
  matsim/src/main/java/org/matsim/core/router/LinkWrapperFacilityI.java
  matsim/src/main/java/org/matsim/core/router/LinkWrapperFacilityWithSpecificCoord.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

refactor: scoring maintenance (#4101)
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/PlansConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

refactor: lsp maintenance (#4106)
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LogisticChain.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/MyLSPScorer.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanning.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_experienced_plans.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleTwoEchelonChainsReplanningTest/testMain/output_plans.xml.gz
Due: contribs

chore(drt): Reduce memory consumption of AdaptiveTravelTimeMatrixImpl (#4104)
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/SparseTravelTimeCacheTest.java
Due: contribs

feat(SimwrapperCountsDashboard): Add sqv values for counts and little adjustments (#4098)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/CountComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
Due: contribs

refactor: reduce public footprint, reorganize packages (#4091)
  contribs/application/src/main/java/org/matsim/application/prepare/freight/dataProcessing/GenerateLookupTable.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/dataProcessing/GermanNutsTransformation.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/dataProcessing/ReadFreightNetwork.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/optimization/DetermineAverageTruckLoad.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/optimization/PrepareCountingData.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultDepartureTimeCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultLocationCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultNumberOfTripsCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/FreightAgentGenerator.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/GenerateFreightPlans.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/TripRelation.java
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
  contribs/application/src/test/java/org/matsim/application/MATSimApplicationTest.java
  contribs/application/src/test/java/org/matsim/freightDemandGeneration/FreightDemandGenerationUtilsTest.java
  contribs/application/test/input/org/matsim/freightDemandGeneration/testCarrierCSV.csv
  contribs/application/test/input/org/matsim/freightDemandGeneration/testDemandCSV.csv
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/CarrierReaderFromCSV.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/CommercialDemandGenerationUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DefaultDemandGenerationSpecification.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandGenerationSpecification.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandGenerationSpecificationForParcelDelivery.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandReaderFromCSV.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationUtilsTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/CarrierReaderFromCSVTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/DemandReaderFromCSVTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/DHL_vehicleTypes.xml
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testCarrierCSV.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testCarrierCSV_parcels.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testDemandCSV.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testDemandCSV_parcels.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testPopulation.xml
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.dbf
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.prj
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.shp
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testShape/testShape.shx
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/testVehicleTypes.xml
Due: contribs

fix(drt): Handle negative departure time corner case (#4097)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/DetourTimeEstimatorWithAdaptiveTravelTimes.java
Due: contribs

feat: remove bicycleConfig:maxSpeedForRouting parameter. Replaced by vehicles with speeds (#4093)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testCobblestone/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testCobblestone/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradient/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradient/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradientLane/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradientLane/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLane/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLane/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkBasedScoring/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkBasedScoring/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testPedestrian/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testPedestrian/output_plans.xml.gz
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
