Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

make spliting of shipments get called. Needs to check why there is a RTE later.
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

changed to new test syntax
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

improve ring scenario network and schedule
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/ring/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/ring/transitSchedule.xml
Due: contribs

added helper to test that only 1 vehicle is on a specific link
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

added more tests
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

no RTE anymore. Add a todo
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/SimpleForwardLogisticChainScheduler.java
Due: contribs

wording and spelling
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierPlanAnalysis.java
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Services/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Shipments/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats_unPlanned.tsv
Due: contribs

added more tests; cleanup
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

implemented handling of circulation (umlauf), improved shuttle scenario with proper bi-directional structure
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainInfo.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/UpdateEvent.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/shuttle/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/shuttle/transitSchedule.xml
Due: contribs

refactor(carrierAnalysis): Simplifing columns (#4120)
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierPlanAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/controller/CarrierModule.java
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Services/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Shipments/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats_unPlanned.tsv
Due: contribs

fix for trains without pt driver
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
Due: contribs

closed some todos in the tests
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/mesoStationCapacityTwo/trainNetwork.xml
Due: contribs

implemented train reversal on opposite links, improved circulation and updated tests
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/config/RailsimConfigGroup.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/UpdateEvent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailLink.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResult.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/StopTimeData.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTestUtils.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/shuttle/transitVehicles.xml
Due: contribs

rename abstract class ControlerEvent to ControllerEvent
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControlerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/events/AbstractIterationEvent.java
  matsim/src/main/java/org/matsim/core/controler/events/ControllerEvent.java
  matsim/src/main/java/org/matsim/core/controler/events/ShutdownEvent.java
  matsim/src/main/java/org/matsim/core/controler/events/StartupEvent.java
  matsim/src/main/java/org/matsim/counts/CountsControllerListener.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModuleTest.java
  matsim/src/test/java/org/matsim/core/controler/ControlerEventsTestListener.java
  matsim/src/test/java/org/matsim/core/controler/ControllerEventsTest.java
  matsim/src/test/java/org/matsim/core/controler/ControllerListenerManagerImplTest.java
Due: core

rename ControlerListenerManagerImpl to ControllerListenerManagerImpl
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/NewControler.java
  matsim/src/main/java/org/matsim/core/controler/NewControlerModule.java
  matsim/src/main/java/org/matsim/core/controler/ReplayEvents.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToScore.java
  matsim/src/test/java/org/matsim/analysis/IterationTravelStatsControllerListenerTest.java
  matsim/src/test/java/org/matsim/core/controler/ControllerEventsTest.java
  matsim/src/test/java/org/matsim/core/controler/ControllerListenerManagerImplTest.java
  matsim/src/test/java/org/matsim/core/controler/corelisteners/ListenersInjectionTest.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringFunctionsForPopulationStressIT.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringFunctionsForPopulationTest.java
Due: core

rename more classes and variables to use controller with 2 'l'
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/DecongestionControlerListener.java
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingControllerListener.java
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingModule.java
  matsim/src/main/java/org/matsim/analysis/LinkStatsControllerListener.java
  matsim/src/main/java/org/matsim/analysis/LinkStatsModule.java
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/NewControler.java
  matsim/src/main/java/org/matsim/core/controler/listener/ControllerListener.java
  matsim/src/main/java/org/matsim/guice/MatsimGrapher.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModuleTest.java
  matsim/src/test/java/org/matsim/analysis/LinkStatsControllerListenerTest.java
  matsim/src/test/java/org/matsim/analysis/ScoreStatsControlerListenerTest.java
  matsim/src/test/java/org/matsim/analysis/TransportPlanningMainModeIdentifierTest.java
  matsim/src/test/java/org/matsim/core/controler/ControllerListenerManagerImplTest.java
  matsim/src/test/java/org/matsim/core/controler/OverrideCarTraveltimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/PassingTest.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringFunctionsForPopulationStressIT.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringFunctionsForPopulationTest.java
Due: core, contribs

rename ControllerListenerManageImpl.fireControler*Event to .fireController*Event
  matsim/src/main/java/org/matsim/core/controler/AbstractController.java
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/controler/ReplayEvents.java
  matsim/src/main/java/org/matsim/core/controler/listener/ControlerListener.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToScore.java
  matsim/src/main/java/org/matsim/withinday/controller/WithinDayControlerListener.java
  matsim/src/test/java/org/matsim/core/controler/ControllerListenerManagerImplTest.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringFunctionsForPopulationStressIT.java
  matsim/src/test/java/org/matsim/core/scoring/ScoringFunctionsForPopulationTest.java
Due: core

rename test input
  matsim/test/input/org/matsim/core/controler/ControllerEventsTest/config.xml
Due: core

rename more classes to ControllerListener with 2 'L'
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/DecongestionAnalysisModule.java
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/DecongestionControllerListener.java
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/DecongestionModule.java
  contribs/decongestion/src/test/java/org/matsim/contrib/decongestion/DecongestionPricingTestIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/sharingmetrics/SharingMetricsControllerListener.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/sharingmetrics/SharingMetricsModule.java
  matsim/src/main/java/org/matsim/analysis/ModeChoiceCoverageControllerListener.java
  matsim/src/main/java/org/matsim/analysis/ModeStatsControllerListener.java
  matsim/src/main/java/org/matsim/analysis/ModeStatsModule.java
  matsim/src/main/java/org/matsim/analysis/linkpaxvolumes/LinkPaxVolumesAnalysisModule.java
  matsim/src/main/java/org/matsim/analysis/linkpaxvolumes/LinkPaxVolumesControllerListener.java
  matsim/src/main/java/org/matsim/analysis/personMoney/PersonMoneyEventsAnalysisControllerListener.java
  matsim/src/main/java/org/matsim/analysis/personMoney/PersonMoneyEventsAnalysisModule.java
  matsim/src/main/java/org/matsim/analysis/pt/stop2stop/PtStop2StopAnalysisControlerListener.java
  matsim/src/main/java/org/matsim/core/router/AnalysisMainModeIdentifier.java
  matsim/src/test/java/org/matsim/analysis/ModeStatsControllerListenerTest.java
  matsim/src/test/java/org/matsim/modules/ScoreStatsModuleTest.java
Due: core, contribs

Fix: Ensure individual InsertionProvider instances
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearchQSimModule.java
Due: contribs

Switch to ArrayDeque within RequestInsertWorker
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
Due: contribs

fix: Ensure individual InsertionProvider instances for ParallelUnplannedRequestInserter (#4126)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearchQSimModule.java
Due: contribs

feat(aws): Add AWS contrib (#4117)
  contribs/aws/pom.xml
  contribs/aws/src/main/java/org/matsim/contrib/aws/AWSStartupHook.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsS3Util.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AWSStreamExceptionTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AWSStreamTest.java
  contribs/pom.xml
  matsim/src/main/java/org/matsim/core/utils/io/IOUtils.java
Due: core, contribs

created new interfaces and unit tests for speed profiles
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimModule.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainPosition.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/AdaptiveSpeedProfile.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/MaxSpeedProfile.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/PlannedArrival.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/SimpleDisposition.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/SpeedProfile.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimDeadlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineMovingBlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/AdaptiveSpeedProfileTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/SpeedProfileArrivalTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
Due: core, contribs

implemented use of adaptive speed in the engine, make speed profile configurable, add test scenario
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/config/RailsimConfigGroup.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimCalc.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimModule.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/AdaptiveSpeedProfile.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimSpeedProfilesTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/transitVehicles.xml
Due: contribs

extend network change events dtd
  matsim/src/main/resources/dtd/networkChangeEvents.xsd
Due: core

update tests
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimDeadlockTest.java
Due: contribs

difference dashboard created when one adds a base path to simwrapper config.
  contribs/application/src/main/java/org/matsim/application/analysis/difference/DifferenceAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/DifferenceDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/TestScenario.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
Due: contribs

Get rid of an additional key object
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/SparseTravelTimeCacheTest.java
Due: contribs

Get rid of an additional key object (#4138)
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/SparseTravelTimeCacheTest.java
Due: contribs

chore(drt): Parallel update schedule timings
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
Due: contribs

network change events for arbitrary attributes
  matsim/src/main/java/org/matsim/core/network/NetworkChangeEvent.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkChangeEventsParser.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkChangeEventsWriter.java
  matsim/src/main/resources/dtd/networkChangeEvents.xsd
  matsim/src/test/java/org/matsim/core/network/NetworkChangeEventsParserWriterTest.java
  matsim/test/input/org/matsim/core/network/NetworkChangeEventsParserWriterTest/testParseNetworkChangeEventsWithAttributes/testNetworkChangeEventsWithAttributes.xml
Due: core

all Dashboards now have a getter and setter to check if base path is defined. If so, then certain plots will be implemented to show the differences between the cases.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Dashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ActivityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/DifferenceDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/NoiseDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ODTripDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/OverviewDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PopulationAttributeDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/StuckAgentDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TravelTimeComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
Due: contribs

fix(drt): Add threadLocal provider to ensure thread safe parallel timing updates
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DrtRoutingDriveTaskUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/AbstractRoutingDriveTaskUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ThreadLocalLeastCostPathCalculatorProvider.java
Due: contribs

fix(drt): Ensure timing updates are finished
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
Due: contribs

change in guice-without-matsim examples
  code-examples/src/main/java/org/matsim/codeexamples/guicewithoutmatsim/ccMapBinder/MapBinderWithStringExample.java
Due: none

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
