Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

fix label for samples and extract class to PopulationUtils for usage at other places
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core, contribs

add description to getSampleLabel method
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

use sample label method for small-scale commercial traffic generation
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_startPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_stopPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_startPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_stopPerZone_10pct.csv
Due: contribs

fix sample calculation
  matsim/src/main/java/org/matsim/application/options/SampleOptions.java
Due: core

rename method
  matsim/src/main/java/org/matsim/application/options/SampleOptions.java
Due: core

use sample label method and add test for default sample calculation
  matsim/src/main/java/org/matsim/application/options/SampleOptions.java
  matsim/src/test/java/org/matsim/application/options/SampleOptionsTest.java
Due: core

fix: Standardize sample percentage labels (#5193)
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_startPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_stopPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_startPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_stopPerZone_10pct.csv
  matsim/src/main/java/org/matsim/application/options/SampleOptions.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/test/java/org/matsim/application/options/SampleOptionsTest.java
Due: core, contribs

compare ids if timeResult is equal, not if it differs
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core

compare ids if timeResult is equal, not if it differs (#5201)
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core

add U0
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

Fix Windows line endings in pseudosimulation test
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveConfigPreparerTest.java
Due: contribs

Enhance CONTRIBUTING.md with testing and commit guidelines
  CONTRIBUTING.md
Due: none

Fix Windows line endings in pseudosimulation test (#5202)
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveConfigPreparerTest.java
Due: contribs

Enhance CONTRIBUTING.md with testing and commit guidelines (#5203)
  CONTRIBUTING.md
Due: none

First draft score stay-at-home agents
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackActivity.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

add performing utils to commercial activity scoring
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivitiesTest.java
Due: contribs

feat(scoring): Use vehicle time costs for commercial activity scoring (#5141)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivitiesTest.java
Due: contribs

First draft score stay-at-home agents
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyAgentInsertion.java
Due: core

Backpacks are passed to finishedBackpackCollector once afterMobsim
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
Due: core, contribs

improve method description and error message
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
Due: core

fix(DSim): Score agents that do not produce events (#5206)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NotifyAgentInsertion.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackActivity.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

fix(drt): improve SpatialRequestFleetFilter concurrency and reduce allocations (#5012)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatialRequestFleetFilter.java
Due: contribs

feat(router): reduce memory for static CH routing (#5001)
  matsim/src/main/java/org/matsim/core/router/speedy/CHBuilder.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHGraph.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHTTFCustomizer.java
  matsim/src/main/java/org/matsim/core/router/speedy/StaticCHRouterFactory.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
  matsim/src/test/java/org/matsim/core/router/speedy/StaticCHRouterFactoryTest.java
Due: core

fix(drt): unify name pattern for output stops file and ... (#5011)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/dashboards/DashboardTests.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/util/DumpDrtStopsAtEnd.java
Due: contribs

fix(EV): avoid generating events "in the future" in aftermobsim (#5023)
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/discharging/DriveDischargingHandlerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_events.xml.gz
  contribs/vsp/test/input/playground/vsp/ev/UrbanEVIT/run/output_events.xml.gz
Due: contribs

refactor(VehicleTeleportationDepartureEvent): remove HasPersonId implementation and update attributes (#4970)
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
Due: core

feat: parsing cycleway tags with side attributes in OsmBicycleReader (#4999)
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmBicycleReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmTags.java
Due: contribs

feat(emissions): add hbefa 4.1 scenario consistency checker (#5032)
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/EmissionModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/scenarioCheckers/Hbefa41ScenarioChecker.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/Hbefa41ScenarioCheckerTest.java
Due: contribs

Wrap controler creation into method so deriving classes can override it and create their own controler. (#5014)
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

Update BicycleParamsDefaultImpl.java -- infrastructure factor for highway cycleway (#4996)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
Due: contribs

feat(scoringVSP): Introduce vehicle type based scoring for Commercial Agents (#5048)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/SubpopulationDelegatingScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringUtils.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

fix(smallScaleComercial): Changes for kwm (#5024)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

fix(dsim): Avoid undefined state of shared files for SharedMemoryCommunicator (#5019)
  contribs/distributed-simulation/src/main/java/org/matsim/core/communication/SharedMemoryCommunicator.java
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunMessagingBenchmark.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/SharedMemoryCommunicatorTest.java
Due: contribs

feat(ScenarioChecker): add activity-facility-consistency-check (#4869)
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/test/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImplTest.java
Due: core

add setVehicles method to MutableScenario (#5034)
  matsim/src/main/java/org/matsim/core/scenario/MutableScenario.java
Due: core

comments and log statements (#5033)
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/TasteVariationsConfigParameterSet.java
Due: core

feat: add transfer wait time skim (#5043)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/CalculateSkimMatrices.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
Due: contribs

improve activity locations and cut at boundary links (#5025)
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

fix(Config): validation of countsScaleFactor in globalConfigGroup (#5016)
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core, contribs

feat(common): bring your own random in WeightedRandomSelection (#5018)
  contribs/common/src/main/java/org/matsim/contrib/common/util/WeightedRandomSelection.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
