Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

comments
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

comments
  matsim/src/main/java/org/matsim/core/population/InteractionActivity.java
Due: core

comments
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
Due: contribs

improved deadlock avoidance to better detect non conflicting resources
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/DeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/NoDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/router/TrainRouter.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimDeadlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineMovingBlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidanceTest.java
Due: contribs

fix: ChargingInfrastructureSpecification
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/ChargingInfrastructureModule.java
Due: contribs

fix: ChargingInfrastructureSpecification (#4498)
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/ChargingInfrastructureModule.java
Due: contribs

fix(deps): use one property for io.grpc:grpc-* dependencies
  contribs/hybridsim/pom.xml
Due: contribs

coding a GenerateExperiencedPlansWithVTTS class. Also related material left and right.
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTS.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MarginalSumScoringFunction.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/RunVTTSAnalysis.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandlerDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandlerKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTScomputation.java
  contribs/vsp/src/main/java/org/matsim/utils/tablesaw/TablesawUtils.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/HeadersKN.java
  contribs/vsp/src/main/java/playground/vsp/scoring/IncomeDependentUtilityOfMoneyPersonScoringParameters.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/RunVTTSAnalysisTest.java
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
  contribs/vsp/test/input/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest/testMain/test.output_config.xml
  contribs/vsp/test/input/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest/testMain/test.output_events.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest/testMain/test.output_network.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest/testMain/test.output_plans.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest/testMain/test.output_transitSchedule.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest/testMain/test.reference_experienced_plans.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/RunVTTSAnalysisTest/testMain/test.output_config.xml
  contribs/vsp/test/input/org/matsim/application/analysis/population/RunVTTSAnalysisTest/testMain/test.output_events.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/RunVTTSAnalysisTest/testMain/test.output_network.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/RunVTTSAnalysisTest/testMain/test.output_plans.xml.gz
  contribs/vsp/test/input/org/matsim/application/analysis/population/RunVTTSAnalysisTest/testMain/test.output_transitSchedule.xml.gz
  matsim/src/main/java/org/matsim/core/config/groups/PlansConfigGroup.java
  matsim/src/main/java/org/matsim/core/controler/corelisteners/PlansScoring.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansService.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceFactory.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
  matsim/src/main/java/org/matsim/core/scoring/PlansScoringImpl.java
Due: core, contribs

towards a first design idea. at this point, it looks easier than maybe expected
  contribs/vsp/src/main/java/playground/vsp/scoring/PersonSpecificScoringParameters.java
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.44.1 to 1.44.7
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump grpc.version from 1.76.0 to 1.77.0
  contribs/hybridsim/pom.xml
Due: contribs

build(deps): bump javafx.version from 23.0.2 to 25.0.1
  contribs/vsp/pom.xml
Due: contribs

fix(deps): use one property for io.grpc:grpc-* dependencies (#4499)
  contribs/hybridsim/pom.xml
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.44.1 to 1.44.7 (#4501)
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump javafx.version from 23.0.2 to 25.0.1 (#4503)
  contribs/vsp/pom.xml
Due: contribs

add pickup duration to accepted drt request
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/AcceptedDrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DefaultOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/PromisedPickupTimeWindowDrtOfferAcceptor.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

a combined method GenerateExperiencedPlansWithVTTS, but also (better!) piecewise methods
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddPersonAttribsToExperiencedPlans.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandlerKN.java
  contribs/vsp/src/main/java/playground/vsp/scoring/IncomeDependentUtilityOfMoneyPersonScoringParameters.java
  matsim/src/main/java/org/matsim/core/population/PersonUtils.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core, contribs

removing some classes. Unfortunately, the tests that I had written refer to those classes and not to those that now survive. :-(
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTS.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/RunVTTSAnalysis.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandlerDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTScomputation.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core, contribs

update drt extension
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/PromisedTimeWindowOfferAcceptor.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtOptimizer.java
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.44.7 to 1.45.2
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.44.7 to 1.46.9
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.44.7 to 1.46.9 (#4507)
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.44.7 to 1.47.7
  contribs/distributed-simulation/pom.xml
Due: contribs

fix(distributes-simulation): add JVM options required for Agrona 2.0.0 to tests
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.47.7 to 1.48.10
  contribs/distributed-simulation/pom.xml
Due: contribs

build(deps): bump io.aeron:aeron-all from 1.48.10 to 1.49.1
  contribs/distributed-simulation/pom.xml
Due: contribs

doc(distributed-simulation): add JVM options required for Agrona 2.0.0 to readme
  contribs/distributed-simulation/README.md
Due: contribs

feat(railsim): Time-distance diagram and projected delay (#4465)
  contribs/railsim/docs/time-distance-chart.md
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/analysis/RailsimCsvWriter.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/eventmappers/RailsimTrainStateEventMapper.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/events/NoopEventsManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/events/RailsimTrainStateEvent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimDriverAgentFactory.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimModule.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgentImpl.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleRailsimAgent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TimeDistanceData.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainPosition.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/AlwaysApprovingDisposition.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/SpeedProfile.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/NoopResourceManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceInternal.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManagerImpl.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimSpeedProfilesTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResult.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimDeadlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineMovingBlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTestUtils.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandlerTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionCrossLarge/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microSimpleBiDirectionalTrack/config.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microTrainFollowingVaryingSpeed/config.xml
Due: contribs

Refactor memory segment allocations in Metis.java which got broken when switching from preview to java 25.
  matsim/src/main/java/edu/metis/Metis.java
Due: core

Refactor memory segment allocations in Metis.java which got broken when switching from preview to java 25. (#4511)
  matsim/src/main/java/edu/metis/Metis.java
Due: core

add typed getter for different PtFareParams types (#4167)
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/fare/PtFareConfigGroup.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/fare/PtFareModule.java
Due: contribs

Use ConcurrentHashMap in `SubpopulationScoringParameters`, as it is accessed concurrently.
  matsim/src/main/java/org/matsim/core/scoring/functions/SubpopulationScoringParameters.java
Due: core

Use placeholder instead of `null` for default subpopulation key
  matsim/src/main/java/org/matsim/core/scoring/functions/SubpopulationScoringParameters.java
Due: core

fix(core): Mitigate race condition in SubpopulationScoringParameters (#4513)
  matsim/src/main/java/org/matsim/core/scoring/functions/SubpopulationScoringParameters.java
Due: core

reduce the number of written deadlock state events
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

merge main
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManagerImpl.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandlerTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidanceTest.java
Due: contribs

feat(railsim): Improve Deadlock Avoidance and its output (#4516)
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/analysis/RailsimCsvWriter.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/eventmappers/RailsimLinkStateChangeEventMapper.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/events/RailsimLinkStateChangeEvent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/DeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/NoDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManagerImpl.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/router/TrainRouter.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimDeadlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineMovingBlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandlerTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidanceTest.java
Due: contribs
