Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

feat(freigh): Add usable range for range constraint freight (#4998)
  contribs/freight/src/main/java/org/matsim/freight/carriers/FreightCarriersConfigGroup.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/DistanceConstraint.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCosts.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/FreightCarriersConfigGroupTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/DistanceConstraintTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCostsTest.java
Due: contribs

feat(router): add time-dependence configuration to CHGraph
  matsim/src/main/java/org/matsim/core/router/speedy/CHBuilder.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHGraph.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHTTFCustomizer.java
Due: core

feat(router): enhance CHLeastCostPathTree for static graph support and add corresponding tests
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
Due: core

feat(router): add StaticCHRouterFactory for time independent routing
  matsim/src/main/java/org/matsim/core/router/speedy/StaticCHRouterFactory.java
  matsim/src/test/java/org/matsim/core/router/speedy/StaticCHRouterFactoryTest.java
Due: core

running into huge file size issues - returning to original link-traversal structure, but comitting this for records.
  contribs/simwrapper/dependency-reduced-pom.xml
  contribs/simwrapper/pom.xml
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/AgentTable.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventHandler.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventListener.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventsModule.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/SelectLinkAnalysis.java
  matsim/pom.xml
  pom.xml
Due: core, contribs

Changed plots from m/s to km/s
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Updated network_cRoute with new freespeed and better roadTypes
  contribs/emissions/test/input/org/matsim/contrib/emissions/PretoriaTest/network_routeC_final.xml
Due: contribs

Adjusted path
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

test(application): rewrite SplitActivityTypesDuration test as data-driven cases
  contribs/application/src/test/java/org/matsim/application/prepare/population/SplitActivityTypesDurationTest.java
Due: contribs

remove safeguard exception
  contribs/application/src/main/java/org/matsim/application/prepare/population/SplitActivityTypesDuration.java
Due: contribs

fix(drt): beautify DrtDashboard
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
Due: contribs

fix(drt): beautify DrtDashboard (#5005)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
Due: contribs

Changed plot metric to g/m and km/h
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Moved error diagrams into a mdoular function and into paper.R
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Improved x-/ylabs
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

remove the freespeed traveltime fallback binding and see what happens
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculatorModule.java
Due: core

add a warning for those cases where previously FreeSpeedTravelTime was bound
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculatorModule.java
Due: core

maintenance: remove the freespeed traveltime fallback binding (#5007)
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculatorModule.java
Due: core

feat(aws): replace URLStreamHandlerFactory with SPI-based S3 handler
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsStartupHook.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/S3URLStreamHandlerProvider.java
  contribs/aws/src/main/resources/META-INF/services/java.net.spi.URLStreamHandlerProvider
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamExceptionTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/S3SpiDiscoveryTest.java
Due: contribs

feat(vsp): use SubpopulationDefaultNames for subpopulation attributes (#5000)
  contribs/application/pom.xml
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
  contribs/common/src/main/java/org/matsim/contrib/common/conventions/vsp/SubpopulationDefaultNames.java
  contribs/perceived-safety/pom.xml
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SubpopulationDefaultNames.java
Due: contribs

feat(aws): replace URLStreamHandlerFactory with SPI-based S3 handler (#5008)
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsStartupHook.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/S3URLStreamHandlerProvider.java
  contribs/aws/src/main/resources/META-INF/services/java.net.spi.URLStreamHandlerProvider
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamExceptionTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/S3SpiDiscoveryTest.java
Due: contribs

fix(drt): clarify reference/column name in od.csv (DrtAnalysisPostProcessing)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
Due: contribs

fix(drt): clarify reference/column name in od.csv (DrtAnalysisPostProcessing) (#5009)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
Due: contribs

Fixed normalized plots and added plots with new bin classifications
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

feat(router): reduce memory for static CH routing (#5001)
  matsim/src/main/java/org/matsim/core/router/speedy/CHBuilder.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHGraph.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHTTFCustomizer.java
  matsim/src/main/java/org/matsim/core/router/speedy/StaticCHRouterFactory.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
  matsim/src/test/java/org/matsim/core/router/speedy/StaticCHRouterFactoryTest.java
Due: core

fix(drt): unify name pattern for stops file and read drt stops from output instead of from input when creating SimWrapper dashboard
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/util/DumpDrtStopsAtEnd.java
Due: contribs

correct process argument value
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
Due: contribs

speed up drt-extensions/DashboardTests
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/dashboards/DashboardTests.java
Due: contribs

fix(drt): unify name pattern for output stops file and ... (#5011)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/dashboards/DashboardTests.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/util/DumpDrtStopsAtEnd.java
Due: contribs

fix(drt): improve SpatialRequestFleetFilter concurrency and reduce allocations
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatialRequestFleetFilter.java
Due: contribs

fix(drt): improve SpatialRequestFleetFilter concurrency and reduce allocations (#5012)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatialRequestFleetFilter.java
Due: contribs

split in different methods
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/CornerCases.java
Due: contribs

Wrap controler creation into method so deriving classes can override it and create their own controler.
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

Wrap controler creation into method so deriving classes can override it and create their own controler. (#5014)
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

fix validation of countsScaleFactor
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

feat(writer): implement FastBufferedWriter for improved serialization performance
  matsim/src/main/java/org/matsim/core/utils/io/AbstractMatsimWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/FastBufferedWriter.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterBenchmark.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterTest.java
Due: core

Refactor population and counts writer interfaces to use `Writer` instead of `BufferedWriter`
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandler.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandler.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/population/io/AbstractPopulationWriterHandler.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationWriterHandlerV6.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandler.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV0.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV4.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV5.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV6.java
  matsim/src/main/java/org/matsim/core/population/io/StreamingPopulationWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/AbstractMatsimWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/FastBufferedWriter.java
  matsim/src/main/java/org/matsim/counts/CountsWriterHandler.java
  matsim/src/main/java/org/matsim/counts/CountsWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesWriterV1.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesWriterV2.java
  matsim/src/main/java/org/matsim/matrices/MatricesWriterHandler.java
  matsim/src/main/java/org/matsim/matrices/MatricesWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/utils/objectattributes/attributable/AttributesXmlWriterDelegate.java
  matsim/src/main/java/org/matsim/vehicles/VehicleWriterV2.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterTest.java
Due: core

feat(writer): refactor openFile method to streamline file opening with optional gzip compression
  matsim/src/main/java/org/matsim/core/utils/io/AbstractMatsimWriter.java
Due: core

feat(core): add ScenarioFileFormat SPI for alternative file formats
  matsim/src/main/java/org/matsim/core/scenario/ScenarioFileFormat.java
  matsim/src/main/java/org/matsim/core/scenario/ScenarioFileFormatRegistry.java
  matsim/src/main/java/org/matsim/core/scenario/ScenarioLoaderImpl.java
  matsim/src/test/java/org/matsim/core/scenario/DummyScenarioFileFormat.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioFileFormatSpiTest.java
  matsim/src/test/resources/META-INF/services/org.matsim.core.scenario.ScenarioFileFormat
Due: core

feat(common): bring your own random in WeightedRandomSelection
  contribs/common/src/main/java/org/matsim/contrib/common/util/WeightedRandomSelection.java
Due: contribs
