Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

Try to only run the test case which we think hangs
  .github/workflows/test-integration.yaml.yml
  contribs/distributed-simulation/pom.xml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
Due: contribs

fix prebookin queue bug (#4703)
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/logic/helpers/PrebookingQueue.java
Due: contribs

shorter fail time
  .github/workflows/test-integration.yaml
Due: none

Enable all tests in distributed-simulation for test integration.
  .github/workflows/test-integration.yaml
Due: none

reduce volume of the traffic for the test
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysisTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_startPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_stopPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_startPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_stopPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/dataDistributionPerZone.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/investigationAreaData.csv
Due: contribs

fix writer
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
Due: contribs

change area detection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/commercialFacilities.xml.gz
Due: contribs

Reduce logging, so that the test can run through
  contribs/distributed-simulation/pom.xml
Due: contribs

Reverse changes introduced for debugging
  .github/workflows/full-integration.yaml
  .github/workflows/test-integration.yaml
  contribs/distributed-simulation/pom.xml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

add some comments
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

Remove timeout on DSimIntegratino test. The windows integration on github needs a long time to compute this test apparently.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
Due: contribs

add cases to AgentWiseComparisonKN
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

change a Double.MAX_VALUE, which was meant as a small epsilon, to Double.MIN_VALUE, which is what it should have been
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

move the eps over to the setter so that also calling the local variable is affected
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

remove some newly inserted assert-notnull statements since the code in the past was able to have nulls in those plases
  matsim/src/main/java/org/matsim/core/population/routes/AbstractRoute.java
Due: core

feat(osm): merge links sequentially into network in SupersonicOsmNetworkReader
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/SupersonicOsmNetworkReader.java
Due: contribs

Try the windows build again
  .github/workflows/test-integration.yaml
Due: none

change facility map
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

rename eventHandler
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialTrafficAnalysisEventHandler.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

reorder runJsprit
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

change default parameters
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

set boundery links to "into area"
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

fix(longHaulFreight): Fix cases with activity on boundery links (#4708)
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

Poke around to register DistributedPtEngine as active qsim component.
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtModule.java
Due: core, contribs

bug fix: utils/hour to utils/second conversion added
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
Due: contribs

add missing conversion from utils/hour to utils/second
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
Due: contribs

fix: fix whitespace
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/SupersonicOsmNetworkReader.java
Due: contribs

add carrierFilename as possible args
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

update naming
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
Due: contribs

rename configArgs
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Don't run distributed tests on the windows ci build
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DisabledOnGitHubWindowsCI.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
Due: contribs

restructure
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

append a file if it already exists
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

add test person with no subpopulation set to PersonScoringParametersFromPersonAttributesTest, delete separate test class
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesNoSubpopulationTest.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
Due: contribs

add modes also to Overview dashboard and show modes in description
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/OverviewDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

fix(vsp): PersonScoringParametersFromPersonAttributes utils/hour to utils/second conversion added (#4711)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesNoSubpopulationTest.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
Due: contribs

fix other person specific asc test
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesNoSubpopulationTest.java
Due: contribs

refactor: add DRT scalability benchmark configuration and implementation
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/DrtBenchmarkConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/README.md
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/RunScalabilityBenchmark.java
  contribs/drt-extensions/src/main/resources/benchmark-config.xml
Due: contribs

fix(vsp): PersonScoringParametersFromPersonAttributes utils/hour to utils/second conversion added (#4712)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesNoSubpopulationTest.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
Due: contribs
