Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

filter out activityDelayDisutility
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

changes during applying AgentWiseComparisonKN to the wrap-around experiments
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  matsim/src/main/java/org/matsim/core/config/groups/ControllerConfigGroup.java
Due: core, contribs

repair the scale factor error message in the SimWrapperConfigGroup. Also repair the tests in drt-extensions since they are setting the wrong SimWrapper scale factor
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/DrtTestScenario.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/dashboards/DashboardTests.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
Due: contribs

the tests that failed in the CI are passing locally. Partially because of changes on my side, partially just like that. --?
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/RunVTTSAnalysisTest.java
Due: contribs

Try a different environment variable to detect ci environment
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DisabledOnGitHubWindowsCI.java
Due: contribs

rename parameter
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Aaaand, another test fails...
  .github/workflows/full-integration.yaml
  .github/workflows/test-integration.yaml
Due: none

Aaaand, another test fails...
  .github/workflows/test-integration.yaml
Due: none

Aaaand, another test fails..., messed up a comma in the configuration
  .github/workflows/test-integration.yaml
Due: none

update files for the kwm loop
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
Due: contribs

changes around AgentWiseComparisonKN. Set the non-subpopulation-based getters in scoring to deprecated.
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core, contribs

move the test URL to the local location. Maybe this also fixes the CI since what failed were time-outs?
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
Due: contribs

disabling a test that no longer does something reasonable
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest.java
Due: contribs

disabling a test that covers no-longer-existing functionality in the vsp contrib
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest.java
Due: contribs

fix tests. The failures all had to do with widely different sample size settings in the config
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DashboardTests.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/NoiseDashboardTests.java
Due: contribs

try make the relativeToleranceForSampleSizeFactors setting show up in the config dump, but cause a runtime exception when called from xml
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

try dumping relativeScalesTolerance to xml but not accept setting it from xml
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

fix(vsp): PersonScoringParametersFromPersonAttributes utils/hour to utils/second conversion added (#4711)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesNoSubpopulationTest.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
Due: contribs

fix(longHaulFreight): Fix cases with activity on boundery links (#4708)
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

Added EmissionMethodComparisonTest and new plots
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/EmissionMethodComparisonTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

Disable test, to unblock our CI build.
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
Due: contribs

Disable test, to unblock our CI build. (#4717)
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
Due: contribs

Fixed EmissionMethodComparisonTest
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/EmissionMethodComparisonTest.java
Due: contribs

Remove test integration in the hope that we don't need it anymore
  .github/workflows/test-integration.yaml
Due: none

fix(DSim): Fix message exchange at the end of the simulation (#4705)
  .github/workflows/full-integration.yaml
  contribs/distributed-simulation/pom.xml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DisabledOnGitHubWindowsCI.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core, contribs

feat(osm): merge links sequentially into network in SupersonicOsmNetworkReader (#4707)
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/SupersonicOsmNetworkReader.java
Due: contribs

refactor: bundle vehicle state, use integer link counts, replace custom treap with TreeMap
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
Due: contribs

Added Gradients to the emission contrib (WIP)
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaRoadGradient.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTables.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaWarmEmissionFactorKey.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/PositionEmissionsModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

Adjusted test to use Gradients
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Generalized curves plot function
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

compare Campusbahn in Dresden
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

setting a test case to disabled that passes stand-alone, but fails if run in conjunction. Static non-final variables may be the cause.
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
Due: contribs

update test files
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

update graph and csv creation if previous run exists
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
Due: contribs

reduce static
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

rename parameter
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

update serviceTime detection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/UnhandledServicesSolution.java
Due: contribs

add startCategory to attributes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

change link detection of vehicles
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs
