Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

Extract slave runtime lifecycle
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SelectedPlanScorePreserver.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveIterationOrchestrator.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SelectedPlanScorePreserverTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveIterationOrchestratorTest.java
Due: contribs

Extract slave controller assembly
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveControllerAssembler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveRuntimeSettings.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveControllerAssemblerTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveRuntimeSettingsTest.java
Due: contribs

Refactor PSim execution responsibilities
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSim.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSimExecutionCoordinator.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPlanExecutor.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimExecutionCoordinatorTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPlanExecutorTest.java
Due: contribs

Add reproducible PSim performance benchmark
  contribs/pseudosimulation/PERFORMANCE.md
  contribs/pseudosimulation/scripts/performance.sh
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPerformanceBenchmark.java
Due: contribs

Reduce PSim event buffer allocation
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPlanExecutor.java
Due: contribs

Speed up serialized travel time lookup
  contribs/pseudosimulation/PERFORMANCE.md
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SerializableLinkTravelTimes.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/DistributedValueObjectsTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPerformanceBenchmark.java
Due: contribs

Speed up transit history lookup
  contribs/pseudosimulation/PERFORMANCE.md
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/scripts/performance.sh
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/TransitPerformance.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/TransitPerformanceBenchmark.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/TransitPerformanceTest.java
Due: contribs

Improve PSim worker completion
  contribs/pseudosimulation/PERFORMANCE.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSim.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSimExecutionCoordinator.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPlanExecutor.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimExecutionCoordinatorTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPerformanceBenchmark.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/PSimPlanExecutorTest.java
Due: contribs

little changes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

cleanup config
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/config_demand.xml
Due: contribs

Run the PSim quality harness on bash 3.2
  contribs/pseudosimulation/scripts/quality.sh
Due: contribs

Keep QSim travel times across PSim iterations
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/RunPSim.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/PSimTravelTimeCalculator.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/RunPSimTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/trafficinfo/PSimTravelTimeCalculatorTest.java
Due: contribs

Emulate transit in single-machine PSim runs
  contribs/pseudosimulation/README.md
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/RunPSim.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/TransitPerformanceRecorder.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/VehicleTracker.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/VehicleTrackerCollection.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/transitperformance/TransitPerformanceFromPSimSpecificImplementation.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/PSimConvergenceExperiment.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/PSimSiouxFallsIntegrationTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/TransitPerformanceRecorderTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/listeners/events/transit/VehicleTrackerCollectionTest.java
Due: contribs

Allow accepted RunPSim score variance
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/RunPSimTest.java
Due: contribs

simplify code
  matsim/src/main/java/org/matsim/analysis/ScoreStatsControlerListener.java
  matsim/src/main/java/org/matsim/core/config/ConfigGroup.java
Due: core

fix test
  contribs/application/src/test/java/org/matsim/application/prepare/counts/CreateCountsFromBAStDataTest.java
Due: contribs

feat(application): add coordinate and original ID to bast-counts (#5119)
  contribs/application/src/main/java/org/matsim/application/prepare/counts/CreateCountsFromBAStData.java
  contribs/application/src/test/java/org/matsim/application/prepare/counts/CreateCountsFromBAStDataTest.java
Due: contribs

use new method to get or create default mode parameters
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/ConstantSpeedAccessibilityExpContributionCalculator.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scoring/RideScoringParamsFromCarParams.java
  contribs/vsp/src/test/java/org/matsim/contrib/vsp/scoring/RideScoringParamsFromCarParamsTest.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModuleTest.java
  matsim/src/test/java/org/matsim/application/ConfigYamlUpdateTest.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/DeparturesOnSameLinkSameTimeTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
Due: core, contribs

use methods for default values in ScoringConfigGroup
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityUtils.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/ConstantSpeedAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/NetworkModeAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/SwissRailRaptorAccessibilityContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TeleportedModeContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TravelTimeBasedTravelDisutility.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TripRouterAccessibilityContributionCalculator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/tollSetting/DecongestionTollingP_MCP.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/PopulationGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigs.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/BestReplyLocationChoicePlanAlgorithm.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/DestinationChoiceContext.java
  contribs/matrixbasedptrouter/src/main/java/org/matsim/contrib/matrixbasedptrouter/PtMatrix.java
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleContribTest.java
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyScoringTest.java
  contribs/socnetsim/src/main/java/org/matsim/contrib/socnetsim/jointactivities/scoring/FireMoneyEventsForUtilityOfBeingTogether.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scoring/RideScoringParamsFromCarParams.java
  contribs/vsp/src/main/java/playground/vsp/congestion/analysis/CongestionAnalysisEventHandler.java
  contribs/vsp/src/main/java/playground/vsp/congestion/handlers/AdvancedMarginalCongestionPricingHandler.java
  contribs/vsp/src/main/java/playground/vsp/congestion/handlers/MarginalCongestionPricingHandler.java
  contribs/vsp/src/main/java/playground/vsp/congestion/handlers/TollHandler.java
  contribs/vsp/src/main/java/playground/vsp/congestion/routing/TollTravelDisutilityCalculator.java
  contribs/vsp/src/main/java/playground/vsp/openberlinscenario/planmodification/SplitActivityTypesBasedOnDuration.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/VTTSHandlerPerActivityTypicalDurationTest.java
  contribs/vsp/src/test/java/org/matsim/contrib/vsp/scoring/RideScoringParamsFromCarParamsTest.java
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/FreespeedTravelTimeAndDisutility.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityFactory.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesFromPopulation.java
  matsim/src/test/java/org/matsim/application/ConfigYamlUpdateTest.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelScoringFunctionTest.java
Due: core, contribs

simplify code
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityUtils.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/ConstantSpeedAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/NetworkModeAccessibilityExpContributionCalculator.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/VTTSHandlerPerActivityTypicalDurationTest.java
Due: contribs

remove methods for direct access to subpopulation-specific scoring parameters
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core

clean up
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core

Removed resolved TODOs
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/EmissionUtils.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/Pollutant.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/EmissionsConfigGroup.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/generate_cycles.R
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_prepare.R
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

use new methods for adding or getting ScoringParameterSet instances in ScoringConfigGroup
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigs.java
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/search/TopKMinMaxTest.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/DCScoringFunctionFactory.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/DestinationChoiceContext.java
  contribs/socnetsim/src/main/java/org/matsim/contrib/socnetsim/jointtrips/scoring/CharyparNagelWithJointModesScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/main/java/playground/vsp/congestion/handlers/AdvancedMarginalCongestionPricingHandler.java
  contribs/vsp/src/main/java/playground/vsp/scoring/IncomeDependentUtilityOfMoneyPersonScoringParameters.java
  contribs/vsp/src/main/java/playground/vsp/scoring/PersonSpecificScoringParameters.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
  contribs/vsp/src/test/java/playground/vsp/congestion/AdvancedMarginalCongestionPricingIT.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringParameters.java
  matsim/src/main/java/org/matsim/core/scoring/functions/ScoringParameters.java
  matsim/src/main/java/org/matsim/core/scoring/functions/SubpopulationScoringParameters.java
  matsim/src/test/java/org/matsim/application/MATSimApplicationTest.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
  matsim/src/test/java/org/matsim/core/config/groups/TasteVariationsConfigParameterSetTest.java
  matsim/src/test/java/org/matsim/core/scoring/IndividualPersonScoringTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoringTypicalDurationTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/IndividualPersonScoringParametersTest.java
Due: core, contribs

simplify
  contribs/vsp/src/test/java/playground/vsp/congestion/AdvancedMarginalCongestionPricingIT.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoringTypicalDurationTest.java
Due: core, contribs

add comment
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

Skip warnings in safeGetLambdas for tables, which have no %OfSubsegment
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTables.java
Due: contribs

Resolved bug from geEf() refactor
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/ColdEmissionAnalysisModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTables.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

Changed safeGetLambda to directly return double, makes the lambda also catch Double conversion errors
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaTables.java
Due: contribs

Added try-catch to the gradient-feature: Some networks do not attach coords to the nodes (usually tests). This makes the simulation run nevertheless.
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

Fixed missing road-gradient-keys for some tests
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModule.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModuleCase1.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModuleCase2.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModuleCase3.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModuleCase4.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModuleCase5.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestWarmEmissionAnalysisModuleTrafficSituations.java
Due: contribs

fix test
  matsim/src/test/java/org/matsim/core/scoring/functions/IndividualPersonScoringParametersTest.java
Due: core

update comment
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

Add a deterministic transit emulator for PSim
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/PSimConfigGroup.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/RunPSim.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/mobsim/transitperformance/TransitPerformanceFromEventBasedRouterInterfaces.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/MeanByTimeBin.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/PSimStopStopTimeCalculator.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/PSimWaitTimeCalculator.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/StopStopTime.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/WaitTime.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/PSimConvergenceExperiment.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/PSimSiouxFallsIntegrationTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/mobsim/transitperformance/TransitPerformanceFromEventBasedRouterInterfacesTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/trafficinfo/TransitTimeCalculatorsTest.java
Due: contribs

Document how to choose a PSim replanning rate
  contribs/pseudosimulation/README.md
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/PSimConvergenceExperiment.java
Due: contribs

Explain that PSim's two tuning knobs are coupled
  contribs/pseudosimulation/README.md
Due: contribs

Exclude PSim's own events from PSim's travel times
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/trafficinfo/PSimTravelTimeCalculator.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/RunPSimTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/trafficinfo/PSimTravelTimeCalculatorIntakeTest.java
Due: contribs

Keep configs using the superseded transit flag working
  contribs/pseudosimulation/README.md
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/PSimConfigGroup.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/RunPSim.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/PSimConvergenceExperiment.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/TransitEmulationCompatibilityTest.java
Due: contribs
