Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

adjust naming
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

Gradient Problem analysis
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Added network-information for output analysis
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Added gradient curves
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/EmissionMethodComparisonTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

Fixed hashCode
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaWarmEmissionFactorKey.java
Due: contribs

Standardized hashCode to default implementation (31 primes)
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaWarmEmissionFactorKey.java
Due: contribs

feat(routing): Freespeed teleportation: Use path distance instead of beeline
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
Due: core

Modify tests
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

Revert "Modify tests"
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

Revert "feat(routing): Freespeed teleportation: Use path distance instead of beeline"
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
Due: core

Rename to `calcDistanceExcludingStartEndLink`
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
Due: core

Re-apply functionality changes without formatting the rest of the document
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

Only set default `beelineDistanceFactor` if `teleportedModeSpeed` is set
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
Due: core

Revert "Rename to `calcDistanceExcludingStartEndLink`"
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
Due: core

Fix tests
  matsim/src/test/java/org/matsim/core/config/groups/RoutingConfigGroupTest.java
Due: core

PopulationReader: Only read `beelineDistanceFactor` if exists
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV5.java
Due: core

Rename occurences of `PseudoTransitRouter` to `FreespeedFactorRouter`
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/test/java/org/matsim/core/router/FreespeedFactorRoutingModuleTest.java
Due: core

feat: add more information to PersonInitializedEvent (#4771)
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonInitializedEvent.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderJson.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/PopulationAgentSource.java
  matsim/src/test/java/org/matsim/core/events/PersonInitializedEventTest.java
Due: core

BicycleTest from RunBicycleExample to RunBicycleContribExample
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
  contribs/bicycle/test/BICYCLE_TEST_FINDINGS.md
Due: contribs

fix: use correct class for logging
  matsim/src/main/java/org/matsim/core/router/MultimodalLinkChooserDefaultImpl.java
Due: core

fix: use correct class for logging (#4777)
  matsim/src/main/java/org/matsim/core/router/MultimodalLinkChooserDefaultImpl.java
Due: core

test: adjust NetsimRoutingConsistencyTest.testRoutingVsSimulationFullStack
  matsim/src/test/java/org/matsim/core/mobsim/qsim/NetsimRoutingConsistencyTest.java
Due: core

fix: ensure that travel time of leg and route is consistent
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

test: adjust TopKChoicesGeneratorTest.predefined
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/search/TopKChoicesGeneratorTest.java
Due: contribs

test: adjust BicycleTest reference files
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testCobblestone/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradient/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradientLane/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLane/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testPedestrian/output_plans.xml.gz
Due: contribs

test: adjust RunEvExampleTest and RunEvExampleWithLTHConsumptionModelTest reference files
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_plans.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_plans.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_plans.xml.gz
Due: contribs

test: adjust SignalSystemsIT reference files
  contribs/signals/src/test/resources/test/input/org/matsim/contrib/signals/integration/SignalSystemsIT/testSignalSystems/10.plans.xml.gz
  contribs/signals/src/test/resources/test/input/org/matsim/contrib/signals/integration/SignalSystemsIT/testSignalSystemsWTryEndTimeThenDuration/10.plans.xml.gz
Due: contribs

test: adjust RunChessboardIT reference files
  contribs/freight/test/input/org/matsim/freight/carriers/usecases/chessboard/RunChessboardIT/runChessboard/output_plans.xml.gz
Due: contribs

fix(analysis): write coord of activity with facilities in ActivityWriter
  matsim/src/main/java/org/matsim/analysis/ActivityWriter.java
Due: core

fix: dsim module not needed anymore in RunDistributedSim
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
Due: contribs

fix: dsim module not needed anymore in RunDistributedSim (#4780)
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
Due: contribs

test: adjust ControlerIT
  matsim/src/test/java/org/matsim/core/controler/ControlerIT.java
Due: core

fix: attach vehicle to route in NetworkRoutingModule
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingModule.java
Due: core

fix: ensure that travel time computation in NetworkRoutingModule is the same as in NetworkRoutingInclAccessEgressModule
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingNetworkRouting.java
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingModule.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingProvider.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/NetsimRoutingConsistencyTest.java
  matsim/src/test/java/org/matsim/core/router/NetworkRoutingModuleTest.java
  matsim/src/test/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityTest.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
Due: core, contribs

test: adjust RoutingIT reference files
  matsim/src/test/resources/test/input/org/matsim/core/router/RoutingIT/plans.xml.gz
Due: core

test: adjust RoadPricingByConfigfileTest reference files
  contribs/roadpricing/test/input/org/matsim/contrib/roadpricing/run/RoadPricingByConfigfileTest/testMain/output_plans.xml.gz
Due: contribs

test: adjust UrbanEVIT reference files
  contribs/vsp/test/input/playground/vsp/ev/UrbanEVIT/run/output_events.xml.gz
  contribs/vsp/test/input/playground/vsp/ev/UrbanEVIT/run/output_plans.xml.gz
Due: contribs

test: adjust UrbanEVTests
  contribs/vsp/src/test/java/playground/vsp/ev/UrbanEVTests.java
Due: contribs

test: adjust NetsimRoutingConsistencyTest
  matsim/src/test/java/org/matsim/core/mobsim/qsim/NetsimRoutingConsistencyTest.java
Due: core
