Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

chore(deps): raise open pr limit for dependabot
  .github/dependabot.yml
Due: none

build(deps): bump osm4j-pbf and osm4j-xml from 1.3.0 to 1.4.1 (#4005)
  contribs/osm/pom.xml
  contribs/signals/pom.xml
Due: contribs

chore(deps): raise open pr limit for dependabot (#4007)
  .github/dependabot.yml
Due: none

build(deps): bump tech.tablesaw:tablesaw-core and tech.tablesaw:tablesaw-jsplot from 0.43.1 to 0.44.1
  pom.xml
Due: none

Migrate from removed TextColumn to StringColumn
  contribs/application/src/main/java/org/matsim/application/analysis/activity/ActivityCountAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/noise/MergeNoiseOutput.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/FilterTripModes.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripChoiceAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/TripAnalysisTest.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
Due: contribs

fix(simwrapper): add missing "Vehicles" DRT animation
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Header.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

fix api change (remove textColumn, use string column instead)
  contribs/application/src/main/java/org/matsim/application/analysis/activity/ActivityCountAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/noise/MergeNoiseOutput.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/FilterTripModes.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripChoiceAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/TripAnalysisTest.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Plotly.java
Due: contribs

restore non-tablesaw column type
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Plotly.java
Due: contribs

bump open telemetry
  contribs/hybridsim/pom.xml
Due: contribs

fix(simwrapper): add missing "Vehicles" DRT animation (#4024)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Header.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

add java doc
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

build(deps): bump com.fasterxml.jackson:jackson-bom from 2.18.2 to 2.19.1
  pom.xml
Due: none

build(deps): bump com.fasterxml.woodstox:woodstox-core from 7.0.0 to 7.1.1
  pom.xml
Due: none

non-compiling suggestions written during joint meeting
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficStatsCalculator.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

feat(ev): Charger placement based on aggregated low-energy events, with example
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExampleTruckLTH.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckNetworkRoutingProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/util/EvLowSocPenaltyHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/util/LowEnergyEventChargerPlacer.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/config_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/ev_population_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/evehicles_trucks.xml
Due: contribs

(re-)add second vehicle in carrier files
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
Due: none

fix naming of RoutingModule/Provider of files to match each other
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExampleTruckLTH.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingProvider.java
Due: contribs

adapt tests
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Services/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Shipments/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats_unPlanned.tsv
Due: contribs

adapt planned file
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
Due: none

fix test
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/carrierVehicles.xml
Due: contribs

fix test
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/carrierVehicles.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/shipmentBasedEvents.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
Due: contribs

Revert "adapt planned file"
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
Due: none

fix misleading carrierName
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/in/output_allVehicles.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/in/serviceBasedEvents.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlans.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutesAndBigVehicles.xml
  examples/scenarios/freight-chessboard-9x9/multipleCarriers_withoutTW_withDepots_withoutPlan.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrier.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierOneActivity.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierOneActivityWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierPlanBigVehicles.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierWithoutRoutes.xml
Due: contribs

remove pebble version fix
  contribs/simwrapper/pom.xml
Due: contribs

Replaced DefaultRoutingModule to include access/egress
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingProvider.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/config_trucks.xml
Due: contribs

fix misleading carrierName
  examples/scenarios/freight-chessboard-9x9/carrierPlans.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutesAndBigVehicles.xml
Due: none

fix misleading carrierName
  examples/scenarios/freight-chessboard-9x9/carrierPlans.xml
Due: none

added/updated flow map viz class to pt dashboard class in simwrapper contrib. Tested with SimWrapperTest.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/FlowMap.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

chore(examples): second vehicle in carrier files (#4028)
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Services/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Shipments/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/in/output_allVehicles.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/in/serviceBasedEvents.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/carrierVehicles.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/shipmentBasedEvents.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutesAndBigVehicles.xml
  examples/scenarios/freight-chessboard-9x9/multipleCarriers_withoutTW_withDepots_withoutPlan.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrier.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierOneActivity.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierOneActivityWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierPlanBigVehicles.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierWithoutRoutes.xml
Due: contribs

contrib(profiling): jfr stopwatch: rename initialize to beforeStart
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
Due: contribs

add utils method
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingUtils.java
Due: contribs

Try Running with toll ... throws exception, because .findVehicle() returns null.
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/RunFreightExampleWithToll.java
Due: contribs

Try Running with toll ... hacky version
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/RunFreightExampleWithToll.java
Due: contribs

add utils method (#4044)
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingUtils.java
Due: contribs

add additional test for chained departures
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/StripTransitSchedule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureExtendedTest.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorChainedDepartureTest.java
Due: core

build(deps): bump org.mockito:mockito-junit-jupiter from 5.12.0 to 5.18.0
  pom.xml
Due: none

improve zone detection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

add missing input
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
