Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

separated out the rule-of-half computation, ctd. Seems to be working now
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseRuleOfHalfComputation.java
Due: contribs

more cleaning up
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

extract prepareConfig method
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

add another setter for latestActivityEndTime to allow times after midnight. some cleanup.
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PreparePoisForSimWrapper.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/SplitActivityTypesDuration.java
  matsim/src/main/java/org/matsim/core/config/groups/TimeAllocationMutatorConfigGroup.java
Due: core, contribs

simplified person-based methodology (cherrypicked some changes from ardias's repo); however, income-based components are left out for now.
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/NetworkModeAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TeleportedModeContributionCalculator.java
Due: contribs

commented out test, as current implementation of feature is not age-based.
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest.java
Due: contribs

Ensure sync messages are sent
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

Adjust test so that it collects and then sends
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
Due: contribs

fix partition index
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
Due: core, contribs

change naming to scoring from planCalcScore
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
Due: core

Revert "change naming to scoring from planCalcScore"
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
Due: core

ugh
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  contribs/distributed-simulation/src/test/resources/log4j2.xml
  matsim/src/main/java/org/matsim/api/core/v01/LP.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/SimTask.java
  matsim/src/main/java/org/matsim/dsim/SingleNodeAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/events/AggregateFromAll.java
  matsim/src/main/java/org/matsim/dsim/events/EventMessagingPattern.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

fix(deps): remove version from jaxb-core dependency
  contribs/vsp/pom.xml
Due: contribs

created a new branch based on main, pulled over relevant changes from personBasedAccessibility Branch
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityAggregatorPersonBased.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/DataExchangeInterface.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/FacilityDataExchangeInterface.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/NetworkModeAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/PersonDataExchangeInterface.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TeleportedModeContributionCalculator.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/AccessibilityIntegrationTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest.java
Due: contribs

I over eagerly deprecated the enterVehicleTime attribute. This is still needed, though.
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
Due: core

minor adjustments
  .gitignore
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
Due: contribs

adapt log message to changed naming of config modules
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

streamline the scenario reading in AgentWiseComparisonKN
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

Tinker with message broker test
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core, contribs

remove static
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

adjust logging
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

comment out
  contribs/application/src/main/java/org/matsim/application/analysis/population/PopulationAttributeAnalysis.java
Due: contribs

Work on MessageBroker unit testing
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core, contribs

refactor test class
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
Due: contribs

rename last fury names to fory
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  contribs/distributed-simulation/src/test/resources/log4j2.xml
  matsim/src/main/java/org/matsim/core/serialization/ForyBufferParser.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/custom/IdSerializer.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
Due: core, contribs

move away the old aproaches and adjust the comments
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSophistBicycleNetworkReader_clean.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunFullyConfiguredNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunSimpleBicycleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunSimpleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunSophistBicycleNetworkReader.java
Due: contribs

comment
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/BicycleLinkPolicy.java
Due: contribs

slowly consolidating AgentWiseComparisonKN
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

Crash the test when any of the "compute nodes" crashes
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
Due: contribs

javadoc
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
Due: core

Abort message receive when thread is interrupted
  matsim/src/main/java/org/matsim/core/communication/LocalCommunicator.java
Due: core

Make waitFor work when broadcast is happening.
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core

add config written out in fireControllerStartupEvent
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

add config written out in fireControllerIterationStartsEvent for each iteration
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

Add tests for broadcasting
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  contribs/distributed-simulation/src/test/resources/log4j2.xml
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core, contribs

extract method to get subpopulations from population
  matsim/src/main/java/org/matsim/analysis/ScoreStatsControlerListener.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

simplify parameterSets handling in ConfigGroup
  matsim/src/main/java/org/matsim/core/config/ConfigGroup.java
Due: core

updated accessibility calculation, and trip dashboard
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
Due: contribs

allow out of sequence messages for non synced ranks. Add testing for it
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
Due: core, contribs
