Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

fix event file comparator to crash at file/io errors
  matsim/src/main/java/org/matsim/utils/eventsfilecomparison/EventsFileComparator.java
  matsim/src/main/java/org/matsim/utils/eventsfilecomparison/Worker.java
  matsim/src/test/java/org/matsim/utils/eventsfilecomparison/EventsFileComparatorTest.java
Due: core

added person based option
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest/output_events.xml.gz
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest/output_events_congested.xml.gz
Due: contribs

use new stop waypoint factory to implement shift specific stop waypoints
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftStopWaypointFactory.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
Due: contribs

fix tests after changes
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

translate log massage
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

style(small-scale-commercial): formatting, code reduction and documenation/logging (#4198)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_startPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_stopPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_startPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_stopPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/config_demand.xml
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/vehicleTypes.xml
Due: contribs

refactor(drt-extensions): use new stop waypoint factory to introduce operational/shift related stops (#4195)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftStopWaypointFactory.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
Due: contribs

per waypoint schedule wait before drive
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorWithChangingCapacitiesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/DetourPathDataCacheTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

per waypoint schedule wait before drive
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
Due: contribs

start making changes to support relocating passengers, who use a chained transit line
  contribs/carsharing/src/main/java/org/matsim/contrib/carsharing/qsim/CarsharingPersonDriverAgentImpl.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dynagent/DynAgent.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dynagent/PTPassengerDynLeg.java
  contribs/minibus/src/main/java/org/matsim/contrib/minibus/hook/PTransitAgent.java
  contribs/socnetsim/src/main/java/org/matsim/contrib/socnetsim/jointtrips/qsim/PassengerUnboardingDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/ComplexTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/SimpleTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopHandler.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/main/java/org/matsim/pt/routes/ExperimentalTransitRoute.java
  matsim/src/main/java/org/matsim/pt/routes/TransitPassengerRoute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitAgentTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
  matsim/src/test/java/org/matsim/pt/fakes/FakeAgent.java
  matsim/src/test/java/org/matsim/pt/fakes/FakePassengerAgent.java
Due: core, contribs

per waypoint schedule wait before drive
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
Due: contribs

add event for persons staying in vehicle, make some necessary api changes
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonContinuesInVehicleEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerRelocation.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/main/java/org/matsim/pt/routes/ExperimentalTransitRoute.java
  matsim/src/main/java/org/matsim/pt/routes/TransitPassengerRoute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
  matsim/src/test/java/org/matsim/pt/fakes/FakeAgent.java
  matsim/src/test/java/org/matsim/pt/fakes/FakePassengerAgent.java
Due: core

HeatMaps
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_prepare.R
Due: contribs

add a comment
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingTollCalculator.java
Due: contribs

add a comment (#4200)
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingTollCalculator.java
Due: contribs

more cmd options.
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

fix more cmd options.
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

feat(drt): define schedule wait before drive per waypoint (#4199)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorWithChangingCapacitiesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/DetourPathDataCacheTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

directChain should Use shipment_based planning
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

reformatting
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

use correct assertions
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

some fixes for creating LSPs with only direct carrier
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPImpl.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

enable relocations before preplanned/prebooked stops
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/EmptyVehicleRelocator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/EmptyVehicleRelocatorTest.java
Due: contribs

update test
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/EmptyVehicleRelocatorTest.java
Due: contribs

implemented relocation functionality, still several todos of things not working as expected
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonContinuesInVehicleEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/ComplexTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerRelocation.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/SimpleTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/UmlaufCache.java
Due: core, contribs

fix(turnrestrictions): avoid ConcurrentModificationException
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
Due: core

relax assertion, split shipments must be done after assigning to lsp
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

shipmentbased distribution
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

fix(turnrestrictions): avoid ConcurrentModificationException (#4203)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
Due: core

optional capacity change
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
Due: contribs

fix bug
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
Due: contribs

passengers arrive correctly via chained routes
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
Due: core

fix(core): Fix iterator condition and add junit test
  matsim/src/main/java/org/matsim/core/router/speedy/DAryMinHeap.java
  matsim/src/test/java/org/matsim/core/router/speedy/DAryMinHeapTest.java
Due: core

run settings
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

add package info for freight:logistics
  contribs/freight/src/main/java/org/matsim/freight/logistics/package-info.java
Due: contribs

add package info for freight:logistics (#4213)
  contribs/freight/src/main/java/org/matsim/freight/logistics/package-info.java
Due: contribs

rm logging
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

carrier analysis is included in the CarrierModule
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

add integrationTest
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest.java
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/output_lsps.xml.gz
Due: contribs

first mini-step towards reducing handler: Try to get information from somewhere more central, so that we do not need a handler for each tour.
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionJobEventHandler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/LSPTourStartEventHandler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/MainRunCarrierScheduler.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
