Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

add distributed discharge test
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
Due: contribs

remove getElectricVehicles from ElectricFleet
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/fleet/EvShiftDvrpVehicle.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDvrpFleetQsimModule.java
  contribs/dvrp/src/main/java/org/matsim/contrib/evrp/EvDvrpVehicle.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/DistributedElectricFleet.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleet.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleetModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleetUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/GlobalElectricFleet.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/stats/IndividualChargeTimeProfileCollectorProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/stats/SocHistogramTimeProfileCollectorProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/stats/VehicleTypeAggregatedChargeTimeProfileCollectorProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/reservation/StrategicChargingReservationEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2Test.java
  contribs/vsp/src/main/java/playground/vsp/ev/UrbanVehicleChargingHandler.java
Due: contribs

ev tests pass
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExample.java
Due: contribs

trying to get the cobblestone test to work
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
Due: contribs

Figuring out how to properly handle drt but tomorrow...
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DrtInsertionSearchManager.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculatorManager.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProvider.java
Due: core, contribs

Properly determine whether MobsimListeners are NodeSingletons
  matsim/src/main/java/org/matsim/dsim/simulation/SimProvider.java
Due: core

Only add vehicles to the GlobalElectricFleet which have the corresponding engine type.
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/DistributedElectricFleet.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleetUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/GlobalElectricFleet.java
Due: contribs

Use correct interfaces for VehicleChargingHandler2.
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
Due: contribs

Let's see whether the engine approach works for qsim as well.
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
Due: contribs

feat(drt): config-based prebooking logic per DRT mode (#4545)
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/PrebookingParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/logic/AttributeBasedPrebookingLogic.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/logic/AttributeBasedPrebookingLogicParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/logic/ProbabilityBasedPrebookingLogicParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeQSimModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingLogicConfigTest.java
Due: contribs

test(drt): add multi-mode config round-trip test, use MatsimTestUtils.EPSILON
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingLogicConfigTest.java
Due: contribs

fix tests
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleContribTest.java
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyScoringTest.java
Due: contribs

trying to get the cobblestone test to work
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
Due: contribs

update branch references in deployment and verification configurations for 2026.x
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/verify-push.yaml
  matsim/LICENSE
Due: core

add 2026 in license
  matsim/LICENSE
Due: core

trying to get the cobblestone test to work, reverted bicycle_infra to old cyclewaytype
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
Due: contribs

Use new ChargingActivityEngine as replacement for VehicleChargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingActivityEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/EvNetworkRoutingModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/charging/ChargingActivityEngineTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/TestScenarioBuilder.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_plans.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_plans.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_plans.xml.gz
Due: contribs

Fix broken registration of global event handlers
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core, contribs

remove logging
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core

remove comment
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/GlobalElectricFleet.java
Due: contribs

Correctly set the sync interval in DistributedEventsManager for global event handlers.
  matsim/src/main/java/org/matsim/core/events/handler/EventHandler.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core

Restore RunBicycleExample as a base for tests
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/BicycleTestRunner.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExampleMod.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExampleMod.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
Due: contribs

generate new output files
  code-examples/src/main/java/org/matsim/codeexamples/extensions/simwrappercontrib/RunSimwrappercontribOfflineExample.java
  code-examples/src/test/java/org/matsim/codeexamples/RunAbcSimpleExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/discrete_mode_choice/RunDiscreteModeChoiceExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/programming/multipleSubpopulations/SubpopulationsExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/aaAddToScoring/RunAddToScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/aaIncomeDependentScoring/RunIncomeDependentScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/individualizedScoringParameters/RunIndividualizedScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExampleTest.java
Due: none

Make bicycle infrastructure attribute configurable (cycleway vs bicycle_infra)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExampleMod.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
Due: contribs

fixed minor issue in BicycleLinkSpeedCalculatorTest
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
Due: contribs

First draft of Dsim compatible WithinDayEvEngine
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine2.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvQSimModule.java
Due: contribs

feat: implement access/egress checks for single-leg trips in plans
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
Due: core

add epsilon to score comparison
  code-examples/src/test/java/org/matsim/codeexamples/RunAbcSimpleExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/discrete_mode_choice/RunDiscreteModeChoiceExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/programming/multipleSubpopulations/SubpopulationsExampleTest.java
Due: none

feat: add access/egress consistency check configuration for routing
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/companions/RunDrtWithCompanionExampleIT.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/integration/SignalSystemsIT.java
  contribs/taxi/src/main/java/org/matsim/contrib/etaxi/run/RunETaxiScenario.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
Due: core, contribs

fix hermes tests
  matsim/src/test/java/org/matsim/core/mobsim/hermes/HermesTransitTest.java
Due: core

fixed tests
  contribs/atap/src/test/java/se/vti/atap/matsim/examples/parallel_links/minimal_test/MinimalTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/builder/Fixture.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/builder/TravelTimeFourWaysTest.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
Due: core, contribs

fixed tests
  contribs/signals/src/test/java/org/matsim/contrib/signals/integration/invertednetworks/InvertedNetworksSignalsIT.java
Due: contribs

fixed tests
  matsim/src/test/java/org/matsim/core/controler/TransitControlerIntegrationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/HermesTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/QSimTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/VehicleSourceTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitQueueSimulationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/DeparturesOnSameLinkSameTimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/FlowCapacityVariationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/LinkSpeedCalculatorIntegrationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/PassingTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/QLinkTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/SeepageTest.java
  matsim/src/test/java/org/matsim/core/population/algorithms/PersonPrepareForSimTest.java
  matsim/src/test/java/org/matsim/integration/SimulateAndScoreTest.java
Due: core

add vsp contrib
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

clean up
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

modify scoringParam check
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
Due: core

make check for each subpop scoringParam
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core
