Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

remove unused function
  matsim/src/main/java/org/matsim/core/mobsim/DefaultMobsimModule.java
Due: core

docs(railsim): document reversing logic issues and add TODOs
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailLink.java
Due: contribs

test(railsim): add micro station reversal test and document issues
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microStationReversingTrack/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microStationReversingTrack/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microStationReversingTrack/transitVehicles.xml
Due: contribs

fix(railsim): enable GZIP compression for time-distance output
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
Due: contribs

test(railsim): add integration test for turn restrictions with rerouting
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTurnRestrictionTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/turnRestrictionsWithRerouting/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/turnRestrictionsWithRerouting/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/turnRestrictionsWithRerouting/transitVehicles.xml
Due: contribs

change descriptions and add samples check
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
Due: contribs

use PopulationsUtils
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
Due: contribs

add comment
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

remove unused plot
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

adjust comments
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficStatsCalculator.java
Due: contribs

add integration test for simple test case
  contribs/ev/pom.xml
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDSimTestFixture.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
Due: contribs

towards modular MUSE (marginal utility of starting early) computation
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MuseComputation.java
Due: contribs

fix check
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
Due: contribs

Add QSim components to local MobsimListenerManager. QSimComponents are local to the SimProcess and should be called by that process.
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/ChargingInfrastructureModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProvider.java
Due: core, contribs

Tinker with ev infrastructure towards dsim readyness
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DischargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DistributedDriveDischargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleetModule.java
Due: contribs

merge TripAnalysis args across trip and commercial dashboards
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DashboardUtils.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Data.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
  matsim/src/main/java/org/matsim/application/CommandRunner.java
Due: core, contribs

integrate existing ScenarioChecker into a pipeline for building ScenarioConsistancyChecker with the VspScenarioConsistancyCheckerImpl as an example
  matsim/src/main/java/org/matsim/api/core/v01/Scenario.java
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/scenario/MutableScenario.java
  matsim/src/main/java/org/matsim/core/scenario/ScenarioChecker.java
  matsim/src/main/java/org/matsim/core/scenario/consistency/ScenarioConsistencyChecker.java
  matsim/src/main/java/org/matsim/core/scenario/consistency/VspScenarioConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/run/CreateSelectedPlansTables.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioConsistencyTest.java
Due: core

ensure running checkers if scenario is not set in Controler
  matsim/src/main/java/org/matsim/core/controler/Controler.java
Due: core

consider turn restrictions in rerouting
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/router/TrainRouter.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTurnRestrictionTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/turnRestrictionsWithRerouting/transitSchedule.xml
Due: contribs

Also, make IdleDischargingHandler DSim ready. Make the corresponding module work with DSim and QSim
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DischargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DistributedDriveDischargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/IdleDischargingHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/framework/listeners/MobsimAfterSimStepListener.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/QSimProvider.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

fix timestep for last energy consumption calculation in DriveDischargingHandler.
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/discharging/DriveDischargingHandlerTest.java
Due: contribs

less restrictive deadlock avoidance on non blocking areas
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/NoDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailLink.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
Due: contribs

Have new expected files, as we expect other results 🤷‍♀️
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_events.xml.gz
Due: contribs

Re-add comment to clarify the scenario behavior
  contribs/ev/src/test/java/org/matsim/contrib/ev/discharging/DriveDischargingHandlerTest.java
Due: contribs

Semantic integration test
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDSimTestFixture.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
Due: contribs

add in engine assertions for train length
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimCalc.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimCalcTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTestUtils.java
Due: contribs

change order of dashboards
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

add missing .clear
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialTrafficAnalysisEventHandler.java
Due: contribs

add log
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add skipping for solved carriers
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

improve train reversal logic
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
Due: contribs

Re-Implement VehicleChargingHandler as ActivityEngine.
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExample.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/ActivityEngineModule.java
  matsim/src/main/java/org/matsim/core/population/routes/NetworkRoute.java
Due: core, contribs

add call listener when agent quits charger queue
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingWithQueueingLogic.java
Due: contribs

add new expected output for UrbanEVIT run
  contribs/vsp/test/input/playground/vsp/ev/UrbanEVIT/run/output_events.xml.gz
Due: contribs

Add testing for VehicleChargingHandler2
  contribs/ev/pom.xml
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2Test.java
Due: contribs

Only reschedule activity end times when enforceChargingInteractionDuration is set
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2Test.java
Due: contribs

Start integration test for charging and add charger handler to evmodule
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
Due: contribs

add comment
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

comment out
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
