Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

fix units
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
Due: contribs

clean up
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
Due: contribs

Add scoring mode params compatibility accessor
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

Revert "Add scoring mode params compatibility accessor"
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

fix call of getModes()
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
Due: contribs

Test vehicle type based leg scoring
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

Store vehicle type scoring params in scoring config
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringUtils.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

rename
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

fix: update avg_speed calculation from km/h to m/s for clarity
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
Due: contribs

add scoring params by vehicleType
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringUtils.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

feat(scoringVSP): Introduce vehicle type based scoring for Commercial Agents (#5048)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/SubpopulationDelegatingScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringUtils.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

updated readme
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

change default value
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Revert "change default value"
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

feat: add transfer wait time skim (#5043)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/CalculateSkimMatrices.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
Due: contribs

use new method
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringUtils.java
Due: contribs

perf(network): precompute mode-matching links in MultimodalNetworkCleaner
  matsim/src/main/java/org/matsim/core/network/algorithms/MultimodalNetworkCleaner.java
Due: core

perf(network): use link-index flag arrays instead of a HashMap in findCluster
  matsim/src/main/java/org/matsim/core/network/algorithms/MultimodalNetworkCleaner.java
Due: core

refactor(VehicleTeleportationDepartureEvent): remove HasPersonId implementation and update attributes (#4970)
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
Due: core

perf(network): index mode-matching links in a boolean array by Id#index()
  matsim/src/main/java/org/matsim/core/network/algorithms/MultimodalNetworkCleaner.java
Due: core

changed location for output file for probe
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtServiceQualityProbe.java
Due: contribs

fix: update avg_speed calculation from km/h to m/s for clarity (#5047)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
Due: contribs

small bug fixes and enhancements
  code-examples/src/main/java/org/matsim/codeexamples/extensions/roadpricing/RunRoadpricingExample.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/test/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModuleTest.java
Due: core, contribs

use new method
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

fix test errors
  code-examples/src/test/java/org/matsim/codeexamples/RunAbcSimpleExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/discrete_mode_choice/RunDiscreteModeChoiceExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/aaAddToScoring/RunAddToScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/aaIncomeDependentScoring/RunIncomeDependentScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/individualizedScoringParameters/RunIndividualizedScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExampleTest.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/RunEquilTest.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/RunTest.java
  contribs/cadytsIntegration/src/test/java/org/matsim/contrib/cadyts/car/CadytsCarIT.java
  contribs/common/src/test/java/org/matsim/integration/always/BetaTravelTest66IT.java
  contribs/common/src/test/java/org/matsim/integration/always/BetaTravelTest6IT.java
  contribs/decongestion/src/test/java/org/matsim/contrib/decongestion/DecongestionPricingTestIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/RunChessboard.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/usecases/chessboard/RunChessboardIT.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/RunPSimTest.java
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/run/RoadPricingByConfigfileTest.java
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/run/RunRoadPricingExampleIT.java
  contribs/roadpricing/test/input/org/matsim/contrib/roadpricing/CalcPaidTollTest/roadpricing1.xml
  contribs/signals/src/main/java/org/matsim/codeexamples/fixedTimeSignals/RunSignalSystemsExampleWithHoles.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix test errors
  contribs/decongestion/src/test/java/org/matsim/contrib/decongestion/DecongestionPricingTestIT.java
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/RoadPricingControlerIT.java
  contribs/vsp/src/test/java/playground/vsp/congestion/MultipleSpillbackCausingLinksTest.java
  contribs/vsp/src/test/java/playground/vsp/ev/CreateUrbanEVTestScenario.java
Due: contribs

fix test errors
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesIT.java
Due: contribs

fix test errors
  matsim/src/test/java/org/matsim/core/controler/MobsimListenerTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/TravelTimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/TravelTimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/QSimComponentsTest.java
  matsim/src/test/java/org/matsim/core/replanning/planInheritance/PlanInheritanceTest.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
  matsim/src/test/java/org/matsim/examples/EquilTest.java
  matsim/src/test/java/org/matsim/examples/ModeRestrictionTest.java
  matsim/src/test/java/org/matsim/integration/EquilTwoAgentsTest.java
  matsim/src/test/java/org/matsim/modules/ScoreStatsModuleTest.java
  matsim/src/test/java/org/matsim/withinday/trafficmonitoring/WithinDayTravelTimeTest.java
Due: core

fix test errors
  matsim/src/test/java/org/matsim/core/controler/ControlerIT.java
  matsim/src/test/java/org/matsim/examples/OnePercentBerlin10sIT.java
  matsim/src/test/java/org/matsim/integration/replanning/ReRoutingIT.java
Due: core

Make analysis file reads compression-agnostic (gz/lz4/zst)
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddPersonAttribsToExperiencedPlans.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

Make ExperiencedPlansWriter input reads compression-agnostic
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
Due: contribs

ci: retry transient Maven Central HTTP failures in verify-push
  .github/workflows/verify-push.yaml
Due: none

fix(vsp): resolve analysis input files regardless of compression (gz/lz4/zst) (#5054)
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddPersonAttribsToExperiencedPlans.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

ci: retry transient Maven Central HTTP failures in verify-push (#5055)
  .github/workflows/verify-push.yaml
Due: none

added functionality to print what stop pairs are relevant for accessibility calculation. Also added support for using those stops in DRT service probe
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/estimator/DrtEstimator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/estimator/impl/CsvServiceQualityDrtEstimator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtServiceQualityProbe.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/estimator/impl/CsvServiceQualityDrtEstimatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

cleanup
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityContributionCalculator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/estimator/impl/CsvServiceQualityDrtEstimatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParamsTest.java
Due: contribs

Speed up DRT service-quality detour distance calculation
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtServiceQualityProbe.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

add plan
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

perf(network): speed up `MultimodalNetworkCleaner` on large networks (#5050)
  matsim/src/main/java/org/matsim/core/network/algorithms/MultimodalNetworkCleaner.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
