Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

create and write grid maps for each pollutant
  contribs/application/src/main/java/org/matsim/application/analysis/emissions/AirPollutionAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
Due: contribs

create and write grid maps for each pollutant (#4967)
  contribs/application/src/main/java/org/matsim/application/analysis/emissions/AirPollutionAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
Due: contribs

Table formats changed and other small updates to plots.
  contribs/application/src/main/java/org/matsim/application/analysis/scenarioComparison/ScenarioComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
Due: contribs

clean up code
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

refactor(VehicleTeleportationDepartureEvent): remove HasPersonId implementation and update attributes
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
Due: core

fix small bug in personprepare
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
Due: core

feat: Update the congestion index calculation (#4094)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/LinkStats.java
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficStatsCalculator.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
Due: core, contribs

fix scoring for default mode params
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add calculation time to output of loop iteration results
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

working on Agents table schema
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventHandler.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/RunEventsHandlingExample.java
Due: contribs

add calculation time to output of loop iteration results (#4972)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

reduce logging on DSim startup
  matsim/src/main/java/org/matsim/core/mobsim/qsim/MobsimListenerManager.java
  matsim/src/main/java/org/matsim/pt/ReconstructingUmlaufBuilder.java
Due: core

add subpop def for dashboards
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

reduce logging on DSim startup (#4975)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/MobsimListenerManager.java
  matsim/src/main/java/org/matsim/pt/ReconstructingUmlaufBuilder.java
Due: core

add route information to boundary attributes
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

use set and change attribute generation of geographical trip type
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

add null check for output directory creation
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

ensure default mode params
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

feat(longDistanceFreight): Adjust cutting at boundary (#4976)
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

replace "car" by TransportMode.car (outside tests)
  matsim/src/main/java/org/matsim/core/events/EventsReaderTXT.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV5.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV6.java
  matsim/src/main/java/org/matsim/core/router/TripRouterFactoryBuilderWithDefaults.java
  matsim/src/main/java/org/matsim/run/InitRoutes.java
Due: core

first draft corner cases -need to switch to node based geometry handling. -add free pt - revisit parking cost handling
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/CornerCases.java
Due: contribs

renamed package
  contribs/parking/README.md
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/BellochePenaltyFunction.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/DumpParkingDataAtEnd.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingCapacityInitializer.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingCount.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingOccupancyObserver.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingOccupancyObservingSearchTimeCalculator.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingSearchTimeFunction.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingUtils.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingVehicleHandler.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/PlanBasedParkingCapacityInitializer.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ZeroParkingCapacityInitializer.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/BellochePenaltyFunctionTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingOccupancyObserverTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/PlanBasedParkingCapacityInitializerTest.java
Due: contribs

analyze policy cases for users of specific from mode
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

move files
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testNoParking/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testNoParking/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime_MultipleAgents/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime_MultipleAgents/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_constantTime/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_constantTime/output_plans.xml.gz
Due: contribs

refactor(parking): move parking stuff from the core to the parking contrib (#4913)
  contribs/hybridsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/HybridNetworkFactory.java
  contribs/hybridsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QSimExternalTransitionLink.java
  contribs/parking/README.md
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/BellochePenaltyFunction.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/DumpParkingDataAtEnd.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingCapacityInitializer.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingCount.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingOccupancyObserver.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingOccupancyObservingSearchTimeCalculator.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingSearchTimeFunction.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingUtils.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingVehicleHandler.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/PlanBasedParkingCapacityInitializer.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/ZeroParkingCapacityInitializer.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/BellochePenaltyFunctionTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingOccupancyObserverTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/PlanBasedParkingCapacityInitializerTest.java
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testNoParking/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testNoParking/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime_MultipleAgents/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_BellocheTime_MultipleAgents/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_constantTime/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingsearchparameterization/ParkingTest/testParking_constantTime/output_plans.xml.gz
  matsim/src/main/java/org/matsim/core/mobsim/qsim/AbstractQSimModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQLink.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/ArrivalTimeCalculator.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/ConstantArrivalTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultArrivalTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultParkingSearchTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultQNetworkFactory.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QLinkImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QLinkLanesImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetsimEngineModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/parking/ConstantParkingSearchTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/parking/ParkingSearchTimeCalculator.java
Due: core, contribs

add splitter for VRPs
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/splitter/CarrierSplitPlotWriter.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/splitter/CarrierSplitter.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/splitter/CarrierSplitterTest.java
Due: contribs

add splitter for VRPs (#4978)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/splitter/CarrierSplitPlotWriter.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/splitter/CarrierSplitter.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/splitter/CarrierSplitterTest.java
Due: contribs

working .db & parquet files. Going to change architecture to MATSim App Command
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/AgentTable.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventsModule.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbScenario.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/RunEventsHandlingExample.java
Due: contribs

fix typo in modeORvehType assignment
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

add resistance function precomputation and optimize OD matrix calculation
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

add resistance function precomputation and optimize OD matrix calculation
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add workaround for split-carrier workflow
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

add test for new workaround with carrier parts
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

use utils method
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix test
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

feat(SmallScaleCommercialTraffic): Add solving kwm in parts (#4982)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

formatting
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Added latex table generator
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

Improved curve plots: Added HC, Improved scales to go to y=0, Added color scale, Added components selection
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/EmissionMethodComparisonTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

respect the setting of TravelTimeCalculatorConfigGroup#isFilterModes in TravelTimeCalculatorModule
  contribs/multimodal/src/main/java/org/matsim/contrib/multimodal/MultiModalControlerListener.java
  matsim/src/main/java/org/matsim/core/config/groups/TravelTimeCalculatorConfigGroup.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculatorModule.java
Due: core, contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
