Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

add getIdentifiers method (#4172)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/FloatMatrix.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/FloatMatrixTest.java
Due: contribs

fix: stop (mistakenly) ruling out request insertion before a scheduled shift changeover (#4183)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
Due: contribs

fix(ev): Charger power profile iteration reset and update EV routing with AccessEgress support (#4092)
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExampleTruckLTH.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/EvNetworkRoutingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/EvNetworkRoutingProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/stats/ChargerPowerTimeProfileCalculator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/stats/EvStatsModule.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/config.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/ev_population_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTest/output_plans.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleTest/runTestWithChargingDurationEnforcement/output_plans.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_events.xml.gz
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExampleWithLTHConsumptionModelTest/runTest/output_plans.xml.gz
Due: contribs

fix(drt): Move bindModal(StopWaypointFactory.class) to central position
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeModule.java
Due: contribs

fix(drt): Move bindModal(StopWaypointFactory.class) to central position (#4222)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeModule.java
Due: contribs

fix issue in reversing
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
Due: contribs

improve non-blocking areas, make sure there is enough space to hold after the area, leaving links don't need to be part of the non blocking areas anymore
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/trainNetwork.xml
Due: contribs

fix one test
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
Due: core, contribs

refactor(drt): make capacity change optional in waypoints (#4204)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
Due: contribs

feat(drt): relocation with preplanned/prebooked stops (#4201)
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/EmptyVehicleRelocator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/EmptyVehicleRelocatorTest.java
Due: contribs

adding the code (wip)
  contribs/vsp/pom.xml
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/alternativeMode/AlternativeModeCalculator.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/alternativeMode/AlternativeModeTripData.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/optimizer/HeteogeneousRequestValidator.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/optimizer/PassengerAttribute.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/optimizer/PersonAttributeBasedConstraintSelector.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/prepare/ProcessDrtPersons.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/run/RunHeterogeneousDrt.java
Due: contribs

update schedule inquiries for intertask idle times
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftDrtScheduleInquiry.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftTaskSchedulerImpl.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt/pom.xml
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DrtScheduleInquiry.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/ScheduleInquiryTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleInquiry.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/scheduler/TaxiScheduleInquiry.java
Due: contribs

implement chained departures for deterministic pt
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
Due: core, contribs

implement events to legs for chained routes
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonContinuesInVehicleEvent.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/PersonContinuesInVehicleEventHandler.java
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
Due: core, contribs

feat(pt): Simulate chained departure (#4220)
  contribs/carsharing/src/main/java/org/matsim/contrib/carsharing/qsim/CarsharingPersonDriverAgentImpl.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonContinuesInVehicleEvent.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/PersonContinuesInVehicleEventHandler.java
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/TransitAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/ComplexTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PTPassengerAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/SimpleTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitEngineModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopAgentTracker.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/UmlaufCache.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
  matsim/src/main/java/org/matsim/core/scoring/PlansScoringImpl.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
  matsim/src/test/java/org/matsim/pt/fakes/FakeAgent.java
  matsim/src/test/java/org/matsim/pt/fakes/FakePassengerAgent.java
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/population.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/schedule.xml
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/vehicles.xml
Due: core, contribs

catch when there is no departure (during umlauf)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
Due: core, contribs

catch when there is no departure (during umlauf) (#4232)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
Due: core, contribs

adapt classes after merge with main branch
  contribs/distributed-simulation/pom.xml
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/distributed/DrtNodeCommunicator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/distributed/RequestMessage.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/distributed/SecondaryNodeOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/distributed/SecondaryOptimizerModule.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/vrpagent/VrpAgentSource.java
  matsim/src/main/java/org/matsim/core/controler/MatsimServices.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/QSim.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/interfaces/Netsim.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/UmlaufCache.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/test/java/org/matsim/dsim/DistributedController.java
Due: core, contribs

fix changes in chained routes
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
Due: core

add pickupDuration
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

return a specific tour
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarrierPlan.java
Due: contribs

feat(drt): Schedule inquiry updates for inter-task idle times (#4229)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftDrtScheduleInquiry.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/scheduler/ShiftTaskSchedulerImpl.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt/pom.xml
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DrtScheduleInquiry.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/ScheduleInquiryTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleInquiry.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/scheduler/TaxiScheduleInquiry.java
Due: contribs

fix time in schedule. Part 1.
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/TransshipmentHubScheduler.java
Due: contribs

comment
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
Due: contribs

dependency updates
  contribs/distributed-simulation/pom.xml
  matsim/pom.xml
  pom.xml
Due: core, contribs

adapt test inputs. Times have changed
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_OneChainDirect/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_oneChain2echelon/output_lsps.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/TimeDistance_perCarrier.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/analysis/freight/TimeDistance_perVehicleType.tsv
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/output_events.xml.gz
  contribs/freight/test/input/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest/testOutputIsEqual_twoChains/output_lsps.xml.gz
Due: contribs

minor formatting
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionJobEventHandler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/LSPTourStartEventHandler.java
Due: contribs

added person based accessibility
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityAggregatorPersonBased.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/DataExchangeInterface.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/FacilityDataExchangeInterface.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/NetworkModeAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/PersonDataExchangeInterface.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TeleportedModeContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/VoronoiGeometryUtils.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/utils/GeoserverUpdater.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/RunOfflineAccessibilityBerlin.java
Due: contribs

changed name
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/PersonBasedAccessibilityTest.java
Due: contribs

make name of lps setable, remove hardcoded retail branch names
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/RunExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithTollTest.java
Due: contribs

make it more general, avoid code duplications
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

more simplification
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

make also vehicleTypes for the different LSP carriers settable in code
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

try to avoid static issues
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

minor fixes and cleanup
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

minor fixes in settings
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs
