Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

added test input files
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest/drtStops.xml
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/TinyAccessibilityTest/drtStops.xml
Due: contribs

updated tests and poms
  contribs/accessibility/pom.xml
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
  contribs/application/pom.xml
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/AccessibilityAnalysis.java
  contribs/application/src/main/java/org/matsim/application/prepare/network/CreateAvroNetwork.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DrtTestScenario.java
Due: contribs

fixed hardcoded matsim version in pom
  contribs/accessibility/pom.xml
Due: contribs

fix private maxWalkDistance access
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
Due: contribs

deleted accessibility dashboard test
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PreparePois.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/AccessibilityDashboardTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DrtTestScenario.java
  pom.xml
Due: contribs

updated DRT Accessibility Test
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
Due: contribs

added comments to EstimatedDrtAccessibilityContributionCalculator
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
Due: contribs

removed hardcoded crs from PreparePois.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PreparePois.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
Due: contribs

minor bug fix
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
Due: contribs

update time slider for default accessibility dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
Due: contribs

Add end of day scoring to simulation
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DSimComponentsModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

Test end of day scoring
  matsim/src/main/java/org/matsim/core/scoring/NewScoreAssigner.java
  matsim/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
Due: core

First version of Pretoria Test for Paper (with buggy velocities)
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

Wire up Backpack scoring using guice
  matsim/src/main/java/org/matsim/analysis/TravelDistanceStats.java
  matsim/src/main/java/org/matsim/analysis/TripsAndLegsWriter.java
  matsim/src/main/java/org/matsim/core/controler/NewControler.java
  matsim/src/main/java/org/matsim/core/controler/corelisteners/ControlerDefaultCoreListenersModule.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansService.java
  matsim/src/main/java/org/matsim/core/scoring/NewScoreAssignerImpl.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedPlansCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DSimComponentsModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/IterationInformation.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
Due: core

Wire up Backpack scoring using guice
  matsim/src/main/java/org/matsim/analysis/PHbyModeCalculator.java
  matsim/src/main/java/org/matsim/analysis/PKMbyModeCalculator.java
Due: core

Start investigating how to get rid of arbitrary event listening in scoring functions
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedPlansCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
Due: core, contribs

Test current functionality of CharyparNagelLegScoring.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
  matsim/test/input/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest/one-routed-pt-plan-line-switch.xml.gz
  matsim/test/input/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest/one-routed-pt-plan.xml.gz
Due: core, contribs

Implement Trip Based Leg scoring
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
Due: core

Remove Leg scoring and Arbitrary event scoring interface from CharyparNagelLegScoring. Adjust testing infrastructure so that it uses trips.
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelOpenTimesScoringFunctionFactory.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelScoringFunctionFactory.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/CapacityDependentScoringTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringDailyConstantsTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringPtChangeTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelScoringFunctionTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelWithSubpopulationsTest.java
Due: core

Add fallback scoring parameters for non network mode and transit walk
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core

Remove dependency on ArbitraryEventScoring in freight code.
  contribs/freight/src/main/java/org/matsim/freight/carriers/controller/CarrierAgentTracker.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/CarrierScorerEventBasedInclToll.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/CarrierScoringFunctionFactoryImpl.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/MyEventBasedCarrierScorer.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/EventBasedCarrierScorer4MultipleChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

Adjust check for Double.NaN, which I didn't understand correclty before.
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
Due: core

Add last activity to trigger trip scoring in CapacityDependentScoringTest
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/CapacityDependentScoringTest.java
Due: core

Freight tests run, but some fail comparison.
  contribs/freight/src/main/java/org/matsim/freight/carriers/controller/CarrierAgentTracker.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/controller/CarrierModule.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/CarrierScorerEventBasedInclToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/EventBasedCarrierScorer4MultipleChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleGroceryDeliveryMultipleChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleMixedEchelonChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleOneEchelonChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleMultipleOneEchelonChainsReplanning.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChains.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/MultipleChainsReplanningTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/WorstPlanSelectorTest.java
Due: contribs

Remove ArbitraryEvent handling from GroupCompositionPenalizer
  contribs/socnetsim/src/main/java/org/matsim/contrib/socnetsim/framework/scoring/GroupCompositionPenalizer.java
  contribs/socnetsim/src/test/java/org/matsim/contrib/socnetsim/framework/scoring/GroupCompositionPenalizerTest.java
Due: contribs

correct description
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

Interpolated version of Pretoria Test for Paper (still buggy velocities)
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

All scoring functions in freight are regular event handlers.
  contribs/freight/src/main/java/org/matsim/freight/carriers/controller/CarrierAgentTracker.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/CarrierScorerEventBasedInclToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPControllerListener.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/ExampleTwoEchelonGrid.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/ExampleTwoEchelonGrid_NR.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/ExampleTwoEchelonGrid_shipmentBasedDistribution.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/initialPlans/MyEventBasedCarrierScorer.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/EventBasedCarrierScorer4MultipleChains.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsFoodMultipleChainsTest.java
Due: contribs

Introduce new function to create open trips. This makes retrofitting tests that rely on single legs being scored by CharyparNagelLegScoring easier.
  matsim/src/main/java/org/matsim/core/router/TripStructureUtils.java
  matsim/src/test/java/org/matsim/core/router/TripStructureUtilsTest.java
Due: core

Adjust vsp and cadyts contrib to changed ChariparNagelLegScoring
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/run/RunCadyts4CarExample.java
  contribs/vsp/src/main/java/playground/vsp/parkAndRide/scoring/PRScoringFunctionFactory.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesNoSubpopulationTest.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributesTest.java
  contribs/vsp/src/test/java/playground/vsp/cadyts/marginals/ModalDistanceAndCountsCadytsIT.java
  contribs/vsp/src/test/java/playground/vsp/cadyts/marginals/ModalDistanceCadytsMultipleDistancesIT.java
  contribs/vsp/src/test/java/playground/vsp/cadyts/marginals/ModalDistanceCadytsSingleDistanceIT.java
Due: contribs

Remove dependency of CarsharingLegScoringFunction from CharyparNagelLegScoring.
  contribs/carsharing/src/main/java/org/matsim/contrib/carsharing/scoring/CarsharingLegScoringFunction.java
  contribs/carsharing/src/main/java/org/matsim/contrib/carsharing/scoring/CarsharingScoringFunctionFactory.java
Due: contribs

Adjust cadyts integration contrib to changed CharyparNagelLegScoring
  contribs/cadytsIntegration/src/test/java/org/matsim/contrib/cadyts/car/CadytsCarIT.java
Due: contribs

fix mode statistics plot
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

adjustments if no group was set
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

Deprecate ArbitraryEventScoring and the corresponding handleEvent method in the ScoringFunction interface.
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonEntersPtEvent.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonLeavesPtEvent.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunction.java
  matsim/src/main/java/org/matsim/core/scoring/SumScoringFunction.java
Due: core

update description for dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
Due: contribs

Adjust DSim infrastructure to new Scoring infrastructure.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/test/java/org/matsim/dsim/DistributedController.java
Due: core, contribs

use enum
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

add comments for withinday travel time
  matsim/src/main/java/org/matsim/withinday/trafficmonitoring/WithinDayTravelTime.java
Due: core

add comments for withinday travel time (#4610)
  matsim/src/main/java/org/matsim/withinday/trafficmonitoring/WithinDayTravelTime.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
