Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

add methods for default values
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

add methods for subpop based params
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

remove duplicate
  matsim/src/test/java/org/matsim/core/scenario/ScenarioConsistencyTest.java
Due: core

use default methods
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
Due: core

add methods for subpop scoringParams
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

add check
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

better bar chart visualizations for comparisons and initial work for multiple comparison scenarios added. A few bugs to fix for line chart and axis titles.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Data.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboardTest.java
Due: contribs

add vehicle recipe
  code-examples/src/main/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExample.java
Due: none

Revert "add null check"
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

Revert "add config written out in fireControllerIterationStartsEvent for each iteration"
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

update comments
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

update test
  matsim/src/test/java/org/matsim/core/config/ConfigTest.java
Due: core

delete comment
  matsim/src/main/java/org/matsim/core/config/ConfigReader.java
Due: core

some cleanups and comments
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExampleMod.java
  contribs/bicycle/test/BICYCLE_TEST_FINDINGS.md
Due: contribs

Refine bicycle motorized interaction scoring and config
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExampleMod.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExampleMod.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
Due: contribs

Some stuff works. Before changing the data model of CharginProcess
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/ChargingInfrastructureModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine2.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvQSimModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/utils/TestScenarioBuilder.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/OrderedAlternativeProvider.java
Due: contribs

some cleanups and comments
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExampleMod.java
Due: contribs

Add avgCarOccupancyDuringBicycleTraversal motorized interaction mode
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
Due: contribs

testing new MI mode
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExampleMod.java
Due: contribs

Figure out overnight edge case
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/ChargingScheduler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/utils/TestScenarioBuilder.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
Due: contribs

fix getInfrastructureFactor to make tests work
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
Due: contribs

sim wrapper dashboard comments
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

more changes around agent wise comparison
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseRuleOfHalfComputation.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
Due: contribs

suppress a warning when there is nothing to warn
  matsim/src/main/java/org/matsim/core/population/routes/PopulationComparison.java
Due: core

set "freight" to deprecated so we can remember that this is an "old" terminology
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SubpopulationDefaultNames.java
Due: contribs

replace manually programmed counter logging methods with Counter class (once more)
  matsim/src/main/java/org/matsim/core/network/NetworkImpl.java
Due: core

replace manually programmed counter logging methods with Counter class
  matsim/src/main/java/org/matsim/core/network/NetworkImpl.java
Due: core

do not delete unselected plans
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Add more edge cases
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/ChargingScheduler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
Due: contribs

Relocation of vehicle for overnight activity works
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
Due: contribs

add whole day charging, use charger link as start link for vehicle
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
Due: contribs

Rethrow original exceptions if possible
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
Due: core

have all tests -- some fail
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/SpontaneousChargingProvider.java
Due: contribs

Make SerializationProvider a singleton to avoid scanning the class graph multiple times on simulation startup
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
Due: core, contribs

remove print in main method. I guess this was left over from the starting phase
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
Due: core

submit to charger when local
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
Due: contribs

update comment
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

reservation manager compares consumers by id
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/common/src/test/java/org/matsim/contrib/common/util/reservation/AbstractReservationManagerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest3.java
Due: contribs

Wow, this is complicated...
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/ReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservationModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/DistributedChargerReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/CriticalAlternativeProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingAlternativeProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/ChargingAlternative.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/ChargingAlternativeProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine2.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvEngine3.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvQSimModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/ActivityLegChangeProvider.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/ChangeDurationAlternativeProvider.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/OrderedAlternativeProvider.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/ReservationAlternativeProvider.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/SpontaneousChargingProvider.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/SwitchChargerAlternativeProvider.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/utils/SwitchEnrouteChargerAlternativeProvider.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
