Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

Fixed PlanInheritanceTest
  matsim/src/test/java/org/matsim/core/replanning/planInheritance/PlanInheritanceTest.java
Due: core

Fixed LinkStatsControlerListenerTest
  matsim/src/test/java/org/matsim/analysis/LinkStatsControlerListenerTest.java
Due: core

Fixed OutputTravelStatsTest
  matsim/src/test/java/org/matsim/analysis/OutputTravelStatsTest.java
Due: core

changes
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/PlansConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

Update RunTestingScenario.java
  contribs/vsp/src/main/java/playground/vsp/changeExpBeta/RunTestingScenario.java
Due: contribs

Update LinkStats.java
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/LinkStats.java
Due: contribs

adjust population sampling and add simple test
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/test/java/org/matsim/core/utils/misc/PopulationUtilsTest.java
Due: core

remove unused inputs
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingproxy/InitialLoadGeneratorWithConstantShareTest.java
Due: contribs

Update TrafficStatsCalculator.java
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficStatsCalculator.java
Due: contribs

fix attribute reading
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
Due: core

feat(drt-extension): preemptive rejection
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/DrtWithExtensionsConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionHandler.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionOptimizer.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionParams.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/preemptive_rejection/RunPreemptiveRejectionIT.java
  contribs/drt-extensions/src/test/resources/org/matsim/contrib/drt/extension/preemptive_rejection/example.json
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
  examples/scenarios/mielec/vehicles-5-cap-2.xml
Due: contribs

add structure for scenario cutout
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Added subtraction-capacity computing
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Added dynamic capacity
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

First approach for new cap/vel calculation
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Temporary fix for the possible zero-capacity problem when using relativeAdjustmentOfCapacities
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Completed new cutout volume calculation and made minor fixes
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Added a guardian condition to ensure correct use of freespeed-calculation-methods.
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Polished the modeled-freespeed-calculation and added TODOs
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Fixed zero-capacity problem for relativeAdjustmentOfCapacities
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Removed buffer as separate geometry (now included in shp-geom)
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Fixed mathematical error in modeled-freespeed-calculation
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Finished freespeed-calc method
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Added assertion for possible error
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Fixed edge case in modeled-freespeed-calculation
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

temporarily added keepFreespeed option
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Fixed bugs in proportional-freespeed-calculation
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Added proportional-freespeed-calculation
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

build(deps): bump geotools.version from 33.0 to 33.1
  pom.xml
Due: none

build(deps): bump graphhopper-core from 9.1 to 10.2
  contribs/vsp/pom.xml
Due: contribs

make the parkingPenalty attribute name publicly visible
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/CarEgressWalkChanger.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/ParkingProxyModule.java
Due: contribs

build(deps): bump geotools.version from 33.0 to 33.1 (#4003)
  pom.xml
Due: none

build(deps): bump osm4j-pbf and osm4j-xml from 1.3.0 to 1.4.1
  contribs/osm/pom.xml
  contribs/signals/pom.xml
Due: contribs

add comment
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

build(deps): bump graphhopper-core from 9.1 to 10.2 (#4004)
  contribs/vsp/pom.xml
Due: contribs

Added HbefaConsistencyChecker and a detailed debug-error-message
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/EmissionModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/EmissionsConfigGroup.java
Due: contribs

Refined ConsistencyChecker
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
Due: contribs

Checker: fixed formatting and typos
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
Due: contribs

ConsistencyChecker now skips test (3) when lookupBehavior does not need average entry
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/EmissionModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
Due: contribs

Fixed old dependency
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/HbefaConsistencyChecker.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
