Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

make delegate optimizer configurable for convenience
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
Due: contribs

Fix RunFreightFoodRetailingBerlinExample
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExample.java
Due: none

add test
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest.java
Due: none

bugfix
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
Due: contribs

fix some edge-cases in OccupancyTracker
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/OccupancyData.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/OccupancyTrackerTest.java
Due: core

move out scheduling
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPImpl.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/MultipleChainsUtils.java
Due: contribs

feat: preemptive rejection improvements (#4075)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionOptimizer.java
Due: contribs

add consistencyCheck and change order of calls for scheduling and adding to the scenario.
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

fix some edge-cases in OccupancyTracker (#4076)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/OccupancyData.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/OccupancyTrackerTest.java
Due: core

fix for shift start case when charging ends at second before shift start
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/scheduler/EShiftTaskScheduler.java
Due: contribs

Carrier viewer Contrib - Classes only. Successfully tested in SimWrapperTest.java (#3953)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/LogisticViewer.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

wip: Split to large lspShipments
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/consistency_checkers/LogisticsConsistencyChecker.java
Due: contribs

split too large lspShipments
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
Due: contribs

added carriers dashboard and fixed the type for carrier viz class
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
Due: contribs

run with splitted shipments; comment
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

split method
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

todos
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/multipleChains/ExampleTwoLspsGroceryDeliveryMultipleChainsWithToll.java
Due: contribs

last update before hEART
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/AccessibilityAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareHouseholds.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboardKelheim.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/GridMap.java
Due: contribs

added/updated flow map viz class to pt dashboard class in simwrapper contrib. Tested with SimWrapperTest. (#4030)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/FlowMap.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

fix for shift start case when charging ends at second before shift start (#4077)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/scheduler/EShiftTaskScheduler.java
Due: contribs

a pointer to work by Corine Staves
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
Due: contribs

repair some compile errors which have crept in after merging (duplicate @Deprecated annotations)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
Due: contribs

Adjusted output values for modechoice-tests
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/replanning/SelectSubtourModeStrategyTest.java
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/search/TopKChoicesGeneratorTest.java
Due: contribs

Fixed RoutingIT
  matsim/src/test/java/org/matsim/core/router/RoutingIT.java
Due: core

Retrofitted ReRoutingIT
  matsim/src/test/java/org/matsim/integration/replanning/ReRoutingIT.java
Due: core

Fixed PlansDumpingIT
  matsim/src/test/java/org/matsim/core/controler/corelisteners/PlansDumpingIT.java
Due: core

Readded the distinction for none in LinkToLinkRouting.java
  matsim/src/main/java/org/matsim/core/router/LinkToLinkRouting.java
Due: core

make the parkingPenalty attribute name publicly visible
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/CarEgressWalkChanger.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/ParkingProxyModule.java
Due: contribs

make the parkingPenalty attribute name publicly visible (#4082)
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/CarEgressWalkChanger.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/ParkingProxyModule.java
Due: contribs

improve debug-ability by having more informative toString methods
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitStopFacilityImpl.java
Due: core

fix an issue with calculating routes with chained departures
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core

fix(pt): Fix a bug calculating pt routes using chained departures (#4083)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitStopFacilityImpl.java
Due: core

feat(ev): Charger placement based on aggregated low-energy events (#4029)
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExampleTruckLTH.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/routing/TruckEvNetworkRoutingProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/util/EvLowSocPenaltyHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/util/LowEnergyEventChargerPlacer.java
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/config_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/ev_population_trucks.xml
  contribs/ev/test/input/org/matsim/contrib/ev/example/RunEvExample/evehicles_trucks.xml
Due: contribs

feat(railsim): Add microJunctionFlat integration test
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/config.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/transitVehicles.xml
Due: contribs

feat(railsim): Add microJunctionFlat integration test (#4085)
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/config.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/transitVehicles.xml
Due: contribs

added minimum stop duration in transit schedule xml and api.
  matsim/src/main/java/org/matsim/pt/transitSchedule/Constants.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitRouteStopImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleReaderV2.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleWriterV2.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/TransitRouteStop.java
  matsim/src/main/resources/dtd/transitSchedule_v2.dtd
  matsim/src/test/java/org/matsim/pt/transitSchedule/MinimumStopDurationTest.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/TransitRouteStopTest.java
Due: core

WIP: trying to put pathToBaseCaseIntoDashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Dashboard.java
Due: contribs

first implementation of non blocking areas
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailLink.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microJunctionFlat/trainNetwork.xml
Due: contribs

remove not needed condition
  contribs/freight/src/main/java/org/matsim/freight/logistics/LSPUtils.java
Due: contribs
