Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

Revert "add missing input"
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

add missing input
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

add warning
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

update netBasedCosts calc
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
Due: contribs

adjust use of marker in otfvis
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractAgentSnapshotInfoBuilder.java
Due: core

walkOnNetworkExample. Not sure if this is ready
  code-examples/src/main/java/org/matsim/codeexamples/integration/RunWithWalkAsNetworkMode.java
Due: none

run with bus penalty example
  code-examples/src/main/java/org/matsim/codeexamples/integration/RunWithBusPenaltyExample.java
Due: none

adjust use of marker in otfvis (#4045)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractAgentSnapshotInfoBuilder.java
Due: core

contrib(profiling): JfrEventStopwatch - use java.time.Instant instead of long unix timestamp for sorting
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
Due: contribs

revert unused change
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
Due: contribs

give more detailed about the booking class per request
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionHandler.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
Due: contribs

feat(drt-extension): preemptive rejection (#4002)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/DrtWithExtensionsConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionHandler.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionOptimizer.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionParams.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/preemptive_rejection/RunPreemptiveRejectionIT.java
  contribs/drt-extensions/src/test/resources/org/matsim/contrib/drt/extension/preemptive_rejection/example.json
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  examples/scenarios/mielec/vehicles-5-cap-2.xml
Due: contribs

move class
  code-examples/src/main/java/org/matsim/codeexamples/pt/RunWithBusPenaltyExample.java
Due: none

add typed method and deprecate untyped method
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/MultiModeDrtConfigGroup.java
Due: contribs

comment out no longer existing method call; replace weakly by strongly typed method
  code-examples/src/main/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExample.java
Due: none

add typed method and deprecate untyped method (#4056)
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/MultiModeDrtConfigGroup.java
Due: contribs

fixup! contrib(profiling): refactor custom events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
Due: contribs

rounding up vehicles (#3999)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/targetcalculator/RelativeDemandEstimatorAsTargetCalculator.java
Due: contribs

approximate stop end in shift insertion cost calculator with request dropoff time
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
Due: contribs

fix calculation in shift insertion cost calculator
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
Due: contribs

fix(drt): fix timing bugs when using custom stop durations (#3979)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/ConfigurableCostCalculatorStrategy.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/PromisedTimeWindowOfferAcceptor.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/distances/InsertionDistanceCalculator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/objectives/PassengerDelayObjective.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/Waypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DetourTimeEstimator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/MaxDetourInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/AcceptedDrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DefaultOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/PromisedPickupTimeWindowDrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CorrectedStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CumulativeStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/DefaultPassengerStopDurationProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/DefaultStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/MinimumStopDurationAdapter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/ParallelStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/PrebookingStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/StopTimeCalculator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategyTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionProviderTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTestEnvironment.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

added best fit line for Daily traffic volumes scatter plot on the Traffic Counts Dashboard.
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/CountComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
Due: contribs

Replaced the vehicle-id fix by PrepareForSim injection (PlanRouterTest)
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
Due: core

Replaced the vehicle-id fix by PrepareForSim injection where possible; applied kn's EditRoutesTest fixes
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/EstimateRouterTest.java
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/ScenarioTest.java
  contribs/locationchoice/src/test/java/org/matsim/contrib/locationchoice/Initializer.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalControlerListenerTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalTripRouterTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/pt/MultiModalPTCombinationTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
  contribs/socnetsim/src/test/java/org/matsim/contrib/socnetsim/jointtrips/router/JointTripRouterFactoryTest.java
  contribs/vsp/src/test/java/org/matsim/contrib/vsp/pt/fare/PtTripFareEstimatorTest.java
  matsim/src/test/java/org/matsim/core/router/TripRouterFactoryImplTest.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
  matsim/src/test/java/org/matsim/withinday/utils/EditRoutesTest.java
Due: core, contribs

Fixed ScoreStatsModuleTest
  matsim/src/test/java/org/matsim/modules/ScoreStatsModuleTest.java
Due: core

Retrofitted InitRoutesTest
  matsim/src/test/java/org/matsim/run/InitRoutesTest.java
Due: core

fix(deps): add junit-jupiter-api to dependency management
  pom.xml
Due: none

fix(deps): add junit-jupiter-api to dependency management (#4068)
  pom.xml
Due: none

fix(deps): add commons-collections4 to dependency management
  pom.xml
Due: none

build(deps): bump commons-logging:commons-logging from 1.2 to 1.3.5
  pom.xml
Due: none

fix(deps): add commons-collections4 to dependency management (#4070)
  pom.xml
Due: none

build(deps): bump commons-logging:commons-logging from 1.2 to 1.3.5 (#4071)
  pom.xml
Due: none

fix: re-enable resolveEntityRefs for SAX parser
  matsim/src/main/java/org/matsim/core/utils/io/MatsimXmlParser.java
Due: core

fix: re-enable resolveEntityRefs for SAX parser (#4072)
  matsim/src/main/java/org/matsim/core/utils/io/MatsimXmlParser.java
Due: core

maintenance
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  matsim/src/main/java/org/matsim/vehicles/Vehicles.java
Due: core, contribs

repair tests
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

fix: maintenance (#4074)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  matsim/src/main/java/org/matsim/vehicles/Vehicles.java
Due: core, contribs

bicycle maintenance
  code-examples/src/main/java/org/matsim/codeexamples/extensions/bicycle/RunBicycleContribExample.java
Due: none

disable freight tests
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightWithIterationsExampleTest.java
Due: none

make preemptive rejection instructions injectable
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionOptimizer.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
