Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

feat(bicycle/network): add prepare bicycle-attributes for SUMO networks
  contribs/bicycle/pom.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkOps.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest/ring.net.xml
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest/ring.osm
Due: contribs

feat(bicycle/network): add prepare bicycle-keep-edges
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleKeepEdges.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleKeepEdgesTest.java
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/network/SumoBicycleKeepEdgesTest/chain.net.xml
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/network/SumoBicycleKeepEdgesTest/chain.osm
Due: contribs

fix(bicycle/network): apply the access rules instead of only counting them
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

fix(bicycle/network): stop passing DEM no-data values off as elevations
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkOps.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/ElevationDataParser.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/ElevationDataParserTest.java
Due: contribs

docs(bicycle/network): document both network paths in the package README
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

feat(bicycle/network): write the companion files next to the annotated network
  contribs/bicycle/pom.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

feat: policies (#5086)
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/CornerCases.java
Due: contribs

fix(bicycle/network): companion files inherit the network's compression
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

feat(sumo): gate bike-carrying types behind --keep-cyclable-minor-ways
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
  contribs/sumo/src/main/java/org/matsim/contrib/sumo/SumoNetworkConverter.java
  contribs/sumo/src/test/java/org/matsim/contrib/sumo/SumoNetworkConverterTest.java
Due: contribs

docs(bicycle/network): drop the measurement log from the README
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

fix(bicycle): scoring falls back to the osm:-prefixed link attributes
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkOps.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleUtilsTest.java
Due: contribs

refactor(bicycle): move the attribute keys to BicycleUtils, snake_case them
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkOps.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleUtilsTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

test(bicycle/network): resolve fixture paths via MatsimTestUtils
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/ElevationDataParserTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/OsmWayTagsTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleKeepEdgesTest.java
Due: contribs

refactor(bicycle/network): simplifier match keys through the constants
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

refactor(bicycle/network): single renameMode in BicycleNetworkOps
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkOps.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
Due: contribs

refactor(bicycle/network): share the command options as picocli mixins
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleBuildOptions.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/DemOptions.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
Due: contribs

refactor(bicycle/network): rename Direction and TagCopy for clarity
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleCountryProfile.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleInfraClassifier.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/OsmWayDirection.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/TagCopier.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleInfraClassifierTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/TagCopierTest.java
Due: contribs

fix(application): pass --keep-cyclable-minor-ways through network-from-sumo
  contribs/application/src/main/java/org/matsim/application/prepare/network/CreateNetworkFromSumo.java
Due: contribs

feat(bicycle/network): merge agreeing links via bicycle-attributes --simplify
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

remove xsd validation, as not needed in this Guesser
  matsim/src/main/java/org/matsim/core/utils/io/MatsimFileTypeGuesser.java
Due: core

add comment
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

simplify
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Added accumulative plots
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

remove xsd validation, as not needed in this Guesser (#5097)
  matsim/src/main/java/org/matsim/core/utils/io/MatsimFileTypeGuesser.java
Due: core

feat(bicycle/network): record the bicycle area as a link attribute
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

Move application tests next to tested classes
  contribs/application/src/test/java/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest.java
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/attributes.xml
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/persons.xml
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/test-100pct.plans-with-trips.xml.gz
  matsim/src/test/java/org/matsim/application/ApplicationUtilsTest.java
  matsim/src/test/java/org/matsim/application/CommandRunnerTest.java
  matsim/src/test/java/org/matsim/application/ConfigYamlUpdateTest.java
  matsim/src/test/java/org/matsim/application/MATSimApplicationTest.java
  matsim/src/test/java/org/matsim/application/TestAnalysis.java
  matsim/src/test/java/org/matsim/application/TestCommand.java
  matsim/src/test/java/org/matsim/application/TestDependentAnalysis.java
  matsim/src/test/java/org/matsim/application/TestOtherAnalysis.java
  matsim/src/test/java/org/matsim/application/TestOtherDependentAnalysis.java
  matsim/src/test/java/org/matsim/application/options/CsvOptionsTest.java
  matsim/src/test/java/org/matsim/application/options/SampleOptionsTest.java
  matsim/src/test/java/org/matsim/application/options/ShpOptionsTest.java
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/run.output_network.xml.gz
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/stats.csv
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/test.csv
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/config.xml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/multiLevel.yml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/params.yml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/standard.yml
  matsim/test/input/org/matsim/application/MATSimApplicationTest/specs.yml
  matsim/test/input/org/matsim/application/options/example.gpkg
  matsim/test/input/org/matsim/application/prepare/CreateLandUseShpTest/andorra-latest-free.shp.zip
Due: core, contribs

create methods for condition
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

Expose config command-line overrides to subclasses
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/test/java/org/matsim/application/MATSimApplicationTest.java
Due: core

feat(application): Expose config override handling and move application tests (#5098)
  contribs/application/src/test/java/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest.java
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/attributes.xml
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/persons.xml
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/test-100pct.plans-with-trips.xml.gz
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/test/java/org/matsim/application/ApplicationUtilsTest.java
  matsim/src/test/java/org/matsim/application/CommandRunnerTest.java
  matsim/src/test/java/org/matsim/application/ConfigYamlUpdateTest.java
  matsim/src/test/java/org/matsim/application/MATSimApplicationTest.java
  matsim/src/test/java/org/matsim/application/TestAnalysis.java
  matsim/src/test/java/org/matsim/application/TestCommand.java
  matsim/src/test/java/org/matsim/application/TestDependentAnalysis.java
  matsim/src/test/java/org/matsim/application/TestOtherAnalysis.java
  matsim/src/test/java/org/matsim/application/TestOtherDependentAnalysis.java
  matsim/src/test/java/org/matsim/application/options/CsvOptionsTest.java
  matsim/src/test/java/org/matsim/application/options/SampleOptionsTest.java
  matsim/src/test/java/org/matsim/application/options/ShpOptionsTest.java
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/run.output_network.xml.gz
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/stats.csv
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/test.csv
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/config.xml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/multiLevel.yml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/params.yml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/standard.yml
  matsim/test/input/org/matsim/application/MATSimApplicationTest/specs.yml
  matsim/test/input/org/matsim/application/options/example.gpkg
  matsim/test/input/org/matsim/application/prepare/CreateLandUseShpTest/andorra-latest-free.shp.zip
Due: core, contribs

support Zstd and LZ4 in the GUI's (un)compression tools
  matsim/src/main/java/org/matsim/run/gui/GUnZipper.java
  matsim/src/main/java/org/matsim/run/gui/Gui.java
  matsim/src/main/java/org/matsim/run/gui/GuiCompressionUtils.java
Due: core

support Zstd and LZ4 in the GUI's (un)compression tools (#5101)
  matsim/src/main/java/org/matsim/run/gui/GUnZipper.java
  matsim/src/main/java/org/matsim/run/gui/Gui.java
  matsim/src/main/java/org/matsim/run/gui/GuiCompressionUtils.java
Due: core

improve Geopackage writing in GeoFileWriter
  matsim/src/main/java/org/matsim/core/utils/gis/GeoFileWriter.java
Due: core

improve robustness
  matsim/src/main/java/org/matsim/core/utils/gis/GeoFileWriter.java
Due: core

feat: Improve GeoFileWriter (#5102)
  matsim/src/main/java/org/matsim/core/utils/gis/GeoFileWriter.java
Due: core

Simplify commercial traffic config argument handling
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

moved DrtServiceQualityProbeParams to different module
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/servicequality/DrtServiceQualityProbe.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/servicequality/DrtServiceQualityProbeParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/servicequality/DrtServiceQualityProbeQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/servicequality/DrtServiceQualityProbeParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

cleanup
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelRequestInserterModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
Due: contribs

feat(bicycle/network): widen the access values that keep a way out
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleOsmTags.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
Due: contribs

feat(bicycle/network): drop unclassified minor ways via --drop-ways-without-infra
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleBuildOptions.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

feat(bicycle/network): keep only the consumed OSM tags, --osm-tags ALL for the rest
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleOsmTags.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
