Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

refactor(dsim): inject MessageTypeRegistry into registry-only consumers
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/SingleNodeAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/SingleExecutor.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

refactor(serialization): make SerializationProvider a codec interface
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  matsim/src/main/java/org/matsim/core/communication/Communicator.java
  matsim/src/main/java/org/matsim/core/serialization/ForySerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/NoopSerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
Due: core, contribs

refactor(communication): make NullCommunicator resolve collectives locally
  matsim/src/main/java/org/matsim/core/communication/NullCommunicator.java
  matsim/src/test/java/org/matsim/core/communication/NullCommunicatorTest.java
Due: core

refactor(dsim): bind NoopSerializationProvider for single-node runs
  contribs/distributed-simulation/src/main/java/org/matsim/dsim/RunDistributedSim.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedController.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/MessageBrokerTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/core/serialization/ForySerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
Due: core, contribs

refactor(dsim): move Fory codec into the distributed-simulation contrib
  contribs/distributed-simulation/src/main/java/org/matsim/core/serialization/ForySerializationProvider.java
  contribs/distributed-simulation/src/main/java/org/matsim/core/serialization/custom/AttributesSerializer.java
  contribs/distributed-simulation/src/main/java/org/matsim/core/serialization/custom/IdSerializer.java
  contribs/distributed-simulation/src/main/java/org/matsim/core/serialization/custom/IntArrayListSerializer.java
  contribs/distributed-simulation/src/test/java/org/matsim/core/serialization/ForySerializationProviderTest.java
Due: contribs

build(dsim): drop Fory from matsim core, relocate DRT-based DSim tests
  contribs/distributed-simulation/pom.xml
  contribs/drt/pom.xml
  contribs/drt/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  contribs/drt/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/drt/src/test/java/org/matsim/dsim/simulation/SimProviderTest.java
  contribs/drt/test/input/org/matsim/dsim/ScoringRegressionTest/kelheim/expected_experienced_plans.xml.gz
  contribs/ev/pom.xml
  contribs/sbb-extensions/pom.xml
  matsim/pom.xml
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/test/java/org/matsim/core/serialization/MessageTypeRegistryTest.java
  matsim/src/test/java/org/matsim/dsim/DSimWithoutContribTest.java
  pom.xml
Due: core, contribs

refactor(dsim): guard SerializationProvider binding against a null codec
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
Due: core

chore: gitignore local-only tmp.typ and .mcp.json
  .gitignore
Due: none

build(pom): add skipTests property for failsafe plugin configuration
  pom.xml
Due: none

Make claude use less verbose comments
  contribs/distributed-simulation/src/main/java/org/matsim/core/serialization/ForySerializationProvider.java
  matsim/pom.xml
  matsim/src/main/java/org/matsim/core/communication/NullCommunicator.java
  matsim/src/main/java/org/matsim/core/serialization/MessageTypeRegistry.java
  matsim/src/main/java/org/matsim/core/serialization/NoopSerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/test/java/org/matsim/dsim/DSimWithoutContribTest.java
Due: core, contribs

docs(bicycle/network): normalizeOrigIdType is no longer load-bearing after #5107
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

feat(population): add decideOnCoordForActivity overload without Scenario
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

feat(population): add decideOnCoordForActivity overload without Scenario (#5169)
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

resolve a warning
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/handler/IntervalBasedTollingAll.java
Due: contribs

adapt expected values in decongestion pricing test accordingly
  contribs/decongestion/src/test/java/org/matsim/contrib/decongestion/DecongestionPricingTestIT.java
Due: contribs

fix: let agents pay based on their link enter time...
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/handler/IntervalBasedTollingAll.java
Due: contribs

fix(decongestion pricing): Correct toll calculation (#5176)
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/handler/IntervalBasedTollingAll.java
  contribs/decongestion/src/test/java/org/matsim/contrib/decongestion/DecongestionPricingTestIT.java
Due: contribs

add comments and warnings to faulty noise summation methods
  contribs/application/src/main/java/org/matsim/application/analysis/noise/MergeNoiseOutput.java
  contribs/application/src/main/java/org/matsim/application/analysis/noise/NoiseAnalysis.java
Due: contribs

add comments and warnings to faulty noise summation methods (#5178)
  contribs/application/src/main/java/org/matsim/application/analysis/noise/MergeNoiseOutput.java
  contribs/application/src/main/java/org/matsim/application/analysis/noise/NoiseAnalysis.java
Due: contribs

change `threadScheduling` to `taskScheduling`
  matsim/src/main/java/org/matsim/dsim/DSimConfigGroup.java
  matsim/src/main/java/org/matsim/dsim/executors/DSimThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/test/java/org/matsim/dsim/DSimConfigGroupTest.java
Due: core

change `threadScheduling` to `taskScheduling` (#5181)
  matsim/src/main/java/org/matsim/dsim/DSimConfigGroup.java
  matsim/src/main/java/org/matsim/dsim/executors/DSimThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/test/java/org/matsim/dsim/DSimConfigGroupTest.java
Due: core

fix(bicycle/network): share one access-rule order between both build paths
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleAccessRules.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleAccessRulesTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
Due: contribs

fix(bicycle/network): stop a companion file from overwriting the network
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SplitBikeLinks.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributesTest.java
Due: contribs

fix(bicycle/network): recognise compound SUMO types as service links
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/ServiceLinkCleaner.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/ServiceLinkCleanerTest.java
Due: contribs

fix(bicycle/network): prune emptied links before the SUMO service cleanup
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/SumoBicycleAttributes.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/ServiceLinkCleanerTest.java
Due: contribs

feat(analysis): add impact dashboard overview
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactCsvWriter.java
  contribs/application/src/main/java/org/matsim/application/analysis/impact/ImpactDashboardTables.java
  contribs/application/src/test/java/org/matsim/application/analysis/impact/ImpactAnalysisTest.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DefaultDashboardProvider.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboardTest.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/groups/GlobalConfigGroupTest.java
Due: core, contribs

fix naming for population sample size <= 0.1pct
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
Due: contribs

fix naming for population sample size <= 0.1pct (#5185)
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
Due: contribs

reset node concurrent handlers only once
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
Due: core

reset node concurrent handlers only once, improve collecting of task runtimes
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/SimTask.java
Due: core

partition in first iteration, after population has been routed
  matsim/src/main/java/org/matsim/dsim/DSimControllerListener.java
  matsim/src/main/java/org/matsim/dsim/NetworkDecomposition.java
Due: core

add tests and new partition message
  matsim/src/main/java/org/matsim/api/core/v01/messages/NetworkPartitionMessage.java
  matsim/src/test/java/org/matsim/dsim/PartitioningTest.java
  matsim/src/test/java/org/matsim/dsim/ResetHandlersTest.java
  matsim/src/test/java/org/matsim/dsim/TaskRuntimesTest.java
Due: core

simple metis tests and better output
  matsim/src/main/java/edu/metis/Metis.java
Due: core

fixed test to include distance-based detour factor
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
Due: contribs

minor change to retrigger github checks
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
Due: contribs

improve the metis partitioning, support graphs with self loops and multi edges
  matsim/src/main/java/org/matsim/dsim/NetworkDecomposition.java
Due: core

make volume analyzer fully distributed
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/analysis/VolumesSyncMessage.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/test/java/org/matsim/dsim/NetworkDecompositionTest.java
  matsim/src/test/java/org/matsim/dsim/VolumesAnalyzerDSimTest.java
Due: core, contribs

use view for analyzed link volumes instead of creating a new set each time
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
Due: core

perf(dsim): Improve several modules for DSim (#5189)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  matsim/src/main/java/edu/metis/Metis.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/analysis/VolumesSyncMessage.java
  matsim/src/main/java/org/matsim/api/core/v01/messages/NetworkPartitionMessage.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/DSimControllerListener.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/NetworkDecomposition.java
  matsim/src/main/java/org/matsim/dsim/SimTask.java
  matsim/src/test/java/org/matsim/dsim/NetworkDecompositionTest.java
  matsim/src/test/java/org/matsim/dsim/PartitioningTest.java
  matsim/src/test/java/org/matsim/dsim/ResetHandlersTest.java
  matsim/src/test/java/org/matsim/dsim/TaskRuntimesTest.java
  matsim/src/test/java/org/matsim/dsim/VolumesAnalyzerDSimTest.java
Due: core, contribs
