Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

Moved pretoria code to separate class
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Backpacks are sent to home node for scoring and backpacks are sent to head node for experienced plans writing.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  matsim/src/main/java/org/matsim/api/core/v01/Topology.java
  matsim/src/main/java/org/matsim/core/communication/Communicator.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/LocalContext.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedPlansCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/FinishedBackpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/FinishedBackpackCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
Due: core, contribs

Refactored PretoriaTest
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Bugfixes after refactor
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Added clustering to fix gps noise errors from standing times
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Created new file for analysis of PretoriaTest outputs
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Segment A,B,C comparison
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

add osm tag service
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmRailwayReader.java
Due: contribs

add osm tag service (#4627)
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmRailwayReader.java
Due: contribs

Move dsim related test cases into distributed-simulation contrib, to avoid setting runtime flags for the base package.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedController.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/DefaultWait2LinkTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
Due: core, contribs

clean up
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

fix(dvrp): fix windows path in FreeSpeedTravelTimeMatrixTest
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/FreeSpeedTravelTimeMatrixTest.java
Due: contribs

chore(test): add test output to gitignore
  contribs/.gitignore
Due: contribs

feat(core): copy CRS when filtering network
  matsim/src/main/java/org/matsim/core/network/filter/NetworkFilterManager.java
Due: core

changes related to matsim-dresden in advanced matsim
  matsim/src/main/java/org/matsim/core/controler/ControllerUtils.java
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonRouteCheck.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesUtils.java
Due: core

fix(dvrp): fix windows path in FreeSpeedTravelTimeMatrixTest (#4628)
  contribs/dvrp/src/test/java/org/matsim/contrib/zone/skims/FreeSpeedTravelTimeMatrixTest.java
Due: contribs

removePassenger compares passengers by Id, instead of by object instance. This is important, as DSim frequently recreates Agents, when they cross partition boundaries.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QVehicleImpl.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/QVehicleImplTest.java
Due: core, contribs

feat(core): copy CRS when filtering network with TransportModeNetworkFilter
  matsim/src/main/java/org/matsim/core/network/algorithms/TransportModeNetworkFilter.java
Due: core

feat: changes related to making matsim-dresden functional for matsim advanced (#4631)
  matsim/src/main/java/org/matsim/core/config/ConfigWriter.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/controler/ControllerUtils.java
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonRouteCheck.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesUtils.java
Due: core

feat(core): copy CRS when filtering network (#4630)
  matsim/src/main/java/org/matsim/core/network/algorithms/TransportModeNetworkFilter.java
  matsim/src/main/java/org/matsim/core/network/filter/NetworkFilterManager.java
Due: core

chore(test): add test output to gitignore (#4629)
  contribs/.gitignore
Due: contribs

Adjust testsing to: * comparison of removed passengers by id in QVehicleImpl * Transit engine, removing tracked agents on cleanup.
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitQueueSimulationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
  matsim/src/test/java/org/matsim/pt/fakes/FakeAgent.java
Due: core

Adjust testsing to: * comparison of removed passengers by id in QVehicleImpl
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitVehicleTest.java
  matsim/src/test/java/org/matsim/pt/fakes/FakePassengerAgent.java
Due: core

feat(drt): check for maxWaitTime being lower than maxTravelTimeBeta
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtOptimizationConstraintsSetImpl.java
Due: contribs

fix(vsp): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/vsp/src/test/java/org/matsim/integration/drtAndPt/PtAlongALine2Test.java
  examples/scenarios/dvrp-grid/eight_shared_taxi_config.xml
Due: contribs

fix(drt-extension): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationTest.java
  examples/scenarios/mielec/mielec_drt_config.xml
Due: contribs

fix(av): fix maxWaitTime to be lower than maxTravelTimeBeta
  examples/scenarios/dvrp-grid/one_taxi_and_one_shared_taxi_config.xml
Due: none

fix(commercialTrafficApplications): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/commercialTrafficApplications/src/main/java/org/matsim/contrib/commercialTrafficApplications/jointDemand/examples/RunJointDemandDRTExample.java
Due: contribs

fix(prebooking): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTest.java
Due: contribs

fix(drt): fix maxWaitTime to be lower than maxTravelTimeBeta
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DrtPoolingParameterTest.java
Due: contribs

add ScenarioUtils.cleanScenario( scenario )
  matsim/src/main/java/org/matsim/core/scenario/ScenarioUtils.java
Due: core

add ScenarioUtils.cleanScenario( scenario ) (#4633)
  matsim/src/main/java/org/matsim/core/scenario/ScenarioUtils.java
Due: core

Remove handling of config paths with java.nio.Path, as this does not work on CI, where things are loaded remotely.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
Due: contribs

Attempt to have more consistent naming and add documentation
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/FinishedBackpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/FinishedBackpackCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingPtLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingVehicleLeg.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core, contribs

adjust condition to have commercial trips from A to B into calculation
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/LinkVolumeCommercialEventHandler.java
Due: contribs

add longDistance trip to test
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
Due: contribs

rename and add comment
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

Explicitly bind DistributedEventsManager. This way it is available without the interface for DSim classes.
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
Due: core

correct files
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

comment out markers because the dashboard will be slow with this data
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
