Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

add infrastructure to have additional outputs for jsprit analysis
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
Due: contribs

clean up
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

add a carriers output at the end of runJsprit
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

remove unnecessary output because it is in runJsprit now
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
Due: contribs

fix test output directories in carriers package
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/RunPassengerAlongWithCarriers.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/usecases/chessboard/RunPassengerAlongWithCarriersIT.java
Due: contribs

problem fixing
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/analysis/ServiceAnalysis.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/prepare/ProcessDepartureTime.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/prepare/ProcessDrtPersons.java
  contribs/vsp/src/main/java/playground/vsp/drt/accessibilityOrientedDrt/run/RunHeterogeneousDrt.java
Due: contribs

First idea to get more information on passengers leaving and entering pt
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonEntersPtEvent.java
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonLeavesPtEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/ComplexTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/SimpleTransitStopHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopHandler.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingPtLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingVehicleLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/test/java/org/matsim/core/scoring/EventsToLegsTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
Due: core, contribs

add test for jsprit analysis
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
Due: contribs

fix loop
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
Due: contribs

Revert additional event, figure out line and route information of transit vehicles directly in the scoring collector
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgress.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingPtLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
Due: core, contribs

clean up
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/DistanceConstraintTest.java
Due: contribs

make results collection non static
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
Due: contribs

check null
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

fix: include last time slot in vehiclesActivePerTimeSlot
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/logic/DefaultCapacityReconfigurationLogic.java
Due: contribs

comments
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationEngine.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/logic/DefaultCapacityReconfigurationLogic.java
Due: contribs

make implementations of DvrpLoad and DvrpLoadType final (for the time being)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoadType.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoadType.java
Due: contribs

Add experienced transit routes * Test cases not complete
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingPtLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
Due: core, contribs

fix(drt): account for all time slots in DefaultCapacityReconfigurationLogic (#4590)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationEngine.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/logic/DefaultCapacityReconfigurationLogic.java
Due: contribs

make implementations of DvrpLoad and DvrpLoadType final (for the time being) (#4591)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoadType.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoadType.java
Due: contribs

Simplify transit route distance calculation, as I could not parse the logic directly.
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/test/java/org/matsim/core/utils/misc/RouteUtilsTest.java
Due: core

Test experienced pt route
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
Due: core

Introduce EndOfDayScoring which scores agents when they arrive at their final destination.
  matsim/src/main/java/org/matsim/core/scoring/DistributedScoringListener.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToScore.java
  matsim/src/main/java/org/matsim/core/scoring/NewScoreAssigner.java
  matsim/src/main/java/org/matsim/core/scoring/NewScoreAssignerImpl.java
  matsim/src/main/java/org/matsim/core/scoring/PlansScoringImpl.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
Due: core

Clean up scoring data collection and add test cases for scoring data collector.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingVehicleLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
Due: core, contribs

rename columns
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
Due: contribs

fix tests
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
Due: contribs

fix condition
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
Due: contribs

add additional output
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
Due: contribs

set range of y axis
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
Due: contribs

fix test and add matsim run at the end
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
Due: contribs

reorder test
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
Due: contribs

added drt accessibility test
  contribs/accessibility/pom.xml
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/AccessibilityIntegrationTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest/output_events.xml.gz
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest/output_events_congested.xml.gz
Due: contribs

chore: refactor drtLegs header and add unsharedRideTime
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

feat(carriers): Add jsprit analysis to analysis output (#4589)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/RunPassengerAlongWithCarriers.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/DistanceConstraintTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/usecases/chessboard/RunPassengerAlongWithCarriersIT.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
Due: contribs

chore: Adapt header again
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

chore: refactor drtLegs header and add directRideTime (#4593)
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtAnalysisControlerListener.java
Due: contribs

fix(drt): insertion for completed schedule
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  examples/scenarios/mielec/plans_only_drt_1.0_with_late_request.xml.gz
Due: contribs

clarify test
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

fix(drt): insertion for completed schedule (#4597)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  examples/scenarios/mielec/plans_only_drt_1.0_with_late_request.xml.gz
Due: contribs

changes around AgentWiseComparison; some maintenance on the side
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddPersonAttribsToExperiencedPlans.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
  matsim/src/main/java/org/matsim/core/config/ConfigUtils.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/router/TeleportationRoutingModule.java
Due: core, contribs

simplified standard accessibility dashboard
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/AccessibilityAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/AccessibilityDistributionAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareDrtStops.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareHouseholds.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PreparePois.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareTransitSchedule.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
