Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

fix test because exclude services with duration 0 before
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

Add passenger to distributed test
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

merge main and disbale distributed test on windows ci, as it cannot handle these tests
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

fix(shared_mobility): set initialSoc on EV-typed dummy routing vehicles (#4899)
  contribs/shared_mobility/pom.xml
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingUtils.java
Due: contribs

add option to use range restrictions based on energy consumption
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Add branch to re create regular transit drivers from message.
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
Due: core, contribs

fix(carriers): Fix carrier analysis and little kwm adjusments (#4900)
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierLoadAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

Disable test to figure out which test hangs in ci
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

change verify push to debug hanging test
  .github/workflows/verify-push.yaml
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

debug ci failures
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

debug ci failures
  .github/workflows/verify-push.yaml
Due: none

synchronize logging init and tear down.
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/core/controler/OutputDirectoryLogging.java
Due: core, contribs

Try running the entire ci again
  .github/workflows/verify-push.yaml
Due: none

Add disabled on windows annotation again, to avoid braking the full integration pipeline.
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

set timeout back to 10 minutes
  .github/workflows/verify-push.yaml
Due: none

feat(sbb-extensions): DSim ready (#4896)
  .github/workflows/verify-push.yaml
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgentImpl.java
  contribs/sbb-extensions/pom.xml
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/SBBTransitModule.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgentFactory.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineQSimModule.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/SBBQSimModuleTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/TestFixture.java
  matsim/src/main/java/org/matsim/core/controler/OutputDirectoryLogging.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/DefaultTransitDriverAgentFactory.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentFactory.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQVehicle.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
Due: core, contribs

feat(fiss): add VehicleTeleportationDepartureEvent
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
  matsim/src/main/java/org/matsim/core/api/experimental/events/handler/VehicleTeleportationDepartureEventHandler.java
Due: core, contribs

test: update reference events file
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
Due: contribs

feat(fiss): add VehicleTeleportationDepartureEvent (#4902)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
  matsim/src/main/java/org/matsim/core/api/experimental/events/handler/VehicleTeleportationDepartureEventHandler.java
Due: core, contribs

add junit dependency and test inputs
  code-examples/pom.xml
  code-examples/test/input/org/matsim/codeexamples/ExampleTest/config.xml
  code-examples/test/input/org/matsim/codeexamples/ExampleTest/network.xml
  code-examples/test/input/org/matsim/codeexamples/ExampleTest/plans100.xml
  code-examples/test/input/org/matsim/codeexamples/RunAbcSimpleExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/RunAbcSimpleExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/discrete_mode_choice/RunDiscreteModeChoiceExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/discrete_mode_choice/RunDiscreteModeChoiceExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/dvrp/RunDrtExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/dvrp/RunDrtExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/emissions/RunAverageEmissionToolOfflineExampleTest/testMain/5.emission.events.offline.xml.gz
  code-examples/test/input/org/matsim/codeexamples/extensions/emissions/RunAverageEmissionToolOfflineExampleTest/testMain/vehicles.xml.gz
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/analysis/freight/Carriers_KPIs.tsv
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/analysis/freight/Carriers_stats.tsv
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/analysis/freight/Load_perVehicle.tsv
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/analysis/freight/TimeDistance_perCarrier.tsv
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/analysis/freight/TimeDistance_perVehicle.tsv
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/analysis/freight/TimeDistance_perVehicleType.tsv
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/output_carriers.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightWithIterationsExampleTest/testMain/output_events.xml.gz
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightWithIterationsExampleTest/testMain/output_plans.xml.gz
  code-examples/test/input/org/matsim/codeexamples/programming/multipleSubpopulations/SubpopulationsExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/programming/simpleadaptivesignalengine/RunSimpleAdaptiveSignalExampleTest/output_events.xml.gz
  code-examples/test/input/org/matsim/codeexamples/scoring/aaAddToScoring/RunAddToScoringExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/aaAddToScoring/RunAddToScoringExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/aaIncomeDependentScoring/RunIncomeDependentScoringExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/aaIncomeDependentScoring/RunIncomeDependentScoringExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/individualizedScoringParameters/RunIndividualizedScoringExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/individualizedScoringParameters/RunIndividualizedScoringExampleTest/testMain/output_plans.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExampleTest/testMain/output_events.xml.zst
  code-examples/test/input/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExampleTest/testMain/output_plans.xml.zst
Due: none

fix(sbb-extensions): ensure LinkEnter/-LeaveEvents use integer time
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
Due: contribs

fix: store current simulation step time in SBBTransitEngine
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
Due: contribs

feat(fiss): implement vehicle teleportation handling for in-transit vehicles
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/FissVehicleTeleportationIT.java
Due: contribs

add the otfvis changes to agentwise branch.
  contribs/otfvis/src/main/java/org/matsim/contrib/otfvis/OTFVis.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  matsim/src/main/java/org/matsim/core/events/algorithms/SnapshotGenerator.java
Due: core, contribs

feat(fiss): implement vehicle teleportation handling for in-transit vehicles (#4905)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/FissVehicleTeleportationIT.java
Due: contribs

fix(sbb-extensions): correct QSim component configuration in SBBTransitEngineTest
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

fix test failures
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExample.java
  code-examples/src/main/java/org/matsim/codeexamples/withinday/withinDayReplanningFromPlans/RunWithinDayReplanningFromPlansExample.java
  code-examples/test/input/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest/testMain/output_events.xml.zst
Due: none

add discussion template
  .github/DISCUSSION_TEMPLATE/q-a.yml
Due: none

Revert "try dumping relativeScalesTolerance to xml but not accept setting it from xml"
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

Revert "try make the relativeToleranceForSampleSizeFactors setting show up in the config dump, but cause a runtime exception when called from xml"
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

make xml setters/getters visible
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

VspConfig maintenance; introduce 3rd category for betaTravel Null check
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/VspExperimentalConfigGroup.java
Due: core

allow >maintenance< as commit title
  .github/workflows/pr-title.yml
Due: none

remove the epsilon since it fails ConfigV2IO test
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core

fix clear node singleton listeners before next iteration
  matsim/src/main/java/org/matsim/dsim/simulation/SimProvider.java
Due: core

filter out non relevant vehicle types
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
Due: contribs

Add Tests for SimProvider. Set output directory overwrites to overwrite existing
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/SimProviderTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDSimTestFixture.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NodeSingletons.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProvider.java
Due: core, contribs

correct plot title
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
