Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

update charger
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/RandomChargingPlanInnovator.java
Due: contribs

feat(ev): sequential innovation in sevc (#4576)
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/InnovationHelper.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/RandomChargingPlanInnovator.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/StrategicChargingTest.java
Due: contribs

simplify max ride duration constraint slack calculation
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImplTest.java
Due: contribs

simplify max ride duration constraint slack calculation (#4577)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImplTest.java
Due: contribs

enable merge of stops by extending them
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

update test
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
Due: contribs

fix adaptive prebooking logic (#4571)
  contribs/drt/src/main/java/org/matsim/contrib/drt/prebooking/logic/AdaptivePrebookingLogic.java
Due: contribs

update test
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
Due: contribs

fix test
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleContribTest.java
Due: contribs

update test
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

refactor(drt): enable merge of stops by extending them beyond initial planned end time (#4578)
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

feat(ev): update sevc configurator
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingScenarioConfigurator.java
Due: contribs

feat(ev): update sevc configurator (#4579)
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingScenarioConfigurator.java
Due: contribs

rename
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/LinkVolumeCommercialEventHandler.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

fix analysis per subpopulation
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/LinkVolumeCommercialEventHandler.java
Due: contribs

clean up
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

make description of the dashboard as method
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

fix distance dashboards
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

clean up
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

fix: include last time slot in vehiclesActivePerTimeSlot
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/logic/DefaultCapacityReconfigurationLogic.java
Due: contribs

deprecate run and runWithDefault
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

WIP: Wire up backback scoring collector
  .gitignore
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/BackPack.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/SimStepMessage.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/main/java/org/matsim/dsim/DSimModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DSimComponentsModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimStepMessaging.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
Due: core, contribs

WIP: Wire up backback scoring collector
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core, contribs

Remove warnings
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  matsim/src/main/java/org/matsim/dsim/DSimModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
Due: core, contribs

renaming
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

adjust description of tab
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

Improve DistributedEventHandler annotation: * Replace flags with enums * Change naming * Add more documentation
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtVehicleDistanceStats.java
  matsim/src/main/java/org/matsim/analysis/CalcLegTimes.java
  matsim/src/main/java/org/matsim/analysis/LegHistogram.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/BlockingMode.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/DistributedEventHandler.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/DistributedMode.java
  matsim/src/main/java/org/matsim/api/core/v01/events/handler/ProcessingMode.java
  matsim/src/main/java/org/matsim/core/events/algorithms/EventWriterXML.java
  matsim/src/main/java/org/matsim/core/scoring/ScoringFunctionsForPopulation.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
Due: core, contribs

add warning
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

comments
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/CapacityReconfigurationEngine.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/logic/DefaultCapacityReconfigurationLogic.java
Due: contribs

Refactor DistributedEventsManager to improve handling of `DistributedEventHandler` types and add support for direct processing mode.
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
Due: core

Add additional addHandler method to manually register event handlers per partition
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
Due: core

updating the README
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/README.md
Due: contribs

Removed non-functional geomBuffer
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

Added absolute capacity correction
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Replicate what EventsToLegs, EventsToActivities does. (PT is missing)
  matsim/src/main/java/org/matsim/core/mobsim/dsim/BackPack.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/SimStepMessage.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackPack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingVehicleLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimStepMessaging.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
  matsim/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
Due: core

Added temporary csv-output
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
Due: contribs

Small refactors / comment adjustments
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
Due: contribs

make constructors protected to allow inheritance
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/reconfiguration/README.md
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
Due: contribs

Fixed printSample for berlin v5.5
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CutoutVolumeCalculator.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/test.R
  contribs/application/src/test/java/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest.java
Due: contribs

feat: enable multiple DvrpLoad implementations of the same DvrpLoadType
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtRequestCreator.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
Due: contribs
