Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

feat(core): per-activity typical durations in CharyparNagelActivityScoring (#5089)
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MarginalSumScoringFunction.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/VTTSHandlerPerActivityTypicalDurationTest.java
  matsim/src/main/java/org/matsim/core/scoring/functions/ActivityAttributeTypicalDurationCalculator.java
  matsim/src/main/java/org/matsim/core/scoring/functions/ActivityUtilityParameters.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoring.java
  matsim/src/main/java/org/matsim/core/scoring/functions/TypicalDurationCalculator.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoringTypicalDurationTest.java
Due: core, contribs

support Zstd and LZ4 in the GUI's (un)compression tools (#5101)
  matsim/src/main/java/org/matsim/run/gui/GUnZipper.java
  matsim/src/main/java/org/matsim/run/gui/Gui.java
  matsim/src/main/java/org/matsim/run/gui/GuiCompressionUtils.java
Due: core

fix: adapt parking search time at zero parking availability and updated co… (#5085)
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingsearchparameterization/BellochePenaltyFunction.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingsearchparameterization/BellochePenaltyFunctionTest.java
Due: contribs

feat(application): Expose config override handling and move application tests (#5098)
  contribs/application/src/test/java/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest.java
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/attributes.xml
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/persons.xml
  contribs/application/test/input/org/matsim/application/prepare/MATSimApplicationPrepareCommandsTest/test-100pct.plans-with-trips.xml.gz
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/test/java/org/matsim/application/ApplicationUtilsTest.java
  matsim/src/test/java/org/matsim/application/CommandRunnerTest.java
  matsim/src/test/java/org/matsim/application/ConfigYamlUpdateTest.java
  matsim/src/test/java/org/matsim/application/MATSimApplicationTest.java
  matsim/src/test/java/org/matsim/application/TestAnalysis.java
  matsim/src/test/java/org/matsim/application/TestCommand.java
  matsim/src/test/java/org/matsim/application/TestDependentAnalysis.java
  matsim/src/test/java/org/matsim/application/TestOtherAnalysis.java
  matsim/src/test/java/org/matsim/application/TestOtherDependentAnalysis.java
  matsim/src/test/java/org/matsim/application/options/CsvOptionsTest.java
  matsim/src/test/java/org/matsim/application/options/SampleOptionsTest.java
  matsim/src/test/java/org/matsim/application/options/ShpOptionsTest.java
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/run.output_network.xml.gz
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/stats.csv
  matsim/test/input/org/matsim/application/CommandRunnerTest/runner/test.csv
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/config.xml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/multiLevel.yml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/params.yml
  matsim/test/input/org/matsim/application/ConfigYamlUpdateTest/standard.yml
  matsim/test/input/org/matsim/application/MATSimApplicationTest/specs.yml
  matsim/test/input/org/matsim/application/options/example.gpkg
  matsim/test/input/org/matsim/application/prepare/CreateLandUseShpTest/andorra-latest-free.shp.zip
Due: core, contribs

remove xsd validation, as not needed in this Guesser (#5097)
  matsim/src/main/java/org/matsim/core/utils/io/MatsimFileTypeGuesser.java
Due: core

update loop to include fallback slack (#5125)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

fix(simwrapper): Clean up freight and SimWrapper (#5118)
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarriersAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

Fix String-casting of a long value. (#5107)
  matsim/src/main/java/org/matsim/core/network/NetworkUtils.java
  matsim/src/test/java/org/matsim/core/network/NetworkUtilsTest.java
Due: core

Update error message for overwriteFiles settings to current config parameters (#5134)
  matsim/src/main/java/org/matsim/core/controler/OutputDirectoryHierarchy.java
Due: core

feat(application): add coordinate and original ID to bast-counts (#5119)
  contribs/application/src/main/java/org/matsim/application/prepare/counts/CreateCountsFromBAStData.java
  contribs/application/src/test/java/org/matsim/application/prepare/counts/CreateCountsFromBAStDataTest.java
Due: contribs

feat(dsim): Make IdleStrategy in Threadpool configurable (#5150)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/executors/DSimThreadpoolTest.java
  examples/scenarios/pt-simple/config.xml
  matsim/src/main/java/org/matsim/dsim/DSimConfigGroup.java
  matsim/src/main/java/org/matsim/dsim/executors/DSimThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/test/java/org/matsim/dsim/DSimConfigGroupTest.java
Due: core, contribs

fix(sbb-extensions): pt skim normalization and documentation (#5123)
  contribs/sbb-extensions/README.md
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/RooftopUtils.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/RooftopUtilsTest.java
Due: contribs

fix(drt): apply maxWalkDistance of the chosen constraints set (#5142)
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DecideOnLinkAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DvrpRoutingModule.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinderTest.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/RoutingTimeStructureTest.java
Due: contribs

feat(drt): time-dependent service regimes (service times, stop networks, service areas) (#5143)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/analysis/DrtModeAnalysisModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtServiceRegimeRequestValidator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtStopFacilityImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceAreas.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimeParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimes.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtServiceRegimesParams.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/passenger/DrtServiceRegimeRequestValidatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtStopFacilityImplTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceAreasTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesFixtures.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesParamsTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/DrtServiceRegimesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/DrtServiceRegimesIT.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/passenger/CompositePassengerRequestValidator.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/TimeDependentAccessEgressFacilityFinder.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/passenger/CompositePassengerRequestValidatorTest.java
  contribs/dvrp/src/test/java/org/matsim/contrib/dvrp/router/TimeDependentAccessEgressFacilityFinderTest.java
Due: contribs

fix subpopulation detection by adding service subpopulation (#5139)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

set method to public (#5124)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

feat(scoring): Make scoring consistency checks subpopulation-aware and force VSP to scoring by subpopulations (#5116)
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
  matsim/src/test/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImplTest.java
Due: core, contribs

feat(core): support ZIP as a compression format in IOUtils (#5163)
  matsim/src/main/java/org/matsim/application/options/ShpOptions.java
  matsim/src/main/java/org/matsim/core/utils/io/IOUtils.java
  matsim/src/test/java/org/matsim/core/utils/io/IOUtilsTest.java
Due: core

fix: Standardize sample percentage labels (#5193)
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_startPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_stopPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_startPerZone_10pct.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_stopPerZone_10pct.csv
  matsim/src/main/java/org/matsim/application/options/SampleOptions.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/test/java/org/matsim/application/options/SampleOptionsTest.java
Due: core, contribs

maintenance(small-scale-traffic-generation): reduce public footprint; adjust naming of variables and methods; add comments and questions (#5152)
  contribs/small-scale-traffic-generation/README.md
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/UnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleAvailabilityAllocator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/SmallScaleCommercialTrafficPrepareUtils.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

change `threadScheduling` to `taskScheduling` (#5181)
  matsim/src/main/java/org/matsim/dsim/DSimConfigGroup.java
  matsim/src/main/java/org/matsim/dsim/executors/DSimThreadpool.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/test/java/org/matsim/dsim/DSimConfigGroupTest.java
Due: core

fix(decongestion pricing): Correct toll calculation (#5176)
  contribs/decongestion/src/main/java/org/matsim/contrib/decongestion/handler/IntervalBasedTollingAll.java
  contribs/decongestion/src/test/java/org/matsim/contrib/decongestion/DecongestionPricingTestIT.java
Due: contribs

perf(drt): performance tweaks for min cost flow rebalancing, including max distance cap for relocations (#5156)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingUtils.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/AggregatedMinCostRelocationCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/DrtModeMinCostFlowRebalancingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/MinCostFlowRebalancingStrategyParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/TransportProblem.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/rebalancing/mincostflow/TransportProblemTest.java
Due: contribs

add comments and warnings to faulty noise summation methods (#5178)
  contribs/application/src/main/java/org/matsim/application/analysis/noise/MergeNoiseOutput.java
  contribs/application/src/main/java/org/matsim/application/analysis/noise/NoiseAnalysis.java
Due: contribs

fix(pseudosimulation): count SpotBugs findings, not lines that contain one (#5158)
  contribs/pseudosimulation/scripts/quality-metrics.sh
Due: contribs

perf(dsim): Improve several modules for DSim (#5189)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  matsim/src/main/java/edu/metis/Metis.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/analysis/VolumesSyncMessage.java
  matsim/src/main/java/org/matsim/api/core/v01/messages/NetworkPartitionMessage.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/DSimControllerListener.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/DistributedSimulationModule.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/NetworkDecomposition.java
  matsim/src/main/java/org/matsim/dsim/SimTask.java
  matsim/src/test/java/org/matsim/dsim/NetworkDecompositionTest.java
  matsim/src/test/java/org/matsim/dsim/PartitioningTest.java
  matsim/src/test/java/org/matsim/dsim/ResetHandlersTest.java
  matsim/src/test/java/org/matsim/dsim/TaskRuntimesTest.java
  matsim/src/test/java/org/matsim/dsim/VolumesAnalyzerDSimTest.java
Due: core, contribs

feat(population): add decideOnCoordForActivity overload without Scenario (#5169)
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

fix(network): keep every change event when several share a start time (#5153)
  matsim/src/main/java/org/matsim/core/network/FixedIntervalTimeVariantAttribute.java
  matsim/src/main/java/org/matsim/core/network/TimeVariantAttribute.java
  matsim/src/main/java/org/matsim/core/network/TimeVariantLinkImpl.java
  matsim/src/main/java/org/matsim/core/network/VariableIntervalTimeVariantAttribute.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/NetworkChangeEventLanesTest.java
Due: core

compare ids if timeResult is equal, not if it differs (#5201)
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core

fix naming for population sample size <= 0.1pct (#5185)
  contribs/application/src/main/java/org/matsim/application/prepare/population/DownSamplePopulation.java
Due: contribs

restore two files from main that were damaged while resolving merge conflicts
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveConfigPreparerTest.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
Due: contribs

fix(QSim): keep the fdiag lane count unscaled and warn only where the fdiag binds
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QueueWithBuffer.java
Due: core

fix(QSim): accumulate kinematic-wave inflow capacity over elapsed time
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QueueWithBuffer.java
Due: core

change-in-flow-behaviour
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QueueWithBuffer.java
Due: core

add kinematicWavesTest
  matsim/src/test/java/org/matsim/examples/OnePercentBerlin10sIT.java
  matsim/test/input/org/matsim/examples/OnePercentBerlin10sIT/testOnePercent10sQSimKinematicWaves/events.xml.gz
Due: core

fix(QSim): convert the fdiag inflow capacity to per-time-step units
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QueueWithBuffer.java
Due: core
