Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

add activities by hour and purpose for commercial traffic
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

update descriptions for commercial dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

refactor methods for single tabs
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

Tinker with link volumes
  matsim/src/main/java/org/matsim/analysis/PartVolumesAnalyzer.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzerModule.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
Due: core

adding log statements for debugging
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/vtts/RunVTTSAnalysis.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/vtts/VTTSHandler.java
Due: contribs

extend configure method with config to have a plot based on the config parameters
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Dashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapper.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ActivityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ImpactAnalysisDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/NoiseDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ODTripDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/OverviewDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PopulationAttributeDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/StuckAgentDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TravelTimeComparisonDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/TestDashboard.java
Due: contribs

clean up
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DashboardUtils.java
Due: contribs

Added cold emissions
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Fixed settings and write
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Added driver analysis and PHEM C-Test code
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Made calculateColdEmissions() package-private
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/ColdEmissionAnalysisModule.java
Due: contribs

set sync and execute interval back to 900 seconds
  matsim/src/main/java/org/matsim/core/events/handler/EventHandler.java
Due: core

add buffer for availability checks in reservation manager
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilitiesModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilitiesParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityReservationManager.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
Due: contribs

fix (hopefully) deterministic of the results
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/CarrierReaderFromCSV.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/DemandReaderFromCSV.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGenerationTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/output_carriers.xml.gz
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/output_events.xml.gz
Due: contribs

changes around AgentWiseComparison
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  matsim/src/main/java/org/matsim/application/options/ShpOptions.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/dsim/scoring/FinishedBackpackCollector.java
Due: core, contribs

allow repeated registration calls, returns true for vehicles already present
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacility.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
Due: contribs

fix(drt-extensions): allow buffer times in reservation management (#4651)
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilitiesModeModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilitiesParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacility.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/operationFacilities/OperationFacilityReservationManager.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
Due: contribs

add s3 support for geo file reader
  matsim/src/main/java/org/matsim/core/utils/gis/GeoFileReader.java
Due: core

Restored deleted comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/car/CadytsContext.java
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/car/PcuVolumesAnalyzer.java
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/car/SimResultsContainerImpl.java
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/general/CadytsContextI.java
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/general/CadytsPlanChanger.java
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/general/CadytsScoring.java
Due: contribs

Added header comments
  contribs/cadytsIntegration/src/test/java/org/matsim/contrib/cadyts/car/CadytsCarWithPtScenarioIT.java
Due: contribs

Added header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/general/CadytsContextI.java
Due: contribs

Added license header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/measurement/Measurement.java
Due: contribs

Added license header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/measurement/Measurements.java
Due: contribs

Added license header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/car/PcuVolumesAnalyzer.java
Due: contribs

Added license header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/general/PlanSelectionByCadyts.java
Due: contribs

Added license header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/general/PlansTranslator.java
Due: contribs

Added license header comments
  contribs/cadytsIntegration/src/main/java/org/matsim/contrib/cadyts/car/SimResultsContainerImpl.java
Due: contribs

extend jsprit analysis file
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritIterationHistogram.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
Due: contribs

extend carrier dashboard
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierPlanAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
Due: contribs

change rounding
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierPlanAnalysis.java
Due: contribs

pointer to matsim association
  matsim/src/main/java/org/matsim/core/controler/MatsimRuntimeModifications.java
Due: core

fix: graph caching for SpeedyALT
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTFactory.java
Due: core

make threads configurable
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTData.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTFactory.java
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyALTTest.java
Due: core

improve caching for other factories
  matsim/src/main/java/org/matsim/core/router/AStarEuclideanFactory.java
  matsim/src/main/java/org/matsim/core/router/AStarLandmarksFactory.java
  matsim/src/main/java/org/matsim/core/router/DijkstraFactory.java
Due: core

fix in dvrp
  contribs/dvrp/src/main/java/org/matsim/core/router/speedy/SpeedyMultiSourceALTFactory.java
  contribs/dvrp/src/test/java/org/matsim/core/router/speedy/SpeedyMultiSourceALTBackwardTest.java
  contribs/dvrp/src/test/java/org/matsim/core/router/speedy/SpeedyMultiSourceALTForwardTest.java
Due: contribs

make landmarks configurable
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/router/AStarLandmarksFactory.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTFactory.java
Due: core

fix test
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/TollTravelCostCalculatorTest.java
  matsim/src/test/java/org/matsim/core/router/RoutingIT.java
Due: core, contribs

forgot one factory
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstraFactory.java
Due: core

fix tests for zero threads
  matsim/src/main/java/org/matsim/core/router/AStarLandmarksFactory.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALTFactory.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
