Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

renames
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/application/ShowGUI.java
Due: core

feat: chained setters; commenting out a non-compiling (VTTS) test; vsp-chec… (#4680)
  Makefile
  contribs/application/src/main/java/org/matsim/application/prepare/population/PersonNetworkLinkCheck.java
  contribs/carsharing/src/test/java/org/matsim/contrib/carsharing/runExample/RunCarsharingIT.java
  contribs/common/src/test/java/org/matsim/integration/always/BetaTravelTest66IT.java
  contribs/common/src/test/java/org/matsim/integration/always/BetaTravelTest6IT.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/EmissionsConfigGroup.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/controller/laemmerFix/LaemmerIT.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboardTest.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/HbefaDefaultStrings.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SubpopulationDefaultNames.java
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
  examples/scenarios/berlin/config_multimodal.xml
  examples/scenarios/berlin/config_withinday.xml
  examples/scenarios/dvrp-grid/one_etaxi_benchmark_config.xml
  examples/scenarios/dvrp-grid/one_taxi_benchmark_config.xml
  examples/scenarios/mielec/mielec_taxi_benchmark_config.xml
  examples/scenarios/mielec/mielec_taxi_mini_benchmark_config.xml
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/application/ShowGUI.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/TimeAllocationMutatorConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/test/java/org/matsim/integration/replanning/ReRoutingIT.java
Due: core, contribs

add vtts table
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VttsCalculationBasedOnKn.java
Due: contribs

change input file
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

rename titles
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

change default values
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

refactor: simplify MATSimApplication class and add test for null config
  contribs/application/src/test/java/org/matsim/application/MATSimApplicationTest.java
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/application/ShowGUI.java
Due: core, contribs

refactor: simplify MATSimApplication class and add test for null config (#4684)
  contribs/application/src/test/java/org/matsim/application/MATSimApplicationTest.java
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/application/ShowGUI.java
Due: core, contribs

move selectedStopCategory into loop
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add comments to BicycleModule
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
Due: contribs

feat(random): add deterministic Random instance method for process identifiers
  matsim/src/main/java/org/matsim/core/gbl/MatsimRandom.java
  matsim/src/test/java/org/matsim/core/gbl/MatsimRandomTest.java
Due: core

update carrier service id creation
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

update carrier service creation
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

formatting
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

remove 40t for small scale commercial traffic
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
Due: contribs

cleanup the BicycleModule. Should not change functionality
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
Due: contribs

cleanup the BicycleModule. Should not change functionality (#4690)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
Due: contribs

chained setters, some other things
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/CreateDrtDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperListener.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperListenerTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperModuleTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/fare/PtFareParams.java
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/replanning/annealing/ReplanningAnnealerConfigGroup.java
Due: core, contribs

feat(random): add deterministic Random instance method for process identifiers (#4689)
  matsim/src/main/java/org/matsim/core/gbl/MatsimRandom.java
  matsim/src/test/java/org/matsim/core/gbl/MatsimRandomTest.java
Due: core

have moved aspects about activities handling to the vsp contrib
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/Activities.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SnzActivities.java
Due: contribs

feat: chained setters, some other things (#4691)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/CreateDrtDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/CreateSingleSimWrapperDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperListener.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperListenerTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperModuleTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CarrierViewerDashboardTest.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/fare/PtFareParams.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/Activities.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SnzActivities.java
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/replanning/annealing/ReplanningAnnealerConfigGroup.java
Due: core, contribs

reduce zero values for input data
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
Due: contribs

update resulting files after change of randomness
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
Due: contribs

use enum instead of variuous strings for structural attributes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreatorForOSM_Data.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysisTest.java
Due: contribs

add probability calculation for facilities based on area
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtilsTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/RunCreateDataDistributionOfStructureDataTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/commercialFacilities.xml.gz
Due: contribs

Generalize dependency to Netsim in SBBTransitQSimEngine and DriveDischargingHandler
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
Due: contribs

reworked motorized interaction
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

pssst, streng geheim
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/BicycleInfraClassifier.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/BicycleLinkPolicy.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSimpleBicycleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSimpleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSophistBicycleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSophistBicycleNetworkReader_clean.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/TagCopy.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmBicycleReader.java
Due: contribs

fix(config): update relative tolerance handling in GlobalConfigGroup
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/SimWrapperConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/groups/GlobalConfigGroupTest.java
Due: core, contribs

add probability calculation for activity type selection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtilsTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
Due: contribs

add space
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

added sample input it actually run the example
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/network_cw.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/network_lane.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/network_lane_bike.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/network_lane_bike_car.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/population_10_bike_car.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/population_1200.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/population_500.xml
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/scenarios/bicycle_example/population_500_bike.xml
Due: contribs

fail if App(config) is requested instead of falling through to App()
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

fix: App(config), if failing, no longer silently moves on to App() (#4696)
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

tried a bit other/faster approach for the overtaking
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

refactor: implement partitioning strategy and conflict resolution for parallel request insertion
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ConflictResolver.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PartitionActivityLogger.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PartitionContext.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PartitionStrategy.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserterTest.java
Due: contribs

changes triggered by dresden maintenance
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/config/Config.java
Due: core

feat: core maintenance triggered by dresden maintenance (#4697)
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/config/Config.java
Due: core

feat(benchmark): add DRT benchmarking framework with scenario and fleet generators
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/BenchmarkResult.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/DrtBenchmarkRunner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/RunScalabilityBenchmark.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/scenario/FleetGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/scenario/GridNetworkGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/scenario/PopulationGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/scenario/SyntheticBenchmarkScenario.java
Due: contribs

refactor: clean up unused methods and improve insertion logic in RequestInsertWorker
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/benchmark/RunScalabilityBenchmark.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
