Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

more forward. now some tests fail. need to look at them
  contribs/freight/src/main/java/org/matsim/freight/logistics/examples/lspScoring/ExampleLSPScoring.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/DistributionCarrierScheduler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/LSPTourStartEventHandler.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/resourceImplementations/MainRunCarrierScheduler.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/resourceImplementations/CompleteLSPSchedulingTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/resourceImplementations/MainRunLSPSchedulingTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/resourceImplementations/MultipleShipmentsCompleteLSPSchedulingTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/resourceImplementations/MultipleShipmentsMainRunLSPSchedulingTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/resourceImplementations/MultipleShipmentsSecondReloadLSPSchedulingTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/resourceImplementations/SecondReloadLSPSchedulingTest.java
Due: contribs

also handle VehicleLeavesTrafficEvent
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/AdditionalPerceivedSafetyLinkScoreDefaultImpl.java
  contribs/perceived-safety/src/main/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyScoreEventsCreator.java
Due: contribs

finish test
  contribs/perceived-safety/src/test/java/org/matsim/contrib/perceivedsafety/PerceivedSafetyAndBicycleContribTest.java
Due: contribs

add comment
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
Due: contribs

update readme
  contribs/perceived-safety/README.md
Due: contribs

add check for correct bicycleMode before calculating additional score
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScore.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

improve test cases
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
Due: core

added some comments
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/RunOfflineAccessibilityBerlin.java
Due: contribs

fix: Remove redundant retryOrReject
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
Due: contribs

implement chained departures waiting for previous departures
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitEngineModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitStopAgentTracker.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/UmlaufCache.java
  matsim/src/main/java/org/matsim/core/scoring/PlansScoringImpl.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
  matsim/test/input/ch/sbb/matsim/routing/pt/raptor/vehicles.xml
Due: core

update test to updated logic
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
Due: core

fix compile errors in some modules
  contribs/carsharing/src/main/java/org/matsim/contrib/carsharing/qsim/CarsharingPersonDriverAgentImpl.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
Due: contribs

fix: Remove redundant retryOrReject (#4219)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
Due: contribs

add integration test for the sbb transit engine
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
Due: contribs

reverse train on mulitple links
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/UpdateEvent.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/shuttleMicro/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/shuttleMicro/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/shuttleMicro/transitVehicles.xml
Due: contribs

feat: Add a new constructor for LanduseOptions (#4119)
  matsim/src/main/java/org/matsim/application/options/LanduseOptions.java
Due: core

chore(drt): Parallel update schedule timings (#4139)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DrtRoutingDriveTaskUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/AbstractRoutingDriveTaskUpdater.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ThreadLocalLeastCostPathCalculatorProvider.java
Due: contribs

fix IOUtilsTest on Windows after PR4117 (#4147)
  matsim/src/test/java/org/matsim/core/utils/io/IOUtilsTest.java
Due: core

feat(aws): add AWS S3 shutdown sync (#4146)
  contribs/aws/pom.xml
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsConfig.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsS3OutputSync.java
  contribs/aws/src/main/java/org/matsim/contrib/aws/AwsStartupHook.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsS3OutputSyncTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamExceptionTest.java
  contribs/aws/src/test/java/org/matsim/contrib/aws/AwsStreamTest.java
Due: contribs

style(small-scale-commercial): formatting, code reduction and documenation/logging (#4198)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGenerationTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_startPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_commercialPersonTraffic_stopPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_startPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/TrafficVolume_goodsTraffic_stopPerZone_10pt.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_commercialPersonTraffic_total_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose1.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp2_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose2.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose6.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp4_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp5_purpose5.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/config_demand.xml
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/vehicleTypes.xml
Due: contribs

feat(drt): per request rejection / drt route constraint promotion (#4161)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/ConfigurableCostCalculatorStrategy.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/PromisedTimeWindowOfferAcceptor.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preplanned/optimizer/PreplannedDrtOptimizer.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatIalRequestFleetFilterTest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtRequestInsertionRetryQueue.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtRouteConstraints.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/MaxDetourInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/AcceptedDrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DefaultOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtRequestCreator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/PromisedPickupTimeWindowDrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DefaultDrtRouteConstraintsCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtRoute.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/DrtRequestInsertionRetryQueueTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategyTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorWithChangingCapacitiesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/MultiInsertionDetourPathCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/selective/SingleInsertionDetourPathCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

Relax verify to deal with empty entries (#4186)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
Due: contribs

feat(core): Support attribute changes in NetworkChangeEvents (#4140)
  matsim/src/main/java/org/matsim/core/network/NetworkChangeEvent.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkChangeEventsParser.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkChangeEventsWriter.java
  matsim/src/main/resources/dtd/networkChangeEvents.xsd
  matsim/src/test/java/org/matsim/core/network/NetworkChangeEventsParserWriterTest.java
  matsim/test/input/org/matsim/core/network/NetworkChangeEventsParserWriterTest/testParseNetworkChangeEventsWithAttributes/testNetworkChangeEventsWithAttributes.xml
Due: core

fix: Fix Windows test failures (#4154)
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
Due: contribs

feat: Improve FloatMatrix (#4171)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/BeelineDistanceMatrix.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/FloatMatrix.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/MatricesToXY.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/NetworkSkimMatrices.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/FloatMatrixIOTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/FloatMatrixTest.java
Due: contribs

set correct group id for aws contrib (#4152)
  contribs/aws/pom.xml
Due: contribs

fix: remove user defined attributes in bike contrib (#4174)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

extract stop waypoint and use factory (#4189)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/optimizer/EDrtVehicleDataEntryFactory.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/constraints/ExclusivityConstraint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/distances/InsertionDistanceCalculator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/objectives/PassengerDelayObjective.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatIalRequestFleetFilterTest.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactory.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleEntry.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/Waypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImplTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorWithChangingCapacitiesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/DetourPathDataCacheTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

Allow to manuelly start the weekly build workflow (#4156)
  .github/workflows/deploy-weekly.yaml
Due: none

add package info for freight:logistics (#4213)
  contribs/freight/src/main/java/org/matsim/freight/logistics/package-info.java
Due: contribs

feat(drt): define schedule wait before drive per waypoint (#4199)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorWithChangingCapacitiesTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/DetourPathDataCacheTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/ComplexUnschedulerTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

fix(drt-extensions): do not skip remaining breaks to be scheduled at the same time (#4190)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/dispatcher/DrtShiftDispatcherImpl.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/output_events.xml.gz
Due: contribs

feat(CountsAnalysis): add scale factor for truck sqv calculation (#4122)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/CountComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
Due: contribs

do not serialize helper method (#4182)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtRouteConstraints.java
Due: contribs

refactor drt schedule inquiry (#4163)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/EDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/services/optimizer/DrtServiceOptimizerQSimModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DefaultDrtOptimizer.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
Due: contribs

add a comment (#4200)
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingTollCalculator.java
Due: contribs

fix(turnrestrictions): avoid ConcurrentModificationException (#4203)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
Due: core

small documentation maintenance (#4177)
  contribs/ev/README.md
Due: contribs

refactor(drt-extensions): use new stop waypoint factory to introduce operational/shift related stops (#4195)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/run/ShiftEDrtModeOptimizerQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftChangeoverStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftStopWaypointFactory.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/run/ShiftDrtModeOptimizerQSimModule.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
