Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

test: adjust NetworkRoutingModuleTest
  matsim/src/test/java/org/matsim/core/router/NetworkRoutingModuleTest.java
Due: core

fix: do not loose z coord in decideOnCoordForActivity
  matsim/src/main/java/org/matsim/core/network/LinkImpl.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/utils/geometry/CoordUtils.java
  matsim/src/test/java/org/matsim/utils/geometry/CoordUtilsTest.java
Due: core

fix(analysis): write coord of activity with facilities in PersonWriter
  matsim/src/main/java/org/matsim/analysis/PersonWriter.java
Due: core

fix IterationTravelStatsControllerListenerTest
  matsim/src/test/java/org/matsim/analysis/IterationTravelStatsControllerListenerTest.java
  matsim/src/test/java/org/matsim/analysis/Plans.java
Due: core

fix: do not loose z coord in decideOnCoordForActivity (#4782)
  matsim/src/main/java/org/matsim/core/network/LinkImpl.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/utils/geometry/CoordUtils.java
  matsim/src/test/java/org/matsim/utils/geometry/CoordUtilsTest.java
Due: core

Reimplemented non-linear factor for InterpolationFraction
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

Added averageVelocity to test output
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

Improved plots for gradient error analysis
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

Added speed curve for city
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/paper.R
Due: contribs

Removed old TODO
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/pretoria_test.R
Due: contribs

fix(core): fix ConcurrentModificationException in EventsManagerImpl
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
Due: core

remove rounding
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

add needed steps for run existing carriers with VRP solving loop
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix vehTyp detection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

fix(drt): In config, read empty strings as empty lists (#4784)
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/ActivityHomeFinderConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/ActivityTourFinderConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/DiscreteModeChoiceConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/LinkAttributeConstraintConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/MATSimTripScoringConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/ModeAvailabilityConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/ShapeFileConstraintConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/SubtourModeConstraintConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/VehicleTourConstraintConfigGroup.java
  contribs/discrete_mode_choice/src/main/java/org/matsim/contribs/discrete_mode_choice/modules/config/VehicleTripConstraintConfigGroup.java
  contribs/discrete_mode_choice/src/test/java/org/matsim/contrib/discrete_mode_choice/modules/config/ConfigTest.java
Due: contribs

fix(routing): Freespeed teleportation: Use path distance (#4731)
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV5.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/config/groups/RoutingConfigGroupTest.java
  matsim/src/test/java/org/matsim/core/router/FreespeedFactorRoutingModuleTest.java
Due: core

reduce memory-consumption for post-process
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

add check if attributes are not present
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

reduce the log level of single jobs but add warning if jobs are not done
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/consistency_checkers/CarrierConsistencyCheckers.java
Due: contribs

reduce memory-consumption for post-process (#4788)
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
Due: core

feat(dsim): remove Hazelcast CP Subsystem usage during startup
  contribs/distributed-simulation/src/main/java/org/matsim/core/communication/HazelcastCommunicator.java
Due: contribs

fix(core): fix ConcurrentModificationException in EventsManagerImpl (#4783)
  matsim/src/main/java/org/matsim/core/events/EventsManagerImpl.java
Due: core

refactor: use IdleStrategy and ISet in HazelcastCommunicator.connect
  contribs/distributed-simulation/src/main/java/org/matsim/core/communication/HazelcastCommunicator.java
Due: contribs

feat(dsim): remove Hazelcast CP Subsystem usage during startup (#4789)
  contribs/distributed-simulation/src/main/java/org/matsim/core/communication/HazelcastCommunicator.java
Due: contribs

Start changing sim step messagin, by allowing more types.
  matsim/src/main/java/org/matsim/dsim/PartitionTransfer.java
  matsim/src/main/java/org/matsim/dsim/messages/SimStepMessage2.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core

reduce the log level of single jobs but add warning if jobs are not done (#4790)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/consistency_checkers/CarrierConsistencyCheckers.java
Due: contribs

Remove messaging from `doSimstep` in `SimLink` * Messaging is held by links as regular class dependency * Fix unit tests to use new PartitionTransfer class
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/TestUtils.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/ActiveLinksTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/ActiveNodesTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/SimNetworkTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestLocalLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitOutLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/VehicleDepartingOnLinkTest.java
  matsim/src/main/java/org/matsim/api/core/v01/Message.java
  matsim/src/main/java/org/matsim/dsim/simulation/DSimComponentsModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/ActiveLinks.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimNetwork.java
Due: core, contribs

Move PartitionTransfer and start implementing unit test
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/TestUtils.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/SimNetworkTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestLocalLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitOutLink.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DSimComponentsModule.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimNetwork.java
Due: core, contribs

Use network instead of network partitioning as injected dependency as partitioning is not directly bound but network is.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/PartitionTransferTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
Due: core, contribs

add more tags to OsmRailwayReader
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmRailwayReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmTags.java
Due: contribs

add more tags to OsmRailwayReader (#4796)
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmRailwayReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmTags.java
Due: contribs

Engines say which messages they handle
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/DistributedMobsimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/Teleportation.java
  matsim/src/main/java/org/matsim/dsim/messages/SimStepMessage2Processor.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core, contribs

Adjust handling of ignored agents, as the handlers are now called independently
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
Due: core

Use correct representation for sending vehicles over partition boundary
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core

delegate link id collect to partition collect
  matsim/src/main/java/org/matsim/dsim/simulation/PartitionTransfer.java
Due: core

separated out the rule-of-half computation
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core, contribs

separated out the rule-of-half computation, ctd
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs
