Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

update test inputs
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/output_plans.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/output_vehicles.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/output_network.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/output_plans.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/output_vehicles.xml.gz
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/shp/testRegions.cpg
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/shp/testRegions.dbf
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/shp/testRegions.prj
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/shp/testRegions.qmd
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/shp/testRegions.shp
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest/testCommercialViewer/shp/testRegions.shx
Due: contribs

fix test
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DashboardTests.java
Due: contribs

fix commercial ref
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/test/resources/commercialActivityDurations_ref.csv
Due: contribs

remove unneeded filter
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

fix test
  contribs/application/src/test/java/org/matsim/application/analysis/population/TripAnalysisTest.java
Due: contribs

Move protobuf-javalite version to root pom, to enforce consistent protobuf version across the project.
  contribs/osm/pom.xml
  pom.xml
Due: contribs

Adjust ChainedDepartureIntegrationTest to new PersonContinuesInVehicleEvent
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
Due: core

remove unused public logger
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultVehicleHandler.java
Due: core

Make update of flow and storage capacities, as well as link buffers explicit.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/ActiveNodesTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/DefaultWait2LinkTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/SimBufferTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/SimQueueTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestLocalLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitOutLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/VehicleDepartingOnLinkTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/ActiveNodes.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/FlowCapacity.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimBuffer.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimQueue.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core, contribs

Adjust tests for changed logic of internal state updates for simlinks
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestLocalLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/VehicleDepartingOnLinkTest.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/PassingQueue.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimBuffer.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimQueue.java
Due: core, contribs

fix reference file mergingDataSet
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

clean up
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

fix sankey
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

Make sure out links stay active until they have updated all capacities
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitOutLink.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core, contribs

Track released storage capacity when `isAccepting` is queried on split links.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core, contribs

Activate SplitInLink when backwards traveling holes are released
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core, contribs

User shorter names according to the other classes in the backpack package.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRoute.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtRouteBuilderProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtRouteProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/Backpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackActivity.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackGenericRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackGenericRouteProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackNetworkRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackNetworkRouteProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackRouteProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackTransitRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackTransitRouteProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedGenericRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedNetworkRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/PassengerRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingPtLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingVehicleLeg.java
Due: core, contribs

Move PassengerRoute to general package.
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRoute.java
  matsim/src/main/java/org/matsim/api/core/v01/population/PassengerRoute.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/main/java/org/matsim/pt/routes/TransitPassengerRoute.java
Due: core, contribs

fix(DSim): Track released storage capacity on Split Links (#4767)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitInLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
Due: core, contribs

Add PersonEnters/LeavesPtVehicleEvent to event readers
  matsim/src/main/java/org/matsim/core/events/EventsReaderJson.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonEntersPtVehicleEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonLeavesPtVehicleEvent.java
Due: core

Cleanup
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRouteProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackRouteProvider.java
Due: core, contribs

generalize mobsim dependency from QSim to Netsim to allow different Netsim implementations
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRoute.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
Due: contribs

adjust title
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

formatting
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

clean up
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

generalize mobsim dependency from QSim to Netsim to allow different Netsim implementations (#4768)
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRoute.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
Due: contribs

Relax constraint on person which are not part of the population. The companion engine in the drt code adds and removes agents to and from the population.
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
Due: core

Move `ExperiencedDrtRoute` to separate file, so we can access it outside the package.
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRoute.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/ExperiencedDrtRoute.java
Due: contribs

add description and todo comment
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

add description and todo comment (#4770)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

feat: add more information to PersonInitializedEvent
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonInitializedEvent.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderJson.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/PopulationAgentSource.java
  matsim/src/test/java/org/matsim/core/events/PersonInitializedEventTest.java
Due: core

eventually changed from "bicycle" to "bike"
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
Due: contribs

allow static access to EditTrips functions
  matsim/src/main/java/org/matsim/withinday/utils/EditPlans.java
Due: core

feat: add withinday utility method to add vehicles to QSim (#4727)
  contribs/application/src/main/java/org/matsim/application/analysis/noise/NoiseAnalysis.java
  contribs/application/src/main/java/org/matsim/application/prepare/network/CreateNetworkChangeEvents.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/test/java/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest.java
  contribs/application/test/input/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest/generatesValidEventsForDefaultInterval/network-change-events.xml
  contribs/application/test/input/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest/respectsConfiguredIntervalAndProducesNoMoreEventsThanDefault/custom-network-change-events.xml
  contribs/noise/src/main/java/org/matsim/contrib/noise/NoiseOfflineCalculation.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/org/matsim/analysis/LinkStatsControllerListener.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/application/ApplicationUtils.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/WithinDayAgentUtils.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/withinday/utils/EditPlans.java
  matsim/src/main/java/org/matsim/withinday/utils/EditTrips.java
Due: core, contribs

Disable flaky Drt test
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
Due: contribs

Disable flaky Drt test (#4772)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
Due: contribs

introduce withinday mode choice example and move to higher version
  code-examples/src/main/java/org/matsim/codeexamples/extensions/bicycle/RunBicycleContribExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/matsimApplication/RunMatsimApplicationExample.java
  code-examples/src/main/java/org/matsim/codeexamples/integration/RunWithNewTeleportedMode.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExample.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/kindergartenActivityScoring/KindergartenLegScoring.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/kindergartenActivityScoring/RunScenarioWithCustomScoring.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExample.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/pseudoRandomErrors/replanning/RandomModeProvider.java
  code-examples/src/main/java/org/matsim/codeexamples/withinday/externalModeChoice/RLModeChoiceListener.java
  code-examples/src/main/java/org/matsim/codeexamples/withinday/externalModeChoice/RunExternalModeChoice.java
  code-examples/src/main/java/org/matsim/codeexamples/withinday/withinDayReplanningFromPlans/MyWithinDayMobsimListener.java
Due: none

feat(DSim): Towards DSim Drt compatibility (#4773)
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/BackpackDrtRoute.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/ExperiencedDrtRoute.java
  matsim/src/main/java/org/matsim/dsim/scoring/EndOfDayScoring.java
Due: core, contribs

adjust scale
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
