Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

use waypoint definition of earliest arrival in insertion scheduler (#4409)
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
Due: contribs

chore(ev): some cleanup
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/ChargingInfrastructureModule.java
Due: contribs

feat(common): simplify registration of zone systems
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/DvrpTravelTimeMatrixParams.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/optimizer/rules/RuleBasedTaxiOptimizerParams.java
Due: contribs

chore(ev): some cleanup (#4410)
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/ChargingInfrastructureModule.java
Due: contribs

feat(ev): simplify registration of custom charging infrastructure
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/CustomCharingInfrastructureModule.java
Due: contribs

feat(ev): simplify registration of custom charging infrastructure (#4412)
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/infrastructure/CustomCharingInfrastructureModule.java
Due: contribs

chore(ev): improve and clean up some helpers for sevc
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvConfigGroup.java
Due: contribs

feat(common): simplify registration of zone systems (#4411)
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/RebalancingParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/DvrpTravelTimeMatrixParams.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/optimizer/rules/RuleBasedTaxiOptimizerParams.java
Due: contribs

implement custom train router to support stops on loop links
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/router/TrainRouter.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimMinimumStopDurationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResult.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/StopTimeData.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/parallelTracksLoopLinksRerouting/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/parallelTracksLoopLinksRerouting/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/parallelTracksLoopLinksRerouting/transitVehicles.xml
Due: contribs

chore(ev): improve and clean up some helpers for sevc (#4413)
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/withinday/WithinDayEvConfigGroup.java
Due: contribs

update test case
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

feat(ev): add scenario configurator for startegic charging
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingScenarioConfigurator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingUtils.java
Due: contribs

feat(ev): add scenario configurator for startegic charging (#4414)
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingScenarioConfigurator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingUtils.java
Due: contribs

chore(ev): make scoring trackers public
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoring.java
Due: contribs

chore(ev): make scoring trackers public (#4415)
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoring.java
Due: contribs

chore(ev): allow null for charger path
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
Due: contribs

use waypoint definition of earliest arrival in insertion scheduler
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/ShiftBreakStopWaypoint.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/ShiftBreakTaskImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/ShiftChangeoverTaskImpl.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/schedule/WaitForShiftTask.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DefaultDrtCapacityChangeTask.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DefaultDrtStopTask.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DrtStayTaskEndTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/schedule/DrtStopTask.java
Due: contribs

chore(ev): allow null for charger path (#4419)
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
Due: contribs

fix(ev): some fixes for the sevc scenario configurator
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingScenarioConfigurator.java
Due: contribs

fix(ev): some fixes for the sevc scenario configurator (#4421)
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingScenarioConfigurator.java
Due: contribs

write test case that shows that last activity is not written; modify code so that it is now written. Still needs to be cleaned up
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_config.xml
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_events.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_experienced_plans.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_network.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_plans.xml.gz
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_transitSchedule.xml.gz
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core, contribs

finalize the regression test
  contribs/application/src/test/java/org/matsim/application/analysis/population/ExperiencedPlansWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.reference_experienced_plans.xml.gz
Due: contribs

remove debugging output statement
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

Revert "feat(pt): route cost in DefaultTransitPassengerRoute (#4164)"
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
Due: core

feat: totalRouteCost attribute in legs resulting from Swiss Rail Raptor
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
Due: core

Make sure event handlers are removed from internal data structures. Before, this was not handled properly and caused memory leaks, as HandlersTasks would receive messages but never empty their inbox.
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core

Fix broken log message due to parallel invokation of multiple umlaufbuilder instances
  matsim/src/main/java/org/matsim/pt/ReconstructingUmlaufBuilder.java
Due: core

use waypoint definition of earliest arrival in insertion scheduler
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenarioIT.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

add EPSILON test
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
Due: contribs

feat: adding VTTS Analysis (#4427)
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/MarginalSumScoringFunction.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/VTTSHandler.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/VTTS/VTTScomputation.java
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
Due: contribs

fix(pt): total pt route cost (#4423)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorUtils.java
  matsim/src/main/java/org/matsim/pt/routes/DefaultTransitPassengerRoute.java
  matsim/src/test/java/org/matsim/pt/routes/DefaultTransitPassengerRouteTest.java
Due: core

feat: Write score into experienced plans (#4406)
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

Refactor Departure Handler into its own structure instead of NetworkEngine. This way it can be used as a delegate in the FISS code
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficDepartureHandler.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficModule.java
Due: core, contribs

Fix warning about deprecated usePersonIdForMissingVehicleId. The provided examples were not identical 🫠
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
Due: core

Remove unused code, which was moved into distinct class
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core

Make FISS ready for DSim: * Use named default NetworkDepartureHandler and bind it * Depending on which mobsim is used select a default handler * Bind FISS as departure handler
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSModule.java
Due: contribs

Removed duplicate read_matsim() function
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Updated data sources in time-inv.-plot to sue pl5 data
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Fixed WLTP extra high index segment
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Added inv.-WLTP to segment wise comparison and adapted indices for 60-sec buffering
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
