Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

fix: update avg_speed calculation from km/h to m/s for clarity (#5047)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
Due: contribs

perf(io): unsynchronized FastBufferedWriter for MATSim file writing (#5017)
  contribs/analysis/src/main/java/org/matsim/contrib/analysis/vsp/qgis/QGisFileWriter.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarrierPlanXmlWriterV2_1.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandler.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandlerImplV1.java
  contribs/freightreceiver/src/main/java/org/matsim/freight/receiver/ReceiversWriterHandlerImplV2.java
  contribs/signals/src/main/java/org/matsim/contrib/signals/data/conflicts/io/ConflictingDirectionsWriterHandler.java
  contribs/signals/src/main/java/org/matsim/contrib/signals/data/conflicts/io/ConflictingDirectionsWriterHandlerImpl.java
  contribs/vsp/src/main/java/playground/vsp/analysis/modules/networkAnalysis/utils/QGisProjectFileWriter.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandler.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandler.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/core/network/io/NetworkWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/population/io/AbstractPopulationWriterHandler.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationWriterHandlerV6.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandler.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV0.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV4.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV5.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationWriterHandlerImplV6.java
  matsim/src/main/java/org/matsim/core/population/io/StreamingPopulationWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/AbstractMatsimWriter.java
  matsim/src/main/java/org/matsim/core/utils/io/FastBufferedWriter.java
  matsim/src/main/java/org/matsim/counts/CountsWriterHandler.java
  matsim/src/main/java/org/matsim/counts/CountsWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesWriterV1.java
  matsim/src/main/java/org/matsim/facilities/FacilitiesWriterV2.java
  matsim/src/main/java/org/matsim/matrices/MatricesWriterHandler.java
  matsim/src/main/java/org/matsim/matrices/MatricesWriterHandlerImplV1.java
  matsim/src/main/java/org/matsim/utils/objectattributes/attributable/AttributesXmlWriterDelegate.java
  matsim/src/main/java/org/matsim/vehicles/VehicleWriterV2.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterBenchmark.java
  matsim/src/test/java/org/matsim/core/utils/io/FastBufferedWriterTest.java
Due: core, contribs

fix(core): Fix VehicleUtils.copyFromTo (#5037)
  matsim/src/main/java/org/matsim/vehicles/VehicleUtils.java
  matsim/src/test/java/org/matsim/vehicles/VehicleUtilsTest.java
Due: core

change from CO2 to NOx (#5022)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/EmissionsDashboard.java
Due: contribs

resolved conflict
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddPersonAttribsToExperiencedPlans.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

adjust class to also read and ignore multi-trip plans and change output person id creation (#5065)
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
Due: contribs

perf(raptor): improve raptor performance for pt skim matrices (#4992)
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/PTSkimBenchmark.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
Due: core, contribs

perf(network): speed up `MultimodalNetworkCleaner` on large networks (#5050)
  matsim/src/main/java/org/matsim/core/network/algorithms/MultimodalNetworkCleaner.java
Due: core

fix(osm)!: store OSM bicycle=* access value under "bicycle" attribute key (#5066)
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmBicycleReader.java
  contribs/osm/src/test/java/org/matsim/contrib/osm/networkReader/OsmBicycleReaderTest.java
  contribs/osm/test/input/org/matsim/contrib/osm/networkReader/OsmBicycleReaderIT/test_andorra/expected-result-stepRamps.xml.gz
Due: contribs

feat: add default params for intermodal walk access/egress to pt for urban and rural regions (#5063)
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/intermodal/VspDefaultIntermodalWalkAccessEgressParams.java
Due: contribs

move consistency check from mobsim start to where it belongs (#5062)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/config/SBBTransitConfigGroup.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/config/SBBTransitConfigGroupTest.java
Due: contribs

feat: resurrect location choice frozen epsilons example code (#5072)
  code-examples/src/main/java/org/matsim/codeexamples/extensions/locationChoice/RunLocationChoiceFrozenEpsilonsExample.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/DCScoringFunctionFactory.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/FrozenTastes.java
Due: contribs

feat(Application): Update commercial analysis (#5073)
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialTrafficAnalysisEventHandler.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

towards a first design idea. at this point, it looks easier than maybe expected (#4500)
  contribs/vsp/src/main/java/playground/vsp/scoring/PersonSpecificScoringParameters.java
Due: contribs

feat: set verbosity of least-cost path calculator (#4894)
  code-examples/src/main/java/org/matsim/codeexamples/programming/leastCostPath/MatsimClassDijkstra.java
  code-examples/src/main/java/org/matsim/codeexamples/programming/leastCostPath/MatsimClassRouter.java
  contribs/locationchoice/src/main/java/org/matsim/core/router/MultiNodeDijkstra.java
  contribs/matrixbasedptrouter/src/main/java/org/matsim/contrib/matrixbasedptrouter/PtMatrix.java
  matsim/src/main/java/org/matsim/core/router/Dijkstra.java
  matsim/src/main/java/org/matsim/core/router/InvertedLeastPathCalculator.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouter.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathCalculator.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathUtils.java
Due: core, contribs

feat: re-allow using the --max-typical-duration parameter for "prepare split-activity-types-duration" (#5021)
  contribs/application/src/main/java/org/matsim/application/prepare/population/SplitActivityTypesDuration.java
  contribs/application/src/test/java/org/matsim/application/prepare/population/SplitActivityTypesDurationTest.java
Due: contribs

add script that sets unifornly distributed person specific asc as modeTasteVariations (#5064)
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scoring/AddPersonSpecifcAscsToPopulation.java
Due: contribs

maintenance: commercial demand generation (#5045)
  contribs/application/src/test/java/org/matsim/application/analysis/population/TripAnalysisTest.java
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/CommercialTourSpecifications.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreatorForOSM_Data.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProviderTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtilsTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysisTest.java
Due: contribs

add parking cost for dsim (#5057)
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingcost/module/ParkingCostModule.java
Due: contribs

feat: add StuckAgentsWriter for population analysis (#4698)
  contribs/application/src/main/java/org/matsim/application/analysis/population/StuckAgentsWriter.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/StuckAgentsWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/StuckAgentsWriterTest/testCommandLineExecution/events.xml
Due: contribs

fix(config): make simulationPeriodInDays a normal config parameter (#5068)
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/Network_RandomizedPt.pdf
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/kn100config.xml
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/knconfig.xml
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/network.xml
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/population.xml
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/transitVehicles.xml
  contribs/common/src/test/resources/test/input/org/matsim/contrib/common/randomizingtransitrouter/transitschedule.xml
  contribs/socnetsim/examples/siouxfalls-socialnetwork/config.xml
  matsim/src/main/java/org/matsim/core/config/groups/ScenarioConfigGroup.java
Due: core, contribs

add plan (#5056)
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

ci: retry transient Maven Central HTTP failures in verify-push (#5055)
  .github/workflows/verify-push.yaml
Due: none

add comments to SwissRailRaptorCore (#5061)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core

fix(scoring): add meaningful error message if no scoring parameters are present for certain (network) modes (#5071)
  matsim/src/main/java/org/matsim/core/replanning/GenericStrategyManagerImpl.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityFactory.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/test/java/org/matsim/run/RunMatsimTest.java
Due: core

feat(hermes): Small improvements (#5077)
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Agent.java
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Realm.java
Due: core

feat(application): aggregate counts-from-bast by weekday and date range, add geometries (#5110)
  contribs/application/src/main/java/org/matsim/application/prepare/counts/Aggregation.java
  contribs/application/src/main/java/org/matsim/application/prepare/counts/BAStCountStation.java
  contribs/application/src/main/java/org/matsim/application/prepare/counts/CreateCountsFromBAStData.java
  contribs/application/src/test/java/org/matsim/application/prepare/counts/CreateCountsFromBAStDataTest.java
  contribs/application/test/input/org/matsim/application/prepare/counts/2021_A_S_test_data.txt
  contribs/application/test/input/org/matsim/application/prepare/counts/2021_B_S_test_data.txt.gz
Due: contribs

feat(emissions): add HbefaUtils and scenario check for emissionConcept (#5087)
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/scenarioCheckers/Hbefa41ScenarioChecker.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/HbefaUtils.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/Hbefa41ScenarioCheckerTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/HbefaUtilsTest.java
Due: contribs

feat(application): add merge-counts command (#5111)
  contribs/application/src/main/java/org/matsim/application/prepare/counts/MergeCounts.java
  contribs/application/src/test/java/org/matsim/application/prepare/counts/MergeCountsTest.java
Due: contribs

feat: policies (#5086)
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/CornerCases.java
Due: contribs

fix(application): write counts-from-bast hours 0 based (#5109)
  contribs/application/src/main/java/org/matsim/application/prepare/counts/CreateCountsFromBAStData.java
  contribs/application/src/test/java/org/matsim/application/prepare/counts/CreateCountsFromBAStDataTest.java
Due: contribs

I've created "CONTRIBUTING.md" because I realised (#5079)
  CONTRIBUTING.md
Due: none

remoce MatsimFileTypeGuesserSignalsTest.java (#5093)
  contribs/signals/src/test/java/org/matsim/contrib/io/MatsimFileTypeGuesserSignalsTest.java
Due: contribs

feat(carriers): update Jsprit out of the box configuration (#5090)
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/output_carriers.xml.gz
  contribs/small-scale-traffic-generation/test/input/org/matsim/commercialDemandGenerationBasic/output_events.xml.gz
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

feat: Improve GeoFileWriter (#5102)
  matsim/src/main/java/org/matsim/core/utils/gis/GeoFileWriter.java
Due: core

fix(core): PersonPrepareSim triggered reroutes too often (#5080)
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/test/java/org/matsim/core/population/algorithms/PersonPrepareForSimTest.java
Due: core

fix(emissions): handle null values when correcting hbefa technology (#5088)
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/HbefaUtils.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/HbefaUtilsTest.java
Due: contribs

fix(Hermes): End Times over 32hrs (#5092)
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Realm.java
  matsim/src/main/java/org/matsim/core/mobsim/hermes/ScenarioImporter.java
Due: core

refactor(small-scale-commercial): Updates for small scale commercial traffic (#5103)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs
