Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

refactor(shared_mobility): use both Parameter annotation and Getter/Setter in SharingServiceConfigGroup
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunCarsharing.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunParisVelib.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunTeleportationBikesharing.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingConfigGroup.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingQSimServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingNetworkRentalsHandler.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingTeleportedRentalsHandler.java
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
Due: contribs

refactor(shared_mobility): use both Parameter annotation and Getter/Setter in SharingServiceConfigGroup (#4391)
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunCarsharing.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunParisVelib.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunTeleportationBikesharing.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingConfigGroup.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingQSimServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingNetworkRentalsHandler.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingTeleportedRentalsHandler.java
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
Due: contribs

Pass sharing vehicle to network router in shared_mobility
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/io/SharingVehicleSpecification.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/logic/SharingLogic.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/routing/SharingRoutingModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingQSimServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingVehicleSource.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingUtils.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingVehicle.java
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_scooter.xml
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingRequest.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core, contribs

Do not place vehicles that are not in PersonVehicles if VehiclesSource.fromVehiclesData
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/PopulationAgentSource.java
Due: core

Fix dtd reference in shared_mobility test files
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_taxi_vehicles_stations.xml
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_mobility.xml
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_velib.xml
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_wheels.xml
Due: contribs

Added an additional test for VehiclesSource.fromVehiclesData
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
Due: contribs

feat(ev): advance / plan-based reservations for strategic charging (#4392)
  contribs/common/src/main/java/org/matsim/contrib/common/util/reservation/AbstractReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservability.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservationManager.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/reservation/ChargerReservationModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingAlternativeProvider.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingQSimModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/StrategicChargingUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/AttributeBasedChargingCostCalculator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/ChargingCostCalculator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/DefaultChargingCostCalculator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/DefaultChargingCostsParameters.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/NoChargingCostCalculator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/TariffBasedChargingCostCalculator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/costs/TariffBasedChargingCostsParameters.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/plan/ChargingPlanActivity.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/InnovationHelper.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/replanning/innovator/RandomChargingPlanInnovator.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/reservation/AdvanceReservationEvent.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/reservation/AdvanceReservationEventHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/reservation/StrategicChargingReservationEngine.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoring.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/strategic/scoring/ChargingPlanScoringParameters.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/reservation/ChargerReservabilityTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/ChargingPlansConverterTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/StrategicChargingTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/strategic/utils/TestScenarioBuilder.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/withinday/WithinDayEvTest.java
Due: contribs

fix(srr): mode-specific transfer penalties
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/DefaultRaptorTransferCostCalculator.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/ModeSpecificTransferCostCalculator.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModule.java
Due: core

implement writing attribs in experienced plans
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

trying it out
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
  matsim/src/test/java/org/matsim/integration/EquilTwoAgentsTest.java
Due: core

feat: Write person attribs in experienced plans (#4398)
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
  matsim/src/test/java/org/matsim/integration/EquilTwoAgentsTest.java
Due: core

feat(shared_mobility): specify VehicleType for SharingService (#4394)
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/io/SharingVehicleSpecification.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/logic/SharingLogic.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/routing/SharingRoutingModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingQSimServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceModule.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingVehicleSource.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingUtils.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingVehicle.java
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_taxi_vehicles_stations.xml
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_mobility.xml
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_scooter.xml
  contribs/shared_mobility/src/test/resources/org/matsim/contrib/shared_mobility/shared_vehicles_wheels.xml
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/PopulationAgentSource.java
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingRequest.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core, contribs

Fixed and improved CADC/WLTP segment comparison
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

add docs for time distance chart
  contribs/railsim/docs/time-distance-chart.md
Due: contribs

enhance error logs in schedule impl
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleImpl.java
Due: contribs

prepare classes and structure for time distance diagram
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimQSimModule.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TimeDistanceData.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainManager.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/disposition/SpeedProfile.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

refactor(dvrp): improve error logging in schedule impl (#4400)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/schedule/ScheduleImpl.java
Due: contribs

fix(shared_mobility): use decideOnLinkIdForActivity for destinationActivity
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/logic/SharingLogic.java
Due: contribs

fix(shared_mobility): use decideOnLinkIdForActivity for destinationActivity (#4401)
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/logic/SharingLogic.java
Due: contribs

fix(shared_mobility): fix loading of configs with SharingServiceConfigGroup
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingConfigGroup.java
Due: contribs

fix(shared_mobility): fix loading of configs with SharingServiceConfigGroup (#4402)
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingConfigGroup.java
Due: contribs

first implementation for the target time distance data, added file writing and structure for tests
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TimeDistanceData.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandlerTest.java
Due: contribs

feat(railsim): Infrastructure specific VMax and small QOL Improvements (#4395)
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/RailsimUtils.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgent.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailLink.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/RailsimUtilsTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTestUtils.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/parallelTracks/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/parallelTracks/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/parallelTracks/transitVehicles.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/varyingVMax/trainNetwork.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/varyingVMax/transitSchedule.xml
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/varyingVMax/transitVehicles.xml
Due: contribs

changes after merging
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

feat(ev): write vehicle trajectories
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/example/RunEvExampleTest.java
Due: contribs

feat(ev): write vehicle trajectories (#4404)
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/example/RunEvExampleTest.java
Due: contribs

wip
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/AnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/ZonalEnergyDemandListener.java
Due: contribs

feat(ev): use fileEnding from config for VehicleTrajectoryListener
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
Due: contribs

take the score from the selected plan into the experienced plan
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

improve ttd calculation
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainTimeDistanceHandler.java
Due: contribs

add a test for minimum stop duration and rerouting
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimMinimumStopDurationTest.java
Due: contribs

feat(ev): zonal analysis
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/AnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/ZonalEnergyDemandListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExample.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/example/RunEvExampleTest.java
Due: contribs

update output
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/ZonalEnergyDemandListener.java
Due: contribs

feat(ev): use fileEnding from config for ZonalEnergyDemandListener
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/ZonalEnergyDemandListener.java
Due: contribs

feat(ev): zonal analysis (#4407)
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/EvConfigGroup.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/EvAnalysisModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/VehicleTrajectoryListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/analysis/ZonalEnergyDemandListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/example/RunEvExample.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/example/RunEvExampleTest.java
Due: contribs

use waypoint definition of earliest arrival in insertion scheduler
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
Due: contribs
