Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

providing better warnings, in particular giving clear recommendations how to modify the config to remove warnings. One or the other (mostly comment) change on the way. (#3968)
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/controler/OutputDirectoryHierarchy.java
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/DefaultTeleportationEngine.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingProvider.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityFactory.java
  matsim/src/main/java/org/matsim/core/utils/io/MatsimXmlParser.java
Due: core

add missing implementation
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

make final
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/RunGenerateSmallScaleCommercialTrafficTest.java
Due: contribs

feat(core): teleported mode speed by person (#3941)
  contribs/drt/src/test/java/org/matsim/contrib/drt/routing/DrtRoutingModuleTest.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/TeleportationRoutingModule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/RaptorStopFinderTest.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorIntermodalTest.java
  matsim/src/test/java/org/matsim/core/router/TeleportationRoutingModuleTest.java
Due: core, contribs

test(small-scale-commercial-traffic): fix test (#3970)
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/RunGenerateSmallScaleCommercialTrafficTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

prepare tests
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
Due: contribs

Adjusted filepaths
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

make Households Interface a bit more flexible
  matsim/src/main/java/org/matsim/households/Household.java
  matsim/src/main/java/org/matsim/households/HouseholdImpl.java
  matsim/src/main/java/org/matsim/households/HouseholdsFactoryImpl.java
Due: core

make Households Interface a bit more flexible
  matsim/src/main/java/org/matsim/households/Household.java
Due: core

make Households Interface a bit more flexible
  matsim/src/main/java/org/matsim/households/HouseholdImpl.java
Due: core

formatting
  matsim/src/main/java/org/matsim/households/HouseholdImpl.java
Due: core

define lists in HouseholdImpl
  matsim/src/main/java/org/matsim/households/HouseholdImpl.java
  matsim/src/main/java/org/matsim/households/HouseholdsFactoryImpl.java
Due: core

feat(core): Make Households Interface more useful (#3971)
  matsim/src/main/java/org/matsim/households/Household.java
  matsim/src/main/java/org/matsim/households/HouseholdImpl.java
  matsim/src/main/java/org/matsim/households/HouseholdsFactoryImpl.java
Due: core

Relax constraint in PassingQueue, as vehicles from upstream might have a fractional exit time.
  matsim/src/main/java/org/matsim/dsim/simulation/net/PassingQueue.java
Due: core

dropoff 1/2
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/ConfigurableCostCalculatorStrategy.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/distances/InsertionDistanceCalculator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/objectives/PassengerDelayObjective.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/MaxDetourInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CorrectedStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CumulativeStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/DefaultPassengerStopDurationProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/DefaultStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/MinimumStopDurationAdapter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/ParallelStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/PrebookingStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/StopTimeCalculator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategyTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

fix
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CorrectedStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/ParallelStopTimeCalculator.java
Due: contribs

added equity analyses, allow multiple times to be checked
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/AccessibilityAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
Due: contribs

New freespeed analysis
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Adapted RunMultimodalExampleTest (changed the multimodal example main function)
  contribs/multimodal/src/main/java/org/matsim/contrib/multimodal/RunMultimodalExample.java
Due: contribs

Adapted MultiModalControlerListenerTest
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalControlerListenerTest.java
Due: contribs

Adapted MultiModalPTCombinationTest
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/pt/MultiModalPTCombinationTest.java
Due: contribs

Adapted StuckAgentTest
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
Due: contribs

Adapted MultiModalTripRouterTest
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalTripRouterTest.java
Due: contribs

add convenience creators for Id<VehicleType>
  matsim/src/main/java/org/matsim/api/core/v01/Id.java
Due: core

add convenience creators for Id<VehicleType> (#3974)
  matsim/src/main/java/org/matsim/api/core/v01/Id.java
Due: core

contrib(profiling): JFRStopwatch - log statistics about configured and actual sampling intervals
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JFRStopwatch.java
Due: contribs

contrib(profiling): JFRStopwatch - add some todos
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JFRStopwatch.java
Due: contribs

fixup! add profiling contrib
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/JFRIterationEvent.java
Due: contribs

fixup! contrib(profiling): add abstract aspect for trace profiling events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/TraceProfilingEvent.java
Due: contribs

fixup! contrib(profiling): add abstract aspect for trace profiling events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/EnableProfilingModule.java
Due: contribs

fixup! contrib(profiling): JFRStopwatch - log statistics about configured and actual sampling intervals
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JFRStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/FireDefaultProfilingEventsModule.java
Due: contribs

contrib(profiling): JFRStopwatch - also consider native method sampling events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JFRStopwatch.java
Due: contribs

making MultimodalLinkChooserDefaultImpl public so it can be used as delegate.
  matsim/src/main/java/org/matsim/core/router/MultimodalLinkChooserDefaultImpl.java
Due: core

contrib(profiling): refactor custom events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JFRStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/FireDefaultProfilingEventsModule.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/IterationEndsListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/IterationJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/IterationJfrTimer.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/IterationStartsListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MatsimJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MatsimOperationJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MatsimShutdownJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MatsimStartupJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MobsimJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MobsimJfrTimer.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/OperationsJfrTimer.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/ReplanningJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/ScoringJfrEvent.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/ProfilingIT.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/AnnotationBasedExampleAspect.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/PersonVehiclesAspect.aj
Due: contribs

contrib(profiling): rename JfrSamplingStopwatch
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
Due: contribs

contrib(profiling): move aop trace functionality into its own aop.trace package from aop
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/trace/TraceProfilingAspect.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/trace/TraceProfilingEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/instrument/Trace.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/ProfilingIT.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/trace/TestTraceProfilingAspect.java
Due: contribs

contrib(profiling): make abstract profiling aspect more generic
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/AbstractProfilingEventAspect.aj
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/ScoringListenerProfilingAspect.aj
Due: contribs

contrib(profiling): refactor the abstract profiling aspect into an @Aspect
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/aop/AbstractProfilingEventAspect.java
  contribs/profiling/src/test/java/org/matsim/contrib/profiling/aop/ScoringListenerProfilingAspect.java
Due: contribs

Added the deprecated NetworkRoutingModule back into the NetworkRoutingProvider to retrofit old tests and contribs
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingProvider.java
Due: core

Adapted PlansCalcRouteWithTollOrNotTest (retrofitted testBestAlternatives)
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/PlansCalcRouteWithTollOrNotTest.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
