Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

Revert "fix(drt): Handle negative departure time corner case"
  contribs/dvrp/src/main/java/org/matsim/contrib/zone/skims/AdaptiveTravelTimeMatrixImpl.java
Due: contribs

Move capping into DetourTimeEstimatorWithAdaptiveTravelTimes
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/DetourTimeEstimatorWithAdaptiveTravelTimes.java
Due: contribs

add description
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/CountComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
Due: contribs

fix(drt): Handle negative departure time corner case (#4097)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/DetourTimeEstimatorWithAdaptiveTravelTimes.java
Due: contribs

feat(SimwrapperCountsDashboard): Add sqv values for counts and little adjustments (#4098)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/CountComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficCountsDashboard.java
Due: contribs

fix the minimum stop duration, create assertion classes for the integration tests
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/AbstractIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimMinimumStopDurationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResult.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/StopTimeAssert.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/StopTimeData.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
Due: core, contribs

resolve URI/URLs more generically
  matsim/src/main/java/org/matsim/core/utils/io/IOUtils.java
Due: core

deadlock avoidance can handle requests of multiple links separately, adapted tests and more assertions
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/DeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/resources/RailResourceManager.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimMinimumStopDurationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
Due: contribs

replace nontyped by typed method
  code-examples/src/main/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExample.java
Due: none

because getGradient now returns in pct, the value is a factor of 100 larger than before
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
Due: contribs

refactor: scoring maintenance (#4101)
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/PlansConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

fix one test
  matsim/src/main/java/org/matsim/core/controler/DefaultPrepareForSimModule.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
Due: core

feat: remove bicycleConfig:maxSpeedForRouting parameter. Replaced by vehicles with speeds (#4093)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleModule.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/run/BicycleTest.java
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testCobblestone/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testCobblestone/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradient/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradient/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradientLane/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testGradientLane/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLane/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLane/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkBasedScoring/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkBasedScoring/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_plans.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testPedestrian/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testPedestrian/output_plans.xml.gz
Due: contribs

add a comment (#3994)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
Due: core

chore(deps): raise open pr limit for dependabot (#4007)
  .github/dependabot.yml
Due: none

fix(railsim): Extend an existing test (#3991)
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

feat: make DvrpLoad comparable (#3995)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
Due: contribs

fix(core): Allow dumping of plans with compressed routes (#3998)
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

chore(examples): second vehicle in carrier files (#4028)
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Services/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runCarriersAnalysisUnPlannedTest_Shipments/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/in/output_allVehicles.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runServiceEventTest/in/serviceBasedEvents.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Carriers_stats_unPlanned.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/Load_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/TimeDistance_perVehicle.tsv
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/carrierVehicles.xml
  contribs/freight/test/input/org/matsim/freight/carriers/analysis/CarriersAnalysisTest/runShipmentEventTest/in/shipmentBasedEvents.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/carrierPlansWithoutRoutesAndBigVehicles.xml
  examples/scenarios/freight-chessboard-9x9/multipleCarriers_withoutTW_withDepots_withoutPlan.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrier.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivitiesWithoutRoutes_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierOneActivity.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierOneActivityWithoutRoutes.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierPlanBigVehicles.xml
  examples/scenarios/freight-chessboard-9x9/singleCarrierWithoutRoutes.xml
Due: contribs

feat(freight:carriers): Take roadpricing into account when running jsprit from CarrierUtils.runJsprit(...) (#3997)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCosts.java
Due: contribs

build(deps): bump graphhopper-core from 9.1 to 10.2 (#4004)
  contribs/vsp/pom.xml
Due: contribs

build(deps): bump geotools.version from 33.0 to 33.1 (#4003)
  pom.xml
Due: none

feat(freight(carrier)): run CarrierConsistencyCheck when using CarrierUtils.runJsprit() (#3981)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/consistency_checkers/CarrierConsistencyCheckers.java
Due: contribs

feat(drt-extensions): conditional generation of companions (#3986)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionRideGenerator.java
Due: contribs

feat(dvrp): parse complex vehicle capacities from fleet file (#3992)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/fleet/FleetModule.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/fleet/FleetReader.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DefaultDvrpLoadFromFleet.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoadFromFleet.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoadParams.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoadType.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/README.md
Due: contribs

build(deps): bump osm4j-pbf and osm4j-xml from 1.3.0 to 1.4.1 (#4005)
  contribs/osm/pom.xml
  contribs/signals/pom.xml
Due: contribs

fix(simwrapper): add missing "Vehicles" DRT animation (#4024)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Header.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

fix(deps): add junit-jupiter-api to dependency management (#4068)
  pom.xml
Due: none

add typed method and deprecate untyped method (#4056)
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/MultiModeDrtConfigGroup.java
Due: contribs

fix(pt): Fix a bug calculating pt routes using chained departures (#4083)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorRoute.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitStopFacilityImpl.java
Due: core

rounding up vehicles (#3999)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/targetcalculator/RelativeDemandEstimatorAsTargetCalculator.java
Due: contribs

fix(deps): add commons-collections4 to dependency management (#4070)
  pom.xml
Due: none

build(deps): bump commons-logging:commons-logging from 1.2 to 1.3.5 (#4071)
  pom.xml
Due: none

added/updated flow map viz class to pt dashboard class in simwrapper contrib. Tested with SimWrapperTest. (#4030)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/FlowMap.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/SimWrapperTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard-0.yaml
Due: contribs

feat: preemptive rejection improvements (#4075)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionOptimizer.java
Due: contribs

feat(drt-extension): preemptive rejection (#4002)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/DrtWithExtensionsConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionHandler.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModeQSimModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionModule.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionOptimizer.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/preemptive_rejection/PreemptiveRejectionParams.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/preemptive_rejection/RunPreemptiveRejectionIT.java
  contribs/drt-extensions/src/test/resources/org/matsim/contrib/drt/extension/preemptive_rejection/example.json
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/DrtModeOptimizerQSimModule.java
  examples/scenarios/mielec/vehicles-5-cap-2.xml
Due: contribs

fix(drt): fix timing bugs when using custom stop durations (#3979)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/ConfigurableCostCalculatorStrategy.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/PromisedTimeWindowOfferAcceptor.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/distances/InsertionDistanceCalculator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/objectives/PassengerDelayObjective.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/shifts/optimizer/insertion/ShiftInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/Waypoint.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DefaultUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/DetourTimeEstimator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGenerator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/MaxDetourInsertionCostCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/selective/SelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/AcceptedDrtRequest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DefaultOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/DrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/passenger/PromisedPickupTimeWindowDrtOfferAcceptor.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionScheduler.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CorrectedStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/CumulativeStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/DefaultPassengerStopDurationProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/DefaultStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/MinimumStopDurationAdapter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/ParallelStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/PrebookingStopTimeCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/stops/StopTimeCalculator.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/CostCalculationStrategyTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionCostCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionDetourTimeCalculatorWithVariableDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/InsertionGeneratorTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/ExtensiveInsertionProviderTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/extensive/KNearestInsertionsAtEndFilterTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/PrebookingTestEnvironment.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/prebooking/VariableStopDurationTest.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/scheduler/DefaultRequestInsertionSchedulerTest.java
Due: contribs

make the parkingPenalty attribute name publicly visible (#4082)
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/CarEgressWalkChanger.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingproxy/ParkingProxyModule.java
Due: contribs

fix for shift start case when charging ends at second before shift start (#4077)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/operations/eshifts/scheduler/EShiftTaskScheduler.java
Due: contribs

add utils method (#4044)
  contribs/roadpricing/src/main/java/org/matsim/contrib/roadpricing/RoadPricingUtils.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
