Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

Extract slave communications loop
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveCommunicationsLoop.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveControler.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveCommunicationsLoopTest.java
Due: contribs

Extract master slave communications loop
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterSlaveCommunicationsLoop.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/MasterSlaveCommunicationsLoopTest.java
Due: contribs

Extract slave handler coordination
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveHandlerCoordinator.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveHandlerCoordinatorTest.java
Due: contribs

Extract dynamic slave registry
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/DynamicSlaveRegistry.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/DynamicSlaveRegistryTest.java
Due: contribs

replace getModes() with getModeParams() in ScoringConfigGroup
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core

rename method addScoringParameters
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

rename methods to make sure that default values are used
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

Extract master-side slave session
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterSlaveSession.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/MasterSlaveSessionTest.java
Due: contribs

rename method
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

add methods to use existing set as default subpopulation ScoringParameters
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

add methods to add paramns to subpopulation
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

update log
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

use new methods for scoring getModeParams
  contribs/vsp/src/test/java/org/matsim/contrib/vsp/pt/fare/PtTripFareEstimatorTest.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
Due: core, contribs

use new methods for getting scoring parameters
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigs.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityFactory.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelScoringFunctionModule.java
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringOutputWriter.java
  matsim/src/main/java/org/matsim/pt/router/TransitRouterConfig.java
Due: core, contribs

use new methods for getting default values
  contribs/hybridsim/src/main/java/org/matsim/contrib/hybridsim/run/RunExample.java
  contribs/vsp/src/test/java/playground/vsp/congestion/AdvancedMarginalCongestionPricingIT.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/pt/router/TransitRouterConfig.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorTest.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoringTypicalDurationTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelScoringFunctionTest.java
  matsim/src/test/java/org/matsim/examples/simple/PtScoringTest.java
  matsim/src/test/java/org/matsim/pt/router/TransitRouterConfigTest.java
Due: core, contribs

add tests
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core

clean up
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core

add method for getting all subpopulations of a population
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

add new VSP check for scoring parameters per subpopulation
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

updates checks for new scoring parameters per subpopulation
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
Due: core

add tests
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
  matsim/src/test/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImplTest.java
Due: core

set to warn
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
Due: contribs

correct scoring of small scale commercial to new VSP default
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

add vehicleTypScoring for smallScale commercial traffic
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
Due: contribs

add dependancy
  contribs/small-scale-traffic-generation/pom.xml
Due: contribs

add direction and name to count-name
  contribs/application/src/main/java/org/matsim/application/prepare/counts/CreateCountsFromBAStData.java
Due: contribs

feat(scoring): Make scoring consistency checks subpopulation-aware and force VSP to scoring by subpopulations (#5116)
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  matsim/src/main/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/test/java/org/matsim/core/config/consistency/ConfigConsistencyCheckerImplTest.java
  matsim/src/test/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImplTest.java
Due: core, contribs

add coordinate
  contribs/application/src/main/java/org/matsim/application/prepare/counts/CreateCountsFromBAStData.java
Due: contribs

fix units
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
Due: contribs

capitalize first letter
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

only analyze vehicle types used by carriers
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
Due: contribs

move log message
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarriersAnalysis.java
Due: contribs

fix(simwrapper): Clean up freight and SimWrapper (#5118)
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarriersAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CarrierDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

Extract slave-side master session
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/SlaveMasterSession.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/SlaveMasterSessionTest.java
Due: contribs

Extract master iteration orchestration
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterIterationOrchestrator.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/MasterIterationOrchestratorTest.java
Due: contribs

Extract master load balancing coordination
  contribs/pseudosimulation/QUALITY.md
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterLoadBalancingCoordinator.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/MasterLoadBalancingCoordinatorTest.java
Due: contribs

Extract master startup bootstrap
  contribs/pseudosimulation/pom.xml
  contribs/pseudosimulation/quality/metrics-baseline.properties
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterControler.java
  contribs/pseudosimulation/src/main/java/org/matsim/contrib/pseudosimulation/distributed/MasterStartupBootstrap.java
  contribs/pseudosimulation/src/test/java/org/matsim/contrib/pseudosimulation/distributed/MasterStartupBootstrapTest.java
Due: contribs
