Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

fix failing test
  code-examples/src/main/java/org/matsim/codeexamples/extensions/locationChoice/RunLocationChoiceFrozenEpsilonsExample.java
Due: none

feat: resurrect location choice frozen epsilons example code (#5072)
  code-examples/src/main/java/org/matsim/codeexamples/extensions/locationChoice/RunLocationChoiceFrozenEpsilonsExample.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/DCScoringFunctionFactory.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/FrozenTastes.java
Due: contribs

fix(bicycle/network): normalize origid to String before simplification
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

replace strings by constants
  contribs/application/src/test/java/org/matsim/application/analysis/population/TripAnalysisTest.java
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
Due: contribs

fix: construct JspritOptimization after linksPerZone is resolved
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

maintenance: commercial demand generation (#5045)
  contribs/application/src/test/java/org/matsim/application/analysis/population/TripAnalysisTest.java
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/CommercialTourSpecifications.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreatorForOSM_Data.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProviderTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtilsTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysisTest.java
Due: contribs

chore(bicycle/network): tidy up dead code, imports and docs
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleInfraCategory.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/ElevationDataParser.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/LinkElevationProfile.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

fix(bicycle/network): preserve link geometry and attributes across simplification
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

feat(bicycle/network): optionally preserve true link geometry through simplification
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

fix(bicycle/network): repair reversed link geometry after the OSM read
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

fix(bicycle/network): stop length-derived link stats from blocking merges
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

perf(raptor): improve raptor performance for pt skim matrices (#4992)
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/PTSkimBenchmark.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
Due: core, contribs

refactor(bicycle/network): extract static process() seam for testing
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
Due: contribs

test(bicycle/network): cover the process() seam end-to-end
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
Due: contribs

chore(bicycle/network): default elevation sampling to 20 m, sync docs
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

refactor(bicycle/network): return counts from step methods + add tier-1 tests
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
Due: contribs

remove useless todo
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Agent.java
Due: core

minor performance improvement
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Realm.java
Due: core

test(bicycle/network): cover simplification, keep step methods package-private
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
Due: contribs

test(bicycle/network): cover ServiceLinkCleaner
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/ServiceLinkCleaner.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/ServiceLinkCleanerTest.java
Due: contribs

test(bicycle/network): cover reversed-geometry repair
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
Due: contribs

feat(hermes): Small improvements (#5077)
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Agent.java
  matsim/src/main/java/org/matsim/core/mobsim/hermes/Realm.java
Due: core

docs(bicycle/network): sync pipeline docs, warn on the type-rename trap
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

feat(bicycle/network): filter out links with restricted access tag
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleOsmTags.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
Due: contribs

docs(bicycle/network): list missing pipeline and service-cleaner tests
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

feat(bicycle/network): sample elevation along the true OSM course
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/LinkElevationProfile.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/LinkElevationProfileTest.java
Due: contribs

docs(bicycle/network): note that the --output extension picks the compression
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

feat(bicycle/network): make the DEM optional
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipelineTest.java
Due: contribs

refactor(bicycle/network): quiet a few LinkElevationProfile inspections
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/LinkElevationProfile.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/LinkElevationProfileTest.java
Due: contribs

I've created "CONTRIBUTING.md" because I realised there were no guide for contributing.
  CONTRIBUTING.md
Due: none

chore(bicycle): added license and warranty disclaimer to TagCopyTest
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/TagCopyTest.java
Due: contribs

minor performance improvement
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/test/java/org/matsim/core/population/algorithms/PersonPrepareForSimTest.java
Due: core

bugfix in PersonPrepareForSim
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/test/java/org/matsim/core/population/algorithms/PersonPrepareForSimTest.java
Due: core

fix(bicycle/network): keep bicycle=no roads as car-only links
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
Due: contribs

minor cleanup
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
Due: core

feat(bicycle/network): drop service=parking_aisle links
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleOsmTags.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
Due: contribs

fix(core): PersonPrepareSim triggered reroutes too often (#5080)
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/test/java/org/matsim/core/population/algorithms/PersonPrepareForSimTest.java
Due: core

I've created "CONTRIBUTING.md" because I realised (#5079)
  CONTRIBUTING.md
Due: none

feat(bicycle/network): gate bicycle detail by an OSM area marker
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicyTest.java
Due: contribs

add some java doc
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/parking/BellochePenaltyFunction.java
Due: core
