Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

add stop duration analysis based on the start category type
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

update loop of solving KWM carriers
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

fix carriers test
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/IntegrationIT.java
Due: contribs

fix after updates
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

Switch to fory for the message format.
  contribs/distributed-simulation/pom.xml
  contribs/hybridsim/pom.xml
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  matsim/pom.xml
  matsim/src/main/java/org/matsim/api/core/v01/Topology.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/DistributedAgentSource.java
  matsim/src/main/java/org/matsim/core/serialization/FuryBufferParser.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/custom/AttributesSerializer.java
  matsim/src/main/java/org/matsim/core/serialization/custom/IdSerializer.java
  matsim/src/main/java/org/matsim/core/serialization/custom/IntArrayListSerializer.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/executors/LPExecutor.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
  pom.xml
Due: core, contribs

remove unecessary dependency
  contribs/distributed-simulation/pom.xml
Due: contribs

Just to be sure I added findbugs twice 😅
  pom.xml
Due: none

chore(dsim): Upgrade Fury version to 15.0 (#4723)
  contribs/distributed-simulation/pom.xml
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  matsim/pom.xml
  matsim/src/main/java/org/matsim/api/core/v01/Topology.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/DistributedAgentSource.java
  matsim/src/main/java/org/matsim/core/serialization/FuryBufferParser.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/core/serialization/custom/AttributesSerializer.java
  matsim/src/main/java/org/matsim/core/serialization/custom/IdSerializer.java
  matsim/src/main/java/org/matsim/core/serialization/custom/IntArrayListSerializer.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/executors/LPExecutor.java
  matsim/src/test/java/org/matsim/core/serialization/SerializationProviderTest.java
  pom.xml
Due: core, contribs

updated dashboards to include projection option
  contribs/application/src/main/java/org/matsim/application/analysis/activity/ActivityCountAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ActivityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/MapPlot.java
Due: contribs

Configure logging in the weekly deploy script.
  .github/workflows/deploy-weekly.yaml
Due: none

Configure logging in the weekly deploy script. (#4726)
  .github/workflows/deploy-weekly.yaml
Due: none

added new runner based on the bicycle example, successfully tested motorized interaction (Plan-Score)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

feat: add utility method to add vehicles to QSim
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/WithinDayAgentUtils.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
Due: core

trip based version
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

fix(core): Make freespeed teleportation threadsafe
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

switched from cyclewaytype to bicylceinfratype
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleOsmNetworkReaderV2.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContribExample.java
Due: contribs

feat(routing): Freespeed teleportation: Use path distance instead of beeline
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
Due: core

feat(routing): Fallback on `non_network_walk` if `walk` is not configured as a teleported mode
  matsim/src/main/java/org/matsim/core/router/FallbackRoutingModuleDefaultImpl.java
Due: core

Modify tests
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

refactor: replace trapezoidal distribution with Gaussian for departure time sampling
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/PopulationGenerator.java
Due: contribs

feat(drt): Refactor parallel unplanned request inserter (#4713)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/BenchmarkResult.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/DrtBenchmarkConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/DrtBenchmarkRunner.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/README.md
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/RunScalabilityBenchmark.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/FleetGenerator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/GridNetworkGenerator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/PopulationGenerator.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/benchmark/scenario/SyntheticBenchmarkScenario.java
  contribs/drt-extensions/src/main/resources/benchmark-config.xml
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ConflictResolver.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/DrtParallelInserterParams.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PartitionActivityLogger.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PartitionContext.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PartitionStrategy.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/PerformanceLogger.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserterTest.java
Due: contribs

Support inheritance for Events
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/SingleNodeAsyncEventHandlerTask.java
Due: core, contribs

fix(core): also consider routing vehicle for same link routes
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

Use fastutils map to avoid boxing/unboxing address keys, hedge agains abstract event classes.
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
Due: core

hedge agains abstract event classes.
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
Due: core

Clear address cache when handlers are added or removed.
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core

fix(core): also consider routing vehicle for same link routes (#4734)
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

Reuse reflection done by SerializationProvider to find subclasses of Events to listen to. This is simpler, than maintaining a class hierarchy cache in the DistributedEventsManager
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LambdaUtils.java
Due: core

feat(dsim): Support inheritance for Events (#4733)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedEventsManagerTest.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LambdaUtils.java
  matsim/src/main/java/org/matsim/dsim/SingleNodeAsyncEventHandlerTask.java
Due: core, contribs

customized the simplifier to keep the attributes and clean the geometries in a better way
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/BicycleLinkPolicy.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSophistBicycleNetworkReader_clean.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmBicycleReader.java
Due: contribs

added service highway cleaner
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSophistBicycleNetworkReader_clean.java
Due: contribs

Start modularizing experienced route builders
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedGenericRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedNetworkRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilder.java
Due: core

TransitVehicles return TransitDriverAgents as driver. The interface overrides the getDriver method anyway, so why not let it return TransitDriverAgent directly!
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/SimpleTrainState.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQVehicle.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitVehicle.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilder.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/EquiDistAgentSnapshotInfoBuilderTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/QueueAgentSnapshotInfoBuilderTest.java
Due: core, contribs

Allow 'null' drivers
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQVehicle.java
Due: core

Introduce PersonEntersPtVehicleEvent and PersonLeavesPtVehicleEvent.
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonEntersVehicleEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonEntersPtVehicleEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonLeavesPtVehicleEvent.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
Due: core

Add ExperiencedTransitRouteBuilder
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonEntersPtVehicleEvent.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilder.java
Due: core

Use correct base class for PersonLeavesPtVehicleEvent
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonEntersPtVehicleEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PersonLeavesPtVehicleEvent.java
Due: core, contribs

Encapsulate logic for building experienced legs and activities
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedActivityBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedLegBuilder.java
Due: core
