Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

Added approcah 2 for bi.-lin.-int.
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

Added plots for highway overestimation
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Added plot parameter to plot_main
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_phem_lib.R
Due: contribs

add the recent used vehicleTypes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
Due: contribs

add exception if no vehicleType is found
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix(commercialTraffic): Add default vehicle options for kwm (#4518)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

update berlin runner
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareDrtStops.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/RunOfflineAccessibilityBerlin.java
Due: contribs

update test ref files because car is not scored with bicycle specific scores like surface type etc.
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_plans.xml.gz
Due: contribs

chore(deps): switch org.geotools to Maven BOM
  pom.xml
Due: none

build(deps): bump io.aeron:aeron-all from 1.49.1 to 1.49.2
  contribs/distributed-simulation/pom.xml
Due: contribs

fix: add check for correct bicycleMode before calculating additional score (#4214)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScore.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_events.xml.gz
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testLinkVsLegMotorizedScoring/output_plans.xml.gz
Due: contribs

chore(deps): switch org.geotools to Maven BOM (#4520)
  pom.xml
Due: none

formatting
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

add tabs per group and fix reference files
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
  contribs/simwrapper/src/test/resources/mode_share_per_dist_ref.csv
  contribs/simwrapper/src/test/resources/mode_share_ref.csv
Due: contribs

add test
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/DashboardTests.java
Due: contribs

fix(core): preserve order of lists in ConfigGroup
  matsim/src/main/java/org/matsim/core/config/ReflectiveConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/ReflectiveConfigGroupTest.java
Due: core

feat: integration with ntfy.sh
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/Notifier.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyConfigGroup.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyListener.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyModule.java
  contribs/common/src/main/java/org/matsim/contrib/common/ntfy/NtfyUtils.java
Due: contribs

fix(core): preserve order of lists in ConfigGroup (#4523)
  matsim/src/main/java/org/matsim/core/config/ReflectiveConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/ReflectiveConfigGroupTest.java
Due: core

fix tabs
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

use linked map for groups
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

add mode statistics per traffic type
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

add battery chargers
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingWithQueueingLogic.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/DefaultChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/HysteresisBasedChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPower.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerStateEvent.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerStateEventHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerStateListener.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/CompositeChargerPowerFactory.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPower.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/BatteryChargerPowerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/HysteresisChargerPowerTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/TestScenarioBuilder.java
Due: contribs

Add 'atap' to the list of contributions in workflow
  .github/workflows/verify-push.yaml
Due: none

Add atap documentation link to README
  contribs/README.md
Due: contribs

build(atap): Added atap to .github/workflows/verify-push.yaml (#4528)
  .github/workflows/verify-push.yaml
  contribs/README.md
Due: contribs

changes related to vtts handler
  contribs/informed-mode-choice/src/main/java/org/matsim/modechoice/estimators/DefaultActivityEstimator.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/MarginalSumScoringFunction.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/VTTSHandler.java
  contribs/vsp/src/main/java/playground/vsp/congestion/handlers/MarginalSumScoringFunction.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/GenerateExperiencedPlansWithVTTSTest.java
  contribs/vsp/src/test/java/org/matsim/application/analysis/population/RunVTTSAnalysisTest.java
  contribs/vsp/src/test/java/playground/vsp/vtts/TestVTTSScoring.java
  matsim/src/main/java/org/matsim/core/population/PersonUtils.java
  matsim/src/main/java/org/matsim/core/scoring/functions/ActivityTypeOpeningIntervalCalculator.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelActivityScoring.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/main/java/org/matsim/core/scoring/functions/ScoringParameters.java
Due: core, contribs

added timeSlider option to gridmap and implemented backgroudLayer Option to all plots which support backgroundLayer
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/NoiseDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/BackgroundLayer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/FlowMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/GridMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Hexagons.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Links.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/LogisticViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/MapPlot.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/TransitViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/XYTime.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/viz/BackgroundLayerTest.java
Due: contribs

move backgroudLayer functionality to new base class VizMap
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/CarrierViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/FlowMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/GridMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Hexagons.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Links.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/LogisticViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/MapPlot.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/TransitViewer.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Vehicles.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/VizMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/XYTime.java
Due: contribs

move backgroudLayer functionality to new base class VizMap
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/NoiseDashboard.java
Due: contribs

move AgentWiseComparison from matsim-lausitz to matsim-libs vsp contrib since I need a more modern version of matsim
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

chore(deps): bump GitHub action checkout from v4 to v6
  .github/workflows/code-coverage.yaml
  .github/workflows/codeql.yml
  .github/workflows/deploy-dtds.yaml
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/deploy-on-release-created.yaml
  .github/workflows/deploy-weekly.yaml
  .github/workflows/full-integration.yaml
  .github/workflows/verify-push.yaml
Due: none

chore(deps): bump GitHub action setup-java from v4 to v5
  .github/workflows/code-coverage.yaml
  .github/workflows/codeql.yml
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/deploy-on-release-created.yaml
  .github/workflows/deploy-weekly.yaml
  .github/workflows/full-integration.yaml
  .github/workflows/verify-push.yaml
Due: none

chore(deps): bump GitHub action codeql from v3 to v4
  .github/workflows/codeql.yml
Due: none

chore(deps): bump GitHub action amannn/action-semantic-pull-request from v5 to v6
  .github/workflows/pr-title.yml
Due: none

chore(deps): bump GitHub action checkout from v4 to v6 (#4535)
  .github/workflows/code-coverage.yaml
  .github/workflows/codeql.yml
  .github/workflows/deploy-dtds.yaml
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/deploy-on-release-created.yaml
  .github/workflows/deploy-weekly.yaml
  .github/workflows/full-integration.yaml
  .github/workflows/verify-push.yaml
Due: none

chore(deps): bump GitHub action setup-java from v4 to v5 (#4536)
  .github/workflows/code-coverage.yaml
  .github/workflows/codeql.yml
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/deploy-on-release-created.yaml
  .github/workflows/deploy-weekly.yaml
  .github/workflows/full-integration.yaml
  .github/workflows/verify-push.yaml
Due: none

chore(deps): bump GitHub action codeql from v3 to v4 (#4537)
  .github/workflows/codeql.yml
Due: none

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
