Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

Fix failing tests
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/UmlaufDriverTest.java
Due: core

more changes
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/HeadersKN.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core, contribs

Add more information to PersonContinuesInVehicleEvent to avoid bookkeeping of transit drivers everywhere.
  matsim/src/main/java/org/matsim/api/core/v01/events/PersonContinuesInVehicleEvent.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderXMLv1.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/PassengerAccessEgressImpl.java
Due: core

Re enable testing of the scoring part. Broke one integration test on the way
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleDepartsAtFacilityEvent.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/SimStepMessage.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
  matsim/src/main/java/org/matsim/dsim/scoring/Backpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedActivityBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedGenericRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedGenericRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedLegBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedNetworkRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedNetworkRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilderProvider.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimStepMessaging.java
  matsim/src/test/java/org/matsim/core/mobsim/dsim/SimStepMessageTest.java
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureIntegrationTest.java
Due: core, contribs

Re enable testing of the scoring part. Broke one integration test on the way
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleArrivesAtFacilityEvent.java
Due: core

for stop based drt services, write stop network in transit schedule format at simulation end
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtStopNetwork.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/util/DumpDrtStopsAtEnd.java
Due: contribs

for stop based drt services, write stop network in transit schedule format at simulation end (#4747)
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtStopNetwork.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeRoutingModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/util/DumpDrtStopsAtEnd.java
Due: contribs

simwrapper contrib plotly add traces and filter
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Plotly.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/viz/PlotlyTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/viz/PlotlyTest/filter.yaml
Due: contribs

Ignore started planElements on StuckEvent. Downstream code does not know how to handle it.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackDataCollectorTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackDataCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedNetworkRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilder.java
Due: core, contribs

simwrapper contrib plotly add traces and filter (#4748)
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Plotly.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/viz/PlotlyTest.java
  contribs/simwrapper/test/input/org/matsim/simwrapper/viz/PlotlyTest/filter.yaml
Due: contribs

fix(core): Make freespeed teleportation threadsafe
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

Revert "fix(core): Make freespeed teleportation threadsafe"
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

Re-apply functionality changes without formatting the rest of the document
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

feat(routing): Fallback on `non_network_walk` if `walk` is not configured as a teleported mode
  matsim/src/main/java/org/matsim/core/router/FallbackRoutingModuleDefaultImpl.java
Due: core

Revert "feat(routing): Fallback on `non_network_walk` if `walk` is not configured as a teleported mode"
  matsim/src/main/java/org/matsim/core/router/FallbackRoutingModuleDefaultImpl.java
Due: core

Re-apply functionality changes without formatting the rest of the document
  matsim/src/main/java/org/matsim/core/router/FallbackRoutingModuleDefaultImpl.java
Due: core

First draft of a drt route builder
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/DrtRouteBuilderProvider.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/ExperiencedDrtRouteBuilder.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtModeModule.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
Due: core, contribs

Refactored PretoriaTest
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PretoriaTest.java
Due: contribs

feat(routing): Final fallback on `non_network_walk` (#4732)
  matsim/src/main/java/org/matsim/core/router/FallbackRoutingModuleDefaultImpl.java
Due: core

Fixed consistency check for road gradients
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

Have common interface for Experienced drt and pt routes, as both might be subject to waiting.
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/ExperiencedDrtRouteBuilder.java
  matsim/src/main/java/org/matsim/core/scoring/functions/CharyparNagelLegScoring.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedLegBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedTransitRouteBuilder.java
  matsim/src/main/java/org/matsim/dsim/scoring/PassengerRoute.java
  matsim/src/main/java/org/matsim/pt/routes/TransitPassengerRoute.java
Due: core, contribs

Include requst id in experienced drt route and finish regression scoring test
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/routing/ExperiencedDrtRouteBuilder.java
Due: contribs

Adjust tests in railsim contrib to new format of PersonContinuesInVehicleEvent
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimChainsAndFormationTest.java
Due: contribs

fix(core): do not loose z coordinate again
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

test: update test vectors for bicycle contrib
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_plans.xml.gz
Due: contribs

fix(core): do not loose z coordinate while copying activities (#4754)
  contribs/bicycle/test/input/org/matsim/contrib/bicycle/run/BicycleTest/testNormal10It/output_plans.xml.gz
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core, contribs

extend description
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

cleanup and fix tests
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/ModeSpecificTransferCostCalculator.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModuleTest.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorTest.java
Due: core

fix(srr): mode-specific transfer penalties (#4397)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/DefaultRaptorTransferCostCalculator.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/ModeSpecificTransferCostCalculator.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModule.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorModuleTest.java
  matsim/src/test/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorTest.java
Due: core

add name for added dataset
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/Plotly.java
Due: contribs

reduce files for modeUsage
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

use filter functionality and restructure files
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
Due: contribs

use filter functionality and restructure files for arrivals and departures
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

fix(core): Make freespeed teleportation threadsafe (#4730)
  matsim/src/main/java/org/matsim/core/router/DefaultRoutingModules.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRouting.java
  matsim/src/main/java/org/matsim/core/router/FreespeedFactorRoutingModule.java
  matsim/src/test/java/org/matsim/core/router/PseudoTransitRoutingModuleTest.java
Due: core

Add additional information to PersonContinuesInVehicleEvent when persons are relocated to new vehicle during a chained departure
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
Due: contribs

use filter functionality and restructure files for mode shares
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

add groups column
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

editing WithinDayAgentUtils, create CreateNetworkChangeEvents matsim application command and add some comments.
  contribs/application/src/main/java/org/matsim/application/analysis/noise/NoiseAnalysis.java
  contribs/application/src/main/java/org/matsim/application/prepare/network/CreateNetworkChangeEvents.java
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/test/java/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest.java
  contribs/noise/src/main/java/org/matsim/contrib/noise/NoiseOfflineCalculation.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/org/matsim/analysis/LinkStatsControllerListener.java
  matsim/src/main/java/org/matsim/analysis/VolumesAnalyzer.java
  matsim/src/main/java/org/matsim/application/ApplicationUtils.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/agents/WithinDayAgentUtils.java
  matsim/src/main/java/org/matsim/withinday/utils/EditTrips.java
Due: core, contribs

use string
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

add CreateNetworkChangeEventsTest
  contribs/application/src/test/java/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest.java
  contribs/application/test/input/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest/generatesValidEventsForDefaultInterval/network-change-events.xml
  contribs/application/test/input/org/matsim/application/prepare/network/CreateNetworkChangeEventsTest/respectsConfiguredIntervalAndProducesNoMoreEventsThanDefault/custom-network-change-events.xml
Due: contribs
