Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

change asserted number. I assume this comes from forced access/egress walk, but I cannot check in an easy way since there is only a number and no files to compare
  code-examples/src/test/java/org/matsim/codeexamples/extensions/decongestion/DecongestionPricingTestIT.java
Due: none

add file that is now in test/input/.../analysis/freight also to test/OUTPUT/.../analysis/freight .
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest.java
Due: none

reduce config
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/config_demand.xml
Due: contribs

change log
  matsim/src/main/java/org/matsim/core/scenario/consistency/VspScenarioConsistencyCheckerImpl.java
Due: core

add comment
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
Due: core

add scenario check for subpopulations
  matsim/src/main/java/org/matsim/core/scenario/consistency/VspScenarioConsistencyCheckerImpl.java
Due: core

add comment
  matsim/src/main/java/org/matsim/core/router/costcalculators/OnlyTimeDependentTravelDisutility.java
Due: core

Make routing disutility respect subpopulation scoring parameters
  matsim/src/main/java/org/matsim/core/router/costcalculators/FreespeedTravelTimeAndDisutility.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutility.java
  matsim/src/main/java/org/matsim/core/router/costcalculators/RandomizingTimeDistanceTravelDisutilityFactory.java
Due: core

add comment
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

add classes for diffenret scoringFunctions for subpopulations
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SubpopulationDelegatingScoringFunctionFactory.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeBasedLegScoring.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeBasedScoringFunctionFactory.java
Due: contribs

add example
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

move towards injection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SubpopulationDelegatingScoringFunctionFactory.java
Due: contribs

bind to classes instead of to interfaces. Dialect for delegation of the default impl; dialegt for binding Maps
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SubpopulationDelegatingScoringFunctionFactory.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeBasedScoringFunctionFactory.java
Due: contribs

fix(drt): Compute sharing metrics per DRT mode
  contribs/drt/src/main/java/org/matsim/contrib/drt/sharingmetrics/SharingMetricsModule.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/sharingmetrics/SharingMetricsTracker.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/sharingmetrics/SharingFactorTest.java
Due: contribs

rename method
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

move classes to vsp contrib
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
Due: contribs

fix input
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
Due: contribs

rename classes and related methods
  matsim/src/main/java/org/matsim/api/core/v01/Scenario.java
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/scenario/MutableScenario.java
  matsim/src/main/java/org/matsim/core/scenario/consistency/ScenarioChecker.java
  matsim/src/main/java/org/matsim/core/scenario/consistency/VspScenarioCheckerImpl.java
  matsim/src/main/java/org/matsim/run/CreateSelectedPlansTables.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioCheckerTest.java
Due: core

change package
  matsim/src/main/java/org/matsim/api/core/v01/Scenario.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/scenario/MutableScenario.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/ScenarioChecker.java
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
  matsim/src/main/java/org/matsim/run/CreateSelectedPlansTables.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioCheckerTest.java
Due: core

move activity check to before simulation
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
Due: core

use subpopulation based activityParam
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
Due: core

add comment
  matsim/src/main/java/org/matsim/core/scenario/checkers/VspScenarioCheckerImpl.java
Due: core

remove duplicate dependency
  contribs/vsp/pom.xml
Due: contribs

move test
  matsim/src/test/java/org/matsim/core/scenario/checkers/ScenarioCheckerTest.java
Due: core

add getter for checkers
  matsim/src/main/java/org/matsim/api/core/v01/Scenario.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/scenario/MutableScenario.java
  matsim/src/main/java/org/matsim/run/CreateSelectedPlansTables.java
Due: core

adjust wording
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DashboardUtils.java
Due: contribs

specify descriptions and header
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TrafficDashboard.java
Due: contribs

suppress a warning when there is nothing to warn
  matsim/src/main/java/org/matsim/core/population/routes/PopulationComparison.java
Due: core

replace manually programmed counter logging methods with Counter class
  matsim/src/main/java/org/matsim/core/network/NetworkImpl.java
Due: core

replace manually programmed counter logging methods with Counter class (once more)
  matsim/src/main/java/org/matsim/core/network/NetworkImpl.java
Due: core

set "freight" to deprecated so we can remember that this is an "old" terminology
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SubpopulationDefaultNames.java
Due: contribs

hEART submission
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/estimator/impl/waiting_time_estimation/ShapeFileBasedWaitingTimeEstimator.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/AttributeBasedStopFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DecideOnLinkAccessEgressFacilityFinder.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/DvrpRoutingModule.java
  contribs/taxi/src/main/java/org/matsim/contrib/taxi/run/TaxiConfigGroup.java
Due: contribs

Use battery in Charging implementations directly to avoid circular references.
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/edrt/run/RunEDrtScenario.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/operations/eshifts/run/RunEShiftDrtScenarioIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/services/RunEDrtWithServicesScenarioIT.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/ChargingModule.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/FastThenSlowCharging.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/FixedSpeedCharging.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/charging/FastThenSlowChargingTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/taxi/src/main/java/org/matsim/contrib/etaxi/run/RunETaxiBenchmark.java
  contribs/taxi/src/main/java/org/matsim/contrib/etaxi/run/RunETaxiScenario.java
  matsim/src/main/java/org/matsim/core/serialization/SerializationProvider.java
Due: core, contribs

Use battery in Charging implementations directly to avoid circular references.
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/DistributedElectricFleet.java
Due: contribs

bump jsprit to version 2.0.0
  contribs/commercialTrafficApplications/pom.xml
  contribs/freight/pom.xml
  contribs/freightreceiver/pom.xml
Due: contribs

dependency jsprit-io does not exist anymore
  contribs/freight/pom.xml
Due: contribs

Adapt code. Reading vehicles from file is no longer supported
  contribs/freight/src/main/java/org/matsim/freight/carriers/controller/CarrierVehicleReRouter.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/InitialCarrierPlanCreator.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/usecases/chessboard/SelectBestPlanAndOptimizeItsVehicleRouteFactory.java
Due: contribs

Adapt code. Reading vehicles from file is no longer supported
  contribs/freight/src/main/java/org/matsim/freight/carriers/FreightCarriersConfigGroup.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/utils/CarrierControllerUtilsTest.java
Due: contribs

rm algorithm xml files. Reading vehicles from file is no longer supported
  examples/scenarios/freight-chessboard-9x9/algorithm.xml
  examples/scenarios/freight-chessboard-9x9/algorithm_v2.xml
Due: none

Only send charge and id. Re-create EVs on receive
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/DistributedElectricFleet.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
