Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

feat(fiss): process all vehicles with networkMode in FISS
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
Due: contribs

refactor: split off FissVehicleTeleportationIT from RunFissDrtScenarioIT
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/FissVehicleTeleportationIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
Due: contribs

feat(fiss): enable VehiclesSource.fromVehiclesData for FISS (#4888)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSConfigGroup.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISSModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/FissVehicleTeleportationIT.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
Due: contribs

added todo comments
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
Due: contribs

clean up
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add null check
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

adjust log message
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarriersAnalysis.java
Due: contribs

ci: Disable distributed EV test on windows CI (#4884)
  .github/workflows/full-integration.yaml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  matsim/src/test/java/org/matsim/testcases/DisabledOnGitHubWindowsCI.java
Due: core, contribs

Set some permissions and use recent node version
  .github/workflows/deploy-on-pr-merge.yaml
Due: none

Set some permissions and use recent node version (#4889)
  .github/workflows/deploy-on-pr-merge.yaml
Due: none

separate vehicle selection
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
Due: contribs

rename interface
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProviderTest.java
Due: contribs

refactor(smallScaleCommercial): changes setting of vehicleTypes for kwm (#4890)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProviderTest.java
Due: contribs

SbbTransitEngine is mostly distributed.
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/sbb-extensions/pom.xml
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgentFactory.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineQSimModule.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/DefaultTransitDriverAgentFactory.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentFactory.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core, contribs

SbbTransitEngine is mostly distributed.
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDriveDischargingIntegrationTest.java
  contribs/sbb-extensions/pom.xml
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/DistributedSBBTransitQSimEngine.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgentFactory.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineQSimModule.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/DefaultTransitDriverAgentFactory.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentFactory.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core, contribs

First working version of DistributedSBBTransitEngine
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/DistributedSBBTransitQSimEngine.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineQSimModule.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQVehicle.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
Due: core, contribs

add comments for jsprit computation time
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

fix iteration time
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
Due: contribs

feat: set verbosity of least-cost path calculator
  matsim/src/main/java/org/matsim/core/router/Dijkstra.java
  matsim/src/main/java/org/matsim/core/router/InvertedLeastPathCalculator.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouter.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathCalculator.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathUtils.java
Due: core

fix test
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
Due: none

Implement messaging for passengers and be an agent source
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/SBBTransitModule.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/DistributedSBBTransitQSimEngine.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineQSimModule.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineTest.java
Due: contribs

fix(carriers): Fix jsprit times (#4893)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/JspritStrategyAnalyzer.java
  examples/scenarios/freight-chessboard-9x9/singleCarrierFiveActivities_Shipments.xml
Due: contribs

Correct usage of config
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/SBBTransitModule.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/SBBQSimModuleTest.java
Due: contribs

use timedependetNetwork if it is set in the config
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCostsTest.java
Due: contribs

Implement AgentSource for QSim
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/DistributedSBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/TestFixture.java
Due: contribs

BicycleInfraAttribute is enum now
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/AdditionalBicycleLinkScoreDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParams.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleTravelDisutility.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContrib_MITester.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleContrib_ScenarioTester.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleLinkSpeedCalculatorTest.java
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImplTest.java
Due: contribs

use timedependetNetwork if it is set in the config (#4895)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCostsTest.java
Due: contribs

Replace QSim engine with dsim ready engine
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBPassengerAccessEgress.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineQSimModule.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineTest.java
Due: contribs

Add test for dsim
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineTest.java
Due: contribs

cleanup warnings
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/SBBTransitModule.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitChainedDepartureIntegrationTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineIntegrationTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQVehicle.java
Due: core, contribs

cleanup warnings, rename tests
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/SBBQSimModuleTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitQSimEngineIntegrationTest.java
Due: contribs

Dsim test but fails
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/dsim/DistributedContext.java
Due: core, contribs

rebuild agent state after message transfer
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

adjust scoring for subp of kwm
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix analysis for carriers
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierLoadAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
Due: contribs

no services with duration 0
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
Due: contribs

integrate vehicleTypeSelection into constructor
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix(shared_mobility): set initialSoc on EV-typed dummy routing vehicles
  contribs/shared_mobility/pom.xml
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/service/SharingUtils.java
Due: contribs

make tour id optional
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierLoadAnalysis.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/analysis/CarrierTimeAndDistanceAnalysis.java
Due: contribs

replace stop iterator with stop index in AbstractTransitDriverAgent. This makes it easier to transfer drivers as messages.
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTransitDriverAgentImpl.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitDriverAgent.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/AbstractTransitDriverAgent.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitDriverAgentImpl.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitDriverTest.java
Due: core, contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
