Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

fix(PrepareForSim): limit logging of walk legs with NetworkRoute
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
Due: core

ImpactAnalysis comparison is working - needs to be cleaned up.
  contribs/application/src/main/java/org/matsim/application/analysis/scenarioComparison/ScenarioComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboardTest.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/scenariocomp/emissionsTestA.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/scenariocomp/emissionsTestB.java
Due: contribs

use scenario to dynamically calculate vehicle range
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

remove log message
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

leg_traversal.db is now generated - next steps: work on agent and leg_sequence DBs.
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/AgentState.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventHandler.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventListener.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbWriter.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/LinkTraversal.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/RunEventsHandlingExample.java
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core, contribs

feat(CommercialTraffic): Get max distance for type from attributes for commercial analysis (#4956)
  contribs/application/src/main/java/org/matsim/application/analysis/commercialTraffic/CommercialAnalysis.java
Due: contribs

VehiclesWriter did not support VehicleType.networkMode == null, despite trying to do so
  matsim/src/main/java/org/matsim/vehicles/VehicleWriterV2.java
Due: core

hierarchical h3 zone system
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/HierarchicalH3GridZoneSystemParams.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/HierarchicalH3ZoneSystem.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/NodeCountSubdivisionCriterion.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/SubdivisionCriterion.java
  contribs/common/src/test/java/org/matsim/contrib/common/zones/systems/h3/HierarchicalH3ZoneSystemTest.java
Due: contribs

update zone system utils
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
Due: contribs

VehiclesWriter did not support VehicleType.networkMode == null, despite trying to do so (#4957)
  matsim/src/main/java/org/matsim/vehicles/VehicleWriterV2.java
Due: core

feat(common): hierarchical h3 zone system (#4958)
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/HierarchicalH3GridZoneSystemParams.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/HierarchicalH3ZoneSystem.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/NodeCountSubdivisionCriterion.java
  contribs/common/src/main/java/org/matsim/contrib/common/zones/systems/grid/h3/SubdivisionCriterion.java
  contribs/common/src/test/java/org/matsim/contrib/common/zones/systems/h3/HierarchicalH3ZoneSystemTest.java
Due: contribs

permit duplicates in the ZoneSystems of DvrpModule. Have some legacy code that I currently cannot fix without this. Do not know the possible side effects.
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtRouteConstraints.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/run/DvrpModule.java
Due: contribs

permit duplicates in the ZoneSystems of DvrpModule. Have some legacy code that I currently cannot fix without this. Do not know the possible side effects. (#4960)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/StopWaypointFactoryImpl.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtRouteConstraints.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/run/DvrpModule.java
Due: contribs

remove typo
  contribs/vsp/src/test/java/org/matsim/drtExperiments/run/RunDrtWithPrebookingTest.java
Due: contribs

move a class to common to resolve a circular dependency
  contribs/common/src/main/java/org/matsim/contrib/common/conventions/vsp/SnzActivities.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/DrtTestScenario.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/TestScenario.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/Activities.java
Due: contribs

improve austrian profile
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/AustrianCountryProfile.java
Due: contribs

refactor country profile wording
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleCountryProfile.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleCountryProfileAustria.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleCountryProfileGeneric.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleCountryProfileGermany.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleCountryProfiles.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleInfraClassifier.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

clean up osm contrib
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/BicycleInfraClassifier.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/BicycleLinkPolicy.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunFullyConfiguredNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSimpleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/RunSophistBicycleNetworkReader_clean.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/TagCopy.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunSimpleBicycleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunSimpleNetworkReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/examples/schrott/RunSophistBicycleNetworkReader.java
Due: contribs

clean comments
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/ElevationDataParser.java
Due: contribs

rename elevation KPIs in elevation metrics
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleNetworkPipeline.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/LinkElevationProfile.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/README.md
Due: contribs

drop old network creator
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/CreateBicycleNetworkWithElevation.java
Due: contribs

added doc
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleInfraCategory.java
Due: contribs

adjusted elevation wording in tests too
  contribs/bicycle/src/test/java/org/matsim/contrib/bicycle/network/LinkElevationProfileTest.java
Due: contribs

Parquet and DB files generated. Next steps: move on to simwrapper viz and then potentially come back for more data tables (Agents for Demographic info, etc.)
  contribs/pom.xml
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/AgentState.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventHandler.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/RunEventsHandlingExample.java
Due: contribs

fix(PrepareForSim): limit logging of walk legs with NetworkRoute (#4954)
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
Due: core

simplify code
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

add methods and tests to set existing subpopulation scoring parameters as default
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/groups/ScoringConfigGroupTest.java
Due: core

clean up
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add if condition
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add input
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

adjust logging
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add logging for split carriers
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

remove option to split VRPs because it's not needed
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

rename method to solveVRP
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

refactor(smallScaleCommercialTraffic): Simplify carrier solving for kwm (#4964)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

add a comment to DrtRouteConstraints
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/constraints/DrtRouteConstraints.java
Due: contribs

feat(fiss): add desired departure time to VehicleTeleportationDepartureEvent
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
Due: core, contribs

feat(fiss): add desired departure time to VehicleTeleportationDepartureEvent (#4966)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
Due: core, contribs
