Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

adding a test that checks if a non-car mode is truly routed by the congested router.
  matsim/src/test/java/org/matsim/integration/equilibration/CongestedReroutingIT.java
  matsim/test/input/org/matsim/integration/equilibration/CongestedReroutingIT/testCongestedRerouting/output_events.xml.gz
  matsim/test/input/org/matsim/integration/equilibration/CongestedReroutingIT/testCongestedRerouting/output_plans.xml.gz
Due: core

add/change comments
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculatorModule.java
Due: core

fix: make modes other car symmetric in replanning (#4981)
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/0.events.xml.gz
  contribs/drt-extensions/test/input/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT/test/output_events.xml.gz
  contribs/multimodal/src/main/java/org/matsim/contrib/multimodal/MultiModalControlerListener.java
  matsim/src/main/java/org/matsim/core/config/groups/TravelTimeCalculatorConfigGroup.java
  matsim/src/main/java/org/matsim/core/events/EventsReaderTXT.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV5.java
  matsim/src/main/java/org/matsim/core/population/io/PopulationReaderMatsimV6.java
  matsim/src/main/java/org/matsim/core/router/TripRouterFactoryBuilderWithDefaults.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculatorModule.java
  matsim/src/main/java/org/matsim/run/InitRoutes.java
  matsim/src/test/java/org/matsim/integration/equilibration/CongestedReroutingIT.java
  matsim/test/input/org/matsim/integration/equilibration/CongestedReroutingIT/testCongestedRerouting/output_events.xml.gz
  matsim/test/input/org/matsim/integration/equilibration/CongestedReroutingIT/testCongestedRerouting/output_plans.xml.gz
Due: core, contribs

feat(router): add bounded search functionality to CHRouter and CHRouterTimeDep
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouter.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHBoundedSearchTest.java
Due: core

feat(benchmark): enhance SpeedyBoundedSearchBenchmark with detailed scenarios and logging
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyBoundedSearchBenchmark.java
Due: core

Implement bounded search in SpeedyDijkstra and SpeedyALT routers
  matsim/src/main/java/org/matsim/core/router/speedy/DAryMinHeap.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathCalculator.java
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyBoundedSearchBenchmark.java
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyBoundedSearchTest.java
Due: core

feat(router): enhance CHLeastCostPathTree to handle turn restrictions
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
Due: core

feat(router): add maxCost-bounded search to Speedy and CH routers (#4985)
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouter.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/DAryMinHeap.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathCalculator.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHBoundedSearchTest.java
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyBoundedSearchBenchmark.java
  matsim/src/test/java/org/matsim/core/router/speedy/SpeedyBoundedSearchTest.java
Due: core

make the shared_mobility example scripts a bit shorter (by using chained setters) so they fit on my screen :-|
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunCarsharing.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunParisVelib.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunTeleportationBikesharing.java
Due: contribs

make the shared_mobility example scripts a bit shorter (by using chained setters) so they fit on my screen :-| (#4988)
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunCarsharing.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunParisVelib.java
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/examples/RunTeleportationBikesharing.java
Due: contribs

feat(router): enhance CHLeastCostPathTree to handle turn restrictions (#4986)
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
Due: core

feat(router): network distance accumulation in CHLeastCostPathTree
  matsim/src/main/java/org/matsim/core/router/speedy/CHBuilder.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHGraph.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
Due: core

feat(router): network distance accumulation in CHLeastCostPathTree (#4987)
  matsim/src/main/java/org/matsim/core/router/speedy/CHBuilder.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHGraph.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHLeastCostPathTree.java
  matsim/src/test/java/org/matsim/core/router/speedy/CHLeastCostPathTreeTest.java
Due: core

feat(router): add isWalkOnly flag to TravelInfo and update PTSkimMatrices logic
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core, contribs

- revisit parking cost handling -change geometry handling
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/CornerCases.java
Due: contribs

-add capacity reduction
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/CornerCases.java
Due: contribs

exclude pt links
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
Due: contribs

exclude pt links (#4990)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleScoreEventsCreator.java
Due: contribs

feat(router): add isWalkOnly flag to TravelInfo and update PTSkimMatrices logic (#4989)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core, contribs

feat(router): replace HashMap with IdMap for stop information collection in SwissRailRaptorCore
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core

feat(benchmark): add standalone PT skim benchmark for Raptor one-to-all computation
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/analysis/skims/PTSkimBenchmark.java
Due: contribs

feat(router): replace BitSet with FixedBitSet for improved performance in SwissRailRaptorCore
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core

feat(router): optimize stop information retrieval in SwissRailRaptorCore and add reverse lookup for stop facilities
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
Due: core

fix(drt): handle several stops on the same link in DrtAnalysisPostProcessing
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
Due: contribs

fix(drt): handle several stops on the same link in DrtAnalysisPostProcessing (#4995)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/dashboards/DrtAnalysisPostProcessing.java
Due: contribs

Update BicycleParamsDefaultImpl.java -- infrastructure factor for highway cycleway
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
Due: contribs

clean up
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
Due: contribs

add usable range for solving VRP with jsprit
  contribs/freight/src/main/java/org/matsim/freight/carriers/FreightCarriersConfigGroup.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/DistanceConstraint.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/MatsimJspritFactory.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/FreightCarriersConfigGroupTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/DistanceConstraintTest.java
Due: contribs

add recalculating route distance of all activities if is network time-dependent
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/DistanceConstraint.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCosts.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCostsTest.java
Due: contribs

Added cycleway:* tags to OsmTags.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmTags.java
Due: contribs

fix and improve distance calculation with time-dependent network
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/DistanceConstraint.java
Due: contribs

clean up
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/DistanceConstraint.java
Due: contribs

improve plan variants by avoiding duplicate activity orders
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
Due: contribs

adjust attributes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
Due: contribs

Update OsmBicycleReader.java to parse directional cycleway tag
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmBicycleReader.java
Due: contribs

use SubpopulationDefaultNames for subpopulation attributes
  contribs/application/pom.xml
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/scenario/SubpopulationDefaultNames.java
Due: contribs

fix test
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

move class
  contribs/application/pom.xml
  contribs/application/src/main/java/org/matsim/application/prepare/longDistanceFreightGER/tripExtraction/ExtractRelevantFreightTrips.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/TrajectoryToPlans.java
  contribs/common/src/main/java/org/matsim/contrib/common/conventions/vsp/SubpopulationDefaultNames.java
  contribs/small-scale-traffic-generation/pom.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

update style
  contribs/perceived-safety/pom.xml
Due: contribs

fix(small-scale-commercial): Adjust plan variants for kwm (#4997)
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/CreateDifferentPlansForFreightPopulation.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/CommercialTrafficIT.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
