Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

contrib(profiling): add before & after mobsim listener jfr events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/AfterMobsimListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/BeforeMobsimListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/OperationsJfrTimer.java
Due: contribs

wip: prepare pax volumes for flow map
  contribs/application/src/main/java/org/matsim/application/analysis/pt/PublicTransitAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/PublicTransitDashboard.java
  matsim/src/main/java/org/matsim/analysis/pt/stop2stop/PtStop2StopAnalysis.java
Due: core, contribs

feat: make DvrpLoad comparable
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
Due: contribs

combine constructor and initialize method
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetwork.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNodeI.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNodeImpl.java
Due: core

feat: make DvrpLoad comparable (#3995)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegerLoad.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoad.java
Due: contribs

some changes
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

feat: Added InterpolationFraction-emission-computation-method
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/utils/EmissionsConfigGroup.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

Marked AccessEgressType.none as deprecated
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
Due: core

Restored consistency-check for none option
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

Deleted debug output
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
Due: contribs

Removed network from config (ModuleTest)
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/ModuleTest.java
Due: contribs

Added note with reason to all vehicle-Ids fixes
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/EstimateRouterTest.java
  contribs/informed-mode-choice/src/test/java/org/matsim/modechoice/ScenarioTest.java
  contribs/locationchoice/src/test/java/org/matsim/contrib/locationchoice/Initializer.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalControlerListenerTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalTripRouterTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/pt/MultiModalPTCombinationTest.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/PlansCalcRouteWithTollOrNotTest.java
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/TollTravelCostCalculatorTest.java
  contribs/socnetsim/src/test/java/org/matsim/contrib/socnetsim/jointtrips/router/JointTripRouterFactoryTest.java
  contribs/vsp/src/test/java/org/matsim/contrib/vsp/pt/fare/PtTripFareEstimatorTest.java
  matsim/src/test/java/org/matsim/core/router/TripRouterFactoryImplTest.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
  matsim/src/test/java/org/matsim/withinday/utils/EditRoutesTest.java
Due: core, contribs

Refactored NetworkRoutingInclAccessEgressModule
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

Restored NetworkRoutingInclAccessEgressModuleTest.noBushwackingLegs
  matsim/src/test/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModuleTest.java
Due: core

Restored ScoreStatsModuleTest.testScoreStats isInsertingAccessEgressWalk argument
  matsim/src/test/java/org/matsim/modules/ScoreStatsModuleTest.java
Due: core

include rpScheme in CarriersUtils.runJsprit
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCosts.java
Due: contribs

Changed RunMultimodalExample to use none
  contribs/multimodal/src/main/java/org/matsim/contrib/multimodal/RunMultimodalExample.java
Due: contribs

Restored NoiseIT.test2a
  contribs/noise/src/test/java/org/matsim/contrib/noise/NoiseIT.java
Due: contribs

Changed TollTravelCostCalculatorTest to use none
  contribs/roadpricing/src/test/java/org/matsim/contrib/roadpricing/TollTravelCostCalculatorTest.java
Due: contribs

Changed MultiModalPTCombinationTest to use none
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/pt/MultiModalPTCombinationTest.java
Due: contribs

Changed StuckAgentTest to use none
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
Due: contribs

Changed MultiModalControlerListenerTest.runSimpleScenario to use none
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/MultiModalControlerListenerTest.java
Due: contribs

Fixed endless loop due to changed leg-counts in TerminationTest.testCustomConvergenceCriterion
  matsim/src/test/java/org/matsim/core/controler/TerminationTest.java
Due: core

Restored timeout to 45 minutes
  .github/workflows/verify-push.yaml
Due: none

add logger to class
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCosts.java
Due: contribs

cleanup imports
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

fix(core): Allow dumping of plans with compressed routes
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

fix(core): Allow dumping of plans with compressed routes (#3998)
  matsim/src/main/java/org/matsim/core/scoring/ExperiencedPlansServiceImpl.java
Due: core

rounding up vehicles
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/rebalancing/targetcalculator/RelativeDemandEstimatorAsTargetCalculator.java
Due: contribs

move tourDistribution generator to the beginning
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

random is set at the beginning
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

spelling
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

simplify
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

feat(freight:carriers): Take roadpricing into account when running jsprit from CarrierUtils.runJsprit(...) (#3997)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/jsprit/NetworkBasedTransportCosts.java
Due: contribs

merge PopulationUtilsTest classes into one class
  matsim/src/test/java/org/matsim/core/population/PopulationUtilsTest.java
  matsim/src/test/java/org/matsim/core/utils/misc/PopulationUtilsTest.java
Due: core

use non-deprecated population comparison
  matsim/src/test/java/org/matsim/core/utils/misc/PopulationUtilsTest.java
Due: core

change log massage style
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

code style adjustments
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

Fixed missing injection in StuckAgentTest
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
