Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

Update codecov badge
  README.md
Due: none

feat: create code coverage for all contribs (#3854)
  .github/workflows/code-coverage.yaml
  README.md
  codecov.yml
Due: none

print warning for deprecated zoneTargetLinkSelection config setting
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
Due: contribs

feat(freight): Adding consistencyCheckers for freight contrib (#3888)
  contribs/freight/src/main/java/org/matsim/freight/carriers/consistency_checkers/CarrierConsistencyCheckers.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/consistency_checkers/LogisticsConsistencyChecker.java
  contribs/freight/src/main/java/org/matsim/freight/logistics/io/LSPPlanXmlParserV1.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/consistency_checkers/CarrierCapabilitiesCheckTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/consistency_checkers/ServicesTourTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/consistency_checkers/ShipmentsTourTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/consistency_checkers/TourPlanningCheckTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/consistency_checkers/VehicleCapacityTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/consistency_checkers/VehicleScheduleTest.java
  contribs/freight/src/test/java/org/matsim/freight/carriers/jsprit/DistanceConstraintTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/consistency_checkers/LspAllShipmentsGotPlansTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/consistency_checkers/LspConsistencyCheckerTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/consistency_checkers/LspShipmentPlansGotShipmentsTest.java
  contribs/freight/src/test/java/org/matsim/freight/logistics/consistency_checkers/LspUniqueResourceIdTest.java
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithServicesFAIL_1.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithServicesFAIL_2.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithServicesFAIL_3.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithServicesFAIL_4.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithServicesPASS.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithShipmentsFAIL_1.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithShipmentsFAIL_2.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithShipmentsFAIL_3.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithShipmentsFAIL_4.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCPlansCarrierWithShipmentsPASS.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCTestCarriersServicesFAIL.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCTestCarriersServicesPASS.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCTestCarriersShipmentsFAIL.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCTestCarriersShipmentsPASS.xml
  contribs/freight/test/input/org/matsim/freight/carriers/consistency_checkers/CCTestVeh.xml
  contribs/freight/test/input/org/matsim/freight/logistics/consistency_checkers/carriers.xml
  contribs/freight/test/input/org/matsim/freight/logistics/consistency_checkers/lsps.xml
  contribs/freight/test/input/org/matsim/freight/logistics/consistency_checkers/lsps_fail.xml
  contribs/freight/test/input/org/matsim/freight/logistics/consistency_checkers/vehicles.xml
Due: contribs

estimation
  matsim/src/main/java/org/matsim/core/estimation/AbstractVariablesWithRoute.java
  matsim/src/main/java/org/matsim/core/estimation/Estimator.java
  matsim/src/main/java/org/matsim/core/estimation/RequestCache.java
  matsim/src/main/java/org/matsim/core/estimation/TripEstimator.java
  matsim/src/main/java/org/matsim/core/estimation/VariableCache.java
  matsim/src/main/java/org/matsim/core/estimation/Variables.java
  matsim/src/main/java/org/matsim/core/estimation/modes/CarEstimator.java
  matsim/src/main/java/org/matsim/core/estimation/modes/CarVariables.java
  matsim/src/main/java/org/matsim/core/estimation/testing/Testing.java
Due: core

feat(srr): cacheless transfer calculation
  matsim/src/main/java/ch/sbb/matsim/config/SwissRailRaptorConfigGroup.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/RaptorStaticConfig.java
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorData.java
Due: core

print warning for deprecated zoneTargetLinkSelection config setting (#3889)
  contribs/drt/src/main/java/org/matsim/contrib/drt/run/DrtConfigGroup.java
Due: contribs

update application cutout test reference files
  contribs/application/test/input/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest/withEvents/cut_change_events.xml
  contribs/application/test/input/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest/withEvents/cut_facilities.xml
  contribs/application/test/input/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest/withEvents/cut_network.xml
  contribs/application/test/input/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest/withEvents/cut_population.xml
  contribs/application/test/input/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest/withoutEvents/cut_facilities.xml
  contribs/application/test/input/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest/withoutEvents/cut_population.xml
Due: contribs

reset RailsimTestUtils router call, add todo comment for clarifications
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimTestUtils.java
Due: contribs

Added a code snippet to DriveDischargingHandler to take care of the edge case when a vehicle with a full battery attmepts to break regeneratively, i.e travelling downhill
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
Due: contribs

Added a code snippet to DriveDischargingHandler to take care of the edge case when a vehicle with a full battery attmepts to break regeneratively, i.e travelling downhill (#3894)
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DriveDischargingHandler.java
Due: contribs

chore: add messages to some assert statements (#3841)
  contribs/application/src/main/java/org/matsim/application/prepare/freight/optimization/DetermineAverageTruckLoad.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/optimization/PrepareCountingData.java
  contribs/application/src/main/java/org/matsim/application/prepare/freight/tripGeneration/DefaultLocationCalculator.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/VehicleDataEntryFactoryImpl.java
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/PositionEmissionsModule.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/events/CarrierTourStartEventCreator.java
  contribs/informed-mode-choice/src/main/java/org/matsim/modechoice/search/ModeChoiceSearch.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  matsim/src/main/java/org/matsim/core/events/EventArray.java
  matsim/src/main/java/org/matsim/core/events/EventsConverterXML.java
  matsim/src/main/java/org/matsim/core/scoring/EventsToLegs.java
Due: core, contribs

add chained departures to transit schedule format, reader and writer
  matsim/src/main/java/org/matsim/pt/transitSchedule/ChainedDepartureImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/Constants.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/DepartureImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleFactoryImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleReaderV2.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleWriterV2.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/ChainedDeparture.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/Departure.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/TransitScheduleFactory.java
  matsim/src/main/java/org/matsim/pt/utils/TransitScheduleValidator.java
  matsim/src/main/resources/dtd/transitSchedule_v2.dtd
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureTest.java
  matsim/src/test/java/org/matsim/pt/utils/TransitScheduleValidatorTest.java
  matsim/test/input/org/matsim/pt/transitSchedule/chained_departures_schedule.xml
Due: core

move functionality from AnalysisConfigGroup into ControllerConfigGroup
  matsim/src/main/java/org/matsim/analysis/LegHistogramListener.java
  matsim/src/main/java/org/matsim/analysis/LegTimesControlerListener.java
  matsim/src/main/java/org/matsim/core/config/Config.java
  matsim/src/main/java/org/matsim/core/config/groups/AnalysisConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/ControllerConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/groups/AnalysisConfigGroupIT.java
  matsim/src/test/java/org/matsim/core/config/groups/ControllerConfigGroupTest.java
Due: core

feat(core): add options to control how often LegHistogram and LegStats are calculated and written (#3897)
  matsim/src/main/java/org/matsim/analysis/CalcLegTimes.java
  matsim/src/main/java/org/matsim/analysis/LegHistogramListener.java
  matsim/src/main/java/org/matsim/analysis/LegTimesControlerListener.java
  matsim/src/main/java/org/matsim/core/config/Config.java
  matsim/src/main/java/org/matsim/core/config/groups/ControllerConfigGroup.java
  matsim/src/main/java/org/matsim/core/controler/ControllerUtils.java
  matsim/src/main/java/org/matsim/counts/CountsControlerListener.java
  matsim/src/test/java/org/matsim/core/config/groups/ControllerConfigGroupTest.java
  matsim/src/test/java/org/matsim/counts/CountsControlerListenerTest.java
Due: core

Bump geotools to 33.0
  pom.xml
Due: none

avoid use of deprecated method
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleWriterV2.java
Due: core

improve tests and use validator on the example input
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureTest.java
  matsim/src/test/java/org/matsim/pt/utils/TransitScheduleValidatorTest.java
  matsim/test/input/org/matsim/pt/transitSchedule/chained_departures_schedule.xml
Due: core

update workflow files
  .github/workflows/deploy-on-pr-merge.yaml
  .github/workflows/verify-push.yaml
Due: none

adapt license file
  matsim/LICENSE
Due: core

check class of DRTTask instead of BaseType
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatialRequestFleetFilter.java
Due: contribs

tabs to spaces
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatialRequestFleetFilter.java
Due: contribs

validate stops of chained departures
  matsim/src/main/java/org/matsim/pt/utils/TransitScheduleValidator.java
  matsim/src/test/java/org/matsim/pt/utils/TransitScheduleValidatorTest.java
  matsim/test/input/org/matsim/pt/transitSchedule/chained_departures_schedule.xml
Due: core

feat(core): Add support for chained departures in transit schedules (#3901)
  matsim/src/main/java/org/matsim/pt/transitSchedule/ChainedDepartureImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/Constants.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/DepartureImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleFactoryImpl.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleReaderV2.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/TransitScheduleWriterV2.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/ChainedDeparture.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/Departure.java
  matsim/src/main/java/org/matsim/pt/transitSchedule/api/TransitScheduleFactory.java
  matsim/src/main/java/org/matsim/pt/utils/TransitScheduleValidator.java
  matsim/src/main/resources/dtd/transitSchedule_v2.dtd
  matsim/src/test/java/org/matsim/pt/transitSchedule/ChainedDepartureTest.java
  matsim/src/test/java/org/matsim/pt/utils/TransitScheduleValidatorTest.java
  matsim/test/input/org/matsim/pt/transitSchedule/chained_departures_schedule.xml
Due: core

fix: SpatialRequestFleetFilter can now also understand tasks without BaseType (#3904)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/insertion/spatialFilter/SpatialRequestFleetFilter.java
Due: contribs

Add missing imports
  contribs/common/src/main/java/org/matsim/contrib/common/zones/ZoneSystemUtils.java
  contribs/informed-mode-choice/src/main/java/org/matsim/modechoice/PlanModel.java
  contribs/shared_mobility/pom.xml
  contribs/shared_mobility/src/main/java/org/matsim/contrib/shared_mobility/run/SharingServiceConfigGroup.java
  contribs/vsp/src/test/java/org/matsim/core/mobsim/qsim/PreplanningEngineTest.java
Due: contribs

update syntax for 2025.0
  code-examples/src/main/java/org/matsim/codeexamples/config/external/RunExternalMobsimExample.java
  code-examples/src/main/java/org/matsim/codeexamples/config/reflectiveConfigGroup/RunReflectiveConfigGroupExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/drt/RunMelunPrebooking.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightWithEmissionExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightWithIterationsExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/locationChoice/RunLocationChoiceFrozenEpsilonsExample.java
Due: none

delete unused test
  code-examples/src/test/java/org/matsim/codeexamples/config/external/ExternalMobsimByConfigfileTest.java
Due: none

delete deprecated stuff
  code-examples/src/test/java/org/matsim/codeexamples/config/ExamplesByConfigfileTest.java
Due: none

add network mode
  code-examples/src/main/java/org/matsim/codeexamples/extensions/emissions/RunAverageEmissionToolOfflineExample.java
Due: none

disable network consistency check
  code-examples/src/main/java/org/matsim/codeexamples/mobsim/simpleAdaptiveSignalEngine/RunSimpleAdaptiveSignalExample.java
Due: none

PlanInheritanceModule with defaultDelimiter
  matsim/src/main/java/org/matsim/core/replanning/inheritance/PlanInheritanceModule.java
Due: core

Fix header
  matsim/src/main/java/org/matsim/core/replanning/inheritance/PlanInheritanceModule.java
Due: core
