Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

Use url to load test scenario instead of path, as this is downloaded dynamically in the CI-build
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
Due: core

Disable shared mobility IT test, to keep moving. This needs to be fixed later
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
Due: contribs

DistributedTeleportationEngine marks agents as stuck, when the simulation calls afterSim
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/DistributedTeleportationEngineTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/DistributedTeleportationEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
Due: core, contribs

Add stuck mechanism for agents:
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/NetworkTrafficEngineTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestLocalLink.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/net/TestSplitOutLink.java
  matsim/src/main/java/org/matsim/core/population/routes/RouteUtils.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackPlan.java
  matsim/src/main/java/org/matsim/dsim/scoring/ExperiencedPlansCollector.java
  matsim/src/main/java/org/matsim/dsim/scoring/PendingLeg.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProcess.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/SimLink.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/Wait2Link.java
  matsim/src/test/java/org/matsim/dsim/scoring/BackpackPlanTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/EndOfDayScoringTest.java
  matsim/src/test/java/org/matsim/dsim/scoring/ScoringDataCollectorTest.java
Due: core, contribs

Add stuck mechanism for agents:
  matsim/src/test/java/org/matsim/dsim/simulation/net/DefaultWait2LinkTest.java
Due: core

add example (= test case) for vtts computation
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNExample.java
Due: contribs

Kelheim regression test completes, but does not pass.
  matsim/src/main/java/org/matsim/core/mobsim/qsim/pt/TransitQSimEngine.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
Due: core

Improve fail message in ScoringRegressionTest
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
Due: contribs

fair amount of moving back and forth but no real progress
  matsim/src/main/java/org/matsim/core/config/ConfigWriter.java
  matsim/src/main/java/org/matsim/core/config/ConfigWriterHandlerImplV2.java
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

Add final round of handing events after simulation has terminated.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/scoring/ScoringDataCollector.java
Due: core, contribs

Add experienced plans writing
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
Due: core, contribs

Think about partial scores.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/shared_mobility/src/test/java/org/matsim/contrib/shared_mobility/RunIT.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackScoringModule.java
Due: core, contribs

Why are URLs so hard...
  matsim/src/test/java/org/matsim/core/scoring/functions/CharyparNagelLegScoringTest.java
Due: core

feat: enhance documentation and consistency checks for facilities and routing
  contribs/application/src/main/java/org/matsim/application/prepare/facilities/CleanFacilities.java
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
  contribs/locationchoice/src/main/java/org/matsim/contrib/locationchoice/frozenepsilons/DestinationChoiceContext.java
  matsim/src/main/java/org/matsim/core/config/groups/FacilitiesConfigGroup.java
  matsim/src/main/java/org/matsim/core/controler/PrepareForMobsim.java
  matsim/src/main/java/org/matsim/core/controler/PrepareForSim.java
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonRouteCheck.java
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingProvider.java
  matsim/src/main/java/org/matsim/core/scenario/ScenarioLoaderImpl.java
  matsim/src/main/java/org/matsim/facilities/ActivityFacility.java
  matsim/src/main/java/org/matsim/facilities/ActivityFacilityImpl.java
  matsim/src/test/java/org/matsim/examples/ModeRestrictionTest.java
  matsim/test/input/org/matsim/examples/ModeRestrictionTest/testCleanNetworkAndRerouteBeforeSim_fromActNotPossibleForAll_withConsistencyCheck_ok/testCleanNetworkAndRerouteBeforeSim_fromActNotPossibleForAll_withConsistencyCheck_ok__/output_events.xml.gz
Due: core, contribs

fix: skip facilities with null LinkId during network consistency check
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
Due: core

fix failing tests
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/AccessibilityIntegrationTest/testWithBoundingBoxConfigFile/config.xml
  contribs/application/src/main/java/org/matsim/application/prepare/scenario/CreateScenarioCutOut.java
  contribs/application/src/test/java/org/matsim/application/prepare/scenario/CreateScenarioCutOutTest.java
  contribs/parking/src/main/resources/parkingsearch/config.xml
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  matsim/src/main/java/org/matsim/core/config/groups/FacilitiesConfigGroup.java
  matsim/src/main/java/org/matsim/core/scenario/ScenarioLoaderImpl.java
  matsim/src/test/java/org/matsim/core/controler/NewControlerTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/AbstractQSimModuleTest.java
Due: core, contribs

extract class for writing the modeUsages
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
Due: contribs

fix output for allPersons dashboard
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

clean up
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

adjust test to have different groups and a diffrent share of modes per group
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
Due: contribs

fix test failures
  contribs/application/test/input/org/matsim/application/analysis/population/ExperiencedPlansWriterTest/testMain/test.output_config.xml
  contribs/distributed-simulation/test/input/org/matsim/dsim/three-links-scenario/three-links-config.xml
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/RunMultimodalExampleTest.java
  matsim/src/test/java/org/matsim/facilities/FacilitiesReprojectionIOTest.java
  matsim/src/test/resources/test/input/org/matsim/core/scenario/ScenarioLoaderImplTest/facilityAttributesConfig.xml
Due: core, contribs

fix: creation of arrivals/departures for modelTypes
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

fix: creation of distances for modelTypes
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/TripDashboard.java
Due: contribs

rename: adjust naming to reflect sociodemographic group analysis
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripAnalysis.java
  contribs/application/src/main/java/org/matsim/application/analysis/population/TripBySociodemographicGroupsAnalysis.java
Due: contribs

fix(drt): Fix determinism results when using ParallelUnplannedRequestInserter and RepeatedSelectiveInsertionSearch
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/LoadAwareRoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
Due: contribs

fix: tests
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

fix(drt): Fix determinism results when using ParallelUnplannedRequest… (#4616)
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/ParallelUnplannedRequestInserter.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/RequestInsertWorker.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/LoadAwareRoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/parallel/partitioner/requests/RoundRobinRequestsPartitioner.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearch.java
  contribs/drt/src/main/java/org/matsim/contrib/drt/optimizer/insertion/repeatedselective/RepeatedSelectiveInsertionSearchQSimModule.java
  contribs/drt/src/test/java/org/matsim/contrib/drt/run/examples/RunDrtExampleIT.java
Due: contribs

fixed problems noted in review @paulheinr
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareAccessibilityForSimWrapperConverter.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PreparePoisForSimWrapper.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
Due: contribs

feat(accessibility): DRT Accessibility (#3626)
  contribs/accessibility/pom.xml
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityComputationShutdownListener.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityConfigGroup.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityFromEvents.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityModule.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/AccessibilityUtils.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/CSVWriter.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/ConstantSpeedAccessibilityExpContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/EstimatedDrtAccessibilityContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/Modes4Accessibility.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/SwissRailRaptorAccessibilityContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/TeleportedModeContributionCalculator.java
  contribs/accessibility/src/main/java/org/matsim/contrib/accessibility/utils/AggregationObject.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/AccessibilityIntegrationTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest.java
  contribs/accessibility/src/test/java/org/matsim/contrib/accessibility/run/TinyAccessibilityTest.java
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest/drtStops.xml
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest/output_events.xml.gz
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/EstimatedDrtAccessibilityTest/output_events_congested.xml.gz
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/RunDrtAccessibilityExampleIT/testRunDrtStopbasedExample/supermarket/accessibilities.csv
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/TinyAccessibilityTest/drtStops.xml
  contribs/accessibility/test/input/org/matsim/contrib/accessibility/run/TinyAccessibilityTest/output_events_congested.xml.gz
  contribs/application/pom.xml
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PrepareAccessibilityForSimWrapperConverter.java
  contribs/application/src/main/java/org/matsim/application/analysis/accessibility/PreparePoisForSimWrapper.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/router/ClosestAccessEgressFacilityFinder.java
  contribs/noise/src/main/java/org/matsim/contrib/noise/examples/NoiseOfflineCalculationExample.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/AccessibilityDashboard.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/GridMap.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/viz/MapPlot.java
  pom.xml
Due: contribs

Added geometrical edge time correction and cRoute correction
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

TurnRestrictionsNetworkCleaner: make sure node-attributes don't get lost
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
Due: core

TurnRestrictions: In some cases, a non-optimal solution was returned
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
  matsim/src/main/java/org/matsim/core/router/speedy/DAryMinHeap.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/test/java/org/matsim/core/router/speedy/DAryMinHeapTest.java
Due: core

fix(routing): Better handle some edge-cases with turn-restriction-routing (#4621)
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsContext.java
  matsim/src/main/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleaner.java
  matsim/src/main/java/org/matsim/core/router/speedy/DAryMinHeap.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/test/java/org/matsim/core/network/turnRestrictions/TurnRestrictionsNetworkCleanerTest.java
  matsim/src/test/java/org/matsim/core/router/speedy/DAryMinHeapTest.java
Due: core

Add a lot of logging, for debugging messaging.
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  matsim/src/main/java/org/matsim/api/core/v01/Message.java
  matsim/src/main/java/org/matsim/core/communication/LocalCommunicator.java
  matsim/src/main/java/org/matsim/core/events/handler/EventHandler.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/SimStepMessage.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeCalculator.java
  matsim/src/main/java/org/matsim/core/trafficmonitoring/TravelTimeSyncMessage.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/MessageBroker.java
  matsim/src/main/java/org/matsim/dsim/events/AggregateFromAll.java
  matsim/src/main/java/org/matsim/dsim/executors/SingleExecutor.java
Due: core, contribs

Test pattern messaging DefaultEventHandlerTask
  matsim/src/main/java/org/matsim/core/events/handler/EventHandler.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/DistributedEventsManager.java
  matsim/src/main/java/org/matsim/dsim/EventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/GlobalAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/LPTask.java
  matsim/src/main/java/org/matsim/dsim/SimTask.java
  matsim/src/main/java/org/matsim/dsim/SingleNodeAsyncEventHandlerTask.java
  matsim/src/main/java/org/matsim/dsim/executors/LPExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/PoolExecutor.java
  matsim/src/main/java/org/matsim/dsim/executors/SingleExecutor.java
  matsim/src/test/java/org/matsim/dsim/DefaultEventHandlerTaskTest.java
Due: core

Make sure that we send once on cleanup and then wait once. This needs testing
  matsim/src/main/java/org/matsim/core/communication/LocalCommunicator.java
  matsim/src/main/java/org/matsim/dsim/DefaultEventHandlerTask.java
Due: core

Changed csv column-selection from index, to identifier
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
Due: contribs

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
