Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

contrib(profiling): JfrSamplingStopwatch - expose SamplingStatistics
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
Due: contribs

contrib(profiling): sampling stopwatch - make operations configurable
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrSamplingStopwatch.java
Due: contribs

set default behavior in configuration
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionRideGenerator.java
Due: contribs

core(stopwatch): use java.time and make csv output more precise for profiling comparison
  matsim/src/main/java/org/matsim/analysis/IterationStopWatch.java
Due: core

contrib(profiling): JfrEventStopwatch::main - configure via args if aop or listeners
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
Due: contribs

bump some dependencies
  contribs/application/pom.xml
  contribs/osm/pom.xml
  contribs/signals/pom.xml
  contribs/simwrapper/pom.xml
  contribs/vsp/pom.xml
  pom.xml
Due: contribs

bump logging
  pom.xml
Due: none

add check and log for act coord
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

add OD output in test
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
Due: contribs

add reading of carrierAttributes
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
Due: contribs

revert tablesaw changes because api was changed. revert opencsv changes because conflicts with geotools due to org.apache.commons:commons-collections4
  pom.xml
Due: none

create method and make it usable from outside class
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

log act with more detailed info
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

fix(CleanPopulation): add check and log for act coord (#3990)
  contribs/application/src/main/java/org/matsim/application/prepare/population/CleanPopulation.java
Due: contribs

extend an existing test
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

Replaced problematic assertion in NetworkRoutingInclAccessEgressModule by log-warning
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
Due: core

Retrofitted ExampleWithinDayControllerTest
  matsim/src/test/java/org/matsim/withinday/controller/ExampleWithinDayControllerTest.java
Due: core

feat(drt-extensions): conditional generation of companions (#3986)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionParams.java
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/companions/DrtCompanionRideGenerator.java
Due: contribs

Increased test timeout
  .github/workflows/verify-push.yaml
Due: none

fix overly restrictive assertion which failed regression tests with empty networks; add junit5 parameterized tests
  matsim/pom.xml
  matsim/src/main/java/org/matsim/core/router/NetworkRoutingInclAccessEgressModule.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/AbstractQSimModuleTest.java
  pom.xml
Due: core

fix in deadlock avoidance
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

add warning for zones with no detected region
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
Due: contribs

reduce logging intervals
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
Due: contribs

undo deprecation, add comments in JavaDoc
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

fix tests
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose3.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp1_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/calculatedData/odMatrix_goodsTraffic_vehTyp3_purpose4.csv
  contribs/small-scale-traffic-generation/test/input/org/matsim/smallScaleCommercialTrafficGeneration/test.output_events.xml.gz
Due: contribs

delete unneeded method
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
Due: contribs

feat(freight(carrier)): run CarrierConsistencyCheck when using CarrierUtils.runJsprit() (#3981)
  contribs/freight/src/main/java/org/matsim/freight/carriers/CarriersUtils.java
  contribs/freight/src/main/java/org/matsim/freight/carriers/consistency_checkers/CarrierConsistencyCheckers.java
Due: contribs

fix the EditRoutes test by replacing the custom-written infrastructure by guiced infrastructure which observes the config etc.
  matsim/src/test/java/org/matsim/withinday/utils/EditRoutesTest.java
Due: core

fix(railsim): Extend an existing test (#3991)
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/deadlocks/SimpleDeadlockAvoidance.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimIntegrationTest.java
Due: contribs

contrib(profiling): rename default listener jfr events
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/analysis/JfrEventStopwatch.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/FireDefaultProfilingEventsModule.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MatsimShutdownListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/MatsimStartupListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/OperationsJfrTimer.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/ReplanningListenersJfrEvent.java
  contribs/profiling/src/main/java/org/matsim/contrib/profiling/events/ScoringListenersJfrEvent.java
Due: contribs

fix more tests for the new default
  matsim/src/test/java/org/matsim/core/controler/TerminationTest.java
  matsim/src/test/java/org/matsim/core/replanning/planInheritance/PlanInheritanceTest.java
  matsim/src/test/java/org/matsim/core/router/old/PlanRouterTest.java
  matsim/src/test/java/org/matsim/withinday/controller/ExampleWithinDayControllerTest.java
Due: core

feat(dvrp): parse complex vehicle capacities from fleet file
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/fleet/FleetModule.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/fleet/FleetReader.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DefaultDvrpLoadFromFleet.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoadFromFleet.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoadParams.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoadType.java
Due: contribs

update documentation
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/README.md
Due: contribs

feat(dvrp): parse complex vehicle capacities from fleet file (#3992)
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/fleet/FleetModule.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/fleet/FleetReader.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DefaultDvrpLoadFromFleet.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoadFromFleet.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/DvrpLoadParams.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/IntegersLoadType.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/load/README.md
Due: contribs

combine constructor and initialize method
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetwork.java
Due: core

add a comment
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
Due: core

add a comment (#3994)
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQNetsimEngine.java
Due: core

add pt example
  code-examples/src/main/java/org/matsim/codeexamples/extensions/drt/RunMelunPrebooking.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/freight/RunFreightExample.java
  code-examples/src/main/java/org/matsim/codeexamples/pt/RunIsolatedSwissRailRaptor.java
  code-examples/src/main/java/org/matsim/codeexamples/pt/RunPtExample.java
Due: none

core(listeners): fix filenames in license headers
  matsim/src/main/java/org/matsim/core/controler/listener/AfterMobsimListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/BeforeMobsimListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/IterationEndsListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/IterationStartsListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/ReplanningListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/ScoringListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/ShutdownListener.java
  matsim/src/main/java/org/matsim/core/controler/listener/StartupListener.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
