Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

move code in class
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

fix(DSim): Clear node singleton listeners before next iteration (#4910)
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/simulation/SimProviderTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDSimTestFixture.java
  matsim/src/main/java/org/matsim/core/mobsim/dsim/NodeSingletons.java
  matsim/src/main/java/org/matsim/dsim/DSim.java
  matsim/src/main/java/org/matsim/dsim/simulation/SimProvider.java
Due: core, contribs

refactor: update SBBTransitEngine to use 'now' for events
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
Due: contribs

trips comparison dashboard with extension for multipl comparison scenarios. Needs to be tested further for bugs.
  contribs/application/src/main/java/org/matsim/application/analysis/scenarioComparison/ScenarioComparisonAnalysis.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/Data.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboardTest.java
Due: contribs

fix(sbb-extensions): Use sim-step time for link events in SBBTransitEngine (#4904)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

refactor: change log level from info to debug for vehicle delegation to QSim in FISS
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
Due: contribs

feat(fiss): track and log teleported and simulated trips in FISS
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
Due: contribs

feat(fiss): enhance logging for teleported and simulated trips, including deferred and fallback counts
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
Due: contribs

feat(fiss): add trip statistics logging (#4912)
  contribs/drt-extensions/src/main/java/org/matsim/contrib/drt/extension/fiss/FISS.java
Due: contribs

some comments in parking contrib readme.md
  contribs/parking/README.md
Due: contribs

Dispatch Stuck events for passengers in vehicles. Also, provide agent id when finishing a backpack fails.
  matsim/src/main/java/org/matsim/dsim/scoring/Backpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackTransitRoute.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
Due: core

Add regression test for stuck passengers
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
Due: contribs

move parking parameterization stuff into the parking contrib
  contribs/hybridsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/HybridNetworkFactory.java
  contribs/hybridsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QSimExternalTransitionLink.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/BellochePenaltyFunction.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/DumpParkingDataAtEnd.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingCapacityInitializer.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingCount.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingOccupancyObserver.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingOccupancyObservingSearchTimeCalculator.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingSearchTimeFunction.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingUtils.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingVehicleHandler.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/PlanBasedParkingCapacityInitializer.java
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ZeroParkingCapacityInitializer.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingparameterization/BellochePenaltyFunctionTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingparameterization/ParkingOccupancyObserverTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingparameterization/ParkingTest.java
  contribs/parking/src/test/java/org/matsim/contrib/parking/parkingparameterization/PlanBasedParkingCapacityInitializerTest.java
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testNoParking/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testNoParking/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testParking_BellocheTime/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testParking_BellocheTime/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testParking_BellocheTime_MultipleAgents/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testParking_BellocheTime_MultipleAgents/output_plans.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testParking_constantTime/output_events.xml.gz
  contribs/parking/test/input/org/matsim/contrib/parking/parkingparameterization/ParkingTest/testParking_constantTime/output_plans.xml.gz
  matsim/src/main/java/org/matsim/core/mobsim/qsim/AbstractQSimModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQLink.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/ArrivalTimeCalculator.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/ConstantArrivalTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultArrivalTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultQNetworkFactory.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QLinkImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QLinkLanesImpl.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/QNetsimEngineModule.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/parking/ConstantParkingSearchTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/parking/ParkingSearchTimeCalculator.java
Due: core, contribs

update readme
  contribs/parking/README.md
Due: contribs

add comments
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingparameterization/ParkingOccupancyObserver.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/AbstractQLink.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/ArrivalTimeCalculator.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/ConstantArrivalTime.java
  matsim/src/main/java/org/matsim/core/mobsim/qsim/qnetsimengine/DefaultArrivalTime.java
Due: core, contribs

fix test
  matsim/src/test/java/org/matsim/core/controler/ControlerIT.java
Due: core

refactor: added comments and renamed MATSimApplication.run() (#4562)
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/DrtTestScenario.java
  matsim/src/main/java/org/matsim/api/core/v01/population/Route.java
  matsim/src/main/java/org/matsim/application/MATSimApplication.java
  matsim/src/main/java/org/matsim/core/population/routes/AbstractNetworkRoute.java
  matsim/src/main/java/org/matsim/core/population/routes/LinkNetworkRouteImpl.java
Due: core, contribs

set default of timeMutation#latestActivityEndTime to infinity; hedge against the qsim end time being undefined
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/TimeAllocationMutatorConfigGroup.java
Due: core

allow >maintenance< as commit title (#4909)
  .github/workflows/pr-title.yml
Due: none

fix test
  matsim/src/test/java/org/matsim/integration/invertednetworks/LanesIT.java
Due: core

fix title spec
  .github/workflows/pr-title.yml
Due: none

fix test
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/TestFixture.java
Due: contribs

fix title spec (#4915)
  .github/workflows/pr-title.yml
Due: none

fix(routing): implement access egress checks for single-leg trips in plans (#4856)
  contribs/atap/src/test/java/se/vti/atap/matsim/examples/parallel_links/minimal_test/MinimalTest.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/companions/RunDrtWithCompanionExampleIT.java
  contribs/multimodal/src/test/java/org/matsim/contrib/multimodal/simengine/StuckAgentTest.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/TestFixture.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/builder/Fixture.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/builder/TravelTimeFourWaysTest.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/integration/SignalSystemsIT.java
  contribs/signals/src/test/java/org/matsim/contrib/signals/integration/invertednetworks/InvertedNetworksSignalsIT.java
  contribs/taxi/src/main/java/org/matsim/contrib/etaxi/run/RunETaxiScenario.java
  matsim/src/main/java/org/matsim/core/config/groups/RoutingConfigGroup.java
  matsim/src/main/java/org/matsim/core/population/algorithms/PersonPrepareForSim.java
  matsim/src/test/java/org/matsim/core/controler/ControlerIT.java
  matsim/src/test/java/org/matsim/core/controler/TransitControlerIntegrationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/HermesTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/HermesTransitTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/QSimTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/VehicleSourceTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/QSimIntegrationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/pt/TransitQueueSimulationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/DeparturesOnSameLinkSameTimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/FlowCapacityVariationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/LinkSpeedCalculatorIntegrationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/PassingTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/QLinkTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/SeepageTest.java
  matsim/src/test/java/org/matsim/core/population/algorithms/PersonPrepareForSimTest.java
  matsim/src/test/java/org/matsim/integration/SimulateAndScoreTest.java
  matsim/src/test/java/org/matsim/integration/invertednetworks/LanesIT.java
Due: core, contribs

Handle dispatch of stuck events at end of simulation in other places as well.
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficDepartureHandler.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core, contribs

Add testing for stuck event dispatching
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core, contribs

the ci build again...
  .github/workflows/verify-push.yaml
Due: none

fix: Dispatch PersonStuckEvent from all the places (#4916)
  .github/workflows/verify-push.yaml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/Backpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackTransitRoute.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficDepartureHandler.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core, contribs

Revert "fix: Dispatch PersonStuckEvent from all the places (#4916)"
  .github/workflows/verify-push.yaml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/Backpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackTransitRoute.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficDepartureHandler.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core, contribs

Revert "fix: Dispatch PersonStuckEvent from all the places (#4916)" (#4917)
  .github/workflows/verify-push.yaml
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/dsim/scoring/Backpack.java
  matsim/src/main/java/org/matsim/dsim/scoring/BackpackTransitRoute.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/DefaultWait2Link.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficDepartureHandler.java
  matsim/src/main/java/org/matsim/dsim/simulation/net/NetworkTrafficEngine.java
  matsim/src/main/java/org/matsim/dsim/simulation/pt/DistributedPtEngine.java
Due: core, contribs

the ci build again...
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
Due: contribs

re-add ev contrib, which also timed out
  .github/workflows/verify-push.yaml
Due: none

Better Exception Handling for distributed tests?
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngineTest.java
  matsim/src/main/java/org/matsim/core/communication/LocalCommunicator.java
  matsim/src/test/java/org/matsim/testcases/utils/DistributedExecution.java
Due: core, contribs

Re-enable ci for all modules
  .github/workflows/verify-push.yaml
Due: none

started building event listener for DB creation.
  contribs/pom.xml
  contribs/simwrapper/pom.xml
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/AgentState.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventHandler.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventListener.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbEventsModule.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/DbWriter.java
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/DbViewer/RunEventsHandlingExample.java
Due: contribs

Have common infrastructure for distributed tests
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DSimIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DistributedIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/DrtIntegrationTest.java
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ThreeLinkIntegrationTest.java
Due: contribs

made comparison scenario names and paths into a map instead of two string arrays
  contribs/simwrapper/src/main/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboard.java
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/ScenarioComparisonDashboardTest.java
Due: contribs

use class for lausitz v2.0 runs
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

do not increase scale factor tolerance by epsilon since it fails the read/write test. Also fix scale factor issues in a simwrapper contrib test
  contribs/simwrapper/src/test/java/org/matsim/simwrapper/dashboard/CommercialTrafficDashboardTest.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
Due: core, contribs

feat: introduce 3rd category for betaTravel Null check; maintenance: VspConfig (#4908)
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/core/config/groups/TimeAllocationMutatorConfigGroup.java
  matsim/src/main/java/org/matsim/core/config/groups/VspExperimentalConfigGroup.java
Due: core

Path conditions:
  core: any of: matsim/**
  contribs: any of: contribs/**
