Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

add plan (#5056)
  matsim/src/main/java/org/matsim/core/population/PopulationUtils.java
Due: core

feat: re-allow using the --max-typical-duration parameter for "prepare split-activity-types-duration" (#5021)
  contribs/application/src/main/java/org/matsim/application/prepare/population/SplitActivityTypesDuration.java
  contribs/application/src/test/java/org/matsim/application/prepare/population/SplitActivityTypesDurationTest.java
Due: contribs

add parking cost for dsim
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingcost/module/ParkingCostModule.java
Due: contribs

add parking cost for dsim (#5057)
  contribs/parking/src/main/java/org/matsim/contrib/parking/parkingcost/module/ParkingCostModule.java
Due: contribs

feat: add StuckAgentsWriter for population analysis (#4698)
  contribs/application/src/main/java/org/matsim/application/analysis/population/StuckAgentsWriter.java
  contribs/application/src/test/java/org/matsim/application/analysis/population/StuckAgentsWriterTest.java
  contribs/application/test/input/org/matsim/application/analysis/population/StuckAgentsWriterTest/testCommandLineExecution/events.xml
Due: contribs

towards a first design idea. at this point, it looks easier than maybe expected (#4500)
  contribs/vsp/src/main/java/playground/vsp/scoring/PersonSpecificScoringParameters.java
Due: contribs

refactor contribs
  contribs/locationchoice/src/main/java/org/matsim/core/router/MultiNodeDijkstra.java
  contribs/matrixbasedptrouter/src/main/java/org/matsim/contrib/matrixbasedptrouter/PtMatrix.java
Due: contribs

refactor code-examples
  code-examples/src/main/java/org/matsim/codeexamples/programming/leastCostPath/MatsimClassDijkstra.java
  code-examples/src/main/java/org/matsim/codeexamples/programming/leastCostPath/MatsimClassRouter.java
Due: none

feat: set verbosity of least-cost path calculator (#4894)
  code-examples/src/main/java/org/matsim/codeexamples/programming/leastCostPath/MatsimClassDijkstra.java
  code-examples/src/main/java/org/matsim/codeexamples/programming/leastCostPath/MatsimClassRouter.java
  contribs/locationchoice/src/main/java/org/matsim/core/router/MultiNodeDijkstra.java
  contribs/matrixbasedptrouter/src/main/java/org/matsim/contrib/matrixbasedptrouter/PtMatrix.java
  matsim/src/main/java/org/matsim/core/router/Dijkstra.java
  matsim/src/main/java/org/matsim/core/router/InvertedLeastPathCalculator.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouter.java
  matsim/src/main/java/org/matsim/core/router/speedy/CHRouterTimeDep.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyALT.java
  matsim/src/main/java/org/matsim/core/router/speedy/SpeedyDijkstra.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathCalculator.java
  matsim/src/main/java/org/matsim/core/router/util/LeastCostPathUtils.java
Due: core, contribs

fix: refactor surface to osm:surface
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
Due: contribs

added comment
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleLinkPolicy.java
Due: contribs

chore(bicycle): drop out-of-scope changes from this branch
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleConfigGroup.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/run/RunBicycleExample.java
Due: contribs

update comments
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/network/BicycleInfraClassifier.java
Due: contribs

simwrapper test files
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/AccessibilityDashboardTest/drtStops.xml
  contribs/simwrapper/test/input/org/matsim/simwrapper/dashboard/AccessibilityDashboardTest/output_events.xml.gz
Due: contribs

Revert "fix: refactor surface to osm:surface"
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleUtils.java
Due: contribs

comments and renames around commercial traffic
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultIntegrateExistingTrafficToSmallScaleCommercialImpl.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultUnhandledServicesSolution.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultVehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/IntegrateExistingTrafficToSmallScaleCommercial.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/OdMatrixEntryInformationProvider.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtils.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumeGeneration.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGenerator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrix.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/VehicleTypeSelection.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/CommercialTourSpecifications.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/DefaultTourSpecificationsByUsingKID2002.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/data/GetGenerationRates.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/CreateDataDistributionOfStructureData.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysis.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreator.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseDataConnectionCreatorForOSM_Data.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/DefaultOdMatrixEntryInformationProviderTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/SmallScaleCommercialTrafficUtilsTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TrafficVolumesGeneratorTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/TripDistributionMatrixTest.java
  contribs/small-scale-traffic-generation/src/test/java/org/matsim/smallScaleCommercialTrafficGeneration/prepare/LanduseBuildingAnalysisTest.java
Due: contribs

feat: parsing cycleway tags with side attributes in OsmBicycleReader (#4999)
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmBicycleReader.java
  contribs/osm/src/main/java/org/matsim/contrib/osm/networkReader/OsmTags.java
Due: contribs

Update BicycleParamsDefaultImpl.java -- infrastructure factor for highway cycleway (#4996)
  contribs/bicycle/src/main/java/org/matsim/contrib/bicycle/BicycleParamsDefaultImpl.java
Due: contribs

feat(scoringVSP): Introduce vehicle type based scoring for Commercial Agents (#5048)
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/ActivityScoringForCommercialActivities.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/SubpopulationDelegatingScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoring.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringFunctionFactory.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/VehicleTypeBasedScoringUtils.java
  contribs/vsp/src/test/java/org/matsim/core/scoring/functions/VehicleTypeBasedLegScoringTest.java
Due: contribs

fix: update avg_speed calculation from km/h to m/s for clarity (#5047)
  contribs/application/src/main/java/org/matsim/application/analysis/traffic/TrafficAnalysis.java
Due: contribs

feat: add transfer wait time skim (#5043)
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/CalculateSkimMatrices.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/analysis/skims/PTSkimMatrices.java
Due: contribs

refactor(VehicleTeleportationDepartureEvent): remove HasPersonId implementation and update attributes (#4970)
  matsim/src/main/java/org/matsim/core/api/experimental/events/VehicleTeleportationDepartureEvent.java
Due: core

fix(vsp): resolve analysis input files regardless of compression (gz/lz4/zst) (#5054)
  contribs/application/src/main/java/org/matsim/application/analysis/population/ExperiencedPlansWriter.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddPersonAttribsToExperiencedPlans.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AddVttsEtcToActivities.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNUtils.java
Due: contribs

add files/classes which contain extracted code
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/JspritOptimization.java
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/MATSimIterations.java
Due: contribs

perf(network): speed up `MultimodalNetworkCleaner` on large networks (#5050)
  matsim/src/main/java/org/matsim/core/network/algorithms/MultimodalNetworkCleaner.java
Due: core

ci: retry transient Maven Central HTTP failures in verify-push (#5055)
  .github/workflows/verify-push.yaml
Due: none

repair import statements that were removed during conflict resolution
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/smallScaleCommercialTrafficGeneration/GenerateSmallScaleCommercialTrafficDemand.java
Due: contribs

berlin 6.4 bike network paper for car remainers
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
Due: contribs

add comments to SwissRailRaptorCore
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core

move consistency check from mobsim start to where it belongs
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/config/SBBTransitConfigGroup.java
  contribs/sbb-extensions/src/main/java/ch/sbb/matsim/mobsim/qsim/pt/SBBTransitEngine.java
  contribs/sbb-extensions/src/test/java/ch/sbb/matsim/config/SBBTransitConfigGroupTest.java
Due: contribs

add VspDefaultIntermodalWalkAccessEgressParams
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/intermodal/VspDefaultIntermodalWalkAccessEgressParams.java
Due: contribs

ad comment
  contribs/vsp/src/main/java/org/matsim/contrib/vsp/pt/intermodal/VspDefaultIntermodalWalkAccessEgressParams.java
Due: contribs

add comments to SwissRailRaptorCore (#5061)
  matsim/src/main/java/ch/sbb/matsim/routing/pt/raptor/SwissRailRaptorCore.java
Due: core
