Repository matsim-org/matsim-libs: changes, and which Codecov flags are due for each by the changed paths.
All: core, contribs

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - matsim/**
    - component_id: contribs
      name: contribs
      paths:
        - contribs/**

add comment
  matsim/src/main/java/org/matsim/core/config/consistency/VspConfigConsistencyCheckerImpl.java
Due: core

fix departure when train is reversing and already correctly positioned
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimCalc.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/TrainState.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
Due: contribs

Added 4-bar Plot with S&G vs IntFr
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/PHEMTest.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

Changed non-linear factor back to the original
  contribs/emissions/src/main/java/org/matsim/contrib/emissions/WarmEmissionAnalysisModule.java
Due: contribs

capture failing artifacts of the verify push script
  .github/workflows/verify-push.yaml
Due: none

plot_main2 function for new plots
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_phem_lib.R
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/sumo_test.R
Due: contribs

account for reversing train in cumulative distance, fix too tight schedule in test
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimTrainCirculationTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResult.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/SimulationResultAssert.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/StopTimeData.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
  contribs/railsim/test/input/ch/sbb/matsim/contrib/railsim/integration/microStationReversingTrack/transitSchedule.xml
Due: contribs

differentiate between checks before and after run and integrate VspCheckerLevel
  matsim/src/main/java/org/matsim/api/core/v01/Scenario.java
  matsim/src/main/java/org/matsim/core/controler/Controler.java
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
  matsim/src/main/java/org/matsim/core/population/io/ParallelPopulationReaderMatsimV4.java
  matsim/src/main/java/org/matsim/core/scenario/MutableScenario.java
  matsim/src/main/java/org/matsim/core/scenario/consistency/ScenarioConsistencyChecker.java
  matsim/src/main/java/org/matsim/core/scenario/consistency/VspScenarioConsistencyCheckerImpl.java
  matsim/src/main/java/org/matsim/run/CreateSelectedPlansTables.java
  matsim/src/test/java/org/matsim/core/scenario/ScenarioConsistencyTest.java
Due: core

fix issue with premature link leave
  contribs/railsim/src/main/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngine.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineMovingBlockTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/qsimengine/RailsimEngineTest.java
Due: contribs

add controller check
  matsim/src/main/java/org/matsim/core/controler/ControllerListenerManagerImpl.java
Due: core

update assertions
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimChangeEventsTest.java
  contribs/railsim/src/test/java/ch/sbb/matsim/contrib/railsim/integration/RailsimSpeedProfilesTest.java
Due: contribs

Bind default activity engine to interface but non singleton. Bind default activity engine as singleton qsim component
  matsim/src/main/java/org/matsim/core/mobsim/qsim/ActivityEngineModule.java
Due: core

Add Integration test for Simple charging
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvDSimTestFixture.java
Due: contribs

Add delta for comparison of floating point numbers in EventsFileComparator.
  matsim/src/main/java/org/matsim/core/events/EventsUtils.java
  matsim/src/main/java/org/matsim/utils/eventsfilecomparison/EventsFileComparator.java
  matsim/src/main/java/org/matsim/utils/eventsfilecomparison/Worker.java
Due: core

Try bigger delta
  contribs/ev/src/test/java/org/matsim/contrib/ev/example/RunEvExampleTest.java
Due: contribs

Add DistributedElectricFleet
  contribs/ev/src/main/java/org/matsim/contrib/ev/charging/VehicleChargingHandler2.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/discharging/DistributedDriveDischargingHandler.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/DistributedElectricFleet.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleet.java
  contribs/ev/src/main/java/org/matsim/contrib/ev/fleet/ElectricFleetModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/dsim/EvChargingIntegrationTest.java
Due: contribs

modify integer-based lookup to enum-based lookup; implement switch that fails if value for link type does not exist
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentControlerListener.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentCostComputationBVWP.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsConfigGroup.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsModule.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsNetworkModification.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/runExample/RunAccidents.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/BvwpAccidentsCostComputationTest.java
Due: contribs

change the enum terminology to English
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentCostComputationBVWP.java
Due: contribs

towards moving the attributes handling into a utils class
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentControlerListener.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentCostComputationBVWP.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentWriter.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsConfigGroup.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsNetworkModification.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/runExample/RunAccidents.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/RunTest.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/RunTestEquil.java
Due: contribs

changes
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentControlerListener.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentCostComputationBVWP.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsNetworkModification.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/runExample/RunAccidents.java
Due: contribs

fix(config): default to current config syntax for programmatic configs
  contribs/small-scale-traffic-generation/src/main/java/org/matsim/commercialDemandGenerationBasic/BasicCommercialDemandGeneration.java
  matsim/src/main/java/org/matsim/core/config/ConfigReaderMatsimV1.java
  matsim/src/main/java/org/matsim/core/config/ConfigUtils.java
  matsim/src/main/java/org/matsim/core/config/groups/GlobalConfigGroup.java
  matsim/src/test/java/org/matsim/core/config/ConfigTest.java
Due: core, contribs

migrate example configs to current scoring syntax
  examples/scenarios/dvrp-grid/one_taxi_and_one_shared_taxi_config.xml
  examples/scenarios/mielec/mielec_edrt_config.xml
  examples/scenarios/mielec/mielec_multiModeEdrt_config.xml
Due: none

update test assertions for scoring values
  contribs/distributed-simulation/src/test/java/org/matsim/dsim/ScoringRegressionTest.java
Due: contribs

add network modes to reduce warnings
  contribs/av/src/main/java/org/matsim/contrib/av/flow/AvIncreasedCapacityModule.java
  contribs/drt-extensions/src/test/java/org/matsim/contrib/drt/extension/fiss/RunFissDrtScenarioIT.java
  contribs/dvrp/src/main/java/org/matsim/contrib/dvrp/examples/onetruck/OneTruckModule.java
  contribs/ev/src/test/java/org/matsim/contrib/ev/extensions/battery_chargers/TestScenarioBuilder.java
  contribs/vsp/src/test/java/playground/vsp/flowEfficiency/HierarchicalFLowEfficiencyCalculatorTest.java
Due: contribs

add new classes
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentCostComputation.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentUtils.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/AccidentCostComputationBVWPTest.java
Due: contribs

rename config
  contribs/vsp/src/main/java/playground/vsp/scoring/IncomeDependentUtilityOfMoneyPersonScoringParameters.java
Due: contribs

rename method
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKN.java
  contribs/vsp/src/main/java/org/matsim/application/analysis/population/AgentWiseComparisonKNDeprecated.java
  contribs/vsp/src/main/java/org/matsim/core/scoring/functions/PersonScoringParametersFromPersonAttributes.java
  contribs/vsp/src/test/java/org/matsim/contrib/vsp/pt/fare/PtTripFareEstimatorTest.java
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
  matsim/src/main/java/org/matsim/core/scoring/functions/IndividualPersonScoringOutputWriter.java
  matsim/src/main/java/org/matsim/core/scoring/functions/ScoringParameters.java
Due: core, contribs

small changes
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/AccidentsNetworkModification.java
  contribs/accidents/src/main/java/org/matsim/contrib/accidents/runExample/RunAccidents.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/RunEquilTest.java
  contribs/accidents/src/test/java/org/matsim/contrib/accidents/RunTestEquil.java
Due: contribs

comparison output has changed because of forced inclusion of walk to/from car legs
  code-examples/src/test/java/org/matsim/codeexamples/RunAbcSimpleExampleTest.java
Due: none

comparison output has changed because of forced inclusion of walk to/from car legs. also change from gz to zst
  code-examples/src/test/java/org/matsim/codeexamples/extensions/discrete_mode_choice/RunDiscreteModeChoiceExampleTest.java
Due: none

add comment
  matsim/src/main/java/org/matsim/core/config/ConfigReaderMatsimV2.java
Due: core

add some comments; make an error message more expressive
  matsim/src/main/java/org/matsim/core/config/groups/ScoringConfigGroup.java
Due: core

for file-based injection, also test for jakarta.inject.Provider and not only com.google.inject.Provider
  matsim/src/main/java/org/matsim/core/replanning/StrategyManagerModule.java
Due: core

inline something that has been deprecated for a long time
  contribs/commercialTrafficApplications/src/main/java/org/matsim/contrib/commercialTrafficApplications/jointDemand/DefaultCommercialJobGenerator.java
  contribs/emissions/src/test/java/org/matsim/contrib/emissions/TestPositionEmissionModule.java
  contribs/vsp/src/main/java/playground/vsp/ev/RunUrbanEVExample.java
  matsim/src/main/java/org/matsim/core/controler/PrepareForSimImpl.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/FlowCapacityTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/HermesRoundaboutTest.java
  matsim/src/test/java/org/matsim/core/mobsim/hermes/StorageCapacityTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/NetsimRoutingConsistencyTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/VehicleSourceTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/DeparturesOnSameLinkSameTimeTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/FlowCapacityVariationTest.java
  matsim/src/test/java/org/matsim/core/mobsim/qsim/qnetsimengine/SeepageTest.java
  matsim/src/test/java/org/matsim/core/population/io/PopulationV6IOTest.java
Due: core, contribs

controler -> controller; somewhat modify the test output path
  code-examples/src/test/java/org/matsim/codeexamples/config/ExamplesByConfigfileTest.java
Due: none

remove class that is no longer compiling and is not in use
  code-examples/src/main/java/org/matsim/codeexamples/scoring/kindergartenActivityScoring/KindergartenLegScoring.java
Due: none

towards make matsim-code-examples compile and pass tests again. gz --> zst; forced walk acess/egress to car; inline deprecated method; other things
  code-examples/src/main/java/org/matsim/codeexamples/config/RunFromConfigfileExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/matsimApplication/RunMatsimApplicationExample.java
  code-examples/src/main/java/org/matsim/codeexamples/extensions/simwrappercontrib/RunSimwrappercontribOfflineExample.java
  code-examples/src/main/java/org/matsim/codeexamples/mobsim/addRemoveReplaceQSimCompoments/RunQSimComponentRequestInConfigExample.java
  code-examples/src/main/java/org/matsim/codeexamples/mobsim/addRemoveReplaceQSimCompoments/RunQSimComponentRequestInControlerExample.java
  code-examples/src/main/java/org/matsim/codeexamples/mobsim/replaceAgentFactory/RunReplaceAgentFactoryExample.java
  code-examples/src/main/java/org/matsim/codeexamples/population/personAttributes/RunPersonAttributesExample.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/aaAddToScoring/RunAddToScoringExample.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExample.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/kindergartenActivityScoring/RunScenarioWithCustomScoring.java
  code-examples/src/main/java/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExample.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/dvrp/RunDrtExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/extensions/freight/RunFreightFoodRetailingBerlinExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/mobsim/replaceAgentFactory/RunReplaceAgentFactoryExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/programming/multipleSubpopulations/SubpopulationsExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/programming/simpleadaptivesignalengine/RunSimpleAdaptiveSignalExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/aaAddToScoring/RunAddToScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/aaIncomeDependentScoring/RunIncomeDependentScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/customscoring/RunCustomScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/individualizedScoringParameters/RunIndividualizedScoringExampleTest.java
  code-examples/src/test/java/org/matsim/codeexamples/scoring/ownMoneyScoring/RunOwnMoneyScoringExampleTest.java
Due: none
